[2017-01-18 10:11] aleixx commented on #151
**Update: December 2016**:

If you are using a base64 URL-encoded secret, you need to pass a Buffer with base64 encoding as the secret.

But since december 2016 **Auth0 no longer stores client Secret with Base64** encoding (https://auth0.com/forum/t/client-secret-stored-without-base64-encoding).

This code is working for me:

`var jwt = require('express-jwt');

var auth_secret = "auth0 secret";
va

[2017-01-18 21:46] BarukhOr commented on #295
Sorry for the extended leave. As requested I added the callback function and decided to take a screenshot

![screenshot of webstorm](https://drive.google.com/file/d/0B80jyr5X60QbckVIU2FVckJnaFk/view?usp=sharing "Screenshot")

In short
[code]
Note: i also ensured that the request for the secret is fullfilled. I've deleted node_modules a few times and started anew, and it seems to have had no effect

[2017-01-18 21:49] BarukhOr commented on #295
I accidentally closed this, please can it be reopened?

[2017-01-18 21:49] BarukhOr commented on #295
I accidentally closed this, please can it be reopened?

[2017-01-19 12:04] ziluvatar commented on #295
This is the error raised: https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L97
You can try in https://jwt.io to with one token and the secret you provide to the `verify` function, in case something funny is happening with the token or your secret.

BTW when you don't provide a callback the errors are raised via `throw`.

[2017-01-19 12:29] BarukhOr commented on #295
Thanks!

[2017-01-19 12:29] #295 closed

[2017-01-19 16:34] jlitowitz commented on #212
How about something like this?  Immediately after
[code]
add something like:
[code]
This way it'll be up to the developer of any given application to determine what is a sensibly long encoded JWT string, with reverse compatibility for existing code?  Just a thought.

[2017-01-19 18:54] goloroden commented on #296
Because this is how digital signatures work ;-)

If you encrypt something using the public key, then only the person who knows the private key can decrypt it. This is useful is you want to send a secret message to a person X, and only X shall be able to read it.

Anyway, X can not know whether the message was really created by you. For this you need to add a digital signature. You do this by encry

[2017-01-21 15:44] ziluvatar commented on #263
Hi @a-covar, do you mean a way to define in JWT the access control for a user (subject of the JWT)?

If so, you could add scopes for that user in the JWT. You can take a look to [this post](https://auth0.com/blog/using-json-web-tokens-as-api-keys/), it's old but I think it is useful.

[2017-01-22 05:26] OmgImAlexis commented on #156
Could a warning be added to the README example so people know to use `.toObject()` when using this with Mongoose objects.

[2017-01-22 18:24] IbraheemAlSaady opened #298 "Expire a token manually"
Is there a way that I can make a token expires manually?

[2017-01-23 03:20] jcw- commented on #283
I'm currently working through a similar thought-process and would be interested in hearing any thoughts on the validity of this approach (or if you've arrived at a refined solution?), as it is basically what I arrived at as well. One potential alternative I was thinking about is updating the JWT (re-sign and send back to client to include in future requests) with the key pieces of the user object

[2017-01-23 08:52] khoachung89 opened #299 "Nodejs verify token from .net failed"
I create token from .net by this code:

`var keybytes = Convert.FromBase64String("MYCUSTOMCODELONGMOD4NEEDBEZE");`
`var signingCredentials = new SigningCredentials(`
`                        new InMemorySymmetricSecurityKey(keybytes),`
`                        SecurityAlgorithms.HmacSha256Signature,`
`                        SecurityAlgorithms.Sha256Digest);`
`var nbf = DateTime.UtcNow.AddDays(-10

[2017-01-24 09:14] Messilimeng opened #300 "why I have not entry the secret ,then the userinfor has been showed ."
![image](https://cloud.githubusercontent.com/assets/12272166/22241015/8652bd50-e258-11e6-86fc-4e90fbb0ba60.png)

[2017-01-24 09:23] Messilimeng commented on #300
When I sign with the secret when what is the function of the secret

[2017-01-24 10:00] #300 closed

[2017-01-25 17:16] TarekDeeb commented on #282
Sorry it took long to reply. The version was `4.2.6` and updated to `5.12.0`

[2017-01-25 19:32] DmanDman commented on #208
Still getting this error when trying the following:

[code]

[2017-01-29 14:52] asromain commented on #151
@aleixx thanks it works like a charm without base64 encoding :)

[2017-02-01 11:06] ricardogama opened #304 "TypeError when token is not a string"
I started getting uncaught exceptions when receiving tokens that are not strings:

[code]

Since I'm only handling errors exposed by this library I expected a `JsonWebTokenError` to be thrown when verifying a value other than string.

I saw some issues related to this error but the focus was on throwing or return it on the callback. This way I suggest to test the type of the token before splitting

[2017-02-01 12:07] beworker opened #306 "Expiration time"
Guys, is there a way to use UTC time when verifying a token instead of the local time? The only way I found to work it around is to `{ ignoreExpiration: true }` and verify `exp` manually.

[2017-02-01 12:26] beworker commented on #306
It appears to be working well, guys. Sorry for the noise.

[2017-02-01 12:26] #306 closed

[2017-02-01 20:26] sergeant-q commented on #187
@chazwoza I am having the same problem. What was your solution?

[2017-02-02 16:38] leonetosoft opened #307 "Doubt expiresIn?"
I would like to know something that I did not find in the documentation.
If I do not set an expiresIn the token will never expire?
As incredible as it may seem, in my case, I need a token that does not expire.
Thanks for the help.

[2017-02-03 14:37] maxpavlov commented on #299
Yep, while jwt passes both verification and decoding on jwt.io debugger, this package is unable to process valid jwts.

[2017-02-03 14:48] maxpavlov commented on #299
https://jwt.io/ does not verify your signature as well. Problem is on your side.

[2017-02-03 17:34] golinmarq commented on #208
@DmanDman are you signing your token just like that? You should use `new Buffer( 'ThisStringIsASecret', 'base64' )`  to sign your token

[2017-02-03 20:07] #304 closed

[2017-02-04 02:02] khoachung89 commented on #299
It's invalid because the expire time passed. I have change a C# code so the generated token can be valid up to 10 days. Could you help me with the below token:

`eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0OTQ4MTMxMTUsIm5iZiI6MTQ3NzUzMzExNSwidXNlciI6eyJ1c2VySWQiOiIxIn0sInN1Y2Nlc3MiOnRydWV9.4bjYyIUFMouz-ctFyxXkJ_QcJJQofCEFffUuazWFjGw`

[2017-02-06 07:53] khoachung89 commented on #299
It's my fault when using Buffer. I have to create the buffer in nodejs by this way:

`new Buffer("MYCUSTOMCODELONGMOD4NEEDBEZE", "base64")`

[2017-02-06 07:54] #299 closed

[2017-02-06 17:53] ziluvatar commented on #307
@leonetosoft it is an optional property. In the JWT the `exp` claim is optional. If you don't pass either `expiresIn` or `exp` you won't have any expiration claim on it.

[2017-02-06 17:56] ziluvatar commented on #298
Hi @IbraheemAlSaady, can you elaborate the question? What do you mean by `manually`? Once it is generated to be able to modify the `exp` claim?

[2017-02-06 17:59] IbraheemAlSaady commented on #298
Hello @ziluvatar, if I requested two tokens at the same time, the first token remains active.

[2017-02-06 18:10] ziluvatar commented on #298
I see, to get more context, why is that a problem?

[2017-02-06 19:01] IbraheemAlSaady commented on #298
@ziluvatar, I was just doing some testings, so I actually don't have a case, I'm just curious.

[2017-02-06 19:21] leonetosoft commented on #307
Thank You for your answer!

[2017-02-06 19:21] #307 closed

[2017-02-06 22:20] ziluvatar commented on #298
The JWT itself is just a bunch of claims that optionally can expire at a time, If I get a JWT, I can not make it expire, it was already signed, if I modify the claim, I won't be able to re-signing without the issuer's secret.

Different thing is to be able to revoke/blacklist a JWT based on its unique id (`jti` claim), user (ie: `sub` claim) or any other information stored in the JWT (+ your syste

[2017-02-06 22:26] ziluvatar commented on #297
@clozr did you manage to figure out what happened?
Can you reproduce it with an example of payload and secret you could share here?

[2017-02-06 22:30] RyanMitchellWilson commented on #221
Just got this problem today trying to use 7.2.1.

Using React-Native 0.41

[2017-02-07 22:57] RobinJayaswal opened #308 "options.algorithms does not set correct algorithm when client uses RS256"
Here is the code in `verify.js`, lines 61-68, of this repo that determines which algorithms array to attach to the options:

[code]

However, if in the Auth0 console I select RS256 as my JsonWebToken signature algorithm, this library throws an invalid algorithm error because the secret does not begin with 'BEGIN RSA PUBLIC KEY', so it thinks that ['HS256','HS384','HS512'] are the only valid algori

[2017-02-07 23:48] RobinJayaswal commented on #308
Oh I see now that I should not be using this library when signing with RS256: https://auth0.com/docs/quickstart/backend/nodejs/03-authenticate-rs256

[2017-02-07 23:48] #308 closed

[2017-02-08 08:21] IbraheemAlSaady commented on #298
Great, thank you very much.

[2017-02-08 19:21] #298 closed

[2017-02-09 16:26] sashakru opened #309 "Role based authentication"
Hey,

thanks for the great library.

Is there any plans for supporting role based authentication?

[2017-02-09 18:22] ziluvatar commented on #281
@hbaqai this should work now with last version, can you check?

[2017-02-11 17:57] ehartford opened #313 "ability to run in the client"
I wanted to decode the token on the client side.
But due to dependency on joi [which has no client side support](https://github.com/hapijs/joi/issues/665), I can not use node-jsonwebtoken on the client side.

Please remove dependency on joi library to resolve this.

[2017-02-11 18:24] ehartford commented on #313
I used [jwt-decode](https://github.com/auth0/jwt-decode) to accomplish my use case.

[2017-02-12 23:56] AlexZeitler opened #314 "Verify token based on x5c"
Is it possible to verify a JWT based on the `x5c`?

[2017-02-13 22:16] gnu-user commented on #313
Thanks @ehartford I had this exact same problem, wanted to do a simple check to see if it's first expired before sending requests to the APIs.

[2017-02-15 18:56] RobinJayaswal opened #315 "Using Auth0 client secret to sign using RS256"
Hello,

I use Auth0 for authentication, and I have a client configured to use RS256 to sign my jwts. My use case is simply generating mock jwts for testing. I see that if I were using HMAC, I could simply pass my client secret to the sign method. However, I do not see how I can generate a mock token with RS256 that can pass my jwt check middleware that uses the auth0/express-jwt library.

Here is

[2017-02-16 12:13] ziluvatar commented on #315
I will repeat it to see if I understood correctly:
- You want to sign your own tokens with RS256 for different test scenarios
- You can't get them validated because your middleware will use the real/production certificate to verify them but you don't have the private key from production.

If that's the case I can think on 2 solutions:
a) You can use [nock](https://www.npmjs.com/package/nock), when

[2017-02-16 12:22] ziluvatar commented on #313
Thanks @ehartford for letting us know the solution as well :)

I close the issue, be free to reopen it if needed.

[2017-02-16 12:22] #313 closed

[2017-02-16 12:45] ziluvatar commented on #314
Hi @AlexZeitler, this library is based on https://github.com/brianloveswords/node-jws which does not support it so far.

[2017-02-20 15:14] papaiatis opened #316 "Question: how would you renew a token?"
Hi all,

I'm just started with JWT and it looks very promising!
I have backend (npm) and frontend (angular2) too. When the user logs in I create a JWT and send it to frontend. I use your angular2-jwt module to store the token in localStorage.
So user uses the webpage without any issues and then suddenly he gets an error telling him his token is expired. This is valid, because, lets say, he logged

[2017-02-22 10:20] vivian7169 opened #317 "Can't resolve 'dns' in ./~/isemail/lib/isemail.js"
When I imported 'jsonwebtoken' into angular2 web app, encountered error as below:

// example
import * as jwt from 'jsonwebtoken';
let token = jwt.sign({
                    username: username,
                    role: role,
                    exp:  Math.floor(Date.now() / 1000) + (60 * 20)
                }, 'xxx');

// error
ERROR in ./~/isemail/lib/isemail.js
Module not found: Error: Can't re

[2017-02-22 18:58] ziluvatar commented on #309
@sashakru can you elaborate your need?

At the end with this library you can pass the claims/payload you want to sign, i.e: you can pass a claim named `role` (or fully namespaced if you want to avoid collisions). Afterwards, whoever verifies the JWT can trust on the role for that user.

[2017-02-22 19:34] ziluvatar commented on #316
@papaiatis some questions to understand context:

- Login to backend which generates the JWT with 2h expiration. How do you login the user (ajax, full render)?
- User plays around the website. What do you use the JWT token for? Does the frontend send it in each request to the backend? Is it only to be stored in the browser and check the time when the token expires?

[2017-02-22 19:42] papaiatis commented on #316
@ziluvatar

- User logs in through ajax, token is sent back with the response and stored in localStorage
- Right now, the payload holds the roles of the user, so some of the pages, links, content are hidden when user does not have permission for it. The token is only sent once when the user logs in. (I guess that's the problem). The token expiration is checked each time the user initiates an ajax

[2017-02-23 18:53] ziluvatar commented on #316
Who checks that? frontend or backend?

Frontend: You may not need that, just keep in your js code a "timer", it gets restarted/checked on every action (timer > `exp` - `iat` (or custom claim saying 2 hours) => force login)

Backend: You would need to renew the token and send it back on each server action (cookie? header?)

renew the token: maybe with something like: https://github.com/auth0/node-j

[2017-02-23 19:05] papaiatis commented on #316
Actually both. In frontend I'm using this module: https://github.com/auth0/angular2-jwt which checks the token on each request. In backend, I check it manually.

Thanks for the tip, I'll take a look at the mentioned issue ASAP.

[2017-02-23 23:55] RobinJayaswal commented on #315
Didn't occur to me to use nock to mock the jwksUri, that should work perfectly. Thanks!

[2017-02-23 23:55] #315 closed

[2017-02-24 20:39] ziluvatar commented on #317
We use `joi` for the validations, there are some issues using it in the browser instead of in NodeJS.
The issue you describe is in their repo too https://github.com/hapijs/joi/issues/706

Just for curiosity, may I ask what is the secret you want to use to sign in a browser? the user password? And what is the purpose of signing in browser for you?

[2017-02-26 19:40] SteveALee commented on #271
+1 to evaluating 'scope' as the Auth0 console lets you define them for APIs

[2017-02-27 07:29] alexander-velichko commented on #315
Hello,

I have similar question. I need to sign tokens for tests with RS256. As i cant get the private key from auth0, i'm trying to generate RSA private key to sign tokens and i have to make JWK from my private key for decoding middleware. I have tried npm module pem-jwk, but unsuccessfully.
Сould you please tell me, where I'm wrong?

Thanks.

[2017-02-27 10:26] yvele commented on #195
@jfromaniello I'm using it server side but I also need it browser side to implement a mock for development purpose..

[2017-02-27 10:29] yvele commented on #317
@ziluvatar I have the same issue..

I'm using it server side but I also need it browser side to implement a mock for development purpose..

[2017-02-27 18:01] ziluvatar commented on #315
Hi @alexander-velichko , you need to sign the tokens with the private key (as you do) and provide a jwk using the **public key**. I've not used `pem-jwk` but I think it could work.

[2017-02-27 18:10] ziluvatar commented on #317
Hi @yvele, as commented [here](https://github.com/auth0/node-jsonwebtoken/issues/195#issuecomment-215689756), for signing in browser you can take a look to  https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation

I will close this issue, be free to re-open it if you have outstanding problems/questions.

[2017-02-27 18:10] #317 closed

[2017-02-27 18:11] #316 closed

[2017-02-27 18:11] #314 closed

[2017-02-27 18:12] #296 closed

[2017-02-27 18:14] ziluvatar commented on #284
@ramthakur1991 I will close this issue, if you still experience the problem be free to re-open it adding an example or any other useful information.

[2017-02-27 18:14] #284 closed

[2017-02-27 18:24] papaiatis commented on #316
Sorry for the late reply. So I ended up creating a "renew token" API endpoint which I call when my angular 2 application starts up and then every 5 minutes. The server then returns me back a renewed token which I store in local storage.

[2017-02-27 18:24] ziluvatar commented on #283
@jpinkster I'd need to read where JWT fits in the solution.
- Is it similar to session cookies but instead of raw cookie information you have a JWT?
- Is it a token with ACLs that the client (web browser?) sends to your backend to performa actions?
- Is it that you have the "What I am thinking" part as your solution but you are considering "Could JWTs do this better?" ?

[2017-02-27 18:28] ziluvatar commented on #282
Weird, I'll have it in mind. Not sure if the SO difference could affect, in that case I guess it could be more about node + so, just wondering.

Thanks for your reply @TarekDeeb !

[2017-02-27 18:28] #282 closed

[2017-02-27 18:31] ziluvatar commented on #270
@pangz1 I will close this issue, if you are still having problems be free to re-open it.

[2017-02-27 18:31] #270 closed

[2017-02-27 19:15] yvele commented on #317
@ziluvatar Oh thank you so much for the tutorial.. nice one 👍

[2017-02-28 09:38] alexander-velichko commented on #315
@ziluvatar I'm sorry for disturbing.

I generate key pair with openssl:
1. openssl genrsa -out private.pem 2048
2. openssl rsa -in private.pem -out public.pem

To sign token I do that:
[code]
Then i convert public.pem to jwk with pem-jwk like that:

[code]
And the problem is that generated jwk very different from auth0 jwk:
generated:
[code]
And i wrap it in this
[code]

example from auth0:
[code]

[2017-02-28 17:31] anders-g-hansen commented on #221
According to this https://github.com/facebook/react-native/issues/3874#issuecomment-167150393

I only needed to decode the token and switched to using this https://github.com/auth0/jwt-decode

In any case, this issue can be closed.  It isn't really applicable to node-jsonwebtoken itself.

[2017-02-28 19:20] RobinJayaswal commented on #315
@alexander-velichko I've got it working on my end, but with some different libraries than you are using.

Dependencies:

[code]

Code:

[code]

As you can see you just need to add the missing properties to the jwk. I would recommend inspecting the source code if you still have trouble, as you will be able to find where the error is being thrown and what you need to do to your jwk to make it work.

[2017-03-01 10:56] alexander-velichko commented on #315
@RobinJayaswal
Thank you so much!
The problem was with `kid` and `use` properties of jwk.

[2017-03-01 12:23] jfromaniello commented on #309
@risa We validate the type for the claims defined by the spec but we do allow any other claim. That's  the `.unknown()` here:

https://github.com/auth0/node-jsonwebtoken/blob/master/sign.js#L25

[2017-03-01 18:00] ziluvatar commented on #316
Thanks for letting us know your final solution!

[2017-03-01 18:02] #221 closed

[2017-03-02 15:18] risa commented on #309
Oh great! I do not know how I could have overlooked that.  Thanks a lot, that makes my life a lot easier now.

[2017-03-03 18:22] ziluvatar commented on #268
At the time of writing `^3.1.4` is already added to dependencies, we can close this issue.

[2017-03-03 18:22] #268 closed

[2017-03-03 18:33] ziluvatar commented on #240
Closed via #274
You can add `clockTimestamp` option.

[2017-03-03 18:33] #240 closed

[2017-03-03 18:42] ziluvatar commented on #228
@cevatkerim I'm going to close this issue, you can reopen it if you still have the issue.

[2017-03-03 18:42] #228 closed

[2017-03-05 06:16] louiscenter opened #318 "Options required for async signing but not sync signing"
Hey there ^__^

I wouldn't say this is a bug as I assume the following behaviour is intended, but I'm curious to know the reasoning behind it.

When synchronously creating a token, passing `options` into `jwt.sign()` is optional.

When asynchronously creating a token, passing `options` into `jwt.sign()` is required, otherwise a `ValidationError` is returned.

Why is validation is enforced one way

[2017-03-07 22:30] poida opened #319 "Using decode on unverified tokens"
Hi, the documentation for `decode` clearly states that:

`Warning: This will not verify whether the signature is valid. You should not use this for untrusted messages. You most likely want to use jwt.verify instead.`

I'd like to first decode an untrusted message to get the `kid` from the header, in order to do verification with the correct key from our metadata endpoint.

Is this safe despite the

[2017-03-08 09:22] ziluvatar commented on #319
Yes, you need to read the header to realize how to verify the token, we do something similar with the `alg` header: https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L81-L104

1. Decode & Get kid
2. Look for the right key
3. Verify with that key
4. If it is ok you know the jwt has been signed properly

Not sure how your `kid`/keys are related with the issuers, you may want to check

[2017-03-08 10:30] poida commented on #319
thx

[2017-03-08 10:30] #319 closed

[2017-03-08 13:15] ziluvatar commented on #318
@louiscenter I created a PR to modify that, let's see if the rest see some reason to avoid `options` to be optional on `sign` method.

In the docs you can find the optional parameters wrapped by `[]`

[2017-03-09 17:33] #318 closed

[2017-03-09 17:47] ziluvatar commented on #239
@demisx @emorling Is it happening for you yet? I just run it locally

[code]

[2017-03-10 15:51] jdrew1303 commented on #317
I also ran into the same problem and went for a little bit of a different solution:

If youre using webpack or browserify you can shim out modules to make them point to other modules. In this case we replace calls to `require('joi')` using the module loader.

For a bit more details see the following repos (depending on which version of joi you're using):
- https://github.com/jeffbski/joi-browser
-

[2017-03-10 21:03] uniqname commented on #246
If this were done, there would be no option that would avoid an error being thrown against a valid use of the `verify` api. The arguments for removing it are good ones, but there ought to be a way of checking the validity of a JWT without throwing. As is, the "sync" version of `verify` is an assertion, rather than a check.

[2017-03-13 20:55] ziluvatar commented on #210
Duplicated: https://github.com/auth0/node-jsonwebtoken/issues/318
Done on: https://github.com/auth0/node-jsonwebtoken/pull/320 (only available in master branch so far)

Now you can do: `jwt.sign({sub: 'xyz'}, 'my-key', yourCallbackFunction)` without specifying the options object.

[2017-03-13 20:55] #210 closed

[2017-03-14 10:57] walleboom opened #321 "What should I (non-cryptographer) have in mind when using this package?"
What should I (non-cryptographer) have in mind when using this package in the light of this article;
https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid ?

[2017-03-14 11:57] juhamust opened #322 "Is node-jsonwebtoken vulnerable (see related link)?"
Does this affect node-jsonwebtoken?
http://blog.intothesymmetry.com/2017/03/critical-vulnerability-in-json-web.html

[2017-03-14 15:06] simoami commented on #322
Another recent article:
https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid

[2017-03-14 16:02] randallbpotter15 commented on #322
Found this article from 2015 - but would like someone from Auth0 to officially chime in:
https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/

[2017-03-14 19:11] tlrobinson commented on #322
@simoami It looks like if you provide a `secretOrPublicKey` then `verify` won't accept `alg: "none"`. Not sure about the vulnerability described in http://blog.intothesymmetry.com/2017/03/critical-vulnerability-in-json-web.html

[2017-03-14 19:28] skalfyfan commented on #322
`node-jsonwebtoken` does not implement JWE so you're fine. There is no encryption done here.
`node-jsonwebtoken` is only used for JWS/JWT.

Note: A **JWS** is a _signed_ **JWT**.

[2017-03-14 20:13] skalfyfan commented on #322
@randallbpotter15 not an issue here either. The article points out a common vulnerability in many JWT packages, namely that the `verify` method does not require an algorithm be defined.

If you take a look at the README.md for this project and look under:
**jwt.verify(token, secretOrPublicKey, [options, callback])**

....you will see that we can actually define the algorithm in `options`.

[2017-03-15 03:23] Jimmy02020 opened #323 "Assigning algorithm throw an error"
[code]

crypto.js:283
  var ret = this._handle.sign(toBuf(key), null, passphrase);
                         ^

crypto.js:283
  var ret = this._handle.sign(toBuf(key), null, passphrase);
                         ^

Error: error:0906D06C:PEM routines:PEM_read_bio:no start line
    at Error (native)
    at Sign.sign (crypto.js:283:26)
    at Object.sign (c:\project\node_modules\jwa\index.js:55:45)

[2017-03-15 08:29] juhamust commented on #322
Thanks for the info. I'll consider the issue closed for now.

[2017-03-15 08:29] #322 closed

[2017-03-15 12:49] ziluvatar commented on #323
Is the `secret` a valid private key?
From docs:

In your case, for `RS256`, you should pass a "PEM encoded private key".

[2017-03-15 13:04] sjudson commented on #321
I'm a Security Engineer at Auth0.

Most of the concerns raised in that article are legitimate. However, we disagree that those concerns justify the conclusion the article makes (in it's title, no less). The JWT spec has - like many cryptographic specifications intended for industry use - issues around (a) promoting reasonable choices and sensible defaults for use vs. maintaining widespread applica

[2017-03-15 13:05] sjudson commented on #322
I've answered this on behalf of Auth0 on a related issue here: https://github.com/auth0/node-jsonwebtoken/issues/321#issuecomment-286734923

[2017-03-15 23:37] vforv opened #324 "Oauth social login and protect API with jsonwebtoken"
I need to allow user to login on client side(angular2) with oauth(facebook or google) and then on server side(express.js) to check user with jsonwebtokens and allow them access...

Is it possible? Could you explain me flow?

[2017-03-16 13:06] garethmcc opened #325 "Custom payload data does not decode"
Hi there,

I seem to be having an issue whereby data included within the payload when running jwt.sign is not available within the token when decoded. For example:
[code]

When running jwt.verify (or just running the generated token through a base64 decoder), the username data is not available. All that is available is iat and exp.

Am I misunderstanding this?

[2017-03-17 03:28] ziluvatar commented on #325
Hi @garethmcc! Is it possible that `user.username` is `undefined`?

[2017-03-17 07:03] garethmcc commented on #325
Sorry for the issue. It seems the problem was related to something completely unrelated. Sorry for wasting your time.

[2017-03-17 07:03] #325 closed

[2017-03-17 09:14] Jimmy02020 commented on #323
It's string.
[code]
It works fine for HS256, HS384 and HS512. Applying any other algorithm throw error.

However reading secret from private key file solves the problem.
`const secret = fs.readFileSync(__dirname + '/private.key');
`
Thanks

[2017-03-17 09:15] Jimmy02020 commented on #323
It's string.

[code]
It works fine for HS256, HS384 and HS512. Applying any other algorithm throw error.

However reading secret from private key file solves the problem.

Thanks

[2017-03-17 09:15] #323 closed

[2017-03-17 13:32] marcushultman commented on #111
Ended up doing `new Promise(resolve => resolve(jwt.verify(...)))`, works well enough.

[2017-03-17 13:39] leebenson commented on #111
@marcushultman, while that works, a Promise is just as moot as a callback. `jwt.verify()` is a synchronous operation, so procedural code that immediately follows it is guaranteed to execute _after_ the token has been verified. A Promise or a callback really isn't needed.

[2017-03-17 13:59] marcushultman commented on #111
Well, since I'm doing most control flows with promises, I'll still end up using promises, whether it's inside the callback or not. I simply want to avoid any type of callback hell, and using a delegate function is tedious, so I'm using promises for synchronous operations as well as for object transformations. :) Anyway, 👎 for returning promises from jwt, so I just wanted to share how I did it, if

[2017-03-17 14:10] leebenson commented on #111
Understood @marcushultman, but I want to make it clear to anyone reading that _neither_ promises _nor_ callbacks are required for JWT tokens to verify. It was a mistake to ever include a callback in this API, because it gives the impression that verification is an expensive operation that may return a value at an indeterminate point in the future -- when instead, it _actually_ returns _immediately

[2017-03-19 15:17] weyert opened #326 "Error: invalid expiresIn,jwtid option for number payload"
I am trying to use the latest version of the module only I keep getting issues when trying to sign a token with the `expiresIn` and `jwtid`-ptions. Only keep getting the same error (see below) keeps complaining about number payload but why? The documents seem to suggest it can be a string. What am I doing wrong?

[code]

I am using the following code:
[code]

[2017-03-20 13:00] ziluvatar commented on #324
You could take a look to these docs: https://auth0.com/docs/api-auth
You can play with it in Auth0 until you get comfortable with the idea.

In summary you would need to issue access tokens (JWT) in server side after login, then your client, as you said, will send that access token to the API endpoint which can verify the token and let the user pass.

About the "allow them access" part, depends on

[2017-03-20 16:28] Satafur opened #327 "Error with RS256 algorithm"
Hi guys! I am implementing jsonwebtoken but when I try to change within the options the algorithm to RS256 gives me an error without any description. Can anybody help me? For now I'm still using HS256, that's fine.
[code]

[2017-03-21 15:53] ziluvatar commented on #326
If you want to have as payload a number the JWT can't contain any claim in the payload, this is only supported for object payloads.
That's why `exp` and `jti` can not be added, thus you get a complain about your options `expiresIn` and `jwtid` which are requesting those claims to be added.

[2017-03-21 16:10] ziluvatar commented on #327
@Satafur Weird, if you run it like:
`createToken({ something: true}).then(console.log).catch(console.log)`

don't you get any meaningful error?

[2017-03-21 16:12] ziluvatar commented on #281
@hbaqai I'm closing the issue, be free to open it if you find it happening again.

[2017-03-21 16:12] #281 closed

[2017-03-21 19:53] weyert commented on #326
Ah right, now it's working. Quite confusing error message. Thank you!

[2017-03-22 08:06] #241 closed

[2017-03-22 18:06] #326 closed

[2017-03-22 18:51] #197 closed

[2017-03-22 18:58] #141 closed

[2017-03-23 00:21] martinmicunda opened #329 "UTF8 encoding problem"
Hi,

I try to decode token payload in the browser by using [b64DecodeUnicode](https://developer.mozilla.org/en/docs/Web/API/WindowBase64/Base64_encoding_and_decoding)  function however when payload contains special UTF8 character **ľ** then I get error `Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded`. The strange thing is that happend only in certain cases:

[2017-03-23 00:45] jfromaniello commented on #329
It is not only base64 encoded but also url encoded. I did jwt-decode to handle this

https://github.com/auth0/jwt-decode

You can use it on the browser

[2017-03-23 00:45] #329 closed

[2017-03-27 10:45] Sashkan opened #331 "Simple verify example using RS256"
I'd like to verify a simple token using RS256 algorithm, but I'm getting a weird error message
Here are the 2 functions I'm using to verify it
[code]

This raises a ```Uncaught TypeError: Cannot read property '2' of null``` comeing from the ```jwt.verify```

Now at this point I'm not sure of many things in here (for some reason, most examples seem to be using HS256 algorithm). Is this the right wa

[2017-03-27 14:07] roytz opened #332 "Question about the key we sign with (public/private key)"
Hi,
As I understand from your example, the key I use when signing (`jwt.sign`) the object I want and creating the jwt is my private key which I use to encode the data I transfer to the client and then to decode (`jwt.verify`) it when I get it back.
What I don't understand is how does the client knows that the token he got is correct and that he got it from the server without anyone tempering it on

[2017-03-27 16:07] ziluvatar commented on #331
@Sashkan a couple of things:
- You have the verify out of the callback function of getJSON (maybe copy & paste issue?)
- You need to pass the key (certificate) with PEM format see [this](https://github.com/auth0/node-jwks-rsa/blob/master/src/utils.js#L1-L5)

You can take a look to this example as well https://github.com/auth0/node-jwks-rsa/blob/master/src/JwksClient.js because in your example you

[2017-03-27 18:09] glowlabs opened #333 "JsonWebTokenError: jwt malformed"
I am getting this error when I try and verify.

var decoded = jwt.verify(req.headers.authorization, "12345");

req.headers.authorization is giving me this value: Basic TGlua1NoYWRlc0FsZXhhOjEyMzQ1

I've tried this as well but get the same error:

var decoded = jwt.verify(req.headers.authorization.split(' ')[1]), "12345");

Any ideas?

[2017-03-27 19:16] jshcrowthe opened #334 "CSP Issue with downstream hapijs/joi dependency"
It seems that the listed version of the [hapijs/joi](https://github.com/hapijs/joi) in your `package.json` has a downstream dependency with a CSP issue.

The Error being thrown is:
`EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".`

The stack trace points to this f

[2017-03-28 00:07] Satafur commented on #327
@ziluvatar No, i don't get any meaningful error. it is the problem.

[2017-03-28 16:02] firefoxNX commented on #171
@gut4 @charandas Any reason to choose node-jose over jws?

[2017-03-29 05:54] shai32 commented on #332
So the public key is sent to the client?

[2017-03-29 06:25] SebastienElet opened #335 "Callback not called with an empty secret key"
Actual behavior

[code]

Expected behavior

A `sign` without secret (secret undefined or empty) should throw an error

[2017-03-30 15:49] ziluvatar commented on #333
@glowlabs without knowing further details, it seems the requester is using [Basic authentication scheme](https://tools.ietf.org/html/rfc7617).

That is not a JWT, it is a base64 string containing "`username`:`password`".

Usually people use [Bearer scheme](https://tools.ietf.org/html/rfc6750#page-5) with JWT as token. Anyway, you need to create the token by calling first `jwt.sign()`.

[2017-03-30 16:00] ziluvatar commented on #334
Currently we can not upgrade version without losing ES5 compatibility. We may do it for future major versions though. There are a couple of PRs asking for it.

[2017-03-30 16:02] ziluvatar commented on #327
Can you paste a dummy payload and secret to let me reproduce the situation?

[2017-03-30 16:09] ziluvatar commented on #171
I think the consideration should start in the other way around, once we consider to implement features that JWS does not support we will need to see what other options are there to use or to implement.

[2017-03-30 16:15] ziluvatar commented on #332
Yes and no. The client in based on the key that was used to sign the JWT (taking a look the JWT headers) will **request a/the server** (and cache?) to get the public key and then that server **will send** its public key.
That's one typical option, I'm sure there are more.

[2017-03-30 16:22] ziluvatar commented on #335
Yes, it's an issue in `node-jws` library, we have this other issue about this https://github.com/auth0/node-jsonwebtoken/issues/286

Thanks for reporting!! I will close it as duplicated so we can follow the other issue.

[2017-03-30 16:22] #335 closed

[2017-03-30 16:30] SebastienElet commented on #335
Awesome 🎉

[2017-04-01 22:36] megmut opened #336 "exp always expires in 10 minutes regardless of expiresIn time"
When I generate a new JWT, it is always expiring in 10 minutes and 8 seconds. When consoling the iat and exp from the decoded token upon token generation, I can see that the difference between them is always 604800.

Here is my token generation function:

`
private static generateToken(username:string, admin:boolean, permissions:number):string {
    let data = {
        sub: username,
        iss:

[2017-04-03 09:57] rightaway commented on #111
What do the project maintainers think, would they be open to removing the callback API?

[2017-04-03 16:51] ide commented on #111
Would anyone want to rewrite `jwt.verify` to use the streams-based API of the underlying `jws` library and profile it? The streams-based API, if faster, could be a good reason to change `jwt.verify` to be an async function.

My intuition is that the async API is slower than the sync one because JWTs are so small and the overhead of waiting for the end of the event loop & creating intermediate prom

[2017-04-04 16:54] ziluvatar commented on #336
@megmut that difference in seconds:

604800 seconds => 604800 / 60 sec per minute / 60 min per hour / 24 hour per day = 7 days

I haven't run the example though. How did you calculate the 10min and 8 seconds?

[2017-04-04 17:27] ziluvatar commented on #82
I will close some old issues, let me know if you are still interested in discussing your approach.

[2017-04-04 17:27] #82 closed

[2017-04-04 17:28] #91 closed

[2017-04-04 17:29] #93 closed

[2017-04-04 17:32] #204 closed

[2017-04-04 17:33] #263 closed

[2017-04-04 17:36] jfromaniello commented on #336
You must be doing something wrong besides the code shown here. Check tests here:
https://github.com/auth0/node-jsonwebtoken/blob/master/test/expires_format.tests.js

[2017-04-04 17:40] #269 closed

[2017-04-04 18:23] megmut commented on #336
Okay, sorry for the confusion, I calculated it in ms, not seconds.
So if I console out the iat and exp when the token is decoded, I get this result
exp: 1491932757 iat:1491327957
Subtracting one from the other, I calculate 604800 (7 days), however if I start a timer and time verify after 15 minutes exactly, it was crashing. More and more debugging and it transpires I did something very stupid.

[2017-04-04 18:27] jfromaniello commented on #336
@megmut glad to hear you solve the issue! 👍
Don't feel bad about it we have been there a thousand of times!

[2017-04-04 18:27] #336 closed

[2017-04-05 05:46] nimatullah commented on #209
Hi @raghavendranvenkateswaran , I have the same problem. Can you guide me how to solve this problem, since I am using `express-jwt`.

Thanks

[2017-04-05 17:00] Brian-McBride opened #338 "[Question]"
Passing checks vs. Javascript library
Looking at this page (maintained by Auth0)
https://jwt.io/#libraries-io

I see that the NodeJS library has 5 failing checks. However, the Javascript repo https://github.com/kjur/jsrsasign has all passing checks.

Could a maintainer of this project outline why it would be preferable or why we have two libraries that are listed here that work with NodeJS?

Thank

[2017-04-07 03:07] Satafur commented on #327
Payload is some object. Secret is a string. I has try with different strings for secret. I am working with HS256 algorithm and it is working fine.

[2017-04-09 20:23] sonarforte opened #339 "Cannot import on Mac OSX"
I installed the library with `npm install jsonwebtoken --save`, and I'm trying to import this library into a project started with create-react-app.

Here is my `package.json`:

[code]

When I import it with `import jwtLib from 'jsonwebtoken'`, I get the following error from webpack:
[code]

I tried installing `dns` with npm as well, but webpack just gave me more errors.

I'm running node v7.4.0, n

[2017-04-09 20:51] jfromaniello commented on #339
Dns is a native module for node.js, this library is designed for node.js, not for the browser. Please read the README file in this repository.

[2017-04-09 20:51] #339 closed

[2017-04-10 01:27] SimonSchick commented on #334
Wouldn't replacing `joi` with a few equivalent asserts solve this problem?

[2017-04-10 12:50] ziluvatar commented on #338
The runtime target of this library is NodeJS environment, however `jsrsasign` can be run on any javascript environment, so if you need to do some work on browser your choice could be `jsrsasign`, if you need to run on NodeJS both of them could work for you.

I haven't used `jsrsasign`, it seems it has tons of functionality, I'd suggest to analyze what you need, if both libraries provide the functi

[2017-04-10 13:02] ziluvatar commented on #327
@Satafur is it the secret string a PEM encoded private key? Anyway I tried to run this function having a global `config` object with this content:

`config = { secret: 'hi', options: { algorithm:'RS256', expiresIn:'2 d' }}`

And I executed: `createToken({a:1}).then(console.log).catch(console.log)`

I could see this error: `[Error: error:0906D06C:PEM routines:PEM_read_bio:no start line]`

Can you s

[2017-04-10 19:25] markandrus commented on #297
@clozr any chance your release process uses Browserify? I had a very similar issue, in Firefox, specifically. I expect it had to with the version of `buffer` Browserify was bundling for the browser. Sorry I cannot provide further details.

[2017-04-11 10:40] Santinell commented on #322
What about this article?
http://blog.websecurify.com/2017/02/hacking-json-web-tokens.html

[2017-04-11 14:55] bigZ-again opened #340 "Confused version management"
When i run npm install, I download the PR release at 29 Nov 2016, not the latest release at 8 Mar 2017.
But I read README.md on github.com, It's latest release that include new feature(Make Options object optional for callback-ish sign) that not in PR release.

[2017-04-17 03:43] OmgImAlexis opened #341 "How to force jwt.sign err"
I'm writing code coverage tests for my site and I need a way to forcefully cause token.sign to throw an error. Here's a slimed down version of my code I've been using for testing. Is there anything you can recommend?

[code]

[2017-04-18 18:21] prevostc opened #343 "Unnecessary dependencies"
Hi,

I've been using this lib with great success on AWS lambda.
My main issue is the generated package size which is quite important for a lambda function (faster code uploads + faster js parsing = less money spent)

With a webpack builder and a default config, a simple lambda that only jwt.verify some token comes at a whopping 741.64 Kb
- 113.93 Kb of Joi
- 62.78 Kb of isemail (dependency of joi

[2017-04-20 20:27] jfromaniello commented on #343
I have had the same experience with Lambda so 👍 .

Sounds like we should get ride of Joi, use something smaller or maybe just manual validation.

[2017-04-23 14:26] alianrock commented on #122
+1  It's seem's like no one has get the best practise?

[2017-04-23 20:41] bilarslan commented on #122
+1

[2017-04-24 17:27] ziluvatar commented on #340
Hi @bigZ-again, not sure I understand. In any case, the pull request about "make options object optional for callback-ish sign" was merged but I didn't create a new version because I wanted to include other changes, unfortunately, I didn't add them yet, so that the README (master) vs Last Release could create confusion.

I just released a new version with that change: v7.4.0. Sorry for the confusi

[2017-04-24 18:06] ziluvatar commented on #322
Hi @Santinell, in the case of the attack you metioned your server is using RS256 (or other asymmetric algorithm) for signing but you allow other algorithms on verifying based on JWT token header and using same secret (the public key).

By default the library performs [some checks](https://github.com/auth0/node-jsonwebtoken/blob/6755049/verify.js#L72-L77) to the secret you pass on verifying, so if

[2017-04-25 02:36] bigZ-again commented on #340
thanks

[2017-04-25 08:57] #340 closed

[2017-04-27 18:16] jppellerin commented on #122
@mitchellporter @alianrock It seems that the maintainers of the library haven't yet decided if they want this as part of their API (it seems to me that they don't).

Therefore it is pretty much left to the developer to implement it's own flavour of this.  We have been using the code form pull request #172 for over a year in production.

[2017-04-28 05:44] jhalbsgut commented on #317
@jdrew1303 Thanks for the doc refs. The webpack one was just what I needed!

[2017-04-28 21:34] Loppone opened #345 "jwt.refresh not found"
Hi,
i installed both jsonwebtoken and jsonwebtoken-refresh, but i can't see the refresh method.
i imported the refereces:
var jwt = require('jsonwebtoken');
var jwt2 = require('jsonwebtoken-refresh');

thanks

[2017-04-28 22:37] Loppone commented on #345
Never mind.
I can use it even if i can't see the signature.

[2017-04-29 00:10] mike-aungsan commented on #83
@jfromaniello
@shea256

I am having the same issue.
I sign payload with public key either in "pkcs1-private-pem" or "pkcs8" format.

Then verify with private key either in "pkcs8-public-pem" or "pkcs1-private-der"
None of these work.

@shea256 What encryptionScheme and signingScheme do you use in RSA key generation?

{
  encryptionScheme: {
    scheme: 'pkcs1_oaep',
    hash: 'sha512'
  },
  signi

[2017-05-02 10:26] zaak opened #346 "maxAge option incorrectly handles values expressed in number of milliseconds"
As stated in the docs:

But if you pass a number, it's [converted to string](https://www.npmjs.com/package/ms#convert-from-milliseconds) by `ms` call [here](https://github.com/auth0/node-jsonwebtoken/blob/67550492cb3cff5fb764322563bb5864041eee5f/verify.js#L168), as there's no `typeof` check for `options.maxAge`. Because of this all the following validation logic is broken in this case.

[2017-05-05 12:33] borromeotlhs commented on #343
you guys should check the repo made for exactly this purpose in: https://github.com/hapijs/joi/issues/528

[2017-05-11 09:10] chrisprice commented on #343
@jfromaniello I've raised a PR (#348) which adds the manual validation. Again for me it's lambda performance which is driving this.

[2017-05-13 12:31] ziluvatar commented on #346
Thanks @zaak!! There was an [issue](https://github.com/auth0/node-jsonwebtoken/issues/273) about how using milliseconds does not match quite well with JWT, however, we didn't realize that it actually does not work. The good part is that we can fix both at same time, making the code work with number (only for seconds) right away.

[2017-05-13 15:34] ziluvatar commented on #346
Fix: https://github.com/auth0/node-jsonwebtoken/pull/349

[2017-05-13 15:34] ziluvatar commented on #273
Fix: https://github.com/auth0/node-jsonwebtoken/pull/349

[2017-05-13 22:08] httpdigest opened #350 "Signing with password-protected RSA private key"
I was just testing the online JWT token generator at http://kjur.github.io/jsjws/tool_jwt.html to use its RSA-256 private and public keys to sign and verify with both the online tool and the node-jsonwebtoken library.
Verifying a generator JWT token works fine with the node-jsonwebtoken library, however it turns out that this library cannot handle RSA private keys which are password-protected.
Is

[2017-05-16 08:51] jy95 opened #351 "Update joi dependency"
Hello,

I just find out this projet has an outdated version of Joi.
[code]

Joi is currently in v 10.4.2 and so the used caret in package.json will not accept a 10.x.x release

[2017-05-16 09:01] ziluvatar commented on #351
Hi!! Yeah, we had problems in the past upgrading, actually it is giving more troubles in different areas, there is a PR to remove it, we'll go that way: https://github.com/auth0/node-jsonwebtoken/pull/348

[2017-05-16 12:06] BojDom commented on #255
expireIn: "1000y"
i doubt you have to worry about the expiration date

[2017-05-17 09:39] #171 closed

[2017-05-17 18:12] #345 closed

[2017-05-19 07:23] RahulSaini202 commented on #113
@blueror815
first you can set expiry time in jsonwebtoken.
second thing to remove cache data of browser.

[2017-05-20 00:07] megamindbrian commented on #317
Why does jsonwebtoken need isemail?  Why does isemail need dns?

[2017-05-22 10:33] jdrew1303 commented on #317
@jhalbsgut No problem, glad to help. I ran into the same issues so its a pain.

@megamindbrian

They're using `joi` for validations, and `joi` is pulling these in unfortunately. 👎 Joi is a great lib for validations but it freaks out in the browser.

Here's the offending bit: https://github.com/auth0/node-jsonwebtoken/blob/2ec4960b8b944682aa486a4f2d054d731baf8158/sign.js#L7

[2017-05-22 16:37] megamindbrian commented on #317
It all looks like boilerplate to me ;)

[2017-05-23 08:11] ziluvatar commented on #350
Hi @httpdigest , since this library is based on `jws` and it is using [crypto](https://nodejs.org/api/crypto.html#crypto_sign_sign_private_key_output_format), you can pass `{ key: myPrivateRsaKey, passphrase: 'mypassword' }`.
I'll update the docs with this.

[2017-05-23 09:22] ziluvatar commented on #341
You can either mocking it or pass an invalid `config.secret`, since, you are using `HS256` (default algorithm), if you pass an object as `config.secret` it will throw an error.

[2017-05-23 09:35] #350 closed

[2017-05-23 09:37] OmgImAlexis commented on #341
That'll work, thanks.

[2017-05-23 09:37] #341 closed

[2017-05-23 11:30] httpdigest commented on #350
Awesome! Thank you.

[2017-05-24 03:43] rezadhah opened #354 "Algo es-512"
hello, i am tyring to sign my object literal using es512, but it keep gives me error 'Data must be a buffer' and i'm kinda new in this jwt topic.

so my object literal is :
var data = {
  type: dog,
  sound: woof
}

when i code like this :
`jwt.sign(data , priv_key, {algorithm: 'ES512'})` ->  it returns error :  "**Data must be a buffer**"

i have tried to change my object into base64 encoding lik

[2017-05-24 13:12] menderleit opened #355 "Couldn't import script"
I have a ReactNative project where I try to use the jsonwebtoken module.

[code]

But I end up with the following error when I run the project:

[code]

If I remove these 2 lines of code the project runs perfectly. I have tried the suggestions at the end of the message but nothing I do seems to fix it.

The project is run from inside PHPStorm (IntelliJ) but I get the same error if I run the projec

[2017-05-24 19:12] apedyashev commented on #158
Just wondering, why don't you implement token invalidation? It would save us resources that we have to allocate for blacklist (for example redis memory)  and API would be more nice/consistent, e.g:

`jwToken.destroy(token)`

[2017-05-24 19:52] zbornstein opened #356 "Invalid Signature when verifying JWT with public key"
Hi all,

I'm trying to verify a ES256 signed JWT with the PEM I created with our Public JWK.

[code]

I receive the following error:

I've done a lot of reading but I can't seem to find any help.

I don't create the JWTs as they are signed by our PingFederate server in another process. I'm just trying to consume the JWT and verify it's validity.

[2017-05-25 18:32] zbornstein commented on #356
So I tweaked my code a bit.

[code]
	Receiving this error now:

	Error: PEM_read_bio_PUBKEY failed
		at Error (native)

[2017-05-25 19:29] zbornstein commented on #356
Got it to successfully verify.

JWT must be casted .toString();

Everything else is working fine.

Thanks

[2017-05-25 19:29] #356 closed

[2017-05-29 02:55] jondubois opened #357 "Expose function to apply options onto a payload"
Right now the `sign` function applies the options to the payload internally but there is no way to get back that payload (with all the exp, iss, ... claim properties) without first encoding and then decoding the token (which is asynchronous and uses extra CPU).

It would be nice if either the sign function could somehow return the transformed (unsigned) payload after the options have been applied

[2017-05-29 03:16] jondubois commented on #357
A simple solution would be to add an option (e.g. passed to the sign method) to not clone/xtend the payload here: https://github.com/auth0/node-jsonwebtoken/blob/e202c4fd00c35a24e9ab606eab89186ade13d0cc/sign.js#L79 and instead to allow the payload argument to be mutated.

[2017-06-06 16:06] loretoparisi opened #358 "Unable to authenticate using kid(keyid)"
I'm trying to authenticate to a JWT server that is using a claim like

[code]

My authentication method is

[code]

I get the jwt token, while the authentication seems to fail.
When doing the `decode` part I only get the `{ iat: 1496763987, exp: 1496850387 }` while I would expect to get back

[code]

right? Are the parameters for the claim correct / in the right place?

[2017-06-08 12:47] guilhermefarto opened #359 "Example about RSA and public/private keys"
Hello there.
I don't know if this is a really issue, but I'm a little confuse about generating and using RSA and public/private keys.
I've tried some examples but didn't get any success.
Is there any tutorial or example about changing the use of jwt.sign and jwt.verify methods to adopt RSA and public/private keys?
- How to generate RSA and public/private keys (for RS256 algorithm)?
- How to manipu

[2017-06-08 13:59] guilhermefarto commented on #359
I was able to develop an example of generating public and private keys for RSA in Node.js
I'll share the implementation to help others with the same question :)

[code]

[2017-06-08 13:59] #359 closed

[2017-06-08 14:15] loretoparisi commented on #358
**[UPDATE]**
I'm not sure if this is due to the claims payload so I have tried also

[code]

and

[code]

[2017-06-10 15:51] ziluvatar commented on #354
Hi @rezadhah, that message can be misleading, I could only get it when you pass an empty object as priv_key, using node v6+.

ie: `jwt.sign({ type: 'dog' } , {}, { algorithm: 'ES256'})`

Can you check the format of `priv_key` to see if it is a PEM, or an object with the right format?

[2017-06-10 19:17] ziluvatar commented on #357
🤔 I think it'd be better, as you said in the first comment, to expose i.e: `generatePayload()` public function to get the jwt claims and make the `sign()` function use it internally.

[2017-06-11 09:53] ziluvatar commented on #358
Hi @loretoparisi, I don't get the overall idea of that "authenticate" function, I guess the code you showed is just to explain the problem getting the issuer claim (signing + verifying).

Trying to simplify your example I run in node console:

[code]
Few details:
- `priv_key` is a EC private key
- `pub_key` is the EC public key for the private key.
- As you may note the private key is used on sign

[2017-06-11 11:46] ziluvatar commented on #239
Closing this issue, I couldn't reproduce it and there is no response in some months, be free to reopen it if you need it.

[2017-06-11 11:46] #239 closed

[2017-06-11 11:53] ziluvatar commented on #283
Closing since there was no answer in months, be free to re-open it.

[2017-06-11 11:53] #283 closed

[2017-06-12 15:39] loretoparisi commented on #358
@ziluvatar Thank you for your help! I have double checked my implementation, and I was missing the public key check since I do not have one. The service  is MusicKit API (Apple Music), that is using the `jwt` authentication.

Basically, ignoring by now the decode part it should work like this!

[code]
Actually I have a generated token, but it is not granted i.e. the server return `Unauthorized`:

[2017-06-14 10:43] ziluvatar commented on #358
@loretoparisi you can check the token in https://jwt.io and compare that with claims that Apple Music requires.
Few details:
- You can pass an option `expiresIn: '24h'`, so that  you don't need to pass either `iat` or `exp` as claims, the library will calculate it for you.
- Maybe the request you send with the JWT does not have the format their API expects (JWT as Bearer?)

[2017-06-14 11:15] loretoparisi commented on #358
@ziluvatar Thanks good idea, I will check on `jwt.io` first. Going to the `expiresIn` as well.

Regarding the `Bearer`, my guess as well! It should be fine as required:

[code]

[2017-06-14 16:22] #97 closed

[2017-06-15 01:42] ProductOfAmerica opened #362 "Cannot sign asynchronously"
[code]

The error produced by `console.log(err)`:
[code]

[2017-06-15 09:52] fiddur commented on #246
@uniqname: That's a good point, a `verify` semantically should say `true` or `false`, while `decode` would give payload.  There is something to be said for convenience, though.

We can consider this for a next major version, there are a lot of smaller breaking changes already planned for a coming version, but imo, if it is synchronous in the implementation, it makes sense to remove the async.

[2017-06-15 13:34] fiddur commented on #246
An alternative would of course be to let the asynchronous calls use https://github.com/ronomon/crypto-async, but would be an extra dependency...

[2017-06-19 19:50] jagjot2008 opened #363 "Jwt generates a long sized token which causes problems with nginx server"
I'm running a node with expressjs (v4) and jwt generates a very large token which is causing problems with the web server (nginx)

The token looks like this:

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyIkX18iOnsic3RyaWN0TW9kZSI6dHJ1ZSwic2VsZWN0ZWQiOnt9LCJnZXR0ZXJzIjp7ImxvY2FsIjp7InBhc3N3b3JkIjoiJDJhJDEwJFg3UjFQN1hQTEVvdThtWllhRzBBZnVZUTBjMk14bFRzT1VScTBJdDEzMkxQR3l3cy5ZYzVDIiwiZW1haWwiOiJqYWdqb3RzaW5n

[2017-06-20 09:12] vforv opened #364 "How to destroy token?"
Is there a way to destory the tokens?

[2017-06-20 11:31] jagjot2008 commented on #363
I just figured it out. I was including a big user object in jwt.sign(user,  ...) and that resulted in large token size.

[2017-06-20 11:31] #363 closed

[2017-06-22 13:04] AnatoliyGatt commented on #364
@vforv There is no way to destroy it. You can implement black/whitelisting on your server to achieve similar to destroy behaviour.

[2017-06-24 09:18] ziluvatar commented on #362
Hi @ProductOfAmerica, you need to pass your private key PEM encoded instead of a string secret.

From README:

[2017-06-24 09:20] ziluvatar commented on #324
Closing, be free to re-open it if you need more information.

[2017-06-24 09:20] #324 closed

[2017-06-24 20:05] #309 closed

[2017-06-26 16:03] hzalaz commented on #355
@menderleit this library is more oriented to node not react-native so probably the packager cannot bundle it. What are you trying to accomplish?

[2017-06-27 09:24] #362 closed

[2017-06-27 09:49] #208 closed

[2017-06-27 16:08] formanite-20 opened #366 "User can get other user data by using his own token."
Hi
My question is that I generate a token for User A and then another token for User B. Now when I request User A with User B token, API allowed it but payload data depict User A. I just want API to respond with 401 rather than allow it. In this way, any user can get any other user data by using his own token.
TIA

[2017-06-30 09:35] randomcatgamer commented on #356
Hi there,

I have also stumbled across the same problem. This is basically the code:
`  const jwtToken = req.headers['x-jwt-assertion'].replace(/\+/g, '-').replace(/\//g, '_').replace(/=/g, '');
    const jwtKey = { kty: 'EC', crv: 'P-256', x: 'etc...', y: 'etc..' };
    const pem = jwkToPem(jwtKey);

    const verifiedToken = jwt.verify(jwtToken, pem);`

And I get the 'JsonWebTokenError: invalid

[2017-07-01 21:29] zbornstein commented on #356
Can you confirm that the code retrieving the JWT gets the whole cookie?

Also, can you confirm that the public key you have labeled as a constant is in fact the valid signing key for the JWT you retrieved?

In my case, my environment has a JWKS endpoint that rotates signing and public keys accordingly. So you may have to grab the latest public key to verify your JWT against.

Also. I recommend usi

[2017-07-02 21:54] caupinpaul opened #367 ""Not a buffer" issue when using sign"
Issue solved: due to packages conflicts, I was using an old version of nodejs on ubuntu and it didn't want to update correctly.
In order to get the right package of node, I had to write on shell :
[code]
Sorry for bothering !

Hi !
I've been using this module for a project, that I try to use on a Ubuntu server I have.
On my mac, I don't have any issue, but as soon as I try with my Ubuntu server, I

[2017-07-03 15:12] #367 closed

[2017-07-07 06:04] reduxdj opened #368 "callback not triggered in 7.4.1"
Neither error or callback are triggered with the following code on node 8.1

 jwt.sign({ foo: 'bar' }, secret, { algorithm: 'HS256' }, (err, asyncToken) => {
      console.log(err, asyncToken)
    });

[2017-07-07 06:31] reduxdj commented on #368
happened with an undefined secret

[2017-07-07 06:42] reduxdj opened #369 "Unable to create a verifiable token"
Tried every library, using HS256 in node 8.1, I can't create a verifiable token. Every time I try to go to the the jwt.io web UI or use any verify code it fails recently.

Using jwt 7.4.1

[2017-07-07 18:27] #369 closed

[2017-07-11 13:04] loretoparisi commented on #358
@ziluvatar my last guess is this could be a server issue - see https://github.com/Mashape/kong/issues/2620

[2017-07-11 13:30] loretoparisi commented on #358
@ziluvatar I finally was able to generate a valid token.

This is the working code:

[code]

The difference I can see is that I had to specify a `header`, and put everything in the `options` not in the `claim` object. In this way the authentication works fine!

[2017-07-11 13:30] #358 closed

[2017-07-13 17:00] ziluvatar commented on #368
Thanks @reduxdj for the heads up, we already have a [bug](https://github.com/auth0/node-jsonwebtoken/issues/286) about this.
I'll close this issue to track the problem in the older one.

[2017-07-13 17:00] #368 closed

[2017-07-13 17:19] ziluvatar commented on #366
Hi @formanite-20 I guess you are looking for the `sub` claim ([spec](https://tools.ietf.org/html/rfc7519#page-9)), which will contain an unique id for your user, in the API side you will know the user getting that claim value.

[2017-07-13 17:23] ziluvatar commented on #327
Closing. @Satafur be free to re-open the issue if you still have problems with this.

[2017-07-13 17:23] #327 closed

[2017-07-13 17:24] ziluvatar commented on #338
Closing. @Brian-McBride be free to re-open it if you have more doubts.

[2017-07-13 17:24] #338 closed

[2017-07-13 17:25] #321 closed

[2017-07-13 17:27] ziluvatar commented on #297
Closing. @clozr if you still have the issue or you solved it and you want to share what happened it be free to open or comment even if the issue is closed.

[2017-07-13 17:27] #297 closed

[2017-07-13 18:49] Teebo opened #370 "jwt.verify fails to throw error for expired tokens"
I am creating a jwt like this:
`    return jwt.sign({
       some_key: some_value
    }, Authentication.secret, { expiresIn: '1s'});`

And verifying it like:

`jwt.verify(token, Authentication.secret, (err, result) => {
                if (err) {
                return res.status(400).send('Failed');
            }
                return next();
            });
        }`

When I log the decoded re

[2017-07-14 11:59] fiddur commented on #122
Fixed by documentation: #371

[2017-07-14 11:59] #122 closed

[2017-07-19 17:21] z2oh commented on #370
I used the following line:

[code]

on an expired token and got this result:
[code]

On a non-expired token, I got this result:

[code]

which is the expected result. Maybe try logging your `err` object and seeing what's happening? Perhaps the `next()` is being called later in your code?

[2017-07-21 09:38] bertolo1988 opened #372 "Can't resolve 'dns'"
#Hello,

We use jsonwebtoken in our package... today we got this:

[code]

Maybe you should freeze [joi](https://github.com/hapijs/joi) version in an older one.

[2017-07-21 14:47] bertolo1988 commented on #372
I did not know that jsonwebtoken does not support browsers.

[2017-07-21 14:47] #372 closed

[2017-07-21 18:48] Teebo commented on #370
I am using the `next()` ... snap! this is how it looks like

`        return jwt.verify(token, Authentication.secret, (err, result) => {
                if (err) {
                    console.log("Auth error", err);
                return res.status(400).send('Failed on second middleware');
                }
                return next();
            });`

I guess putting the `next()` in an `else`

[2017-07-21 18:59] z2oh commented on #370
If wrapping the call to `next()` in an else works then it is a fine solution, but I would imagine that the `return` statement should stop execution. Maybe there is something I'm missing, however? Give the `else` a try and see if that fixes it for you.

[2017-07-22 21:28] Teebo commented on #370
@z2oh the `return` was not needed, thanks

[2017-07-22 21:28] #370 closed

[2017-07-24 01:07] anhldbk opened #373 "Undefined private keys"
Hi there,

If I `sign` with an undefined key (when a callback is provided), I expect to have `err` to be a valid value. But currently, it's not. Here's the code:

[code]

And the blank output:

[code]

So there's something wrong, right?

[2017-07-24 18:11] Tom29 commented on #355
@hzalaz his question is obvious, how do we use jwt in react-native app?

[2017-07-25 11:12] menderleit commented on #355
@hzalaz @Tom29 I'm just trying to decode the token into a javascript object.
I couldn't get jsonwebtoken to work, but I managed to decode it by using the base-64 library.
https://www.npmjs.com/package/base-64

import base64 from 'base-64';
const parts = token.split('.');
let decodedToken = base64.decode(parts[1]);
decodedToken = JSON.parse(decodedToken);

[2017-07-27 11:32] Chaoste commented on #317
I'm having the same issues - no webpack right now available.

I just want to use opentok, which uses jsonwebtoken. Can you please update your dependencies? It's just switching to joi 10.6.0 (their fix was added a month ago)

[2017-07-27 11:35] Chaoste commented on #372
opentok uses jsonwebtoken - of course it should support browser. It's just a wrong dependency ;)

see #317 \

[2017-07-27 14:03] bertolo1988 commented on #372
joi does not support browsers

[2017-07-30 12:16] webrocom opened #375 "How to forcefully invalidate a token .. on logout"
Hi How can i invalidate a jwtoken forcefully when i call logout.

[2017-08-03 03:28] ewosleger opened #377 "Just launched a new staging AWS instance of my application, JWT token expires immediately following a login"
terminal log:

`2017-08-03T03:23:59.475Z - error: 500 message=jwt expired, method=POST, url=/api/login, email=admin@admin.com, password=11111`

[2017-08-04 12:31] #373 closed

[2017-08-04 23:37] ziluvatar commented on #377
@ewosleger could you give more information? How do you use the library?

[2017-08-04 23:59] ziluvatar commented on #375
Not sure what's your use case, JWT as session token, JWT as access token, JWT as id token, etc

Client: remove saved tokens.

Server: You would need to use another piece of information stored in your backend, so that when the token is used you can double check for that. ie: check for `jti` stored (you could only store it at the logout moment if you will)? check for session cookie and ignore any JW

[2017-08-05 00:06] ziluvatar commented on #289
@ovaiskhan11 I'm going to close this issue, if you are still interested in this topic you can reopen it.

[2017-08-05 00:06] #289 closed

[2017-08-05 00:07] ziluvatar commented on #331
Closing. @Sashkan be free to reopen it if you still have issues.

[2017-08-05 00:07] #331 closed

[2017-08-05 00:10] ziluvatar commented on #332
Closing. @shai32 if you still have questions be free to re-open the issue.

[2017-08-05 00:10] #332 closed

[2017-08-08 17:57] iBicha commented on #375
Use a place to store "blacklisted tokens" and add a search in it in your verification flow (if token is verified, check if you didn't blacklist it) also on logout, add the token to the blacklist. This allows you to easily clean up the tokens after the actually expire (run a job every few days maybe)

[2017-08-09 17:26] webrocom commented on #375
@ziluvatar its JWT access token.

Like in php JWT token we have  a method token invalidate .

So how can i invalid a jw access token in sails js, which i received at login in time

[2017-08-09 18:21] mearns commented on #195
Is there a fundamental reason that this package isn't intended to be used on the client side, or simply that the current implementation details make it incompatible?

[2017-08-09 22:29] victorpictor commented on #213
Here we have the RFC https://tools.ietf.org/html/rfc7519

Valid JWT token that can be verified with PyJWT:

[code]

Validating it in node js using this lib:

[code]

Question:
Why "alg" is a not an allowed key in header? I see most of the libraries used for token signing follow RFC.  Not all the time is used same library to sign and verify, in my case we have apps implemented in py, java, and node

[2017-08-10 21:53] iamdubx opened #379 "jwt malformed"
Hello. I am recieving very frustrating error and seems like token is formed with errors. It has 4 dots!

Here's my code

[code]
[code]

[2017-08-10 22:01] iamdubx commented on #379
Sorry, seems like problem in my lodash templating.

[2017-08-10 22:01] #379 closed

[2017-08-11 20:20] baruinho commented on #377
I'm facing the same problem here. The funny thing is last night it was working.

SO: Red Hat Enterprise Linux Server release 7.4 (Maipo)
jsonwebtoken version: 7.4.1

Basically, the token is already expired when created.

jwt.sign
[code]

jwt.verify (does not throws)
[code]

[2017-08-11 23:27] rhysmccaig opened #381 "Pull Request #374 has broken the use of the 'none' algorithm."
Noticed this in my own test cases - when using the none algorithm the sign() function now throws an error if a secret isn't defined. (which is find for `alg: none`)

I believe the simple workaround which preserves the workaround added in #374 is to simply set the secretOrPrivateKey to any string when the algorithm is set to `none`. Will add a PR shortly.

[2017-08-12 02:53] myartsev opened #383 "Update to latest Ember version (2.14)"
I have attempted to do the upgrade myself but I'm getting some errors with the bower dependencies, so I'm a little lost on what else needs to be changed.

https://github.com/myartsev/ember-simple-auth-token/tree/cli

Could someone take a second look and see what I'm missing?
Or maybe I'm off and you're better off starting from scratch with the upgrade...

[2017-08-12 02:55] myartsev commented on #383
Oops, wrong repository. My bad!

[2017-08-12 02:55] #383 closed

[2017-08-13 14:56] nowzdev opened #384 "error install in npm 8.3.0"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'i', 'jsonwebtoken' ]
2 info using npm@5.3.0
3 info using node@v8.3.0
4 verbose npm-session 7699fdb759690599
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 http fetch GET 304 https://registry.npmjs.org/jsonwebtoken 12605ms (from cache)
8 silly pacote tag manifest for jsonwebtoken@latest fet

[2017-08-13 18:29] #384 closed

[2017-08-14 08:48] ionull commented on #375
Yap, one should be able to remove token when logout, and even remove all tokens when reset password.
Check guardian and guardian db project for Elixir.

[2017-08-14 15:20] shawninder opened #385 "Little mistake in README"
I found a little mistake in the README, see https://hyp.is/49FjfoEDEee2WVfxwy1Brw/www.npmjs.com/package/jsonwebtoken

I think there is a part missing here. I'd like to propose the following new sentence as a replacement:

[2017-08-14 22:03] westy92 commented on #364
@vforv use the **jti** claim so you can identify tokens and blacklist them.
https://auth0.com/blog/blacklist-json-web-token-api-keys/

[2017-08-17 12:05] ziluvatar commented on #385
I understand almost the same (actually what I don't like is the "Callback is passed the decoded payload").
Anyway, I see it's clearer your way, be free to open a PR and I'll merge it.

[2017-08-17 12:28] #381 closed

[2017-08-17 14:54] ziluvatar commented on #286
After a breaking change detected on the fix developed for this issue, this bug remains open only for the case where the algorithm is `none` and the consumer is using callback-ish code style.
We'll need to think how to fix that or try to fix the bug in jws.

[2017-08-17 17:40] babenzele commented on #375
As @iBicha mentioned, you can blacklist a JWT. This is typically done by creating a JWT ID (`jti` claim), storing it, and making sure that it is never used again.

http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#rfc.section.4.1.7

If you wanted to not store every blacklisted JWT ID, then you could generate those algorithmically and reject them en masse. If your IDs were increment

[2017-08-18 11:42] ziluvatar commented on #375
@webrocom you got some good responses, if I have to add something I'd say: If your resource servers (APIs) will check to db (or another service) whether or not the access token is blacklisted on every request, I'd go for opaque tokens since you probably won't get any benefit from JWT access token format.

[2017-08-20 14:02] rriemann opened #387 "Question: use case blind signatures"
Hello,

I'm new to JWT and would like to know if the standard and implementation allows for blind signatures, e.g. based on RSA.

I googled the entire web and blind signatures with JS is either super trivial or super complicated. I haven't found any implementation yet I could learn from.

[2017-08-21 18:48] webrocom commented on #375
@ziluvatar Exactly that would be not beneficial . I think i can use refresh jwt token on logout api.
Is it good  ??

[2017-08-22 14:02] BrOrlandi commented on #377
@ziluvatar any investigation on this issue? I think it may be a critical issue.

We tried to investigate but we couldn't find anything in the source code.

Thanks!

[2017-08-22 20:33] JulienMalige commented on #355
same need, same issue... not so happy by the "base-64" solution.

[2017-08-23 13:41] ziluvatar commented on #375
JWT benefit is, among others, to have a token that different parties can use as long as they trust on the issuer, where there is no need for them to interact with the issuer service (maybe minor interaction to download public key), they can verify it and use the information the issuer provided.

If any service that will use the token will have to interact with the issuer to know if it's valid, why

[2017-08-24 21:02] r3wt opened #388 "if exp field is supplied in addition to expiresIn option, values are combined"
[code]
this result in the exp field being doubled 🤓

[2017-08-24 21:41] ziluvatar commented on #388
It's strange, what version of the library do you use? The same code for me results in:
[code]

[2017-08-24 21:58] r3wt commented on #388
@ziluvatar admittedly, it may be quite old. let me see.

[2017-08-24 22:08] #388 closed

[2017-08-24 22:08] r3wt commented on #388
@ziluvatar yes, it was very old. my apologies.

[2017-08-27 11:45] chassrouny opened #389 "Expiry Feature"
Can we add an option that whenever jwt.verify is called, if the token is verified, reset the expiry timer,

example:
var token = jwt.sign(user, process.env.SECRET_KEY, {
        expiresIn: 10
    });
token expires in 10 seconds,

If after 5 seconds i call an api and it verifies the token, reset the expiration counter, so it count for 10 seconds after the verification process and not continue the r

[2017-08-31 12:24] subversivo58 commented on #389
Humm ... there is a very clear reason for a token to have an expiration time ... **validation!**

I believe that this "feature" you want is more related to issue [#122](https://github.com/auth0/node-jsonwebtoken/issues/122) which is described in the [documentation](https://github.com/auth0/node-jsonwebtoken#refreshing-jwts)

A practical example (and the reason why it is not part of this lib) is de

[2017-09-02 11:44] XOneto9 opened #390 "For refresh token, or destory how about re issue token??"
Hi, I'm David

I read almost discussion about refresh token. It feel it has some problem.

At now, I have a some question of re-issue token.
Also, I got a principle the issued token do not destory.

If the situation is about log-out, sign out or prolong expire day, etc.., then how about re issue of token from web server? Just re-issue
Because I heard JWT does not have token-store. And issued token

[2017-09-03 13:37] jmmclean opened #391 "JWS Regex invalid, hence null returns"
Hello JWT community,
After digging around, i have seen that the current regex for JWS to verify is below:
[code]

However, I would suggest the below because with certificate as signature, a null can be returned:
[code]

This was discovered using AWS Cognito, which can return a JWT having a signature with both `,` and `.`

[2017-09-03 13:57] jmmclean commented on #391
BTW, this means a few more things.
1.  Still in the JWS library, the function `signatureFromJWS()` will need to reflect the below:
[code]
2.  The 'verify' script within node-jsonwebtoken will need update its logic to validate a token. If using JWS, I think you should use their regex to validate as well for consistency:
https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L53-L55

[2017-09-03 14:17] jmmclean commented on #391
yea...ignore ALL OF THIS. i was concatenating a JWT on JWT....making for more segments

[2017-09-03 14:17] #391 closed

[2017-09-05 17:45] mikevaleriano commented on #111
Using [this](https://www.npmjs.com/package/jwt-then) right now, works really well.

[2017-09-06 07:08] rluisr opened #392 "Question Even if I stopped my application, token comes back alive?"
Create a jwt-token with this module and I stop the application.
But even if I restart the application, end user can access with jwt-token that is created before stopped.

Why node-jsonwebtoken can realize?

[2017-09-06 11:32] mattdknapp commented on #68
^^Thanks so much @chekkan!

Took me a while scratching my head when this didn't quite work for me until I realized that I needed to replace the 'CERTIFICATE' with 'PUBLIC KEY' in my case.

The below worked for me (Heavily inspired from the code above leveraging ES6):
[code]

[2017-09-06 14:43] #273 closed

[2017-09-06 14:43] #346 closed

[2017-09-06 16:10] ziluvatar commented on #351
@jy95 joi has just been removed in new release v8
https://github.com/auth0/node-jsonwebtoken/wiki/Migration-Notes:-v7-to-v8

[2017-09-06 16:10] #351 closed

[2017-09-07 19:56] corysimmons commented on #375
@webrocom https://stackoverflow.com/questions/21978658/invalidating-json-web-tokens there are a bunch of strategies for this.

[2017-09-08 12:40] PeppeL-G commented on #392
That's how it should work. If you don't want it to work like that, you can randomly create a new secret to sign/verify the tokens each time the application starts, but then it might be hard to use horizontal scaling (if you ever come to that).

[2017-09-08 12:47] PeppeL-G commented on #390
With tokens, to login, you basically ask the server to create a token, and then you store it on the client. If the token is self-contained (as JWTs; the information about the token is stored inside the token), then you simply stop storing it on the client, and it has been deleted.

If the token is not self-contained (the information about the token is stored on the server), then you need to tell t

[2017-09-11 10:35] ashrafmangalore opened #395 "How to exclude some router/api url from jsonwebtoken"
I am using node.js express app. jsonwebtoken for authentication. I want to exlude some api url from the jsonwebtoken verification. below is what I have tried and my code

    router.use('/authentication', mountAllRoutes(authenticationModule));

    // route middleware to verify a token
    router.use((req, res, next) => {
    const r = req;
    const token = req.body.token || req.query.token || re

[2017-09-12 04:25] #392 closed

[2017-09-12 16:51] wraithgar opened #396 "Undocumented breaking change in version 8"
With the introduction of a `lodash.isplainobject` check on the object being signed, a tighter constraint is now in place than there was in version 7, which was using `Joi.object()`

It would be helpful if this were added to the [migration notes for v7 to v8](https://github.com/auth0/node-jsonwebtoken/wiki/Migration-Notes:-v7-to-v8l)

[2017-09-13 08:18] rluisr opened #397 "node-jsonwebtoken & redis"
I want to manage jwt with redis.

create, verify token using `node-jsonwebtoken` and want to send redis server.
Is it possible?

[2017-09-13 11:10] ziluvatar commented on #396
@wraithgar thanks! I've updated the wiki page, could you take a look to see if that's clear enough?
Be free to put here any modification you think could help consumers to make them realize about it.

[2017-09-13 15:54] wraithgar commented on #396
That's great, thank you so much for updating it.  It seems pretty clear to me and I think it would be to someone else in my position.

[2017-09-13 15:54] #396 closed

[2017-09-15 09:48] ziluvatar commented on #395
@ashrafmangalore I think you may like: https://github.com/auth0/express-jwt/

[2017-09-15 09:55] rluisr commented on #397
My api servers are using this module and many server is running using load balancer with sticky footer.
But on-premises server and public cloud(ec2 instance) can't share jwt.

I want to store the JWT token to redis and all my api servers include ec2 instances share it.
Is it possible?

[2017-09-15 10:00] ziluvatar commented on #397
What's the reason towards the thought of storing the JWT?

Initially, leaving apart the blacklisting for now, you don't need to store the JWT, it will contain the needed information to trust the issuer + identify the user + authorize the user.
Probably I'm missing something about your use case.

[2017-09-15 10:08] #364 closed

[2017-09-15 10:08] #366 closed

[2017-09-15 10:10] ziluvatar commented on #343
Solved in release 8.0.0

[2017-09-15 10:10] #343 closed

[2017-09-15 10:15] rluisr commented on #397
My infrastructure is hybrid cloud.
So the api servers always are running on my office but sometimes the api servers are running on AWS when incidents are occured.
Then client have to re-login, the api servers will get high load.

I think need the store the JWT on one place in order to solve this problem.

[2017-09-15 11:54] sjudson commented on #387
No, the JOSE/JWA/JWS specifications don't include any provisions for blind signatures, or really privacy-protecting technologies in general. So unfortunately there is no way to provide them within the bounds of the specification, and it's not something we have interest in ourselves. Finally, because of the various complexities (meant informally) which must be surmounted to get the proper privacy b

[2017-09-15 16:15] ziluvatar commented on #397
You API should use the JWT in stateless manner for verifying the tokens.
User A gets a token "A1" and sends it to you API server (at your office).
15 min after, incident happens, AWS servers run up and your office is unreachable.
User A sends token "A1", AWS API servers should be able to verify it.

Can you write some kind of diagram or sequence example like ^ ?

FYI similar question: https://gith

[2017-09-16 17:19] agersoncgps commented on #355
Would love this library to work with RN!

[2017-09-17 16:45] chadfurman commented on #36
Super old thread, but in case someone else hops along here, SameOrigin HTTP-Only cookies over HSTS / HTTPS are useful when working with an API on the same domain

[2017-09-19 19:00] olegmdev opened #399 "Same tokens within a second"
Because of this line:
https://github.com/auth0/node-jsonwebtoken/blob/cc0f4d67b649110a035db3df9265f05db269a15a/lib/timespan.js#L4

In case you call `sign` method multiple times within 1 second with the same payload, you'll get exactly the same token every time you sign it which is not cool as for me.

What do you think about changing that behavior (iat) to keep tracking milliseconds instead of sec

[2017-09-20 11:36] tony-kerz commented on #68
thanks so much @chekkan and @mattdknapp!

i spent hours trying to figure out how to validate an `RS256` token generated by [keycloak](http://www.keycloak.org/), and this thread saved me big time!

[2017-09-20 19:12] dtwardus opened #400 "RS256 Broken"
If you try to use this to generate a RS256 signature it just returns an error.

Error: error:0906D06C:PEM routines:PEM_read_bio:no start line
at Sign.sign in core crypto.js — line 329
at Object.sign in jwa/index.js — line 55
at Object.jwsSign (as sign) in jws/lib/sign-stream.js — line 23
at module.exports (as sign) in jsonwebtoken/sign.js — line 178
in this notebook — line 5
at Generator.next in c

[2017-09-20 20:32] kjvalencik commented on #399
@olegmdev The "Issued at" or `iat` claim is defined in the RFC as seconds. https://tools.ietf.org/html/rfc7519#page-6

It is not intended to provide uniqueness. If you require uniqueness in your claim, this is what the "JWT ID" (jti) claim provides. https://tools.ietf.org/html/rfc7519#section-4.1.7

You can provide a random value to ensure uniqueness.

[code]

[2017-09-20 20:35] kjvalencik commented on #400
This looks like an error in OpenSSL due to an invalid certificate. Switch to `H`, (e.g., HS256) is a completely different algorithm (HMAC). It doesn't use a certificate and is using it as a secret instead.

[2017-09-21 13:03] dtwardus commented on #400
Yeah I was just trying to highlight in the simplest way that RS256 wasn't working using their code. Unfortunately Google's OAuth2 requires RSA256 so I'm stuck waiting.

[2017-09-21 13:58] kjvalencik commented on #400
This looks like an issue with the certificate (either invalid or being fed to the library wrong). I can confirm that RSA is working in `jsonwebtoken` since I am using it in production in several places. I don't think the issue is in the library.

Can you provide the public key and some of the code that is failing for you? I can try to help debug.

[2017-09-22 09:05] booradleys opened #401 "How to revoke token after logout ?"
Hi there,
How to revoke token after logout ?
I saw this module but it is available for express-jwt module:
https://github.com/layerhq/express-jwt-blacklist

[2017-09-22 18:17] TLX3 opened #402 "Using Firefox and Safari, jwt.verify raises Error.capturestacktrace is not a function"
I've started testing my application outside of Chrome and started receiving the error regarding Error.capturestacktrace is not a function.

I have both the latest Firefox and Safari. The token verification works fine on the latest version of Chrome. This error occurs specifically after the token is expired and I attempt to verify it.

The token verification below is executed during specific route

[2017-09-26 08:43] thandonguocmo2020 opened #403 "version new jsonwebtoken error"
I use the new version with the error occurred  "jsonwebtoken": "^8.0.1",.

I use the old version the bug has been removed   "jsonwebtoken": "^7.4.3".

MESSAGE ERROR ==>

[code]

events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: Expected object
    at validate (E:\App\code\node_modules\jsonwebtoken\sign.js:34:11)
    at Object.module.exports [as sign] (E:\App\code\node_module

[2017-09-26 10:55] ziluvatar commented on #403
We have changed the validators used for the `sign` method. Take a look to the first item in the migration guide: https://github.com/auth0/node-jsonwebtoken/wiki/Migration-Notes:-v7-to-v8

We use lodash now, take a look to this function: https://lodash.com/docs/4.17.4#isPlainObject

Anyway I think we should communicate better that error, it could say something like "expected payload object to be a

[2017-09-26 18:54] kevinburke opened #404 "JSON.stringify order is not deterministic, can lead to signature mismatches for same payload"
If you pass an object as the payload to `sign`, it eventually gets serialized to a string by calling `JSON.stringify`, here: https://github.com/brianloveswords/node-jws/blob/master/lib/tostring.js#L9

The output order of JSON.stringify is not guaranteed. For example, one implementation may serialize `{one: 'two', three: 'four'}` as `'{"one":"two","three":"four"}'` and another may serialize it as `

[2017-09-26 21:10] Austio opened #405 "Client Build"
Hello, thanks so much for the library.

Would you be open to a PR for a client build that does minification and such?

[2017-09-27 15:11] Richie765 opened #406 "Allow secretOrPrivateKey in verify to be function(kid)"
I currently use `decode` to get the `kid`, then use `verify` with the correct key. This could be simplified if `verify` would accept `secretOrPrivateKey` to be a `function(kid)` so this could be handled in one step.

I could make a PR in the coming weeks, would this be accepted?

EDIT: I just realize that `function(kid)` would probably fetch the key asynchronously from the AP. In that case the fun

[2017-09-27 17:00] kevinlu1211 opened #407 "Unable to resolve module 'crypto' as module does not exist in module map"
So I just did `yarn add jsonwebtoken` and I first got an error:

`Unable to resolve module stream` so then I install it via `yarn add stream`.

Then the next problem is:

`Unable to resolve util` so then in install it via `yarn add util

Then the next problem is:

`Unable to resolve net` so again I add it `yarn add net`

Then finally I come to

`Unable to resolve crypto` but when I add it I get th

[2017-09-27 18:11] joovel commented on #385
@ziluvatar : I've created the PR.

[2017-09-27 18:45] joovel commented on #407
What's in your `package.json`? A clean install works fine; perhaps you have outdated dependencies?

[code]

[2017-09-27 19:17] joovel commented on #403
@ziluvatar : I've added a PR to change the wording.

[2017-09-27 19:18] joovel commented on #402
@ziluvatar : I've added a PR to ensure that `captureStackTrace` is truthy before attempting to call it.

[2017-09-27 19:19] joovel commented on #402
@ziluvatar : I'm also curious if browser support is a thing for this project ... both this repo and jws specifically call out node, but there's no explicit statement in the README whether browsers are supported or not.

[2017-09-27 19:46] kevinburke commented on #404
I proposed adding a fix for this in the standard library but it sounds like that is not going to happen, so you need to address the problem here.

https://github.com/nodejs/node/issues/15628

[2017-09-27 22:56] kevinlu1211 commented on #407
Here are my dependencies:

[code]
Yes I can install everything fine, it's when I do something like `jwt = require('jsonwebtoken')` it fails

[2017-09-28 00:03] joovel commented on #407
This module does not support react-native because it requires node-jws which requires streams.  See also issue #355 .

[2017-09-28 00:05] joovel commented on #407
@ziluvatar Recommending closing as a duplicate of #355 .

[2017-09-29 08:29] ziluvatar commented on #401
👋  Take a look to:
https://github.com/auth0/node-jsonwebtoken/issues/103
https://github.com/auth0/node-jsonwebtoken/issues/99

[2017-09-29 08:33] ziluvatar commented on #405
I'm not quite against that, however, since its focus is NodeJS (although it can be used in browsers), probably it's better to leave that work to the consumer.
Thoughts?

[2017-09-29 08:45] ziluvatar commented on #406
Good one, I've seen that in other libraries (like [express-jwt](https://github.com/auth0/express-jwt/blob/master/lib/index.js#L91)).

I think it is better to pass a more generic function like: `getSecretOrPrivateKey(jwtHeaders, jwtClaims, callback)`. In express-jwt they pass the `req` I think we can delay that until someone presents an use case where the `req` is needed.

That open the use case fo

[2017-09-29 09:59] ziluvatar commented on #402
This project focus is NodeJS, nevertheless since the community seems to be using it for browsers, we balance the issue, the effort to maintain node vs browser and it makes sense.

[2017-09-29 10:14] ziluvatar commented on #404
Interesting, I didn't think about it, it's good to keep this PR open until we find a solution, however, I think you should open this issue in the library where the code lives on, in this case [node-jws](https://github.com/brianloveswords/node-jws), once it is solved there we can update the version and close this issue.

Could you ask them?

[2017-09-29 10:21] ziluvatar commented on #407
Thanks @joovel for the investigation and the contribution you have made lately, awesome.

@kevinlu1211 if you find out the root problem with react-native, please post it, even if this is a NodeJS library, it would be good for other people to make it work with react-native.

[2017-09-29 10:21] #407 closed

[2017-09-29 20:23] Richie765 commented on #406
I think it's a bit risky. I'm not trusting the jwtClaims until the signature check has passed. The one to decide which is the issuer is the client, not the token. Otherwise anyone could put any issuer in the token and make the signature check pass. I would avoid that and just pass the jwtHeaders (or just kid).

I'm not very familiar with jwks, so what do you think?

[2017-10-01 04:25] Mottie opened #411 "Remove PEM files from npm"
Please remove the test folder, or just the PEM files in the test folder, from the node package - these can be excluded by adding it to a `.npmignore` file.

I am working on a WebExtension and using [`web-ext`](https://github.com/mozilla/web-ext) which includes this module. When I attempt to "Load unpacked extension..." into Chrome, I see the following warnings <del>and can not load the extension</

[2017-10-03 02:59] 2rohith2 opened #412 "How to implement Refresh Tokens?"
Hi Team,

I have read multiple blogs and code snippets, which will describe what is the use-case of `refresh token` but none describe how to implement it.

I am using `NodeJs`, `ExpressJs` with `JWT` as a token mechanism, everything is working fine but the problem starts when the token is expired.
I have set the token which expires in `5m`, the user has to login again?

I know how `refresh tokens`

[2017-10-07 02:13] Austio commented on #405
Hey, well thought is that wouldn't be a ton of maintenance to provide some builds.  Users could import from the minified build dist instead of standard.  Or maybe the client build would be best as a separate package.  browser-jsonwebtoken or something that wraps this library and npm distributes it.

I use this in an isomorphic app so like having both really (easy access to readable source on serve

[2017-10-08 14:48] ankush38u opened #414 "User info in payload interchanging with other Users?"
Hi Team,

I've noticed a quite strange issue on our Android app, Some of the users are seeing someone else's profile. The api uses jsonwebtoken for authorization.

The implementation is quite similar to this article: https://scotch.io/tutorials/authenticate-a-node-js-api-with-json-web-tokens

We have a middleware which intercept requests and check if the auth token is valid, if it is valid then ad

[2017-10-08 15:53] Austio commented on #414
Hello, not a maintainer but just speculating, what you are describing could be happening when generating/signing the jwt if you are using an object reference to create the jwt user instead of regenerating it using a function or new object each time.   Could you add you section for login?

[2017-10-08 16:03] ankush38u commented on #414
@Austio

Here is the login section
[code]

The logic to refresh token on app restart

[code]

[2017-10-09 13:12] ziluvatar commented on #406
I pasted the link in the PR and I gave you feedback there. (https://auth0.com/docs/jwks)

[2017-10-09 13:17] ziluvatar commented on #411
It's strange, in the v8.0 there was a change to fix that: https://github.com/auth0/node-jsonwebtoken/blob/master/package.json#L46-L51

I've just downloaded the package (with `npm i`) and this is what I see:
<img width="114" alt="screen shot 2017-10-09 at 3 15 49 pm" src="https://user-images.githubusercontent.com/1424663/31339951-cea73e6a-ad04-11e7-88f8-8d1d68f6c6b3.png">

Are you using v8.0?

[2017-10-09 13:29] ziluvatar commented on #412
@2rohith2 since we got some questions related, not sure if you are referring to refresh tokens in OAuth sense or how to refresh a token (extend the expiration).

- Oauth tokens:
https://auth0.com/learn/refresh-tokens/
https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/

- Extend expiration (similar issues)
https://github.com/auth0/node-jsonwebtoken/issues/390
https://github.c

[2017-10-09 13:39] ziluvatar commented on #405
I would rather like doing it in different project. Apart from the minification you could use it as repo for the community that uses it in browser (not sure what for but I'm sure it'll be useful).

[2017-10-09 17:21] ziluvatar commented on #414
I can not see anything that could lead to a problem in the library. If I were you I would add some logging around:
[code]
You are getting only the first one which matches a regex, if a user is using dots you could have collisions: `ziluvatar@...` vs `z.luvatar@...` or, since it is case insensitive `ziluvatar@...` and `ZILUVATAR@..`
I would remove that `findOne` and use a `find` and log if you get

[2017-10-09 17:32] ankush38u commented on #414
@ziluvatar Thanks for the response.

But this shouldn't be the case as the users who sometimes seeing other's profile, two of them sent me the details and email of other users what they see is quite different from their, ie there is not a 1 % chance of this being the case.

This is quite random and no links are there between user emails.

In app start, the token refreshing code, I'm not adding the

[2017-10-09 17:47] ziluvatar commented on #414
If a user is using a non-blacklisted-but-valid access token from other user that could be possible, of course, that would be an attack (someone stole the access token at some moment), I mean, if you can leave that option apart it would be better.

I have to say it's risky to have long lived access tokens even with blacklisting. But I don't think this is an attack, otherwise the attacker wouldn't h

[2017-10-09 17:59] ankush38u commented on #414
@ziluvatar I'll care about that much security later, for now if an android user is rooted then only he can see his access token stored in shared prefrence (sort of local storage), and no one else can see that without having his device and also need to be rooted. So caring about that case isn't important for me until i increase my team size.

I also increased server configuration, but the issue was

[2017-10-10 15:17] Horaddrim opened #415 "JsonWebTokenError extends Error class"
I'm writing a REST API with JWT authorization, and only want to know, why did you guys don't make JsonWebTokenError function on /lib/JsonWebTokenError.js a class that extends Error class ?
I though that for better 'checking' (maybe not the words), when handling errors with try/catch.

So instead
[code]

becomes this:
[code]

or even more specific like:
[code]

Thanks in advance :smile:

[2017-10-12 03:54] odarbelaeze opened #416 "RS256 key verification on firebase functions"
I'm trying to use jwt key verification on a firebase cloud function, asymmetric signing is the only way I see to secure one of those apps.

So, I created the function and used `jwt.verify` as stated in the commonsJS instructions, and my key wouldn't verify, the error from `jsonwebtoken` is empty.

[code]

here's the code https://github.com/tech-teach/noob-holdings/blob/master/functions/index.js, a

[2017-10-12 08:55] numa001 opened #417 "how to set expiresIn never expire ?"

[2017-10-13 14:47] odarbelaeze commented on #417
just don't put it at all 🤔

[2017-10-13 17:38] ashrafmangalore opened #418 "How to blacklist jwt token"
Can anybody please tell me how to blacklist jwt token for logout.
I am using `jasonwebtoken` module

[2017-10-17 16:13] ziluvatar commented on #418
Take a look to https://github.com/auth0/node-jsonwebtoken/issues/375

[2017-10-17 16:14] ziluvatar commented on #377
Closing. Reopen it if you have further details.

[2017-10-17 16:14] #377 closed

[2017-10-17 16:15] ziluvatar commented on #385
PR was merged.

[2017-10-17 16:15] #385 closed

[2017-10-17 16:16] #387 closed

[2017-10-17 16:16] #389 closed

[2017-10-17 16:20] #390 closed

[2017-10-17 16:21] #395 closed

[2017-10-17 16:22] ziluvatar commented on #397
Closing. @rluisr let's reopen if you need to.

[2017-10-17 16:22] #397 closed

[2017-10-17 16:23] #399 closed

[2017-10-17 16:24] ziluvatar commented on #403
PR was merged. It's on v8.1.0

[2017-10-17 16:24] #403 closed

[2017-10-17 16:25] #401 closed

[2017-10-17 16:25] ziluvatar commented on #402
PR was merged. It's on v8.1.0

[2017-10-17 16:25] #402 closed

[2017-10-17 16:59] ziluvatar commented on #416
I have just tested with your public/private key and that token, I didn't get any error, I've modified the token to make it return error and I get:
`{ [JsonWebTokenError: invalid signature] name: 'JsonWebTokenError', message: 'invalid signature' } `

Did the code work well locally for you? What version of jsonwebtoken are you using?

[2017-10-17 17:13] ziluvatar commented on #415
We do not "extends Error class" but we use [`Object.create()`](https://github.com/auth0/node-jsonwebtoken/blob/master/lib/JsonWebTokenError.js#L11-L12) to achieve the inheritance.

Isn't working for you? You can find the errors in the root of the library:
[code]
To let you do `if (err instanceof jwt.JsonWebTokenError) {}`

[2017-10-17 17:15] ziluvatar commented on #354
Closing. @rezadhah reopen it if you still have the issue.

[2017-10-17 17:15] #354 closed

[2017-10-17 17:15] ziluvatar commented on #334
Closing. JOI was replaced on v8.0.0

[2017-10-17 17:15] #334 closed

[2017-10-17 17:41] ziluvatar commented on #417
@odarbelaeze is right. If you don't pass `expireIn` option or `exp` claim there will not be any `exp` claim, so the JWT does not have any expiration.

[2017-10-17 17:41] #417 closed

[2017-10-17 18:53] Horaddrim commented on #415
@ziluvatar  Thank you man! I wrote this in the "fire" of a sprint, only to know! Thank you for the tip! :+1: :smile: You guys are awesome!

[2017-10-17 18:53] #415 closed

[2017-10-18 16:20] TLX3 commented on #402
Thanks!

[2017-10-20 22:40] mgoria commented on #234
Hi @eddievagabond, have you figured out how to solve this issue?
For me it also sets time smth like `Sun Jan 18 1970 ...`

[2017-10-21 14:58] AkhilNaidu09 opened #419 "TypeError: crypto.createHmac is not a function"
I am facing a issue while converting object to jwt token here is the following code and error blocks can anyone give me solution for this

[code]

error:
[code]

Using Angular 4

[2017-10-21 16:01] odarbelaeze commented on #416
Ok, here's my version deal, I have the token working on a react app with the next entry in `package.json`:
[code]
and resolves to (by looking to my `yarn.lock`):
[code]

In my firebase functions project, I have the same entry in `package.json`, however, I do have 2 entries in `yarn.lock`, one of them referencing an older version of `jsonwebtoken`:

[code]

In the react app, I was able to run with:

[2017-10-25 07:21] pokatomnik opened #420 "Clustering and jwt"
If I have more than one instance, jwt.sign(...) can be executed on first instance, but verified (jwt.verify) on another one. Could you provide a simple example how to solve this? Should I handle common 'unauthorized' error on client side, authorize with my authorization route, /login, for example and repeat protected request or you know how to do it better?

[2017-10-25 12:14] rbedemann commented on #419
we're facing the same issue, although our IDE (IntelliJ IDEA) knows about the function.

[2017-10-25 17:39] riyan119 commented on #406
i got this mistake :/ secretOrPrivateKey must have a value on jsonwebtoken :/

[2017-10-25 17:48] goozo commented on #46
@jfromaniello what would you recommend as a node lib which would asymmetrically encrypt JWTs from node-jsonwebtoken ?

[2017-10-25 19:07] mellodev commented on #400
I was having the same error show up when I was attempting to .verify() an RS256 token. The solution for me was to ensure the "secret" value (signing certificate) included proper newlines. Hope this tip helps anyone else googling PEM_read_bio.

Example:

`let secret = [
                    '-----BEGIN CERTIFICATE-----',
                    'MIIDHTCCAgWgAwIBAgIJMQd2wjokT/M4MA0GCSqGSIb3DQEBCwUAMCwxKj

[2017-10-25 20:52] #416 closed

[2017-10-27 07:58] morph027 opened #421 "failed to verify token from python-jose"
This one drives me wild...

I do have a target which verifies tokens using your library and this code:

[code]

Generated via your module (secret is `secret`):

[code]

validates just fine.

Tried 3 different python libs (all of the listed ones on jwt.io).

[code]

validates fine on jwt.io, using other libs but the code from above fails :(

[2017-10-29 08:13] morph027 commented on #421
Ah...my stdin / stdout redirection was appending `\n` to the token .... works now ;)

[2017-10-29 08:13] #421 closed

[2017-10-30 07:39] xulayen opened #422 "why tips me "PEM_read_bio:no start line""
Error: error:0906D06C:PEM routines:PEM_read_bio:no start line
    at Error (native)
    at Sign.sign (crypto.js:283:26)

[2017-10-30 13:20] ziluvatar commented on #420
I'd say this is the normal usage for JWT, one service (Authorization Server?) will create the JWT (jwt.sign) and a different one (API? Client?) will verifiy it (jwt.verify).
Of course this would also work if the same backend that signs the token verifies it as well.

Not sure if I understand the problem. The one verifying the token should be the one that raises the error.

[2017-10-30 13:27] ziluvatar commented on #419
Let's see if someone from the community has a solution. Since the library expects to work under NodeJS environment I'm not sure if that browser/builder has some issue/lack for crypto library.

If I may ask, why do you need to create a JWT token and use HMAC from browser code? It is usually the other way around, server will sign and browser/server will verify.

[2017-10-30 13:35] ziluvatar commented on #400
Be sure you use the private key to sign and public key to verify.

We have some example in tests, just in case the format is incorrect or not well loaded:
https://github.com/auth0/node-jsonwebtoken/blob/master/test/rsa-public-key.tests.js
You can also check the keys in the test folder.

[2017-10-30 13:41] ziluvatar commented on #422
Be sure you use the private key to sign and public key to verify.

We have some example in tests, just in case the format is incorrect or not well loaded:
https://github.com/auth0/node-jsonwebtoken/blob/master/test/rsa-public-key.tests.js
You can also check the keys in the test folder.

Similar: https://github.com/auth0/node-jsonwebtoken/issues/400

[2017-10-31 12:55] rbedemann commented on #419
In our case we're using the sign method for testing purposes. Because it is more comfortable to write tests with something like:
`
let payloadWithExp = {
    "exp": 1508932433
  };
   const accessToken =  sign(payloadWithExp,"test-secret")
`

instead of
`const accessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjcyMjc4NDY5MTJ9.g6aWa5kckTBIwrxOg5I-z7xUmSagrPI7CGZWksFE4Fg";`

because we can

[2017-10-31 15:56] ziluvatar commented on #419
I see, I'd say you could use this other library https://github.com/kjur/jsrsasign/wiki/Tutorial-for-JWT-generation. We've recommended it in the past for browsers.

[2017-11-03 13:34] DavidOVM commented on #220
what about checking that the decoded object contains "exp" field?
` if (err || !decoded.exp) { return error }`

[2017-11-04 01:22] pokatomnik commented on #420
What if REST server and authorization server is the same application? Is it a bad practice for small web app? I am not planning to divide my app into auth server and app server.

[2017-11-08 11:24] kodenix opened #423 "Vulnerability RSA PublicKey"
Hello, i see this old article [](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/) when seggest add an algorithm parameter to their verification function how `verify(string token, string algorithm, string verificationKey)` for prevent attack with RSA publicKey but i not see the param algorithm or similary is required on verify function.
This vulnerabilities ir resolved

[2017-11-13 21:19] JohnRostislavovich commented on #147
use dataValues, not just Obj.

ex:
const token = jwt.sign(user.dataValues, env.SECRET, {
	expiresIn: 604800 // 1 week
});

[2017-11-15 06:34] jgauna commented on #315
I've done this:

1) Generated a private key using  ```openssl genrsa -out private.pem 2048```

2) I've used :

[code]

3) Copied the log from step 2) and created a certs.json (because looks loke this tool https://mkjwk.org/ is generating an imcomplete jwk)

4)

[code]

5) Created a route which returns the ```certs.json``` file

[code]

6) In order to validate the token

[code]

Using Hapijs. It's

[2017-11-15 23:43] rwoody commented on #420
No, it is not bad practice for a small application

[2017-11-17 16:18] ziluvatar commented on #423
If you don't pass any algorithm to the verify function, the library will try to infer which one it is based on the secret/public-key you passed to it:
https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L67

[2017-11-17 16:33] ziluvatar commented on #420
Yes, as @rwoody that's ok.

Coming back to the original question, every protected resource (it does not matter whether or not it is located in the same server that generated the token) should verify the JWT and return error, the client would see that error and start the login process to get a new token.
I think that is what you already thought.

[2017-11-20 13:01] gijo-varghese opened #425 "Will the token expire by a default time?"
I was using following code to create a token:
`jwt.sign({ customer_id: data.id }, 'sssh')`

However, after some time I got an error saying that the token got expired:
[code]
Is there a default expiry time like 1hour or so?
What should I do so that the token will never expire? (Becuase I set the expiry in cookies)

[2017-11-20 22:42] Mottie commented on #411
Sorry for not responding earlier, yes I was using v8.0+ (I'm currently using v9.2.0). I am still seeing the reported `.pem` files included when I install the module.

[2017-11-21 03:48] gijo-varghese commented on #145
but I got a warning saying the token got expired. I'vent put any `expiresIn` https://github.com/auth0/node-jsonwebtoken/issues/425

[2017-11-22 17:28] davNazaryan opened #426 "Json web token has dublicated"
Hi. I have some mocha test, which is falling because of jwt duplication. This issue is more like question, so can i get two identical tokens if jwt.sign() function called two times in very small delay?

My mocha testing code
[code]

Output
![image](https://user-images.githubusercontent.com/16171651/33140994-2058341a-cfcb-11e7-9722-b4d17590bbda.png)

[2017-11-22 17:55] davNazaryan commented on #426
A little bit more.

Running this code
[code]

Output
![image](https://user-images.githubusercontent.com/16171651/33142398-cea4ff40-cfcf-11e7-9df2-9a69ff14b32b.png)

[2017-11-28 10:18] ziluvatar commented on #425
There is no default expiration. I guess you need to share your verification code instead, since that `sign` only add the `iat` claim for no options case.

[2017-11-28 10:19] gijo-varghese commented on #425
It was something else. Its working fine now. Thanks :)

[2017-11-28 10:19] #425 closed

[2017-11-28 10:27] ziluvatar commented on #411
🤔 Current last version is v8.1.0.

From npm: https://docs.npmjs.com/misc/developers

So both of them should provide the same result.

What do you see if you do a `npm install`? Can you see the `test` folder? I wondering if the installation is different inside the WebExtension system you mentioned. What about other installed modules, does it respect their package json "files" property?

[2017-11-28 10:40] ziluvatar commented on #426
Few things to comment:
- That duplication is expected if you run two generations in the same second with the same payload (same user_id in your case).
- `iat` and `exp` claims are in seconds.
- If you want to assure each JWT is different you can create an id for each by setting the option `jwtid` in `sign()` options. That will set the "jti" (JWT ID) claim ([spec](https://tools.ietf.org/html/rfc751

[2017-11-28 10:43] #333 closed

[2017-11-28 10:44] #375 closed

[2017-11-28 10:45] #412 closed

[2017-11-28 10:46] #405 closed

[2017-11-28 10:47] #418 closed

[2017-11-28 10:48] #400 closed

[2017-11-28 10:48] #422 closed

[2017-11-28 10:49] #419 closed

[2017-11-28 10:49] #423 closed

[2017-11-28 13:31] Mottie commented on #411
Well, if I `npm install jsonwebtoken` directly, I don't see the test folder; but when I `npm install web-ext` I do... it appears that module is still using v7.1.9. So once they update it should fix the problem. Thanks!

[2017-11-28 13:31] #411 closed

[2017-11-28 14:25] siemiatj commented on #68
Thanks @jedd-ahyoung ! Updating openssl fixed it for me :)

[2017-11-29 15:15] Teukros opened #427 "Adding custom algorithm"
I want to use this package in the new project, but in some cases we use our own custom algorithm. Would you accept adding some logic that allows to register new algorithm?

[2017-12-02 23:13] mrkvon commented on #426
Indeed, if you want different tokens, you need different payloads.

If you don't like setting the `jwtid` and you want two different tokens, you need to issue them in different time (precision to seconds, like unix timestamp);

To do this synchronously in tests, you can fake `Date` object with library like `sinon` (which has quite some other features useful for testing):

[code]

[2017-12-07 12:06] Gp2mv3 opened #430 "Check payload before trying to get nbf"
In verify.js, I think there is an issue with the payload decoding. Or at least with robustness.
I receive some errors (`TypeError: Cannot read property 'nbf' of null`) with the following lines (Around line 110 of verify.js):

``
  var payload;

  try {
    payload = decode(jwtString);
  } catch(err) {
    return done(err);
  }

  if (typeof payload.nbf !== 'undefined' && !options.ignoreNotBefore)

[2017-12-12 01:38] russmilburn opened #431 "IAT not appearing in header"
I am create a JWT that contains the following options information
[code]
but when i decode it i get my IAT never appears in the header it appears in the payload.

[code]
is this a bug? or is this standard practice?

[2017-12-12 07:08] jabbar86 opened #432 "Error: Could not authenticate request invalid_grant: Invalid JWT Signature."
**Index.js**

`const multer = require('multer');
const gcs = require('@platoai/multer-gcs');
var path=require('path');
var express=require('express');
var bodyparser=require('body-parser');
const app = express();

app.get("/", (req, res) => {
	  res.sendFile(path.join(`${__dirname}/index.html`));
	});
const storage = gcs({
  filename: function(req, file, cb) {
    cb(null, file.fieldname + '-' + D

[2017-12-13 20:28] ziluvatar commented on #427
Do you mean your own signing / verification algorithm?

[2017-12-13 20:50] ziluvatar commented on #427
Sorry I just saw your PR https://github.com/auth0/node-jsonwebtoken/pull/429
I'm not sure about it, in case of adding it, it should not be 'custom' algorithm. As it is mentioned in JWA it should be a qualified name to avoid collisions https://tools.ietf.org/html/rfc7515#page-10.

Maybe using something similar to how passport or oauth2orize library work. Where you could do like (just wondering):
`j

[2017-12-14 09:32] Teukros commented on #427
Of course it can be renamed from "custom" to whatever you prefer. I could also add another option like boolean "customAlgorithm" instead of passing algorithm name. Another solution is also to register a new algorithm right on the beginning when you require the library, but it would need bigger intervention in code and storing global (in scope of lib) object with algorithms used so I don't like it.

[2017-12-14 14:23] mickev36 opened #433 "Sign then immediately verify token throws "Invalid signature""
Hello,

I'm trying to use node-jwt to provide auth on my (embedded) webapp.
Here's the problematic piece of code :

[code]

Calling generateToken (ipAddr is defined BTW) will raise a "Invalid signature" error, which really puzzles me.
Important piece of information : this worked yesterday, with strictly the same code. I'm guessing a  lower layer is causing the problem, but a day of seaching left m

[2017-12-15 06:44] eugeneedwardkim commented on #355
brought here because of crypto dependency issue...I'm assuming we can fix the crypto issue by referencing the built in node_module, but how do you even do that?

[2017-12-15 11:49] rajnishcoder opened #434 "TypeError: crypto.createHmac is not a function"
I tried to use `jsonwebtoken` in `Angular 2` get the **EXCEPTION** below

My Code
[code]

[source](https://www.npmjs.com/package/jsonwebtoken)

**ERROR**

[code]

**Angular version**

[code]

[2017-12-16 20:24] #433 closed

[2017-12-17 01:36] joovel commented on #434
This library is not for the browser, and its dependent libraries require the `crypto` library that's built into node. You will probably need a different library that does not have that dependency.

[2017-12-17 01:41] joovel commented on #432
First, the error stack doesn't seem to include this library -- it looks like google's library that's throwing the error.
Second, the credentials passed to `gcs` appear to be stashed in a JSON file you didn't include; I would expect issues reported here to have explicitly called this library at some point in the sample.

Without more information, I would bet that the JSON file with the credentials

[2017-12-17 02:14] joovel commented on #430
Good find! I was able to reproduce this myself with node 8.9.1, the latest jsonwebtoken, and the following code:

[code]

This is definitely a problem because `verify` attempts to be nice and run it through JSON.parse. I think the right fix is to check `obj && typeof obj === 'object'` at https://github.com/auth0/node-jsonwebtoken/blob/master/decode.js#L13 .

I don't think adding an `if` where you

[2017-12-17 02:17] joovel commented on #431
In the snippet you posted, you give `iat` the value `Date().now`, but that's undefined because `Date()` returns a string, which doesn't have a `now` property. You probably want `Date.now()`, like you have for the `exp` claim.

[2017-12-17 02:21] joovel commented on #426
@ziluvatar : I think it's reasonable to close this issue as the library is working as designed.

[2017-12-17 05:33] rajnishcoder commented on #434
@joovel thanks for the reply.

[2017-12-20 18:07] UNADYNE commented on #403
Can this be fixed by simply adding `.toJSON()`?

[2017-12-21 19:50] MitMaro opened #435 "Signing a payload with a `iat` results in an invalid `nbf` value"
Related Issue: #142
***
## Problem Description

The calculation of `payload.nbf` does not use `payload.iat` when `notBefore` is passed an offset, and instead the current time is always used.

## Expected

In this case I would expect that the `payload.nbf` value to be an offset based on the passed `payload.iat`. This would be consistent with `payload.exp`.

## Reduced Test Case

[code]
## Investiga

[2017-12-21 19:51] MitMaro commented on #435
I would be willing to put up a PR fixing the issue with tests if this is not by designed.

[2018-01-04 14:26] syberkitten opened #436 "expiresIn is not working as expected, token is not expired or always expired when working with seconds"
Any number of seconds provided to expiresIn ->
the token never expires.

either expiresIn: 1
either expiresIn: "1s"

ps. does not matter if it's 1 second or more.

[2018-01-04 15:05] syberkitten commented on #436
also looks like expiresIn when provided a number, is treating it as milli seconds
and not seconds, so values has to be multiplied by 1000 to actually be seconds.
(documentation states expiresIn gets "seconds" as number)

In the below example
even when the exp is above iat
but is less then the actuall timestamp (Date.now)

The token is parsed and not expired.

do I need to check for expiry manually

[2018-01-04 16:23] syberkitten commented on #436
Ive found the reason for the discrepency.
when not providing "clockTimestamp"

inside [verify.js](https://github.com/auth0/node-jsonwebtoken/blob/81501a17da230af7b74a3f7535ab5cd3a19c8315/verify.js#L36)

If "clockTimestamp" is not provided, the default time is interpolated to seconds.
Then later on line ([175](https://github.com/auth0/node-jsonwebtoken/blob/81501a17da230af7b74a3f7535ab5cd3a19c8315/

[2018-01-04 17:00] syberkitten commented on #436
It also looks like when providing both expiresIn and maxAge
in seconds, there is some problem with timespan.js
where the diff is always translated to mili seconds.

supplying maxAge as 4 or '4s' and expiresIn as 10 or '10s'
does not calcalate maxAgeTimestamp properly,
having the maxAgeTimestamp equal 4 (mili seconds) behind clockTimestamp
and is expired too soon.

[2018-01-04 17:17] syberkitten commented on #436
I'll have to rely on manual checking for expiry until
these issues are resolved.

it is very easy to reproduce:

1. sign a token with expiresAt: '10s'
2. do a sleep(3) - (optional)
2. verify it with maxAge: '4s' (lets call it variable x)

token will always be expired,
when debugging you can see that payload.iat and payload.exp are always the same.

[2018-01-04 17:24] syberkitten commented on #436
all the issues lead to timespan.js:
I've commented below the problem.

[code]

[2018-01-04 17:31] syberkitten commented on #436
To wrap it up after few hours around it.

expiresIn has to be provided as integer and multiplied by 1000
for the library to work as expected.

I guess you guys never tested seconds as in bigger values
such as hours  / min / day, this would probably not happen.

[2018-01-09 16:08] kedrovski commented on #156
@jfromaniello solution `.toObject()` work perfectly! Thanks!

[2018-01-09 16:10] kedrovski commented on #403
You can try it `jwt.sign(doc.**toObject()**, jwtSecret);`

[2018-01-09 17:59] rochdev commented on #427
Not sure if this is the right issue for this, but we have a very similar use case where we want to use an existing algorithm (RS256) but do the signing through an external party (Google Cloud) where we never have the private key.

With the syntax @ziluvatar have mentioned it would work in our case by doing something like this:

[code]

Since only Google can verify the signature in this case the ve

[2018-01-10 21:48] ziluvatar commented on #431
Apart from what @joovel mentioned (good catch by the way). All the claims you are adding inside `options.header` should be in the payload of the JWT not in the header. Not sure if there is a particular reason for your use case to do that.

[2018-01-10 21:50] #426 closed

[2018-01-10 21:50] #434 closed

[2018-01-10 22:03] ziluvatar commented on #435
@MitMaro I think this simply wasn't fixed when the timestamp was introduced for `exp`. https://github.com/auth0/node-jsonwebtoken/issues/217. Be free to send a PR.

[2018-01-12 03:48] aa3993 opened #439 "Signing returns another JWT inside header with a key named token"
Which ends with two equality signs

JWT below

`eyJ0b2tlbiI6ImV5SmhiR2NpT2lKSVV6STFOaUlzSW5SNWNDSTZJa3BYVkNKOS5leUpwWkhCaGMzTWlPaUl6WkRFME1ERmlNQzFtTkdWakxURXhaVGN0WVdReE15MHpaRGRsTUdZME9EUmlaR0k2TVRsaU4yTmpNREUyWVRVeU1ERTRNemt3TmpsbU56aGxNV0pqTXpBMk4yUTBZalJqTVRrNE1HTTBPV05tWkRsak9XWTRNV1F4Tm1VMllUbGhaR1JrTVNJc0ltbGhkQ0k2TVRVeE5UY3lNalF6TkgwLlg0dGUxRmhzbGJlcW5Id3RCQ2NOMHF5Zk9vb2tvdVN2TXRlLVBUTUtr

[2018-01-12 03:49] aa3993 commented on #439
I can't even decode that second JWT using this library but I can decode that second JWT using https://jwt.io/

[2018-01-12 11:18] jondubois commented on #357
@ziluvatar Do you know if there has been any progress with that since version 8?

I was thinking that it would be nice if there was also a publicly exposed `signPreparedPayload()` function which was used internally by the `sign()` function but unlike the `sign` function, it would expect a prepared payload (with all claims already prepared) as argument.

The internal `generatePayload()` would end u

[2018-01-12 15:21] MitMaro commented on #439
That's a Base64 encoded JSON string that contains a JWT, which looks very similar to a JWT, but is not a JWT. A JWT has the format `<header>.<payload>.<signature>`.

`jwt.io` isn't really decoding the value as a JWT but is instead confusing the string as the header part of a JWT and displaying that.

[2018-01-13 04:42] aa3993 commented on #439
@MitMaro Thanks man you're a life saver

[2018-01-15 07:23] NodeJoSe commented on #403
@kedrovski solution is fine but i suggest you to use: `JSON.parse(JSON.stringify(doc))` if your doc object comes from diferent sources, for example:

You could have to pass diferent "doc" objects, one returned from mongoose and another defined by you like this:

`doc = {
    name: 'foo',
    description: 'bar'
}`

You will get a "doc.ToObject is not a function" with the doc you defined manually.

[2018-01-18 03:27] mvilrokx commented on #436
I've just discovered this exact same issue.  As per @syberkitten's comments, iat is in ms so it should be converted to seconds as well, just like Date.now().

[2018-01-19 13:28] MitMaro commented on #436
Assuming I'm understanding the issue correctly, `iat` should never be provided in milliseconds, but should be provided in seconds. The docs state:

NumericDate as per [RFC 7519](https://tools.ietf.org/html/rfc7519) is defined as:

In this case, I think this library is working correctly.

[2018-01-19 13:35] ziluvatar commented on #357
No, no progress so far :( . You are right, however, all of that will add more complexity, I didn't thought about the double call to `generatePayload()` in my previous comment. Then I guess it would be better, as you said before, to pass an option like `mutatePayload` or similar, which by default would behave like nowadays (avoiding mutation).

If you prepare the PR I'd be happy to merge it (add do

[2018-01-19 13:36] #439 closed

[2018-01-19 15:52] mvilrokx commented on #436
Yeah, that is what I ended up doing.  I'm happy for this issue to be closed.

[2018-01-19 17:28] #435 closed

[2018-01-19 17:33] ziluvatar commented on #436
Closing, @syberkitten re-open it if you still have doubts.

[2018-01-19 17:33] #436 closed

[2018-01-19 17:47] ziluvatar commented on #427
I think your case @rochdev is slightly different, 'RS256' is supported by this library, we would need to analyze better that approach.

@Teukros I meant this library https://github.com/jaredhanson/passport
There you have separation between configuration and usage (`passport.use()` vs `passport.authenticate()`)

So you could have once:
[code]
As I said. That would register those callback functions

[2018-01-19 17:51] ziluvatar commented on #414
@ankush38u I'm going to close this issue, I'm curious if you finally got this solved and how, be free to share it.

[2018-01-19 17:51] #414 closed

[2018-01-19 17:53] #432 closed

[2018-01-19 19:06] mvilrokx commented on #436
Is there any way this can be documented somewhere?

[2018-01-22 12:07] ziluvatar commented on #427
Giving more thinking into it, another option could be to re-use the `algorithm` option, so if you pass an object the libraries understand that is a custom algorithm (id + signingFn on signing, id + verifyingFn on verifying). This approach is quite similar to yours, avoiding the creation of another property, and fitting semantically with what we currently have.

[2018-01-22 14:54] markuso commented on #417
Does this no longer work in the latest version? We used to be able to enter 0  (zero) as the `expireIn` to never expire the token. Now it forces us to enter a specific length of time. Is that intentional?

[2018-01-22 19:30] ziluvatar commented on #436
It is in the README. Could we modified it anyhow to make it clearer?

[2018-01-24 11:39] Teukros commented on #427
@ziluvatar I thought about using algorithm option for introducing my own function but I wasn't sure if it's a good approach. If we expect that given option is a string, maybe we should stick with that?

I could register callback function for a new algorithm, but it would be a bigger feature and also a bigger  change of existing code. What do you think?

[2018-01-24 17:33] gonzalad commented on #289
I add this link https://community.auth0.com/questions/9121/server-api-authorization-tokens-for-non-interactiv which illustrates this feature

[2018-01-26 12:51] ziluvatar commented on #417
@markuso I tested with v7.4.3 and the use case you mention does not work either, it will add an expiration with the same second as the `iat`, so the token would be useless since it's expired at the same moment it was created.

With both v8 and v7:
[code]

[2018-01-26 12:58] ziluvatar commented on #427
We can stick with it or not, we can decide now :) Semantically it makes sense to me that you could pass "an algorithm" to the algorithm option. So you could pass an algorithm or a algorithm id in the case that algorithm is already built in the library.

[2018-01-26 13:01] #420 closed

[2018-01-27 19:28] Teukros commented on #427
Ok then - I will implement this change soon.

26.01.2018 13:58 "Eduardo Diaz" <notifications@github.com> napisał(a):

[2018-01-30 14:19] Teukros commented on #427
@ziluvatar I made such change. Now you can put to options.algorithms function directly. You just have to define proper function which will handle correct amount of arguments.

[2018-01-30 22:08] mlfarrell-convene opened #441 "Cannot sign with jwks private key using algorithm: rs256"
I'm confused as to whats happening here.

When I don't specify an algorithm, I can sign a key with private keys in json format { n, e, kid } etc.
But then the header comes out with incorrect algorithm.

I need RS256 AND to supply private keys NOT in certificate format.

[code]

[code]

Please help

[2018-01-30 22:13] mlfarrell-convene commented on #441
I see what happened, before it was just using my json string of the keys as a secret.  Which was wrong.

I'm trying to use my private key in this format (as outputted by this framework)
https://www.npmjs.com/package/rsa-compat

[2018-01-30 22:28] mlfarrell-convene commented on #441
It doesn't even work when I pass in the PEM format.  Can someone please tell me what the heck I need to do to this string to get this thing to accept my key

[2018-01-30 23:30] mlfarrell-convene commented on #441
I got it.  Stupid JSON.stringify() was ran on my PEM string, causing a set of ""'s to be added to it, which took me hours of staring at the printout before I realized that the ""'s were actually PART of the string.

[2018-01-30 23:30] #441 closed

[2018-02-01 20:11] john-mcgowan1992 commented on #234
I briefly just ran into this issue. Per the Docs, ```iat``` and ```expiresIn``` are represented using Numeric Date: ```A JSON numeric value representing the number of seconds from 1970-01-01T00:00:00Z UTC until the specified UTC date/time, ignoring leap seconds.``` whereas Javascript Date objects use milliseconds elapsed since 1970-01-01T00:00:00Z ([mdn).](https://developer.mozilla.org/en-US/docs/

[2018-02-09 13:54] sajadghawami opened #443 "Token gets bigger?"
Hey,

i am trying to create a new hash with my private key, while using data that has been hashed with that same key before. So there is some slightly new data in there and my hash from before.

[code]

But this lets my hash grow and grow larger. What am i doing wrong?

[2018-02-09 15:24] tdezso commented on #187
Hello,
I have the same problem: get the same message while the token is valid and the signature is ok as well (also using jwt.io).

I was making some development when suddenly this error showed up. The very same authentication code still works fine on the deployed application, but it drives me crazy on my development machine.

What was the problem in your case?

[2018-02-13 11:00] Gp2mv3 commented on #430
I created the PR as @joovel suggested.

[2018-02-13 17:33] armankarimi opened #445 "Error: Cannot find module 'jsonwebtoken'"
Hello all.
I'm facing this very weird problem.
When I install `jsonwebtoken` on windows, I can easily require() and use it.
But when I install it on ubuntu (using --save, not globally), I always face this error:

**Error: Cannot find module 'jsonwebtoken'**

On Ubuntu, size of jsonwebtoken folder in node_modules is 90KB and 120KB on windows.
All I need to do is to copy this folder from windows to

[2018-02-13 17:42] armankarimi commented on #445
More details:

package.json files are different on Ubuntu and Windows.

Please have a look:

[package-ubuntu.json.txt](https://github.com/auth0/node-jsonwebtoken/files/1720963/package-ubuntu.json.txt)
[package-windows.json.txt](https://github.com/auth0/node-jsonwebtoken/files/1720964/package-windows.json.txt)

[2018-02-13 18:08] MitMaro commented on #445
Can you provide the output of `npm --version` and `node --version` on Linux. It seems you may be using an old version of npm, and perhaps node.

[2018-02-13 18:10] armankarimi commented on #445
Thanks for responding so quickly. Here goes:

Linux:
node v0.10.25
npm 1.3.10

Windows:
node v6.11.5
npm 3.10.10

[2018-02-13 18:13] MitMaro commented on #445
Node version 0.10.25 and npm version 1.3.10 are very old and aren't supported anymore. This project requires at least Node 4. Take a look at [nvm](https://github.com/creationix/nvm) as a way to install a newer version of Node/npm on your Linux system.

[2018-02-13 18:14] armankarimi commented on #445
Ouch sorry.
Thanks for your help.

[2018-02-13 18:14] #445 closed

[2018-02-13 18:18] MitMaro commented on #445
No problem! Good luck. :)

[2018-02-14 10:10] #443 closed

[2018-02-14 10:11] sajadghawami commented on #443
If anyone has this issue:

The token generates a `base64`. Thus, having a `base64` on `base64` doesnt work ;)

[2018-02-14 16:33] adekoyejoakinhanmi commented on #234
@john-mcgowan1992 Does this mean that I have to explicitly state iat and exp, if I want current date in the token?

[2018-02-14 17:28] john-mcgowan1992 commented on #234
@adekoyejoakinhanmi per the docs, ```iat``` will be set in the token by default to the current time represented as seconds elapsed since Jan 1 1970, unless otherwise specified (for example, if you want to back date the token). As for ```exp``` there is no default value so it's up to you to decide how long your want your token to stay valid.

```Generated jwts will include an iat (issued at) claim

[2018-02-15 13:23] ziluvatar commented on #430
After reading, I'm still not sure if the bug that @joovel found is the same as @Gp2mv3 wanted to post. @Gp2mv3 what was your input when you received those failures? Is it the use case that @joovel mentioned?

Agree on the fix for that bug, I want to check if there is any other.

[2018-02-15 13:42] joovel commented on #430
@ziluvatar : I looked at the code, and having a payload of `"null"` was the only way I could trigger the specific if/else conditions that gave the same error that @Gp2mv3 cited.

[2018-02-19 08:52] noisyox commented on #46
@jfromaniello Hey, I have integrated JWE encryption within node-jsonwebtoken based on works of [node-webtokens](https://github.com/teifip/node-webtokens).

I have implemented modifications in sign.js which takes extra options key 'encrypt' to opt JWE automatically and verify.js is [WIP].

`jwt.sign({
	foo: 'bar'
}, cert, {
	algorithm: 'RSA-OAEP',
	encrypt: 'A256GCM'
},function (err, signedToken) {

[2018-02-19 09:00] noisyox commented on #94
@jfromaniello Hey, I have integrated JWE encryption within node-jsonwebtoken based on works of [node-webtokens](https://github.com/teifip/node-webtokens).

I have implemented modifications in sign.js which takes extra options key 'encrypt' to opt JWE automatically and verify.js is [WIP].

`jwt.sign({
	foo: 'bar'
}, cert, {
	algorithm: 'RSA-OAEP',
	encrypt: 'A256GCM'
},function (err, signedToken) {

[2018-02-23 13:38] bhargava2065 opened #448 "which js file need to import in ui"
Which js i need to include as part of loading the script.

In angular application which object i need to  import like $location, $scope

[2018-02-23 15:16] MitMaro commented on #448
I don't believe this project provides a browser ready JavaScript library.

With this, and similar Node based projects, a module bundler, such as [webpack](https://webpack.js.org/) or [browserify](http://browserify.org/) can be used to bundle the Node modules into a library that is usable in the browser.

[2018-02-23 15:20] bhargava2065 commented on #448
i have downloaded the using npm install
but it's importing the files

[2018-02-23 15:21] bhargava2065 commented on #448
i am not able to use this files
in angular i need to any import to use this

[2018-03-02 12:48] #357 closed

[2018-03-02 12:59] ziluvatar commented on #448
Although you might be able to use it in browser this library focus is NodeJS platform.

The index file already exports all the functionality in form of functions
https://github.com/auth0/node-jsonwebtoken/blob/master/index.js

[2018-03-02 13:20] ziluvatar commented on #289
I think I miss some part about this. Basically it is about having a JWT that does not expire with some claims, and the user could revoke it, so at that point the token is not longer valid.

1. Some system needs to create that token with the claims on it. It can be JWT or a random id with a record in db.
2. Some system will verify the validity (checking in db or verifying JWT signature)
  * Here th

[2018-03-02 14:15] #431 closed

[2018-03-02 16:17] abhilashabhatia opened #449 "Having problem setting expiration to tokens."
Using below:
`jwt.sign(data, secret, {
      audience: email,
      expiresIn: Math.floor(dateObj.getTime() / 1000),
      algorithm: 'HS256'
    });`

Expected expiration value to be set is : 1640172897 but expiration value that is set is: 3160179537

[2018-03-02 17:39] MitMaro commented on #449
`expiresIn` isn't used to set the expired NumericDate but is used to provide a time span from the current time (or the `iat` if provided) to set `exp`.

    Math.floor(dateObj.getTime() / 1000) + (Date.now() / 1000) ~= 3160179537

What you probably want to used is `exp` directly:

    jwt.sign(Object.assign({exp: Math.floor(dateObj.getTime() / 1000)}, data), secret, { audience: email, algorithm: '

[2018-03-02 18:34] abhilashabhatia commented on #449
Thank you! That worked.

[2018-03-02 18:34] #449 closed

[2018-03-03 05:44] LukasZvikas opened #450 "jwtToken working, however Unauthorized message never change on the backend server"
Hello, for some reason I am always getting Unauthorized on the backend server, but still can access the data. I'm using passport-jwt, passport-local strategies. Also, as soon as I log in, it always says unauthorized firstly in the network log, however after I refresh the page, the information appears, so there is clearly a delay in accessing the data. I'm not sure how this can happen with the back

[2018-03-03 06:21] OGNova opened #451 "Failed to authenticate token/Token disappearing."
I'm using jwt along with a few other packages, including mongo for user data storage, to create an API, and have encountered what I believe is a bug, although I'm not sure if it's an error on my part. I've created a token for myself about half an hour ago, with this code. https://hastebin.com/umujaterox.js

A few minutes ago when I went to test an endpoint of the API that I'd like to restrict to c

[2018-03-07 13:26] rohan-paul opened #452 "After adding jsonwebtoken in url of my post request mongoose crashes with Maximum call stack size exceeded error"
In my App (A messenger app, when I enter in the new message, in the message (string) input, and click on submit, the node server closes giving me the below error
Although the new message that I am submitting in the in the input form gets saved in the database. And when I restart the node server, it shows up.

[code]
**This issue started happening after I inserted the code for jsonwebtoken in ./mes

[2018-03-07 13:49] MitMaro commented on #452
Somewhat random guess, as I don't know much about MongoDB. I don't think this is an issue with this library but that you are using the token as part of the POST url and it's hitting some limit in
MongoDB/Mongoose.

Tokens can get rather large and it would be easy to hit a maximum input length. You might get a better response from the Mongoose issue tracker.

[2018-03-07 14:41] rohan-paul commented on #452
Thanks @MitMaro .. just created an issue with Mongoose and got solved as well - here's the [link](https://github.com/Automattic/mongoose/issues/6214) - Closing it in here..

[2018-03-07 14:41] #452 closed

[2018-03-08 12:14] Levino commented on #315
I think reimplementing this all the time is quite cumbersome, so I created this [package](https://www.npmjs.com/package/mock-jwks). I would appreciate feedback / issues / some testing.

[2018-03-10 17:54] kevmo314 opened #453 "Unusable with TypeScript due to base64url typings conflict"
`jsonwebtoken` depends on `jws`, which depends on `base64url`. Unfortunately, `base64url` is essentially unusable in TypeScript due to [this issue](https://github.com/brianloveswords/base64url/issues/20) for which there are numerous pull requests to fix, but it seems that the package is effectively abandoned.

[code]

Is there another JSON Web Signature package that could be used instead?

[2018-03-11 11:56] joshunger opened #454 "Update README.md example since `var token` is already defined"
I copy and pasted the example

[code]

And noticed an error since `var token` is already defined.  Do you want me to send you a PR to update the example code?  Can we use `const`?

[2018-03-30 04:27] mouryaamit opened #455 "Returns Invalid Token or null"
Hi folks, when i am trying to decode or verify, it return null or invalid token. Same encoded value with key i am able to verify using https://jwt.io/ Debugger

    var jwt= require("jsonwebtoken");

    var token = "eyJhbGciOiJIUzI1NiJ9.eyJpc0VuY3J5cHRlZCI6dHJ1ZSwicmVtZW1iZXJEZXZpY2UiOmZhbHNlLCJzZWN1cml0eVF1ZXN0aW9uIjpbeyJxdWVzdGlvbklkIjoiMjUiLCJxdWVzdGlvbiI6IldoYXQgc3RyZWV0IGRpZCB5b3VyIGJlc3QgZn

[2018-03-30 11:37] MitMaro commented on #455
I tried the token on jwt.io and it shows an invalid signature. With jwt.io make sure you enter the `key` first then provide the `token`. jwt.io regenerates the token when you change/enter a new secret, you can see the signature section of the token changes as the key changes.

This would be the correct token for that payload/key pair:

```eyJhbGciOiJIUzI1NiJ9.eyJpc0VuY3J5cHRlZCI6dHJ1ZSwicmVtZW1iZX

[2018-03-30 11:53] MitMaro commented on #455
Just noticed this. Besides for the invalid signature, whatever you are using to generate your tokens are doing it incorrectly. You token appears to be base64 encoded, and not base64url encoded. You can tell by the fact that your token contains `/` where they should be `_`.

[2018-03-30 12:41] peterver commented on #400
Can confirm that this works. If you are not reading from a file but are using a string, make sure the string is

1) encoded as utf-8
2) as @ziluvatar mentioned (public for verify, private for signing)
3) (optional) pass the string into a buffer through `new Buffer(mysecret)`

In our case we have the following setup :

-> Public key is passed into environment in a base64 encoded way.
-> Decoded usi

[2018-03-31 02:25] #455 closed

[2018-03-31 15:29] ottoo opened #456 "Flaw in parsing expiresIn attribute value from string (?)"
I am passing the `expiresIn` value from an environment variable as a string in seconds (for example 86400s = 1 day), as the documentation suggests it should work. However, the `timespan.js` implementation expects the `expiresIn` attribute to be in milliseconds and my token expiry ends up being 86400 ms = 1.44 minutes). So if I pass an expiry as a number string, it should be in milliseconds, if i p

[2018-04-02 00:09] Pixelatex opened #457 "exp refuses to work in a jwt token."
[code]
It keeps being set to a date in 1969... what am I doing wrong, displayName is a string. :)

Can you help me?

[2018-04-02 01:20] MitMaro commented on #457
Why do you think the date is being set to 1969? The token appears to be generated correctly, so my guess it's something on the reading/decoding side.

## Test

[code]
Which results in:

[code]

[2018-04-02 06:26] Pixelatex commented on #457
if I look at console inspector -> application -> cookies, it shows the date as 1969

[2018-04-02 11:45] MitMaro commented on #457
Oh, that's the cookie expires date. That's not related to JWTs or this library.

Assuming you are using express you might want to take a look at the [`Express res.cookie`](https://expressjs.com/en/api.html#res.cookie) function on how to set the max-age/expires.

[2018-04-02 23:14] Pixelatex commented on #457
ooh, so the expires is only the internal jwt expires? not the actual cookie expiration date?

[2018-04-03 02:36] MitMaro commented on #457
Yup! Those are two different expires. JWTs are not always sent as cookies, often they are sent as an `Authorization` header.

[2018-04-05 09:10] ziluvatar commented on #450
@LukasZvikas not sure if you already found the problem. I can't see this library used anywhere there.

Better to ask in the repos for those libraries. I'll close the issue, if you have any doubt about this library be free to re-open it.

[2018-04-05 09:10] #450 closed

[2018-04-05 09:26] ziluvatar commented on #454
Good catch. Yes, be free to open a PR with the change, you can choose, to fix the problem or to fix + use const.

[2018-04-05 11:04] ziluvatar commented on #43
This [PR](https://github.com/auth0/node-jsonwebtoken/pull/413) could open the door for this, since you would have an async way to load the secret/key based on headers (kid) & payload (issuer).

[2018-04-05 11:10] ziluvatar commented on #456
True, I guess we should include a warning in README for this, we currently mention:

[2018-04-05 11:14] ziluvatar commented on #457
Doubt solved, closing.

[2018-04-05 11:14] #457 closed

[2018-04-05 11:31] Pixelatex commented on #457
Might it not be a good idea to add this to the documentation? So it doesn't confuse people who aren't that familiar with jwt tokens?

[2018-04-05 12:02] ziluvatar commented on #457
I don't think so, they are unrelated concepts, with this library you get a string (token), that's it, you need to manually put the token in a cookie, so, effectively you are adding a string to a cookie, you could set any string in a cookie.

Maybe adding it would create more confusion, since it would seem both concepts JWT and cookie are related in this library. However, if we see more confusion /

[2018-04-05 14:36] OGNova commented on #451
Apologies for the delayed response.  I was unable to find the issue that's causing this. As for isolating the calls to the library, what do you mean by that? And as for printing the error, there's no real error, just a JSON response telling me that my token isn't valid.

[2018-04-06 22:36] addons-expert commented on #451
I ran into the same problem and found the reason.
When you use the numeric value in "expiresIn", it is considered as milliseconds, rather than seconds.
So in your case:
[code]
"expiresIn" is not 1d, but 86400ms / 1000 = 86.4s

[2018-04-06 22:47] OGNova commented on #451
Oh, well that stinks. Thanks for letting me know though!

[2018-04-06 22:47] #451 closed

[2018-04-07 08:30] Extarys opened #458 "Key rotation implementation"
I looked but it seems that this feature is missing or I didn't find it in any documentation.

I was starting to use HS512 but then realized it would be better for a multi-server setup to use RSA. My issue is that if I want to change the key every x months, all old JWT will not be valid anymore. Is there a way to put them in an array or something and JWT would always use the last one to encrypt and

[2018-04-09 01:16] joetidee opened #459 "Ability to access the userId in controllers"
I am currently using `jsonwebtoken` in express middleware like so:
[code]

Is there a way to automatically provide the `userObj` to my route controllers?

[2018-04-18 10:53] moda20 opened #460 "endless waiting for jwt.sign({..})"
Hey i am using jwt in nodeJS in my user creation logic and was stuck with `jwt.sign()` method never finishing or displaying any error .
This is the function i am using  ( note the comments )
[code]
The `creatingTokens` function promise never resolves.
help !

[2018-04-18 12:08] MitMaro commented on #460
Before responding to your problem directly, I want to point out that the payload of a JWT isn't secure. Any data stored in the JWT can be trivially read, so I would strongly recommend against storing a password in the JWT.

As per your problem, you are passing two options to `sign` function. I think you mean to combine the `expiresIn` and `algorithm` options, like so:

[code]

[2018-04-18 12:18] moda20 commented on #460
@MitMaro Thanks for the advice.
I'll see that i use an other payload.
I will try the combination, i think it is my problem.
but why didn't `jwt` create any error when calling it with 2 options.

[2018-04-18 12:30] MitMaro commented on #460
If the provided callback isn't a function it defaults to using the synchronous version of sign. There's an argument to be made that there could be stronger validation on the sign arguments, but that would be a decision for the package author.

Glad to hear that fixed your problem. :)

[2018-04-20 12:01] PeppeL-G commented on #246
Another point of view:

At the moment, this package might not take advantage of the benefits with asynchronous operations, but if it will start to do that in the future, then all of us who are using the asynchronous functions from the API now can benefit from those changes without making any changes to our own code.

But if that will/can never happen, then it's better to just use the synchronous f

[2018-04-20 12:03] graingert commented on #246
Callers can just use Promise.resolve if they don't know if an API will become asynchronous

[2018-04-20 19:01] andrewfinnell commented on #459
Forgive me if I am not understanding your question.

If you utilize the Passport version of jsonwebtoken the token, along with the claims are set on req.jwt which is accessible through any route controller. If you want to do it in your custom code you can just add the `jwt` or `user` property to the request object yourself.

[code]

[2018-04-20 20:41] DazWilkin opened #463 "How to specify e.g. audience, expiresIn in options"
If I'm reading the README correctly, I should be able to:

[code]
But this generates errors.
[code]

Instead I must:
[code]

And I don't know why... I think the code support this

[2018-04-23 12:48] MitMaro commented on #463
When you pass a string of buffer to `sign` it does not set items like `audience` and `expiresIn`, since the payload is already considered a JSON string.

The following will work:
[code]
The documentation in this regard could be greatly improved, as it only mentions that `exp` will not be set:

[2018-04-26 10:19] #460 closed, assigned to nobody

[2018-04-26 10:27] #454 closed

[2018-04-26 10:28] ziluvatar commented on #454
Thanks @joshunger , merged!

[2018-05-11 17:30] martinhbramwell opened #464 "Error: Failed to match tag: "0" at: ["tbsCertificate"]["version"]"
I have two identical copies of code to first sign and then immediately verify a jwt.

The routine run in NodeJs 8 works **without error**.

The routine run in the browser in a VueJs app **fails** to verify, emitting:

``` Error: Failed to match tag: "0" at: ["tbsCertificate"]["version"]```

I created the key pair using :

[code]

Is there an obvious explanation for this or do I need to dig deeper?

[2018-05-16 10:36] p-brighenti opened #465 "Security vulnerability caused by jws@3.1.4"
In our project, Snyk reported `jws@3.1.4` as a dependency with a known security vulnerability, because it depends on `jwa@1.1.5`.

The latest version of `jws` (3.1.5), no longer depends on the vulnerable dependency of `base64url@2.0.0`.

More info about the high severity vulnerability in `jws@3.1.4` can be found at https://snyk.io/vuln/npm:base64url:20180511

[2018-05-21 17:02] ziluvatar commented on #464
I don't have any clue about it. Maybe you can provide the code.

Was the library correctly loaded in VueJS? I'm aware other people have had some issues when using the library outside NodeJS.

What if you use HS256 just to see if the signing/verification works fine in that case? So we can start reducing the possible scope.

[2018-05-22 10:00] WindIvI opened #471 "build error while using jsonwebtokens in Angular6"
ERROR in ./node_modules/jwa/index.js
Module not found: Error: Can't resolve 'crypto' in 'E:\My Code\mycode\pwa\node_modules\jwa'
ERROR in ./node_modules/jws/lib/verify-stream.js
Module not found: Error: Can't resolve 'stream' in 'E:\My Code\mycode\pwa\node_modules\jws\lib'
ERROR in ./node_modules/jws/lib/data-stream.js
Module not found: Error: Can't resolve 'stream' in 'E:\My Code\mycode\pwa\node_

[2018-05-22 12:18] ziluvatar commented on #465
@kyrylkov the upgrade is already in this PR: https://github.com/auth0/node-jsonwebtoken/pull/466

Keep in mind our [package.json](https://github.com/auth0/node-jsonwebtoken/blob/master/package.json#L22) definition allows JWS patch upgrades, you should be able to get the new JWS release right away.

I want to take a look to the fix from JWS first, I took a fast look yesterday and I'm not sure if th

[2018-05-22 13:25] kyrylkov commented on #465
You are correct.  Somehow a few days ago (after `jws` 3.1.5 was released), full re-installation of `jsonwebtoken` still pulled 3.1.4, but not anymore.  Probably `package-lock.json` was not deleted.

[2018-05-22 16:31] ziluvatar commented on #471
Those packages are native in NodeJS. The platform to run this library is NodeJS.

I have seen others running it on browsers, however, I don't know how they made it (webpack? browserify?).

[2018-05-22 16:34] ziluvatar commented on #459
@joetidee I'm closing the issue, if you still have the issue just re-open it and provide more information.

[2018-05-22 16:34] #459 closed

[2018-05-22 16:37] #463 closed

[2018-05-22 17:13] MitMaro commented on #471
From my understanding Angular generally uses webpack, so this should work. I believe both webpack and browserify use https://github.com/crypto-browserify/crypto-browserify to shim crypto in browser contexts. This should be automatic and not require any further configuration.

@WindIvI it may be worth asking for help on Stackoverflow or the Angular repository, as the issue you are having seems to b

[2018-05-22 17:27] #456 closed

[2018-05-22 18:00] OGNova commented on #451
@ziluvatar It does happen when it's a number, as can be seen with my original code, and the snippet that they provided.

[2018-05-22 18:04] ziluvatar commented on #451
When I use a number, it adds 1000 seconds as expected.
[code]

When I use a string it adds 1 second (1000 milliseconds) which is the confusing part.
[code]

Is it different for you? (I can not see your original code anymore :( )

[2018-05-22 18:10] OGNova commented on #451
It was different for me, instead of it being measured in seconds, it was being measured in milliseconds. I don't have the original code myself anymore, as I've since pushed a couple commits to the repo.

[2018-05-22 18:13] ziluvatar commented on #451
I see, ok, well, let's clarify the one about string usage in the readme for now, if we found out the other scenario we can tackle it at that moment.

Thanks @OGNova 👍

[2018-05-24 09:11] daviskoh commented on #43
are there any updates on this? this issue has been open for 4 yrs now 😅

[2018-05-24 12:59] DamsBr opened #474 "TypeError: crypto.createVerify is not a function"

[2018-05-24 13:15] MitMaro commented on #474
Could you provide more details on the error? Perhaps a stack trace, and some environment information.

[2018-05-24 13:38] DamsBr commented on #474
I used jwt.verify(token, 'secret')
![image](https://user-images.githubusercontent.com/10253176/40489046-7ee9de48-5f68-11e8-88f3-b3543fe775d9.png)

[2018-05-25 22:14] vokeio opened #475 "Remove Dependencies"
Are there any objections towards removing some of the package dependence? Particularly the Lodash ones, they are easy to write. I don't mind contributing to do this myself I just wanted to verify that this would be acceptable.

[2018-05-26 15:57] martinhbramwell commented on #464
I'm sorry I no longer have the code, and don't remember enough about what I was trying to do.

[2018-05-28 08:59] TechyTimo commented on #141
Just so you know, This cracked my head over several days. Maybe make it more prominent in the documentation

[2018-05-28 10:03] markuszm commented on #471
Had the same issue after migrating to Angular 6 but auth0 also provides a package for angular
https://github.com/auth0/angular2-jwt
You could try this but it only provides a JWT Decoder from what I see

[2018-05-28 15:11] jacopofar commented on #141
@MarkHerhold because the machine was not under my control :)

[2018-05-29 10:00] ziluvatar commented on #464
I'll close the issue then

[2018-05-29 10:00] #464 closed

[2018-05-29 17:25] StriderHND opened #476 "Adding Private Claims"
I've read the readme and I can't find where is described how to add private claims in the jwt.sign() method.

I need to add like 3 Private Claims to the signing of my Token

Any help will appreciated

Thanks

[2018-05-29 19:30] MitMaro commented on #476
You can just add additional claims to the payload:

[code]

[2018-05-30 11:20] JacoKoster commented on #406
@ziluvatar @Richie765 I have this question in the PR as well, but what needs to be done to move this along? It has been open for quite some time, i have added the relevant tests and was hoping this could be part of a new major release. I'd be happy to do contribute, but i'd prefer not to be waiting for weeks on a response.

[2018-05-30 15:18] ziluvatar commented on #465
v8.2.2 released with this fixed. Thank you all!

[2018-05-30 20:40] StriderHND commented on #476
Thanks worked great, we should add this in the docs

[2018-05-30 20:40] #476 closed

[2018-05-31 17:57] ziluvatar commented on #406
Good to hear that. I answered in the PR:

[2018-06-01 08:19] ThomasR opened #478 "Timestamps should allow fractional values"
Acoording to [RFC 7519](https://tools.ietf.org/html/rfc7519), all timestamps should take the `NumericDate` format, which represents

that is `Date.now() / 1000`, but it explicilty states that

Currently, `jsonwebtoken` uses `Math.floor` on all timestamps, which means that rounding errors of up to 1 second may occur.

It would be nice to have fractional values available.

---

<sub>Motivation: My a

[2018-06-01 12:38] MitMaro commented on #478
Some context on that addition to the specification. It was added in [Draft 26](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-26), and that particular section was discussed here: https://mailarchive.ietf.org/arch/msg/oauth/q3cIjOx2jLFxA3g93NpyHYAePH8

[2018-06-01 23:25] thiagof opened #479 "nbf + clockTolerance cause issues"
https://github.com/auth0/node-jsonwebtoken/blob/73c4a5ac45d557ef0dc1c43fcae6b7fc9bc3f19e/verify.js#L116

The `clockTolerance` may be wrong when used together with `nbf`.
When the token has just been issued if added with `clockTolerance` it'll always fail I guess.

I'm pretty sure it should extend `exp` (expiration) time and shorten `nbf` (not before) time.

I can submit a PR if someone agrees.

[2018-06-03 14:36] JacoKoster commented on #406
@ziluvatar I have opened a new PR for this, which has the functionality from the original PR, but without the breaking changes. I am eager to see if this is ok.

[2018-06-03 20:37] thiagof commented on #479
Please consider this timeline as the normal condition valid jwt

	----------------------------------------------------
	nbf 	 	      valid usage			 exp

What the `clockTolerance` does it to increase the valid usage lifetime.
I'm my understanding it would be more assertive to increase to both ends of this timeframe.

What the system currently does is dislocate the valid usage.

		------------------

[2018-06-04 10:34] pranjalkumar opened #482 "Facebook Login via JWT"
I have been trying to implement social logins like Facebook, Google, Linkedin via JSON web token but am unable to do so. In most of the example on the web, people use the passport library for social logins but that require session storage (which I want to avoid). So, is there an inbuilt functionality for social logins in JWT.

[2018-06-04 12:53] MitMaro commented on #479
I think there must be some confusion, as it already does exactly what you are looking for, at least from understanding.

Assuming the payload, `{"exp": 1100, "nbf": 1000}` with the current time being `1000`, and a clock tolerance of `10` .

The `nbf` is verified using:

[code]

would result in:

[code]
This would be false, the error will not be returned, and the token would be valid.

I think ther

[2018-06-04 17:39] ozomer commented on #115
Check out my fork: [jsonwebtoken-ed25519](https://www.npmjs.com/package/jsonwebtoken-ed25519)

[2018-06-07 08:07] Ctaque opened #483 "typescript verify unable to get data from decoded"
Here is how I use the method:

[code]

and I have a linter error : "Property user does not exists on type "obejct|string"

[2018-06-07 08:18] #483 closed

[2018-06-07 11:37] danikane commented on #417
As @odarbelaeze says - don't pass expiresIn to the jwt options and you'll have a token with no expiration.

[2018-06-07 13:57] markuso commented on #417
I was passing an `undefined` value into the `expiresIn` property and it was failing. So I assumed it was forcing us to enter a value like `0` or greater. I now make sure that I don't declare the property at all instead of allowing an `undefined` value to be set. I feel that it should take care of the `undefined` value internally, in my opinion, to behave like it was unset. Cheers!

[2018-06-08 11:04] JacoKoster opened #484 "Make it easier to support openid with JWK"
Came as a item from PR #480

[2018-06-08 12:52] rajavijayavendan opened #485 "Invalidate the token before expiry"
Hi,
My application has two panels(admin and client). In Client panel, after every user login I am issuing a fresh token to the user from the server.
In admin panel, I have the provision to deactivate any client user.
If I am deactivating any client user, and if that client user has any active sessions, all the sessions should be terminated at their subsequent API calls to server.
This requires rev

[2018-06-08 14:29] JacoKoster opened #486 "Build pipeline"
I have already
- added a basic .editorconfig in #480
- made a PR to upgrade to the latest Node-versions in #470
- made a PR for adding code-coverage with Istanbul in #468

I'd like to add two more things to make working on this repository a little bit easier
- change the jshint-config to a eslint-config
- change travis configuration to the following buildsteps (and change the package.json accordin

[2018-06-10 11:08] mfaheemakhtar commented on #485
It is not possible to invalidate the JWT token before expiry.

One option is to create a blacklist of the JWT tokens until they expire, but you will have to check for blacklisted token every time you validate the user.

You can use a memory store to save DB calls.

Hope this help.
If not, go to Stackoverflow.

[2018-06-11 12:38] arnasledev opened #487 "JWT check if cookies was set"
Is it even possible to check if JWT cookie was set after signing?

`const token = jwt.sign(user, '4waNdqInzkWHwTs4BXXp9ZAsolK0EV75', {expiresIn: 86400 * 30});`

and after this I can use token and see its value, I can even decode it. But I can't see any new cookie that would be created on my browser. So on I can't use `JWTStrategy` to check if user is authorized or not. So if the cookie was not set

[2018-06-11 15:51] ziluvatar commented on #406
Fixed by: https://github.com/auth0/node-jsonwebtoken/pull/480

[2018-06-11 15:51] #406 closed

[2018-06-11 16:02] ziluvatar commented on #246
Since v8.3.0 `verify` can behave async when fetching the key for the verification, the callback parameter is needed to allow the async behavior for the current API.

See: https://github.com/auth0/node-jsonwebtoken/pull/480

[2018-06-11 16:02] #246 closed

[2018-06-12 07:07] rajavijayavendan commented on #485
Thanks @mfaheemakhtar

[2018-06-12 08:47] ddcech commented on #166
I was getting this error, and it had nothing to do with the options I was passing or anything to do with the `expiresIn` option. Like what @alikarimii was saying, the payload you are signing needs to be an Object.
WRONG: `jwt.sign(user.id, secret, { expiresIn: 60 * 60, algorithm: 'HS256'})`
GOOD: `jwt.sign({ uid: user.id }, secret, { expiresIn: 60 * 60, algorithm: 'HS256'})`

[2018-06-12 09:29] safm opened #488 "expiresIn is always 01/18/1970"
This is how I am generating a JWT token

[code]
I send this token with every response. In the browser I am using the following code to decode the token.

[code]
The exp is always set to 01/18/1970.

[2018-06-12 12:40] MitMaro commented on #488
The expiry date is a `NumericDate`, which is the number of seconds since Epoch. Since `Date` takes milliseconds you need to multiply this by `1000`.

So `console.log(new Date(exp * 1000))` should show the correct date.

#### NumericDate

[2018-06-12 14:35] JacoKoster commented on #487
Hello @arnasledev, i have replied to your StackOverflow question. This library only creates / verifies or decodes the JWT and it is up to your application to do something with it. Your application should be creating the cookie or supplying the token as a header, this is not something this library helps with.

[2018-06-12 19:57] alee046 opened #489 "undefined is not a function"
I am getting a strange error, the below implementation works locally but it is throwing an error of undefined is not a function after it is being deployed on jenkins/aws.

`
var accessToken = jwt.sign({user: credentials.name}, config.sessionSecretKey,{
                        expiresIn: 60 * 60
                    });
`

`
TypeError: undefined is not a function
    at Object.module.exports [as sig

[2018-06-13 03:00] safm commented on #488
Missed that completely. Thanks a lot.

[2018-06-13 03:00] #488 closed

[2018-06-13 21:08] alee046 commented on #489
@JacoKoster Thank you for the response. We are using Node version 6.9 on our servers and it does run an npm install on jenkins.

Was able to troubleshoot the issue but its sort of weird... I initially updated to the latest version (8.3) when I started getting that error. What we ended up doing was we copied a jsonwebtoken module from another project that was working properly. This module had a dep

[2018-06-14 19:43] MitMaro opened #492 "Proposal: Test Cleanup"
The `test/` directory is rather difficult to follow at the moment. When adding new tests it is not always clear where the test should be added. I had some difficulties when working on #437.

I'm willing to progressively fix up the `test/` directory in a series of PRs, but since it would be a fair bit of effort, I do not want to start the process if there is not much of a chance that the PRs would

[2018-06-15 00:53] lachesis commented on #400
I am also experiencing this issue against 8.3.0. Minimal repro case:
[code]

Error:
[code]

Keys were generated like this:
[code]

This can be worked around by:
[code]

[2018-06-16 10:47] ziluvatar commented on #492
I just merged the other PR (coverage report). Yes, indeed, the test folder is a mess, we have been added tests without thinking in real structure.

I'd like to hear your proposal before you make the effort on the individual PRs. Do you have in mind the structure you'd like to get at the end or similar thoughts?

[2018-06-16 15:08] ziluvatar commented on #486
Ok with that. Do you mean to keep both or to remove the jshint?

Ok. Do you mean to modify the current `test` script in package.json and remove from there test + coverage + nsp + cost-of-modules and create build steps for them in travis?

About the order, probably it is better to set the lint as first step because it is faster to get a failure and avoid waiting for tests to pass to then get an err

[2018-06-16 15:08] #485 closed

[2018-06-16 15:27] ziluvatar commented on #482
I'm not quite follow where JWT plays in that scenario. The session storage is needed basically to match the state you send and receive to/from the social provider to prevent CSRF attacks ([Oauth2 spec](https://tools.ietf.org/html/rfc6749#section-10.12))

If what you want is to avoid to store the session in db you can take a look to: https://www.npmjs.com/package/client-sessions (store session info

[2018-06-16 15:52] ziluvatar commented on #479
Let me write the cases I can think of:

A) Clock timestamp => Frontend: 995 and API: 1000. Clock Tolerance: 10
Check: `nbf=995 > clockTimestamp=1000 + clockTolerance=10` => false, all good
Since the verifier is "in the future" from the signer point of view there will be never a fail here.

B) Clock timestamp => Frontend: 1000 and API: 995. Clock Tolerance: 10
Check: `nbf=1000 > clockTimestamp=995

[2018-06-16 15:59] ziluvatar commented on #478
In case it helps we use [`sinon.useFakeTimers`](https://github.com/auth0/node-jsonwebtoken/blob/969813f1df3aa597545dca45af03c29a956fd1e5/test/verify.tests.js#L167) so you can control the time 😎

[2018-06-16 16:01] ziluvatar commented on #475
Hi! What is the motivation for that? Even if it is easy to write it means: more code not related to the business of this library to maintain + add possible errors in code.

[2018-06-16 16:01] #474 closed

[2018-06-16 16:02] #471 closed

[2018-06-16 16:04] ziluvatar commented on #453
We had to upgrade `jws` which removed that dependency. This should not be an issue anymore.

[2018-06-16 16:04] #453 closed

[2018-06-16 16:09] ziluvatar commented on #492
Sorry, never mind. I didn't realize the PR you created. I'll comment there.

[2018-06-16 18:48] MitMaro commented on #492
After looking through the tests again this is what I came up with. I'm sure there are probably a few use cases that would not be captured, but they could be added later. I would add a PR for each test file created, moving any existing tests into that file as I go.

## Claim tests

 A set of tests that are related to the claims. This would include an options for sign/verify/decode that would add a

[2018-06-18 15:43] tlycken opened #494 "I don't understand why my token signature is deemed invalid"
I'm trying to get refresh token flow working in my application, but I've run into a problem where the token I get back from Azure AD does not validate. There's a more complete write-up [on StackOverflow](https://stackoverflow.com/questions/50908513/refreshed-oauth2-token-has-invalid-signature-azure-ad-oauth2) and [a gist with a runnable code sample](https://gist.github.com/tlycken/fdaf47dc31e03de4

[2018-06-19 14:02] JacoKoster commented on #486
I fully endorse #490 as a way to solve this, i will add another PR to make sure the build breaks when doing tests.

That would change the order (indeed) to lint - test (with blocking coverage-check) - nsp

[2018-06-19 14:06] dlarr commented on #471
Hello, I have same issue, How to fix it ? (asking this since you close the issue)

[2018-06-20 13:48] ziluvatar commented on #492
It sounds really good!

[2018-06-20 14:04] ziluvatar commented on #471
I closed it because it is out of the scope of the library. I'd say to try the different options that other users have recommended. As always, if anyone from the community solved it be free to answer with a solution so others with that problem can read it.

[2018-06-20 14:05] dlarr commented on #471
Thanks for answer, as @markuszm said, I tried https://github.com/auth0/angular2-jwt and it worked well enought :)

[2018-06-20 15:44] thatham commented on #471
I've found a workaround, the error is from the @angular-devkit which is in node_modules.

I've modified the below file
node_modules//src/angular-cli-files/models/webpack-configs/browser.js

at the bottom of the page:
node: false

Change to:
node: { crypto: true, stream: true, buffer: true }

this might be a dirty fix, but really solved the problem.

[2018-06-20 18:38] AlexanderElias commented on #475
I find value in packages which strive to be dependencies less. I especially think when the package is utilized for security or authorization/authentication it is most valuable. To an extent and with exception I think the Application/Program (the end goal) is the only one that should have dependencies. At least that is how I think or try to write my code. I like to look at my node_modules folder an

[2018-06-25 15:28] eyesmunt opened #498 "Compatibility with Angular6"
Currently the crypto library is not included in the webpack.config file of Angular 6, and the webpack.config file it's not exposed to end-users of Angular 6. This prevents me from being able to use the jsonwebtoken package in an Angular 6 application.

[2018-06-25 18:15] ziluvatar commented on #475
Agree.

I think this is the tradeoff you need to make when you choose a library, you need to be sure that the library is well maintained with a good community behind it. In this case lodash is well known library, I'm not saying there will be no errors, but I'm sure they will be found faster since it is their business logic (validations in this case).

In any case, @MitMaro is working improving the

[2018-06-25 18:39] ziluvatar commented on #498
Can you check if this helps you? https://github.com/auth0/node-jsonwebtoken/issues/471

[2018-06-26 09:09] JacoKoster commented on #486
I am considering this one finished, thanks @MitMaro and @ziluvatar :-)

[2018-06-26 09:09] #486 closed

[2018-06-26 09:13] JacoKoster commented on #43
I have been working to make JWK a thing and with the introduction of #480 this should be a breeze. Especially if you combine it with either https://www.npmjs.com/package/jwks-rsa or https://www.npmjs.com/package/jwks-client :-)

@ziluvatar : I think this can be closed :-)

[2018-06-26 14:54] eyesmunt commented on #498
I did read that but that's not really an option for the project I'm working on. Everything needs to be pretty legit in this application.

[2018-06-26 16:42] MitMaro opened #499 "Passing empty string to "notBefore" option gives non-standard error"
This was an issue found during the work I did for #497.

## What

When passing an empty string to "notBefore". it throws a `val is not a non-empty string or a valid number. val=""` from the `ms` library. I would expect this to throw `'"notBefore" should be a number of seconds or string representing a timespan'` which is the same error as other invalid inputs.

## Test Case

[code]
## Expected Outp

[2018-06-26 16:49] MitMaro opened #500 "`-Infinity`, `Infinity` and `NaN` do not fail "nbf" claim validation"
This was an issue found during the work I did for #497.

## What
Passing `-Infinity`, `Infinity` and `NaN` for `nbf` in the payload is not caught by the claim validation. Since these values all `JSON.stringify` to `null`, they should be treated similar to passing `null` to `nbf`.

## Test Case

[code]

## Expected Output

Error with message `"nbf" should be a number of seconds` for each `sign` cal

[2018-06-27 14:59] ziluvatar commented on #43
As @JacoKoster said this can be implemented using v8.3.0+ passing a function as `secretOrPublicKey` parameter (see README for more info)

[2018-06-27 14:59] #43 closed

[2018-06-28 10:32] charlesr1971 commented on #111
Does this library handle JWE? And, if not, are there any future plans to do so? This will allow encrypted payloads to be handled seamlessly...

[2018-06-29 16:57] paulocoghi commented on #475
Would you consider it helpful to use [Rollup](https://github.com/rollup/rollup) to bundle the code? If this is interesting for you, I can make a PR with an example.

This doesn't solve the point of @AlexanderElias , but we possibly have some advantages when bundling everything into a unique library file with only the parts used from each dependency (Rollup does this automatically).

Some interesti

[2018-06-29 22:15] TheGitPanda commented on #395
Another quick solution
https://github.com/nuxt-community/auth-module/issues/211#issuecomment-401486864

[2018-06-30 18:56] JacoKoster commented on #494
@tlycken I see that the StackOverflow-question has been resolved. Is that correct?

[2018-07-01 15:57] tlycken commented on #494
@JacoKoster Yes, it has - thanks. It seems I was using the 2.0 endpoint to get the keys, but the 1.0 endpoint to get the tokens. I was able to resolve my immediate issue (getting a new access token that validates) by ensuring to use the 1.0 endpoint for keys as well.

However, I still don't understand why I got the results I did. If the metadata url I used was for the wrong version, why did it wor

[2018-07-02 11:51] mp3killa commented on #498
This module does appear to require an update to be compatible with Angular 6. I've had to rollback to Angular 5 for this to still work. Please won't you look into it and resolve?

[2018-07-02 14:20] MitMaro commented on #498
In the past providing compatibility with angular has been outside the scope of this project.

The issue with the usage of the `crypto` module not being provided is an issue with Angular 6 not providing a mechanism to enable the [node crypto polyfill](https://webpack.js.org/configuration/node/) in their webpack configuration. See https://github.com/angular/angular-cli/issues/1548 for more details a

[2018-07-02 15:14] JacoKoster commented on #498
I still maintain that this is the `node`-jsonwebtoken project, including the work for frontend would introduce too much complexity in this package.

[2018-07-02 18:06] mp3killa commented on #498
Thanks for the responses, it is appreciated. Also the link to the 1548 issue is helpful.  I know it's "in the name" node-jwt... however your fantastic module is the only useful option for signing & generating a usable JWT and not just to decode & verify. I'd be super grateful if you were able to somehow get it to work in the future :)

[2018-07-03 14:13] ziluvatar commented on #475
@paulocoghi thanks for sharing, I didn't know about it. I'll take a look, although, I don't think we would need to add that complexity since I see that more useful for browser ecosystem than nodeJS one.

[2018-07-04 04:50] rgolea opened #502 "JWT is not stateless"
Hi there!

Sorry for the inconvenience. Can you tell me why does this test not work?
[code]

[2018-07-04 04:54] #502 closed

[2018-07-04 04:54] rgolea commented on #502
Just figured out the problem I had. It's not because of this. Thank you!

[2018-07-05 20:32] thiagof commented on #479
I agree with @MitMaro as after reviewing the code again I could figure the logic was fine.

Still I could only get rid of the issues with tokens failing on another server (right after its creation)  **disabling the nbf** completelly

[code]

[2018-07-06 00:16] xogeny commented on #68
I had this issue with the error message `[Error: PEM_read_bio_PUBKEY failed]` and it turned out to be a simple issue of having inlined the string for the key and prepending it with a `\n`.  Just making sure the very first character was a `-` solved the issue for me.

[2018-07-11 11:47] 12345anurag commented on #298
I have a same problem ,when  I  requested two tokens at the same time, the first token remains active

[2018-07-11 12:08] IbraheemAlSaady commented on #298
@12345anurag I ended up expiring it manually using Redis. Which is an okay solution for this problem.

[2018-07-11 13:22] 12345anurag commented on #298
Ohk

[2018-07-11 16:49] fenichelar commented on #404
https://github.com/brianloveswords/node-jws/pull/83

[2018-07-12 13:09] MitMaro commented on #492
@ziluvatar

Certain options operate on several claims (ex. `clockTimestamp`). In those cases I have been placing a test for that option with the claim test (ex. `'should verify "nbf" using "clockTimestamp"'`) in `nbf.test.js`.

When it comes to validating these options I was going to create another test file for just that option (ex. `clockTimestamp.test.js`). This does mean that when adding a new

[2018-07-20 16:19] ziluvatar commented on #492
I like this pattern ^
If an option will modify how a claim is handled I think that is under the responsibility of that feature / claim support.
One thing you can do is to prepare a group of utility functions for testing regarding that option that can be reused in every claim.

Even if I like more that option, it is not like I hate the other one it is a matter of decide what we think it is the best

[2018-07-20 16:36] #478 closed

[2018-07-20 16:36] ziluvatar commented on #482
Closing, be free to open it if needed.

[2018-07-20 16:36] #482 closed

[2018-07-20 16:37] #489 closed

[2018-07-20 16:38] #487 closed

[2018-07-21 04:06] carlossigpharma opened #506 "Timezone"
How can I set the Timezone ?

[code]

[2018-07-21 10:47] sadi304 commented on #403
wont there be a performance issue using json stringity with json parse ? but yeah toJSON() or toObject() both comes as undefined on the object

[2018-07-22 00:47] MitMaro commented on #506
Both `iat` and `exp` are numbers of seconds since UNIX Epoch time and do not directly have any bearing on the time zone.

#### Example
[code]

In this case, there must be something outside this library that is converting the `exp` and `iat` values from those numeric values to a JavaScript date. My guess is that the output is using [Date.prototype.toISOString()](https://developer.mozilla.org/en-US/

[2018-07-31 07:59] alnvny opened #508 "Auth token should get invalidated if the node server is restarted."

[2018-07-31 12:27] MitMaro commented on #508
Generally, it's not possible with JWTs directly as once they are issued they cannot be revoked or invalidated.

In your particular case, you could securely generate a signing secret on server start. That way any tokens signed with the old secret would then invalid.

Another option would be to use the `issuer` claim with a value generated at the server start, and when you verify use the `issuer` op

[2018-07-31 20:57] kastork opened #509 "Engine spec in package.json is wrong"
The package.json says

[code]

But the package really needs node >= 1.4 because of the use of `Object.assign` (and maybe other things).

[2018-08-03 12:44] eaardal opened #510 "Invalid token error: illegal padding error 0D0E20DD"
Hi

It’s been a while since I worked on this project of mine, but when I picked it back up and had updated the out-of-date npm packages, authorization no longer worked between my (React) client and (Node) api. I get this error:

[code]

This error is thrown [here](https://github.com/auth0/express-jwt/blob/master/lib/index.js#L102) in `express-jwt` which is a call to `verify.js` in this codebase. I

[2018-08-07 22:10] adjavaherian commented on #331
I seem to be seeing the same issue.  I'm pretty stumped.

[code]

[code]

[2018-08-08 12:28] JacoKoster commented on #509
You are right, this package currently has node 4 as the lowest version, so this should be updated.

[2018-08-10 11:55] ilaopenxcell commented on #298
What should i do in case i want to expire token to do logout user.

[2018-08-14 13:07] vicary opened #511 "jwt.verify() not truly async."
Despite the verify action is in fact synchronize, the callback API does not.

It is specifically this line that [released Zalgo](https://medium.com/@bluepnume/intentionally-unleashing-zalgo-with-promises-ab3f63ead2fd).

https://github.com/auth0/node-jsonwebtoken/blob/5a7fa23c0b4ac6c25304dab8767ef840b43a0eca/verify.js#L24

Which can be fixed by wrapping it as such

[code]

[2018-08-14 13:36] SamiSammour opened #512 "base64-url@1.3.3 Out-of-bounds Read vulnerability"
After executing the command `npm i json-web-token` and then `npm audit` I get the following audit security report:
[code]
Are you intending on upgrading the base64-url lib in order to overcome this vulnerability?

[2018-08-14 14:05] SamiSammour commented on #512
I am sorry, I've just realized I installed the wrong package... sorry about that

[2018-08-14 14:05] #512 closed

[2018-08-16 11:46] ziluvatar commented on #511
That behavior (with process.nextTick() though) was removed in this PR: https://github.com/auth0/node-jsonwebtoken/pull/302

I will leave the issue open in case the community has strong opinions about re-adding it or keep it as is. I understand the reasons, however, the pain to the event loop was already done while performing the verification synchronously, even doing that is "lying" to the consume

[2018-08-16 15:04] eaardal commented on #510
Thanks for the reply 🙏
I have checked and re-checked the access_token I receive from Auth0 when logging in, and the value passed to `jwt.verify` on the server is exactly identical to the value received from Auth0. The access_token is also validated successfully on the client when the callback endpoint is invoked by Auth0 after logging in, but then fails later when validated on the api.

The other

[2018-08-18 10:54] vicary commented on #511
Forgive my words if the opinions is too strong, but to the best of my knowledge the consensus is already there for decades.

The nature of an asynchronous API should behave like it means, implementation should be hidden behind the API even if it is a so-called lie.

The API is the contract of behavior between the library and its users, and should be followed the moment it goes public as **(Asynchr

[2018-08-18 18:10] rickybruno89 opened #513 "expiresIn"
Not working well  expiresIn.
if i write expiresIn: 60, 60 is in mil, not sec
and if i write expiresIn:  '1m' , this is equivalent to 100 mil

[2018-08-18 23:05] MitMaro commented on #513
It's hard to tell what may be going wrong in your case without seeing the code, but the following example using `60` and `'1m'` works as expected. Could you provide the code that is failing for you?

### index.js
[code]

## Output

[code]

[2018-08-19 08:48] vicary commented on #511
@MitMaro thanks.

I don't have much on the callback/promise/async controversy because of the disproportionate gain of productivity, the difference in performance is tiny; I like the inline error catching in async/await though.

But the breaking of the current API should be a hotfix instead of next major, there are potential risks for people using them in production.

[2018-08-22 13:12] ziluvatar commented on #510
When you say "my token does not include `=`", do you mean the access token?

The error is coming from a problem with the public key, not from the access token. For verifying you do `jwt.verify(mytoken, secretOrPublicKey, options, cb)`. It seems the verification is done with asymmetric algorithm (based on the error), that `secretOrPublicKey` is the problem.

[2018-08-23 22:02] delianides opened #514 "AWS Load Balancer Auth"
AWS recently added the functionality to authenticate a user on the load balancer and have a authenticated and hydrated user details in the request header.

I wasn't able to decode the object that comes from the load balancer even though it will decode on jwt.io. The example AWS give is in python but should be straight forward enough to decode the token.

https://docs.aws.amazon.com/elasticloadbala

[2018-08-23 22:34] MitMaro commented on #514
Interesting!

Could you provide the code that you tried that did not work?

Off the top of my head it should be pretty easy, and would be something along the lines of:

[code]

[2018-08-24 02:31] delianides commented on #514
@MitMaro

This is what I was trying to do but I've even tried your example and it still didn't work. The only thing I added was the `{ algorithms: [ 'ES256' ]}`.

[code]

[2018-08-24 16:46] boskobs opened #515 "Wrong expiresIn date"
[code]
returns this: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjEiLCJlbWFpbCI6ImJvc2tvYnNAZ21haWwuY29tIiwiaWF0IjoxNTM1MTI4ODcxLCJleHAiOjE1NTA2ODA4NzF9.FnHwNW3yVdtNLmMi6hsom2lLp2M_m0FEQV5TwdZdvsE`
I noticed that the the tokens weren't expiring when they were supposed to, so I checked the dates on jwt.io, and the results were the following:
![forupload](https://user-images.githubusercontent.com

[2018-08-24 18:00] boskobs commented on #515
I just checked on a fresh new project, and I got the right results. I have no idea what is causing the issue on my current project, but I will look into it. Thanks anyway.

[2018-08-24 18:00] #515 closed

[2018-08-26 13:39] serlingpa opened #516 "How to sign HTTP requests with jsonwebtoken"
Can someone please tell me how I sign a request on the client side with the token produced from `jwt.sign()`? Do I need to include all of `iat`, `exp` and `token`?

Apologies for the dumb question, but I'm quite new to JWT and it is more involved than I imagined! The documentation does not explain this.

[2018-08-26 14:08] serlingpa commented on #516
Aha, Bearer authorization token...

[2018-08-26 14:08] #516 closed

[2018-08-27 21:44] george-norris-salesforce opened #517 "PEM_read_bio:no start line"
passing in RSA private key from env varaible to the jwt.sign. Results in PEM_read_bio:no start line

[2018-08-27 22:53] MitMaro commented on #517
Can you verify that your private key begins with `-----BEGIN RSA PRIVATE KEY-----`?

You can also verify your private key format using:
[code]

[2018-09-03 02:19] benji opened #519 "Fail to verify a OAuth2 RS256 id_token from implicit flow: invalid algorithm"
Hi!
I'm using jsonwebtoken to validate an id_token server side, but it fails with:

[code]

The IdP is Google, the algorithm is RS256.

Background:
I'm using the implicit flow to get an id_token from Google entirely in JS to avoid using server resources / to avoid having to remember a state/nonce etc.
Once I have one I send it to the server but I wish to verify it.

I must be doing something wrong

[2018-09-03 02:53] MitMaro commented on #519
Can you provide the code that is producing the error, and also provide the output of the following to verify the algorithm used:

[code]

[2018-09-03 17:41] benji commented on #519
The code that's producing the error is simply:

[code]

That's the only thing I'm doing on the server side.

The Algorithm is indeed RS256 in the header.

[2018-09-03 18:52] MitMaro commented on #519
`RS256` uses a public/private key pair, and it seems you are using a shared secret.

[2018-09-04 03:30] benji commented on #519
OK got it, thank you.
For future reference, I did not have a certificate from Google OAuth UI configuration but it can be retrieved with an API call.
More details here: https://developers.google.com/identity/protocols/OpenIDConnect#validatinganidtoken

[2018-09-04 03:30] #519 closed

[2018-09-04 12:09] MitMaro commented on #519
Great to hear you figured it out. :smiley:

[2018-09-11 08:07] ivansieder opened #520 "Typings"
Hi there,

first of all: THANKS A LOT for this lovely library! Really appreciate it!

I'm gonna post it here, even if it's more related to DefinitelyTyped, as it's mostly a question of understanding.

In the typings, the synchronous/asynchronous verify function seem to be able to return either an object or a string (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jsonwebtoken/

[2018-09-11 12:20] MitMaro commented on #520
**tl;dr; the TypeScript typings are correct for this library, but not for JWTs in general.**

### Long explanation

This is a complicated question to answer. The JWT verify/decode functions if [strictly following the spec](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-7.2) should always return a JWT Claim Set (object).

   representation of a completely valid JSON object c

[2018-09-11 13:01] ivansieder commented on #520
Well, that is a badass awesome explanation @MitMaro, thanks for your time and clarification! Now it's clear to me, on why it CAN return a string and a little bit of the JWT spec!

[2018-09-11 13:01] #520 closed

[2018-09-11 14:57] YangYu000 opened #521 "Error: PEM_read_bio_PUBKEY in Node 10.10"
My code is like
[code]
and runs without problem with Node 8 and Node 10.8/10.9 (Ubuntu and Debian, NodeJS offical APT source)

After I upgrade to Node 10.10 today, on `JWT.verify` throws
[code]

[2018-09-11 17:53] delianides commented on #514
@MitMaro

![](https://share.ajd.fyi/3NePin9SH2/Screen-Shot-2018-09-11-11-49-02.png)

Same data added to jwt.io

![](https://share.ajd.fyi/Rfmf4KZvqs/Screen-Shot-2018-09-11-11-51-56.png)

[2018-09-11 19:43] delianides commented on #514
@MitMaro figured it out and found this:
https://github.com/brianloveswords/node-jws/pull/84

[2018-09-11 20:09] MitMaro commented on #514
That's a common mistake but Amazon should know better. Should be easy to do a simple string replace to work around the problem.

[2018-09-12 13:58] MitMaro commented on #521
I tried Node 10.10 on my system, and I had no trouble. These errors are generally an issue with the version of OpenSSL. Can you provide the version of OpenSSL that Node is using on your system using the following script:

[code]

[2018-09-13 09:48] YangYu000 commented on #521
@MitMaro Output is `OpenSSL 1.1.0i release (1010009f)` on one of Debian 9 server which has this issue

[2018-09-14 19:52] josianni commented on #517
Hello,

I have the same problem here.

[2018-09-15 10:41] cjk commented on #517
@george-norris-salesforce Did you ever solve your problem and if so, how?

[2018-09-17 17:16] george-norris-salesforce commented on #517
Had to put it all on one line, seperated by `/n` and remove all blank spaces

[2018-09-20 19:09] Deepak-Dhaka commented on #298
I have a use case, im using JWT token to access webdrive documents using link having jwt token to be  send through mails. at some event after process end i want to invalidate/expire the token so that no one can use that token. how can i do that, only way i see is to store the token and use flag to valid/non valid token. seems not good

[2018-09-20 19:20] Deepak-Dhaka opened #524 "Token expire at custom event"
I have a use case, im using JWT token to access webdrive documents using link having jwt token to be send through mails. at some event after process end i want to invalidate/expire the token so that no one can use that token. how can i do that, only way i see is to store the token and use flag to valid/non valid token. seems not good

[2018-09-20 19:32] AhmadRaza786 opened #525 "How to Expire token Immediately ?"
I want to expire the generated jsonwebtoken immediately. So that it will not able to authorize any next request.

[2018-09-20 19:45] MitMaro commented on #514
@jreeter ,

Amazon is using base64 to encode the tokens, which has a different character set than base64url, which is what the JWT specification requires.

Specifically, the `+` character is replaced with `-`, the `/` character is replaced with `_` and the trailing `=`s are optional. You can do a basic string replace on the invalid tokens to make them valid base64url encoded tokens.

Untested Code

[2018-09-21 18:29] worc commented on #475
i understand wanting to reduce the amount of maintenance on the project, but looking at what you guys are using from lodash (https://github.com/auth0/node-jsonwebtoken/blob/master/sign.js#L3-L9), you're taking on extra overhead (versioning, auditing, worrying about rollup) for some pretty basic functionality.

lodash's `isBoolean`, `isString`, `isNumber` are pretty straightforward:

[`isString`](h

[2018-09-22 13:58] tumulr commented on #525
You might want to look into blacklisting of JWT tokens.

[https://auth0.com/blog/blacklist-json-web-token-api-keys/](url)

[2018-09-24 09:39] AhmadRaza786 commented on #525
@tumulr cant find anything on your provided link.

[2018-09-24 13:14] MitMaro commented on #525
Copy and paste the link into your address bar, as @tumulr 's link text and href do not match.

It's not possible to directly expire a JWT, and instead you will need to create a blacklist of tokens. The link provided by @tumulr described one way to create this blacklist.

[2018-09-25 04:12] xcv58 commented on #510
Did you find a solution @eaardal ?

[2018-09-27 04:32] callum-p commented on #475
Additionally, the lodash used by this project has a number of vulnerabilities:

`
[18/34] lodash.includes 4.3.0  [VULNERABLE]   1 known vulnerabilities affecting installed version

[CVE-2018-3721] lodash node module before 4.17.5 suffers from a Modification of Assumed-Immutabl...

lodash node module before 4.17.5 suffers from a Modification of Assumed-Immutable Data (MAID) vulnerability via defaul

[2018-09-28 07:35] #517 closed

[2018-09-28 07:57] ziluvatar commented on #298
@ilaopenxcell @Deepak-Dhaka those are different use cases from the original question, you can check:
https://github.com/auth0/node-jsonwebtoken/issues/375
and https://github.com/auth0/node-jsonwebtoken/issues/143

[2018-09-28 08:04] ziluvatar commented on #525
Is that for testing? I mean why would you generate a JWT that is invalid right after the creation?
In the case you want to simulate an expired token you can pass negative expiration `.sign(payload, secret, { expiresIn: '-10s' }`

[2018-09-28 09:02] ziluvatar commented on #475
Not sure how that vulnerability report made that relation 🤔

`lodash.isboolean` does not use any of defaultsDeep, merge, or mergeWith functions.

The vulnerability is on the main package (lodash) that is only used as a dependency for one of our dev dependencies (where we actually have some more https://github.com/auth0/node-jsonwebtoken/pull/481)

[code]

Some of your statements make perfect sense

[2018-09-28 09:10] #508 closed

[2018-09-28 09:11] #479 closed

[2018-09-28 09:11] #498 closed

[2018-09-28 09:30] ziluvatar commented on #494
I don't have knowledge about how Azure AD operates, it is a bit weird indeed, however, maybe the 2.0 endpoint uses symmetric algorithm for the signature and you are providing a key for an asymmetric signing which seems to be used by 1.0

All of this ^ are just thoughts without any investigation :P

I'm going to close the issue, just for curiosity, if you found the reason it'd be nice to read it :)

[2018-09-28 09:30] #494 closed

[2018-09-28 18:55] worc commented on #475
i mean, that's a perfectly fine stance to have if you're not involved with authentication and verification, but isn't this the same thing as saying *we'll worry about it AFTER we get hit by a zero-day*?