[2018-10-05 21:28] johanjmoncada opened #530 "Using node-jsonwebtoken on React Native"
Hi there,

Does anyone know how I could use this module with react native?

I tried installing the module and importing it in my react solution but I got the following issue:

`error: bundling failed: Error: Unable to resolve module "stream" from "/project_folder/node_modules/jws/lib/sign-stream.js": Module "stream" does not exist in the Haste module map`

I did a lot of researching but unfortunat

[2018-10-09 00:12] ozanmuyes commented on #375
Blacklisting the token (or it's ID - jti) is probably less secure than whitelisting them. It's good to know which ones are valid instead of which ones are not. This approach has two benefits, if (somehow) the underlying software/server (let's say it's Redis) crashes then every token can pass because you are only disallow a token if there is a matching record on the cache (Redis in this manner). If

[2018-10-09 00:33] ozanmuyes commented on #375
@iBicha Yes you are right, but that brings us to the question "Should I be using sessions or build my server following the stateless architecture?" I think. Since JWTs are self-contained their usage differ from (let's say) cookies - sessions. And since black-/whitelisting requires us to store some kind of data about the token in question, I suggest that this data will be used to allow it to pass (

[2018-10-09 19:00] gmaijoe commented on #417
bump

[2018-10-10 12:04] andrewnester commented on #500
Hi! I just created PR fixing this: https://github.com/auth0/node-jsonwebtoken/pull/532

[2018-10-10 18:44] ziluvatar commented on #530
Check this past issue to see if it helps: https://github.com/auth0/node-jsonwebtoken/issues/221

[2018-10-11 21:33] hherraz commented on #483
[code]

[2018-10-14 19:41] owendall opened #533 "token/key pair verification work in the JWT.io debugger but not with node-jsonwbetoken"
This is very strange.

See Runkit. Also pasting here.  IS there some step in the debugger that I am not doing in this test code?

https://runkit.com/owendall/5bc28965f7b84200120e6f04

[code]

[2018-10-14 20:44] MitMaro commented on #533
I get an Invalid Signature error on jwt.io given the above token and secret.

Make sure that you put the secret into jwt.io before pasting in the token. Changing the secret after pasting the token will regenerate the token, so it will appear that the token is valid.

[2018-10-15 15:39] owendall commented on #533
Ah...thanks for that.  I put the token in AFTER.

[2018-10-15 15:41] owendall commented on #533
![image](https://user-images.githubusercontent.com/10927/46961692-4f965680-d06f-11e8-8eb0-b483b829d6a0.png)

[2018-10-15 15:42] owendall commented on #533
Now I just need to find out why the signature is not correct

[2018-10-15 15:42] #533 closed

[2018-10-15 15:59] MitMaro commented on #533
I've been bitten by that particular "feature" of jwt.io in the past. Good luck with your investigation!

[2018-10-18 10:38] ziluvatar commented on #475
You extrapolated my comment beyond its intent. I meant things like, ie: lodash get unmaintained somehow, not compatible with new version of node and we need to upgrade to next version of node, then you need to look for alternatives (other lib? internal implementation?)

Each layer on that chain needs to consider that statement, this library is consumer of "jws" and that one a consumer of "jwa", an

[2018-10-18 13:19] yasithph commented on #517
I had the same issue and none of the answers given here or else where did not work. Finally I found out that one of the '-' in -----BEGIN RSA KEY----- was missing. There need to 5 dashes exactly.

[2018-10-18 13:20] yasithph commented on #191
I had the same issue and none of the answers given here or else where did not work. Finally I found out that one of the '-' in -----BEGIN RSA KEY----- was missing. There need to 5 dashes exactly.

[2018-10-18 18:43] worc commented on #475
i don't think the concern is that you'd need more eyes on *fixes* for `isBoolean` or `isString` or `isNumber`. i think the concern is that by having lodash as a dependency, you're bringing in those 271 contributors in on your project, plus any dependencies and contributors lodash itself pulls in. the deep and murky dependency chain is the risk-factor here, not anything specific about the duck-typi

[2018-10-22 13:15] NBardelot opened #541 "Matching jwt token against a regex (REOPEN)"
Hi,

Please see issue #162

We have a similar issue with tokens being rejected by the regex when they include base64url padding (`=` characters). If we preprocess the header to remove the `=` characters, then we cannot validate the token's signature against the public key of the token issuer's certificate.

This is the comment in #162 made by jfromaniello :

RFC for JWT : https://tools.ietf.org/ht

[2018-10-22 13:44] NBardelot commented on #162
I've opened ticket #541 because in my opinion the response isn't correct. The RFC does not state that the base64url-encoded header *must not* include `=` padding. It just mentions that you *can* omit them.

[2018-10-22 14:12] omsmith commented on #541
Just need to be looking at the right RFC.

JWS RFC Section 2 (Terminology):

https://tools.ietf.org/html/rfc7515#section-2

[2018-10-22 14:15] omsmith commented on #541
Also note, from the JWT RFC, Section 2, Terminology:

[2018-10-24 08:37] riadhriadh opened #542 "my data in web site jwt.io is very clear"
this is my code .

  const expiresIn = 6000 * 60;
    const secretOrKey = fs.readFileSync("./key.pem");;
    const user = { email };

     const token = jwt.sign(user, secretOrKey,   { audience: 'urn:foo' });

    return { expires_in: expiresIn, token };

========================
this is my result

{
"expires_in": 360000,
"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImZhcmhhdGlyZWRAZ

[2018-10-24 12:50] MitMaro commented on #542
I'm not exactly sure what you are asking.

If you are asking why an email address and other payload data is viewable on jwt.io, then this is expected. JWTs only encode information and it is fairly trivial for anyone to decode and view the encoded information. There's [information from Auth0](https://auth0.com/blog/ten-things-you-should-know-about-tokens-and-cookies/#confidential-info) on how to ha

[2018-10-26 14:11] SirwanAfifi opened #546 "Why getKey doesn't get called?"
I have following function:

[code]

Any idea why `getKey` doesn't get called?

[2018-10-29 10:43] SirwanAfifi commented on #546
Here's the option:
[code]

[2018-10-30 00:37] MitMaro commented on #546
That looks alright. Can you verify that `getKey` isn't being called with a `console.log` or with a break point?

My other guess would be that `client.getSigningKey` is getting called but returning an error, which is unhandled.

[2018-10-31 10:36] fatso83 commented on #375
There are so many misconceptions about JWTs here ... JWTs can be perfectly good, but there are so many of the responses above that shows that it is being used where an old-school session mechanism would be much more suitable. Peeps should read up on [why JWTs shouldn't be used for sessions](http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/).

[2018-11-02 09:57] #541 closed

[2018-11-03 23:40] ansonfoong opened #550 "How to list all tokens that was generated?"

[2018-11-07 20:23] ottokruse opened #551 "What's the importance of "TODO X.509 certificate chain is not checked" ?"
Sounds scary that it is not checked but I don't really grasp what is meant with it here

Can you elaborate a little?

[2018-11-08 16:55] Biszkopt91 opened #552 "jwt.sign() changes order of header keys"
This piece of the code in `sign.js` have control over keys order in header option. It causes an unexpected result in generated jwt. Generally, the token is valid but we cannot generate the same token across different technologies.
Current implementation:

[code]

My proposal:
[code]

I'm aware of how the order of keys in js objects works but now it can act in a more predictable way until we use so

[2018-11-14 09:46] ziluvatar commented on #550
That it is not possible with the functionality that this lib offers.

[2018-11-28 11:44] forty commented on #475
Why wouldn't you simply depends on lodash directly? The more everyone use the same packages, the more secure it is (more eyes are watching, big projects have less risk of being unmaintained or given to the first guy asking for it without anyone noticing) and this avoid duplicating packages / feature for nothing. Virtually everyone is using some of the lodash functions or some equivalent. If everyo

[2018-11-28 18:01] worc commented on #475
because two most recent news-making exploits were designed around the trust we put into libraries and the imports from lodash are not exactly necessary

[2018-11-28 20:09] forty commented on #475
Lodash is fine, it's a well known library. Removing the dependency works as well, but most big project is going to depend on lodash directly or indirectly anyway, so it's not a big deal to have it even it's it's not that useful

[2018-11-28 22:41] forty commented on #475
I said well known, which in npmland is very different from popular :)

[2018-11-28 22:49] worc commented on #475
@forty i think my point still stands. or were you implying something else?

@MitMaro did you have something to add?

[2018-11-30 18:16] worc commented on #475
well said. i still strongly disagree that there is a "very good chance" of introducing security issues by vendoring your duck-typing. but i think if that's the direction, and if there's this level of thought put into accepting the risks, then this issue should be closed.

[2018-12-03 21:33] advancedspectrum opened #556 "Invalidate JWT that was exchanged for a SAML"
I have a UI that has a BFF. It generates a self signed SAML token for each logged in user. This BFF has a dedicated security microservice (just for itself). Whenever the BFF must invoke a business API, it must go through its security microservice.

Here is my use case:
1. User logs in on UI
2. BFF produces a session and generates self signed SAML token
3. BFF must now call a business API
4. BFF pa

[2018-12-03 21:46] #556 closed

[2018-12-03 21:46] advancedspectrum commented on #556
Posted by mistake

[2018-12-08 17:43] andrewryan1906 commented on #471
Hey, for the path I think you mean:

node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs/browser.js

[2018-12-13 03:26] mylovetop opened #557 "in Java how to do ?"
the jsonwebtoken token
How do you decode the same token in Java?
in java use keystore.jceks decode the token, The following How do I write commands like this

keytool -genseckey -keystore keystore.jceks -storetype jceks -storepass [secret_key] -keyalg HMacSHA256 -keysize 2048 -alias HS256 -keypass [ secret_key]

thank you!

[2018-12-13 09:40] sebk commented on #546
I have the same problem, that `getKey` isn't called.
I tried adding various `console.log` statements, but the implementation for `getKey` is not executed.
I also tried version 8.3.0 and 8.4.0.

[2018-12-13 13:36] MitMaro commented on #557
You may have more luck with https://github.com/auth0/java-jwt as this library is specific to Node.js.

[2018-12-14 14:20] ziluvatar commented on #546
@sebk can you provide some simple code to review it?

[2018-12-19 20:10] pierreis opened #559 "Invalid token format causes the Async API to synchronously throw"
**JWT version:** 8.4.0

An incorrectly formatted token may cause the library to synchronously throw an error. This is probably incorrect, and the error should be passed to the callback instead.

**Example:**

[code]

**Result:**

[code]

[2018-12-19 20:18] #559 closed

[2018-12-20 11:55] Masterxilo opened #560 "Incorrect invalid algorithm error"
this works:

[code]

(example from jwt.io)

This gives invalid algorithm instead of complaining about the key:

[code]

[2018-12-20 11:56] Masterxilo commented on #560
It could also complain about the signature not being valid.

But there is CERTAINLY no problem with the algorithm header spec in the jwt...

[2018-12-20 11:57] Masterxilo commented on #560
{"alg":"RS256","typ":"JWT"} is valid.

[2018-12-24 01:20] mylovetop commented on #557
thank you!
but i use vert.x jwt
eg.
JWTAuth jwtAuth = JWTAuth.create(vertx,
                new JWTAuthOptions()
                        .setKeyStore(
                                new KeyStoreOptions()
                                        .setPath("config/jwt.jceks")
                                        .setType("jceks")
                                        .setPassword(token)));

the

[2018-12-30 10:46] CodeGeas commented on #271
Is this already done/planned in enhancement? If not i can submit a PR to verify scope.

[2018-12-31 10:06] apar-adhikari opened #564 "Lodash Utilities Function Vulnerable to Denial-of-Service and Prototype Pollution"
"Lodash" used in **node-jsonwebtoken** contains a prototype pollution flaw. An attacker could exploit this to modify the component or create a denial-of-service (DoS).

_"The vulnerable file is lodash.js. It is possible for an attacker to craft a malicious structure for the utilities function. This could be exploited to add or modify an existing property and may lead to a denial-of-service (DoS).

[2018-12-31 10:10] JohnMburu commented on #147
`const express = require("express")
const users = express.Router()
const cors = require('cors')
const jwt = require("jsonwebtoken")
const bcrypt =require('bcryptjs')
const User = require("../models/User")
users.use(cors())

process.env.SECRET_KEY ='secret'

users.post('/register',(req, res)=>{
    const today  = new Date()
    const userData={
        first_name: req.body.first_name,
        last_

[2019-01-01 21:54] sdrsdr commented on #564
Is there a reason to use lodash anymore? as Node 8 is EOL I think you can safely bet on complete ES6 in node

[2019-01-02 04:52] GaneshSaiKumar commented on #407
@kevinlu1211 @ziluvatar
Have you guys found the root solution?
I'm still facing the problem

[2019-01-02 16:39] SimonSchick commented on #564
Agree with @sdrsdr all usage of `lodash` here can be replaced with native functions with almost no extra code, might as well drop `ms` as well when making this breaking change.

[2019-01-04 08:14] JiteshShivnani commented on #271
I have made the change and raised a PR for scope.

[2019-01-04 23:43] mcmar commented on #511
Hey, I just want to point out that if you ever re-add code to make this async (which you should do), you should also really switch from `process.nextTick` to `setImmediate`. You can read about the differences here: https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/

TL;DR `process.nextTick` doesn't allow the event loop time to handle things like I/O buffering before you run the veri

[2019-01-07 19:58] larryboymi commented on #271
https://github.com/auth0/node-jsonwebtoken/pull/563

[2019-01-08 09:06] JiteshShivnani commented on #271
Thanks @larryboymi . @ziluvatar Can you please review?

[2019-01-09 08:47] sm2017 opened #566 "Synchronous vs Asynchronous"
# Synchronous
[code]

# Asynchronous
[code]

I want to know , is it bad to use Synchronous  way , in express js server? is there any benefit with Asynchronous mode? As I think there is no I/O and just CPU usage, So Asynchronous and Synchronous must b same, just syntax is different

[2019-01-10 08:28] fiddur opened #567 "Remove deprecated nsp"
Build fails on `getaddrinfo ENOTFOUND api.nodesecurity.io`.  Just remove `nsp check` from the `test` target…

[2019-01-11 15:59] #475 closed

[2019-01-11 16:16] ziluvatar commented on #564
If I am not mistaken this subject has already be raised in this issue: https://github.com/auth0/node-jsonwebtoken/issues/475

[2019-01-13 05:35] sm2017 commented on #566
@ziluvatar , @MitMaro  can you help me?

[2019-01-14 15:44] hbrls commented on #560
Did you notice that `jwt.verify(token, cert, { algorithms: ['RS256']})`? It's `algorithms`, not `algorithm`.

[2019-01-15 10:01] sm2017 commented on #566
Hello???????????

[2019-01-15 20:36] Benhawkins18 opened #568 "Error: Failed to match tag: "0" at: ["tbsCertificate"]["version"]"
This issue is directly related to the closed issue https://github.com/auth0/node-jsonwebtoken/issues/464. I have a block of code that works fine in node but does not work on the browser. That same block of code worked on the browser with a regular RSA key pair. when changed to a certificate and private key pair it continues to work on node but no longer works in the browser.

[code]

will throw th

[2019-01-15 20:43] Benhawkins18 commented on #568
Here is the example of the above code that works in both the browser and node with a private/public rsa key instead of privatekey and public cert.

[code]

[2019-01-15 22:16] Benhawkins18 commented on #568
I've narrowed it down to browserfy's crypto implementation

[2019-01-17 07:13] sm2017 commented on #566
:-((

[2019-01-18 19:31] khushirana commented on #333
i am getting this type of error after running POST request

{
    "name": "NotAuthenticated",
    "message": "jwt malformed",
    "code": 401,
    "className": "not-authenticated",
    "data": {
        "name": "JsonWebTokenError",
        "message": "jwt malformed"
    },
    "errors": {}
}

[2019-01-18 19:32] khushirana commented on #333
any ref for username/password authentication?

[2019-01-18 22:45] ziluvatar commented on #551
This library uses [jws](https://github.com/brianloveswords/node-jws) library which does not support it, in its readme:

Actually that TODO should contain more functionality not supported from the JWS spec: all `x5...` headers.

Anyway, a given JWT could have a `x5c` header (from [spec](https://tools.ietf.org/html/rfc7515#page-11)):
[code]

This library won't do anything with that header, it will n

[2019-01-18 22:57] ziluvatar commented on #552
While I was reading this issue, this other issue came to my mind: https://github.com/auth0/node-jsonwebtoken/issues/404

In both cases I think there is no problem from JWT concept around the order of the keys. Although as it is mentioned in the other issue:

Other than that, what is the issue? Consumer provide header and payload, get a signed string, any other system with that signed string and th

[2019-01-18 23:19] ziluvatar commented on #546
I downloaded your project and used one jwks url and it worked fine 🤔
If you don't have a jwks uri you can easily remove the code calling `client.getSigningKey` and return a hardcoded secret, you will see it is called.

[2019-01-18 23:44] ziluvatar commented on #566
Correct. Although if you use the sync way be sure you wrap it with try-catch.

[2019-01-18 23:53] ziluvatar commented on #560
@Masterxilo when you pass a public key as secret/key to `verify` function the library has some code to infer the accepted algorithms, thus when the JWT contains RS256 it is accepted as valid.
However, when you passed a plain string `a` the library couldn't infer anything so you need to specify the accepted algorithms (like @hbrls mentioned), otherwise you get the `invalid algorithm` error.

[2019-01-19 00:08] ziluvatar commented on #568
@Benhawkins18 I'll close the issue in this repo since it is due to a browser implementation and this library's platform is NodeJS. Awesome that you even created the issue in the browserify repo 👏

[2019-01-19 00:08] #568 closed

[2019-01-23 10:16] #567 closed

[2019-01-24 03:23] garysdevil opened #570 "When the time interval is very short，it will generate the same token in the certain condiction ?"
Could you tell me  how does it generate different token when using the same head, payload, secret but different time ？
When the time interval is less than 200ms，it may occure below.
![image](https://user-images.githubusercontent.com/41293784/51652603-320c4d80-1fcb-11e9-83dc-cf192bdeaabc.png)
Could you tell me  how long the least time interval it will not occur the same token??

[2019-01-25 09:37] MaffooBristol commented on #111
Promisify is also now built into node, so it's even easier:

[code]

[2019-01-25 10:57] leebenson commented on #111
right, but the point is this isn't _really_ async, so it shouldn't need to be wrapped in anything.

[2019-01-25 11:00] MaffooBristol commented on #111
Yeah I didn't really read far enough through the thread, it's synchronous whatever way so it's all a bit pointless, gotcha.

[2019-01-28 15:42] daerion commented on #514
Just wanted to add that we're having the same issue. Converting token encoding to base64url will allow the library to decode it, however, it will also cause signature verification to fail (both with the library as well as on jwt.io, while using the original token and pubkey will successfully validate on jwt.io).

[2019-01-28 23:37] coolaj86 commented on #43
I'm a few years late to the discussion, but I was just searching to figure out how to do this myself, as I was expecting that `jsonwebtoken` would support `jwk`s out-of-the-box... momentarily forgetting that node doesn't have JWK support... duh. :)

Then I started doing research and looking into things based on the comments here and I figure I'll just sum up a few things.

First, I'm a bit of an o

[2019-01-29 05:47] nhhockeyplayer commented on #511
yeah this it wiped out all my elegant graceful symmetrically patterned async/await logic
whoever is pushing this stuff really needs to stop
I see it in the field even today by juniors claiming hail for closure when they never modeled a single noun or verb

callbacks had their day in DECWindows back in 1989
but its over finally let it die
and I cant stand getting grilled on interviews about 'what i

[2019-01-29 19:40] crawforde commented on #405
Another use case for a minified build is for testing in AWS Lambda.

[2019-01-30 07:38] gkkirilov opened #571 "Created token expiration date is 2 week old"
When I create a token with this code
`  const token = jwt.sign({
    email,
    name: user.name ? user.name : '',
    scope: ['test', 'user'],
  }, process.env.JWT_SECRET_LOCAL, {expiresIn: '1h'});`
I get:
`
iat: 1548833724 Mon Jan 19 1970 00:13:53
exp: 1548837324  Mon Jan 19 1970 00:13:57
`

[2019-01-30 07:39] #571 closed

[2019-01-30 18:14] amirklick opened #572 "Cannot read property 'isZero' of undefined"
Having trouble generating a token when running code below:
`const token = jwt.sign(tokenPayload, tokenSecret, { algorithm: 'RS256' });`
(where tokenSecret is a public key, same one used by server)

If I don't include the `algorithm` option it works, but then the server is unable to `verify` saying `invalid algorithm`. Which makes sense because algorithm on server is `RS256` and from my understandi

[2019-01-31 05:21] excitepv commented on #417
On the other hand, we can use the below option while verifying the token
**ignoreExpiration: if true do not validate the expiration of the token.**

[2019-02-06 16:58] morganabel commented on #514
@daerion I found a way to make this work, but it's not pretty......

Basically, the verify method in this library won't work, but the signature can be verified using the underlying node-jwa library. Then you just have to check things like is the token still valid (I am only checking if token is not expired):

[code]

[2019-02-07 14:43] daerion commented on #514
@morganabel Thanks for sharing your implementation :)

[2019-02-11 00:43] ulisescarreonalvarez opened #574 "Laravel JWT Invalid claim date ReactJS"
I have a laravel lumen API, we are making some login requests and we wanna validate the signature of the token.

Actually we have our .env like this:

    APP_ENV=local
    APP_DEBUG=true
    APP_KEY=base64:AdA23VBkVMHBkxTzGCyphNbvqsG1Jh9XENi4PQuFusM=
    APP_TIMEZONE=UTC

    LOG_CHANNEL=stack
    LOG_SLACK_WEBHOOK_URL=

    DB_CONNECTION=mysql
    DB_HOST=127.0.0.1
    DB_PORT=3306
    DB_DATABA

[2019-02-11 10:53] lonix1 commented on #566
If there is no perf difference, why is there an async alternative?

[2019-02-13 10:34] akhilkc-rcggs commented on #375
https://medium.com/devgorilla/how-to-log-out-when-using-jwt-a8c7823e8a6

[2019-02-13 15:00] ziluvatar commented on #570
By default, every second. The reason is that only the `iat` ("issued at" claim) would be different, it holds the time in seconds when the token was issued.

If you need to have unique tokens you could use the `jwtid` option with a unique identifier for each token that will set the `jti` claim in the token.

[2019-02-13 15:16] ziluvatar commented on #572
If you are using asymmetric algorithms (like RSxxx), for JWT signing you need to use the private key, so that the resulted token can be verified by any third party using the public key.

About the `isZero` error, no idea, I checked the code of the library (including `node_modules`), I couldn't find it anywhere in the production code (maybe it is NodeJS code).

I tried to use a public key as `token

[2019-02-13 16:05] panva commented on #570
@garysdevil HS and RS signatures do not include any randomly generated padding, hence their signature is the same given the same payload.

To get a random signature regardless of the payload you should be using ES or [PS](https://github.com/auth0/node-jsonwebtoken/pull/573) signatures.

[2019-02-13 22:29] KevinAllenWiegand opened #575 "Allow iss, sub, and aud in the header"
According to RFC 7519, the iss, sub, and aud keys should be allowed in the header, but there are no options in the code to do that.

5.3.  Replicating Claims as Header Parameters

   In some applications using encrypted JWTs, it is useful to have an
   unencrypted representation of some claims.  This might be used, for
   instance, in application processing rules to determine whether and
   how to

[2019-02-14 11:47] nhhockeyplayer opened #576 "huge webtokens being ingested over the wire"
using latest binaries as of today
[code]

koa-jwt had a typings issue whereby

`audience: string`

should have been

`audience: string | string []`

that was recently patched but not sent into the build yet
https://github.com/koajs/jwt/issues/142

so I chose to patch it right in my node_modules directly

upon choosing to set my jwt_sign to '8 hrs' or 2 or 3 anything in hrs

was sending massive web

[2019-02-14 16:53] amirklick commented on #572
I suspected I needed a private key but haven't found it in Cognito.
Any idea where I could get the private key from?

Haven't found the cause or a solution to the `isZero` error, but I'm guessing it errors because I'm using a public key since Cognito uses `RS256` algorithm.

[2019-02-15 04:37] lionello opened #578 "TypeError: Cannot create property 'iat' on string"
Repro against jsonwebtoken 8.3.0, repros against master:
[code]

Fixed by #577

[2019-02-15 16:28] mathiasconradt opened #579 "Clarification on ECDSA support"
On https://github.com/auth0/node-jsonwebtoken#algorithms-supported, ECDSA is mentioned, while the README.md on https://github.com/auth0/node-jsonwebtoken only gives code examples for HMAC and RSA.
Also, in the Auth0 dashboard / Application > Advanced Settings, one can only choose between RS256 and HS256, but not ECDSA for the JWT Signature algorithm.
Why is the ECDSA not an option in the Auth0 das

[2019-02-15 18:41] ziluvatar commented on #574
Try to log the current timestamp when that error happens. If the issuer and the verifier systems are not in clock sync it might happen that from the verifier point of view it's still too soon to allow the token to be used.

You could tweak a bit that using the option [`clockTolerance` or `ignoreNotBefore `](https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callbac

[2019-02-15 19:30] ziluvatar commented on #566
TL;DR; To allow you load keys from filesystem or any other source of [ReadStream](https://nodejs.org/docs/latest-v6.x/api/fs.html#fs_class_fs_readstream) without blocking event loop. Not to actually perform the signing.

I've been digging into git history and jws implementation to understand why the library provided the async functionality for signing:
* Back in 2013, `jws` implemented streaming f

[2019-02-15 20:28] lonix1 commented on #566
@ziluvatar That sounds like some serious coding archaeology... well done! :wink:

[2019-02-15 23:39] ziluvatar commented on #575
Currently the library does not support JWE either, only JWS. Do you have a different use case where you need to have them in the header?

[2019-02-16 02:39] KevinAllenWiegand commented on #575
My current requirement is to allow issuer in the header.

[2019-02-16 08:55] panva commented on #575
@KevinAllenWiegand that section is specifically intended for JWE where the claims like iss or aud are required to be "peekable" in order to avoid having to cycle through all key material to get a hit but rather nail down the CEK unwrap or direct oct decryption key upfront. This does not apply to unencrypted JWTs.

There's no real benefit in putting stuff in the header as both header and payload ar

[2019-02-16 08:59] panva commented on #579
We do not strive for parity in available signing algorithms. This library's audience is not just Auth0 customers.

Let me clarify then. ECDSA is supported by `jsonwebtoken`, it's "code example" is exactly the same as RSA - only different alg values and private/public key material representing an EC key.

[2019-02-16 09:17] mathiasconradt commented on #579
Understood, was just wondering about the reasons behind it - why ECDSA is not an option in the Auth0 dashboard but only RSA and HMAC when choosing the sign algorithm, as it's only one additional option and then we'd support all that JWT supports.

From a blog post, I learned about the differences as follows:

Trying to understand, why was RSA chosen over ECDSA as the asymmetric sign option, or why

[2019-02-17 19:33] rrakso opened #580 "jti instead of a jwtid"
There should be no **jti** instead of a **jwtid**?
[code]
According to https://tools.ietf.org/html/rfc7519#section-4.1.7 JWT ID should be named jti, or am I wrong?

[2019-02-18 18:21] ziluvatar commented on #579
Yeah, better to ask on different channel like https://community.auth0.com/ or Auth0 Support.

[2019-02-18 18:40] ziluvatar commented on #575
Out of curiosity

I guess that is the solution, what is the use case?

[2019-02-20 12:28] ziluvatar commented on #580
It is named `jwtid` only in the options, to make it more readable, same thing happens there with `audience` instead of `aud` or `issuer` instead of `iss`.

[2019-02-20 12:55] panva commented on #43
Hi @solderjs, AJ,

I can see you're the author of rasha and eckles, i've recently looked into using those for a light-on-the-dependencies JOSE replacement for https://github.com/cisco/node-jose for my own projects (oidc client and provider), i'm building that's purely for recent node versions with KeyObject supportand I don't intend to maintain javascript fallbacks (such as node-jose does with for

[2019-02-20 13:50] rrakso commented on #580
Ok, thank you

[2019-02-20 13:50] #580 closed

[2019-02-22 03:53] nhhockeyplayer commented on #576
Is this for real... ? 10h webtoken

Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7Il9pZCI6IjVjNjU4ODZlY2YzMTZiMjM4NDU5ZGVlZSIsImVtYWlsQWRkcmVzcyI6Imtjb2xhc3NpQGdtYWlsLmNvbSIsInBhc3N3b3JkIjoiJDJhJDEwJEUyOGlKYlFZajZVZ2hsRS9CdGpYMnVjUVBUTkpkQTBNZTlua3VxaGV3R2hYWjdVdXFuS2JxIiwicGF5ZXJfZW1haWwiOiIiLCJwYXllcl9pZCI6IiIsInN1YnNjcl9kYXRlIjoiMjAxOS0wMi0xNFQxNToyNTozMy42NDdaIiwic3Vic2NyX2lkIjoiIiwi

[2019-02-22 03:54] nhhockeyplayer commented on #576
actually its 1hr

[code]

[2019-02-22 08:30] cyrilchapon commented on #511
But, is there a reason such a heavy processing is done synchronously in the first place ?

The fact you remove the fake-callback-still-synchronous strategy is not really addressing that issue.

[2019-02-22 08:57] mcmar commented on #511
@cyrilchapon Everything in javascript is inherently single-threaded. Doing it "asynchronously" won't allow any other code to execute simultaneously. It'll just return after at least 1 tick of the event loop (`process.nextTick`) and it might also give the event loop time to handle I/O streams (`setImmediate`)

[2019-02-22 09:11] mcmar commented on #511
We *might* be able to use something like [threads.js](https://github.com/andywer/threads.js) to do this in a real multi-threaded manner, which would be fun and sexy for everyone. But it also might reduce compatibility and/or require pseudo-polyfills like [webworker-fallback](https://github.com/andywer/webworker-fallback)

[2019-02-22 09:16] bencmbrook opened #581 "verify expects a specific jwtid?"
This module seems to expect the verifier to know what the "jti" is beforehand. I understand "jti" to be primarily used as a nonce to prevent replay attacks, or keeping a revocation list. The verify step, however, seems to just check that the provided `jwtid` [matches a specific string](https://github.com/auth0/node-jsonwebtoken/blob/eefb9d9c6eec54718fa6e41306bda84788df7bec/verify.js#L187-L191).

[

[2019-02-22 09:20] bencmbrook commented on #581
I suppose this could act as a valid use-case, and it's good that if the option isn't passed, the token isn't rejected. Maybe it should just be [documented](https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback) that passing the option is only if you expect a specific `jwtid` beforehand?

[2019-02-23 08:37] solderjs commented on #43
@panva I could add P-521 fairly easily, but is there a significant portion of developers actually using it?Only P-256 and P-384 are actually part of the NIST spec. P-521 is not.

Adding support would merely require adding another header match in the code and I think the byte length is handled differently because it's odd rather than even. Duplicates some code, but not that big of a deal.

I've als

[2019-02-23 10:42] panva commented on #43
The choice of language of our customers or even internally in Auth0 varies, but if someone's to use node.js I believe they should be aware they can get way more out of their systems if they just don't convert key formats over and over and use `KeyObject`s, and the library API design should reflect that to to lead developers to understand the benefits and discourage the use of PEM/JWK inputs for a

[2019-02-23 19:25] omsmith commented on #576
@ziluvatar @nhhockeyplayer That looks like a token that contains private information. You may want to remove it.

[2019-02-23 19:26] omsmith commented on #576
@nhhockeyplayer The token is large due to `entity` being large. It includes, among other things, a base64-encoded image.

[2019-02-25 05:48] nhhockeyplayer commented on #576
ok the data in the token is just unit test the data in the token no worries

Im confused... I did not tell jsonwebtokens to begin persisting my entities over the wire

its blowing my angular interceptors off the map

Im unable to make any more https requests due to this blowout angular craps out before it even leaves the service dock

ok I think Im starting to get it

jsonwebtokens is likened to h

[2019-02-26 01:52] nhhockeyplayer commented on #576
ok this works now
petite tokens

[code]

[code]

[2019-02-26 01:52] #576 closed

[2019-02-26 02:10] omsmith commented on #576
Glad I was able to help. However, as a note, and while I don't know your exact use-case, it's usually not desirable to include the user's password in the token. The token is not private data, just _verifiable_ data.

[2019-03-01 14:58] audiolion opened #582 "8.5.0 release includes semver package in release bundle?"
the 8.5.0 version is almost double the size of 8.4.0, and the culprit seems to be that the `semver` package somehow got bundles into the production build of 8.5.0

https://bundlephobia.com/result?p=jsonwebtoken@8.5.0

it looks like it was a result of this PR https://github.com/auth0/node-jsonwebtoken/pull/573

not sure if there is much that can be done to change it

[2019-03-02 10:21] panva commented on #582
Hi Ryan,

It's not somehow, there's support for RSASSA-PSS algorithms now which is only bundled in node.js version ^6.12.0, not 7, and then >=8.

Detecting this can either be done with `semver` package, which is what the discussion in the PR lead to, that's the most stable way of doing this check.

Since the crypto module's exported constants differ between 4,6,7,8 etc you'd have to dig out which

[2019-03-02 15:45] #582 closed

[2019-03-04 12:55] dolegi opened #583 "Support verifying private claims"
I can't see it documented anywhere and I can't find it in the code.
Example
token payload
[code]
[code]

Is this a feature that would be considered? Currently I have to verify the token and then verify against private claims when the payload gets returned.

I'm happy to do a PR if there's no reason for not supporting it

[2019-03-05 07:43] rkaw92 commented on #583
As a user, I would be opposed to having such a functionality in the library itself, so that it can stay more focused. What if a claim is an array, or a complex object, that needs application-level verification? Surely the library can't (and shouldn't) cover such cases. Instead, I would expect the developer to encapsulate this library in something that understands claims.

[2019-03-05 14:48] ziluvatar commented on #581
Yeah, probably not too useful, good catch, would you like to go ahead and document it clear for others?

[2019-03-05 15:12] ziluvatar commented on #521
@YangYu000 did you manage to solve this or to know what happened?

[2019-03-05 15:13] #524 closed

[2019-03-05 15:13] #530 closed

[2019-03-05 15:14] #542 closed

[2019-03-05 15:15] #546 closed

[2019-03-05 15:16] #551 closed

[2019-03-05 15:29] #557 closed

[2019-03-05 15:29] #560 closed

[2019-03-05 15:31] #564 closed

[2019-03-05 15:35] ziluvatar commented on #583
We have been touching a bit at different moments:
* https://github.com/auth0/node-jsonwebtoken/pull/563#issuecomment-459443236
* https://github.com/auth0/node-jsonwebtoken/issues/271
I will close this issue as duplicated and keep ^ 271

If we develop this support it should be in a more generic way where the consumer could define the validation. (@rkaw92 is right too).

[2019-03-05 15:35] #583 closed

[2019-03-05 15:36] #525 closed

[2019-03-05 15:36] #510 closed

[2019-03-07 07:57] YangYu000 commented on #521
@ziluvatar As I think it's a bug of NodeJS, I opened the almost same issue on [nodejs/node#22815](https://github.com/nodejs/node/issues/22815) and provided more details.
And finally found there's a bug in NodeJS 10.10 (and 10.11/10.12 maybe, I tested before, but I can't remember clearly), looks like Node team changed the method of parsing PEM file, and then got fixed in the later version NodeJS (m

[2019-03-11 12:12] ziluvatar commented on #521
Awesome @YangYu000 thanks for all details! 👏 Then I'm closing it.

[2019-03-11 12:12] #521 closed

[2019-03-14 10:13] antoine-coulon opened #584 "HS256 - JWT invalid signature"
Hi,

I'm having trouble with Jwt and especially an error "Invalid Signature".

I'm generating a token after the user logs in.
[code]
Then I'm creating an express-jwt middleware to add it to routes :

[code]
Used like this :

`router.get('/', auth, ctrlUser.slash);`

My JWT created is passed in the front end request (Authorization bearer) and is the same as the one created right after the login, ac

[2019-03-25 05:24] safarmer commented on #584
From what I could see from investigating the same issue, the key if passed as a base64 string is being used as raw bytes and is not being converted from base64 to binary.

I had been running into this issue in a round about kind of way. I am integrating with a service that uses this library to generate tokens. When I was testing my implementation based on their spec, I was getting invalid response

[2019-04-05 15:05] frank-essenberger opened #586 "Error linebreak in certificate"
I have created a simple example to illustrate the issue. If you do not add linebreaks before and after the `certificate start` and `certificate end` of the certificate, the verify steps leads to a
`err: error:0909006C:PEM routines:get_name:no start line` error.

Here is the example - just use `ts-node example.ts` to run it.
[code]

[2019-04-10 05:28] FrederickEngelhardt opened #587 "jwt.verify/decode working only on static strings when using websockets"
Hi,

I'm able to generate a token and then send it to a used. The user then stores this locally. Afterwards we call a authentication script to send that token up to the server

Issue: The dynamic token sent is never valid. However, if you console.log this value and hardcode it into the verify function you are able to get a verification and result.

Using this with websockets if that matters.

[cod

[2019-04-10 07:12] panva commented on #586
This is an OpenSSL error, not one with jsonwebtoken per se. And it's also expected behaviour, PEM headers are footers are defined as one-liners, therefore, they must be on a separate line.

[2019-04-10 07:12] #586 closed

[2019-04-10 08:28] frank-essenberger commented on #586
Hm, I agree that on the OpenSSL level you can be that strict and expect the new lines. However, on the library level it would be convenient to be more graceful. It can easily happen, that the new line information is lost or even the header are missing at all. In all cases I would expect the verification to work. This simply makes the library easier to use and this should be a general goal.

[2019-04-10 08:42] panva commented on #586
I don't believe we should be trying to fix user input errors on invalid cryptographic key material.

[2019-04-11 05:54] rupertbg commented on #587
Are you never passing `token` in as the first parameter to jwt.verify?

[2019-04-11 06:23] anujsinghwd opened #588 "InvalidTokenError: Invalid token specified"
[code]

[2019-04-11 06:24] #588 closed

[2019-04-11 08:58] FrederickEngelhardt commented on #587
Yes sorry I've been iterating through this a bunch of times. Looks like it works with a rest endpoint without an issue. But web-sockets it fails to recognize the string.

[2019-04-11 09:10] panva commented on #587
@FrederickEngelhardt Your report does not state what error you're getting. This is most likely not an issue with `jsonwebtoken` but rather your code.

`jsonwebtoken` only cares that the input is a string, if it wasn't you'd get `jwt must be a string` error or similar.

Not being familiar particular websocket frameworks is it possible for you to to log the jwt string in your code and provide the pu

[2019-04-11 09:40] FrederickEngelhardt commented on #587
Looks like the main issue is related to the jwt.decode which returns null when you receive an emitted token. If you hardcode that token into the jwt.decode it will pass.

[2019-04-11 09:45] panva commented on #587
@FrederickEngelhardt Yes, decode returns `null` on invalid tokens. Please provide the details requested.

Once again

1) the error you're getting (!!!)
2) log `typeof token` from your websocket handler
3) log `token` from your websocket handler
4) the public key for verification

[2019-04-11 09:59] FrederickEngelhardt commented on #587
@panva looks like I was missing a JSON.parse for the token inside of the websocket response. Adding that did the trick. Thank you!

See code below for reference.
[code]

[2019-04-11 10:04] #587 closed

[2019-04-12 10:51] ziluvatar commented on #584
@antoine-coulon could you put some `console.log`'s here and there to show: the token, the secret (not the real one, a fake one that makes it fail) in both places when it signs and when `jwt()` is configured, and also the stack for the error (you can remove the lines about your own code) ?

[2019-04-12 10:55] ziluvatar commented on #575
Closing, be free to reopen if you want to continue the conversation.

[2019-04-12 10:55] #575 closed

[2019-04-12 10:56] #579 closed

[2019-04-12 10:57] #566 closed

[2019-04-12 10:58] #574 closed

[2019-04-12 10:59] #578 closed

[2019-04-12 11:03] ziluvatar commented on #572
No idea. I'm going to close it, if you found the issue or the private key and you have time give us a summary that'd be interesting :)

[2019-04-12 11:03] #572 closed

[2019-04-12 11:41] #570 closed

[2019-04-12 11:42] #514 closed

[2019-04-12 11:54] ziluvatar commented on #552
I will close this issue and its PR. I'll keep open the #404 to follow what is decided on jws project.

[2019-04-12 11:54] #552 closed

[2019-04-14 13:28] splservices opened #590 "handle "TokenExpiredError: jwt expired" Error"
[code]
**If Token is Expired. Getting this error:**

``{ TokenExpiredError: jwt expired
    at /Users/pradeepkumar/Desktop/bitbucket/volupn-api/node_modules/jsonwebtoken/verify.js:152:21
    at getSecret (/Users/pradeepkumar/Desktop/bitbucket/volupn-api/node_modules/jsonwebtoken/verify.js:90:14)
    at Object.module.exports [as verify] (/Users/pradeepkumar/Desktop/bitbucket/volupn-api/node_modules

[2019-04-14 13:36] panva commented on #590
Hi @splservices is there something particularly not clear about this expected error when JWTs are past their self-contained expiration?

[2019-04-14 13:41] splservices commented on #590
@panva This Error is clear to me but right now this error is breaking my application and I want to handle this error in right manner.

[2019-04-14 15:03] Adityacprtm commented on #590
@splservices try to just use `err.name`, so it will return string value

[2019-04-14 15:22] panva commented on #590
`TokenExpiredError` is also exported btw -> `instanceof`

[2019-04-14 15:33] splservices commented on #590
thanks @Adityacprtm `err.name` is just working fine.

[2019-04-14 18:21] Digitum opened #591 "Malformed token cause verify method to return SyntaxError"
To recreate:
Create a token with malformed payload ( i e add some random letters in payload part).
Run token throught verify() method.
Error object now is of type "SyntaxError" with message "Unexpected end of JSON input".

Expected result:
Error object of name "JsonWebTokenError" with message "jwt malformed"

Actual result:
Error object of name  "SyntaxError" with message "Unexpected end of JSON i

[2019-04-14 18:25] #590 closed

[2019-04-23 15:44] derosm2 opened #592 "Require expiration option for verify"
Would be nice to have an option to require the token to have an expiration when verifying a token. This could be used to prevent the use of tokens that never expire.

[code]

[2019-04-23 23:12] mathellsmelo opened #593 "JWT Decode retuning null even when Token is not null"
JWT Decode is not working

I've tried everything I could

let user_id = jwt.decode(req.body.auth_token).id;

req.body.auth_token is not null, it's returning the token!

[2019-04-23 23:56] mathellsmelo commented on #593
It's working, I was passing token between ""

[2019-04-23 23:56] #593 closed

[2019-04-24 08:25] panva commented on #593
Same issue as in #587

[2019-04-24 13:57] derosm2 commented on #592
Closing as there's a PR for this already.
https://github.com/auth0/node-jsonwebtoken/pull/257

[2019-04-24 13:57] #592 closed

[2019-04-25 17:39] LuisEnMarroquin commented on #591
It's a normal behavior use a try-catch statement

[2019-04-26 10:56] amirha97 opened #594 "No documentation for the 'invalid algorithm' Error, and default behaviour when algorithms options is not provided"
The 'invalid algorithm' generated from https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L121 is not documented, so when users of the library encounter it they may need to look at the source code. (Seeing https://github.com/auth0/node-jsonwebtoken#errors--codes gave me the impression that all errors messages would be documented there)

Since it looks like other Errors are documented

[2019-04-26 11:03] amirha97 opened #595 "Type check the `secretOrPublicKey` arguments more strictly."
I ran into a bug which was quite puzzling at first. It turned out my `secretOrPublicKey` was a promise (not any of String, Buffer, function types which are supported), however, I was getting an invalid algorithm error. (The error was also not documented, see #594)

For the verify function, I believe adding more typeof checks here https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L87

[2019-04-26 16:18] ziluvatar commented on #594
I think all those points are nice improvements:
* Document error
* Document default behavior
* Refactor the algorithm inference

Good catch, if you have time be free to open a PR

[2019-04-26 16:21] ziluvatar commented on #595
Agree, on `sign()` we have better argument checks, as with your other catch (#594), if you have time be free to open a PR and we can improve that.

[2019-04-26 16:59] Digitum commented on #591
Ok. I am just curious why this error is handled different from the other errors.

Try/catch is to be used anyway, but this needs two different handlers depending of what kind of error it is.

Is there a technical reason why this type of token error should be handled different?

[2019-04-29 17:40] travis-infosec commented on #375
https://github.com/sirwolfgang/jwt_keeper

[2019-04-30 10:38] antoncoding commented on #221
Is there any React-Native alternative that can perform`sign()` with HMAC SHA256?
Can't find any that would work.

[2019-05-01 03:49] trident10 opened #596 "invalid token for rs256"
I always get invalid token error for rs256 algorithm. Though, it shows correct on jwt site.

https://jwt.io/#debugger-io?token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbElEIjoidGVzdHdAZ21haWwuY29tIiwiaWF0IjoxNTU2NjgwNTg1fQ.p3FaUvHB5TsGOia98qoHSHRZcOf49CR5ZT2wJB2cArQRFcbTM6q_YpWTPlYMRhhPOqBMwXErpEhka7fti4TW66tJZudQoCFraFBdJhQKvM1oDkXWpCpdE6LufdiBAKboPGNVw638DpyxoEnI60RMpltRm1Lq1y_rkOQRVXXlsAakX

[2019-05-01 03:50] trident10 commented on #596
Private key -

-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEAvzoCEC2rpSpJQaWZbUmlsDNwp83Jr4fi6KmBWIwnj1MZ6CUQ
7rBasuLI8AcfX5/10scSfQNCsTLV2tMKQaHuvyrVfwY0dINk+nkqB74QcT2oCCH9
XduJjDuwWA4xLqAKuF96FsIes52opEM50W7/W7DZCKXkC8fFPFj6QF5ZzApDw2Qs
u3yMRmr7/W9uWeaTwfPx24YdY7Ah+fdLy3KN40vXv9c4xiSafVvnx9BwYL7H1Q8N
iK9LGEN6+JSWfgckQCs6UUBOXSZdreNN9zbQCwyzee7bOJqXUDAuLcFARzPw1EsZ
AyjVtGCKIQ0/btqK+jFunT2NBC8R

[2019-05-01 05:56] trident10 commented on #596
My bad. Appending extra "}" in the generated token.

[2019-05-01 05:56] #596 closed

[2019-05-14 17:34] whimsicaldreamer opened #599 "Anatomy of a Refresh token"
Hello, I want to know if there is any definite schema for refresh tokens. From [here](https://auth0.com/blog/refresh-tokens-what-are-they-and-when-to-use-them/), I understand that

But how to manually create the refresh token? Is it just a random string or do they contain claims and are encrypted?

From [here](https://auth0.com/learn/refresh-tokens/), if I assume a refresh token to be: `fdb8fdbecf

[2019-05-15 13:58] bresheske opened #600 "Question - How do I re-encode a token?"
**Purpose/Scenario:**
I'm just looking to create a small unit test that:

1. Creates a new JWT.
2. Verifies the JWT.
3. Decodes the JWT.
4. Edits the JWT (like adds "isAdmin" to the payload)
5. Encodes the JWT.
6. Verifies the JWT and expects the result to be false.

**Issue/Question:**
How do I properly re-encode the JWT object? There is no exported function for re-encoding a JWT in the jsonwebto

[2019-05-15 14:38] panva commented on #599
Hi @whimsicaldreamer

I guess here's where the disconnect happens, you don't create a refresh token, refresh tokens are (most commonly opaque) values returned by an Authorization Server, they are not to be created by you manually.

[2019-05-15 14:38] #599 closed

[2019-05-15 18:42] whimsicaldreamer commented on #599
@panva Can you give an example of what kind of values are they? I am constructing the whole app on my own and authorization server and the app server are basically the same. So are these opaque values something like unique random strings?

[2019-05-15 18:49] whimsicaldreamer commented on #599
@panva Can you give an example of what kind of values are they? I am constructing the whole app on my own and authorization server and the app server are basically the same. So how can I get these values from the server? I am using Node and Express.

[2019-05-16 10:39] Addg14 opened #601 "Not 'complete' option in JWT.verify() as documented"
Documentation shows 'complete' as a valid option for JWT.verify(), but code doesn't allow it (Not exists in code).

Should be fixed in documentation or code.

[2019-05-16 18:59] mmendescortes opened #602 "How to avoid node app exiting when token is expired?"
As the title says, I hope to know how to handle the jwt expired error without my node application exiting.

:)

[2019-05-17 12:44] #602 closed

[2019-05-21 10:08] shaxbee commented on #111
`jwt.verify` can be async, since `getKey` might call out external resource asynchronously, eg `jwks`.

[2019-05-21 10:14] joepie91 commented on #111
I would recommend looking at [PASETO](https://paseto.io/) instead, given how many [security/design issues](https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid) there are with the JOSE specifications in general, and JWE in particular. PASETO is also much simpler to use correctly, and has pretty widespread language support, including for JS.

[2019-05-22 18:11] jfbenckhuijsen commented on #111
Weighing in on this, would be nice if we could actually have a version which is implemented with promises internally. I was trying to use Google Cloud KMS instead of the node provided crypto libraries to handle signing (and verification), without the need to write all the JWT stuff myself. Given these interactions are inherently async, this seems currently not possible.

[2019-05-23 02:58] SrTristao opened #603 "PHP JWT not working nodejs"
Hellow Guys,

JWT by PHP and trying to authenticate / decode the token by the node, however, it returns the invalid for the verification function and when decoding returns null.

The jsonwebtoken code should be used in JWS more specifically in the function isValidJws of the JWS module that jsonwebtoken is used, well, it is a function of a regex to know if its value is valid and is not valid, funny

[2019-05-23 05:34] panva commented on #603
@SrTristao whatever JWT module is producing that token is not a valid implementation. It is clearly using base64 (notice `+` and `=` padding characters) rather than **base64url with no padding** to encode the components.

[2019-05-23 05:34] #603 closed

[2019-05-27 10:12] Sarfaroj95 commented on #471
I am facing same issue.. Please tell me way....? How Fixed it.

[2019-05-27 14:00] hatim-heffoudhi commented on #166
@ddcech , good info, thanks it's work , the solution is to put an object

[2019-05-30 20:27] rschneiderman39 commented on #600
This is an interesting question! I would argue that the described test is attempting to test a 3rd party library (node-jsonwebtoken) which I've come to understand is generally not best practice. What's the intention behind the test? Maybe there is a slightly different way to structure it such that the test covers the logic in your code without relying on 3rd party libraries?

[2019-05-30 20:41] bresheske commented on #600
Absolutely.  Fully agree that it's testing a 3rd party library, but since this falls into the security category of my application I feel the test case is fully warranted.  As a user of the token validator, I really want to make sure the validation function works before relying on it to fully secure my system.

The main purpose/case here is to ensure the system catches any altered tokens, like some

[2019-05-31 13:48] Ry7n commented on #600
The JWT spec defines how this works; it'd look something like this:

[code]

[2019-05-31 14:15] bresheske commented on #600
@Ry7n Thanks! I'll give this a shot soon.  This looks pretty identical to what I tried previously, but I might have done something wrong.

[2019-06-01 13:31] bresheske commented on #600
I got it working.  (Thanks @Ry7n)

Here are the 2 relevant test cases:

[code]

And here is the function to re-encode a token:
[code]

[2019-06-01 13:31] #600 closed

[2019-06-04 07:45] dauledk opened #604 "TS2326: Types of property 'sub' are incompatible. Type 'string' is not assignable to type '() => string'."
I don't know if this is a typings bug, or a library issue.

With the following versions:
`"@types/jsonwebtoken": "^8.3.0"`
`"jsonwebtoken": "^8.3.0"`

The following snippet:

[code]

throws the error:
[code]

But if I look at the typings:

[code]

It looks correct?

**Workaround**:
[code]

If the `sub` property indeed needs to be `() => string` I would happily like to assist with the PR to the typ

[2019-06-08 22:51] TriplexRoss opened #605 "Algorithms don't work besides HS256-HS512"
Whenever I try to sign something using anything besides HS256-HS512, I get this error:
[code]

My code:
[code]

[2019-06-09 07:59] panva commented on #605
HS* are HMAC based algorithm, a symmetric secret is the only thing required.

For other algorithms you need a private key to sign or a public one to verify (or a x509 certificate - they contain the public key), an asymmetric key pair. For `jsonwebtoken` these are expected to be passed as PEM-encoded strings or buffers.

Bottom line, your `cfg.get('jwt.secret')` needs to yield a private key if you

[2019-06-09 07:59] #605 closed

[2019-06-12 16:06] mathiasose opened #606 "Entering a string value for `clockTolerance` causes expired tokens to be accepted"
See this example: https://runkit.com/mathiasose/5d011f8474348c001fe376a5

I got things a bit mixed up and entered a string value for `clockTolerance`, and found it causes `verify()` to **accept expired tokens**.

I did eventually realize that the docs say to put "number of seconds" for `clockTolerance`, i.e. an integer value, but only after being confused for a while. Seems easy to get it wrong wh

[2019-06-13 18:23] jmansor opened #607 ".decode returns null when token has a = sign"
Hi!

I've got a JWT string (sadly cannot share it) that contains an = sign. When I pass it to `.decode` it returns `null`. I've tried a few other decoding tools and the same JWT string is correctly parsed. Weird thing is that, if I remove the = sign, `.decode` parses it correctly but then the string is not valid when considering the secret. Is this a bug? what am I missing?

Using version 8.4.0.

[2019-06-13 18:28] panva commented on #607
Hi @jmansor

The bug lies with the producer of your JWT. `=` (padding) is to be omitted from compact JWS, ergo JWT as well.

[2019-06-13 18:45] jmansor commented on #607
I see, that's what I suspected, thanks @panva. It should be safe to remove all `=` from the string  before passing it to `.decode` just for the sake of getting it correctly parsed, right?

[2019-06-14 10:59] developez opened #608 "where is stored the token?"
Can we choose where is stored the token? For example use redis or mysql?

[2019-06-14 22:53] amrew commented on #604
I also got the problem.
You can cast it `sub: 'some-sub' as any`. Temporary solution
[code]

[2019-06-17 08:04] LoicPoullain commented on #604
The weird thing is that the types look correct: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jsonwebtoken/index.d.ts#L121 🤔

[2019-06-17 08:10] LoicPoullain commented on #604
It looks like it is a compiler issue. It works with TypeScript 3.4.5 but fails with TypeScript 3.5.1 & 3.5.2.

[2019-06-17 08:25] dauledk commented on #604
@LoicPoullain good catch - but why does it fail with Typescript > 3.5.1 🤷🏽‍♂️ ?

[2019-06-17 08:31] LoicPoullain commented on #604
No idea 😕 I'm going to open an issue on the TS repo today when I get a chance.

[2019-06-18 10:54] #607 closed

[2019-06-18 15:37] mathiasose opened #609 "maxAge doesn't work as expected"
I have made three tests at https://runkit.com/mathiasose/5d0901da2286fc001a4bb01d

I would expect all three to throw an error with `maxAge exceeded`, but only the third one does? Can anyone explain? All the values are expressed in seconds right?

[2019-06-20 14:12] gallagherrchris commented on #609
`maxAge` is simply implemented as an additional way to limit the length of time a token is valid.  This allows you to not accept a token even if it is not expired yet.  In your first example, the time between the `iat` and when you verify is less than the `maxAge` therefore it successfully validates.

 You can check out the code here
https://github.com/auth0/node-jsonwebtoken/blob/eefb9d9c6eec5471

[2019-06-23 19:36] LoicPoullain commented on #604
Looks like the bug is fixed in the pending next version of TypeScript. Installing `typescript@next` (version `3.6.0-dev.20190623`) makes the compilation work. We just need to wait for the next release and build with `3.4` for now.

[2019-06-23 19:57] panva commented on #604
I'm going to go ahead and close this as there's no TODO in this repo or the types one, which we're not the maintainers of btw.

[2019-06-23 19:57] #604 closed

[2019-06-24 21:55] jvanalst commented on #608
Would you store them at all server side? As I understand it, the point of JWT is (at least partially) to get away from having to store session information the server.

[2019-06-24 22:28] jvanalst opened #610 "Question: Should EXP calculations really be based on IAT?"
Here's my scenario... when a user posts the JWT to my application, I'd like the application to renew and resign the JWT with a new expiration time. This is to have much the same behavior as a traditional session, which keeps going indefinitely as long as you don't walk away for too long and let it expire.

On resigning the payload with a new expiration, it looks like it's using the token's **iat**

[2019-06-25 06:53] panva commented on #610
@jvanalst this behaves exactly as documented

In other words, if an `iat` is already part of the payload the current timestamp used to offset claims like `nbf` or `exp` will be the `iat` value.

[2019-06-25 07:12] panva commented on #608
The library does not deal with storage, you're free to choose any storage that fits your use-case best.

[2019-06-25 07:12] #608 closed

[2019-06-25 07:18] panva commented on #609
This token when signed has an `iat` of now() and `exp` of 10hours from now. Validation `maxAge` is set to one hour so if you waited for one hour, regardless of the `exp` the option would kick in an throw.

This token when signed has an `iat` of 1, `exp` of 36000. Validation `clockTimestamp` is set to `1` so as it's validating it thinks the current timestamp is `1`, hence the token is not expired y

[2019-06-25 07:18] #609 closed

[2019-06-25 07:33] panva commented on #606
@mathiasose thanks for bring this to our attention, i've submitted a PR to fix this.

[2019-06-25 12:21] panva commented on #48
Closing this as stale. Using sufficient entropy secrets and higher bitsized RSA keys remains the responsibility of the user, not of the library to enforce or log about. We could make a recommendation in the README though, possibly with a link to the [JWT BCP](https://tools.ietf.org/html/draft-ietf-oauth-jwt-bcp-06#section-3.5)

[2019-06-25 12:21] #48 closed

[2019-06-25 12:32] panva commented on #85
The `payload` would be the JWS payload, in JWT case a JSON formatted string with attributes being individual `claims`. I don't think the documentation needs updating. If anything than `payload` could be `claims`, but that becomes too darn hard to keep track of when reading - `claim(s)` everywhere, whats what?

[2019-06-25 12:32] #85 closed

[2019-06-25 12:41] panva commented on #174
No plans to support JWE at the moment.

[2019-06-25 12:41] #174 closed

[2019-06-25 12:43] panva commented on #212
Huge request body sizes in node.js are usually dealt with either at the TLS-terminating proxy such as Nginx, Apache or Caddy or at the request body parser level.

[2019-06-25 12:43] #212 closed

[2019-06-25 12:46] panva commented on #238
@ziluvatar this could be achieved with the `getKey` (key being a function scheme) if it also got triggered with the payload. I think if we checked the arity of the function we could easily enable this while staying backwards compatible.

[2019-06-25 12:47] panva commented on #214
Closing as stale.

[2019-06-25 12:47] #214 closed

[2019-06-25 12:47] jtlapp commented on #212
It's not the absolute size of the request that's the problem. It's the fact that a JSON request consumes a lot of clock cycles to parse. A parser should be able to handle anything thrown at it, as the programmer intends, but a server should be more discriminating about what it processes.

[2019-06-25 12:51] jtlapp commented on #212
Especially when the upper bound on size is knowably small. The server stack could do a lot more to protect itself.

[2019-06-25 12:52] panva commented on #427
https://github.com/auth0/node-jsonwebtoken/pull/429#issuecomment-505422376 closing this as stale

[2019-06-25 12:52] #427 closed

[2019-06-25 12:53] panva commented on #355
Closing this as stale.

[2019-06-25 12:53] #355 closed

[2019-06-25 13:06] panva commented on #212
Going off the title here

Something "giant" has to get through a webserver and bodyparser first. Note that most body parsers for the node ecosystem (either express or koa) have defaults set to 100kb or 56kb

Javascript's `JSON.parse` cannot be passed any options to parse "with a limit" and not sending arbitrary limit sized JWTs to `verify` can easily be done on the application level.

[2019-06-26 03:25] jvanalst commented on #610
Oh it's hiding down there at the bottom instead of with the expiresIn option.

Thanks.

[2019-06-26 03:25] #610 closed

[2019-06-27 15:13] ziluvatar commented on #238
Yes, agree

[2019-07-02 10:39] marcelijanowski opened #613 "Yarn install is failing due dependency on gaxios@1.8.5"
I was trying to install a jsonwebtoken package but getting errors
Steps:
1. yarn add jsonwebtoken -S
2. Error
[code]
I have looked on a gaxios repo and there is not 1.8.5 version
[https://www.npmjs.com/package/gaxios](https://www.npmjs.com/package/gaxios)

[2019-07-02 11:23] panva commented on #613
Definitely not because you're trying to install `jsonwebtoken`, `gaxios` is [not](https://github.com/auth0/node-jsonwebtoken/blob/v8.5.1/package.json#L38-L49) our dependency.

[2019-07-02 17:12] #613 closed

[2019-07-03 22:00] robinzimmermann commented on #601
It worked for me, but the Typescript type definitions for `@types/jsonwebtoken` don't contain `complete` as an option for `JWT.verify()`.

[2019-07-06 17:44] developez opened #614 "Can the payload be decoded when the token is expired?"
Any way to do that without modify the core of the library?

[2019-07-06 17:49] developez commented on #614
jwt.decode

[2019-07-06 17:49] #614 closed

[2019-07-07 23:50] lffg opened #615 "API that returns Promise?"
I think that the "_way of doing async stuff_" in JavaScript has significantly evolved in the past few years. We are moving to promises that empower the developers to make use of the `async`/`await` APIs.

With that, I truly think that callback APIs are slowing this process and making it more difficult.

Then I ask: Why is this library still uses callbacks to handle its async methods?

[2019-07-07 23:53] lffg commented on #615
https://github.com/auth0/node-jsonwebtoken/issues/111

[2019-07-07 23:53] #615 closed

[2019-07-11 07:51] quentinpraz opened #616 "Impossible to verify JWTs with a list of algo that contains none"
Hello,

I'm trying to verify a JWT: It can be signed (i.e. _HS256_) or not signed (_none_ algorithm). According to the doc, it should be possible by using _algorithms = ['none', 'hs256']_. I did not see anything saying that _none_ algo should be used alone. Unfortunately, this is not possible and I have an error (because I provide a key but no signature).

Is it something that should be possible (

[2019-07-11 10:05] phalconVee commented on #375
To forcefully invalidate a token upon logout, try

[code]

The above will set the token to blacklisted.

[2019-07-12 01:17] HtetLynnHtun opened #617 "The value of "iat" field is invalid json value."
Hello, the token I get is invalid because, the iat field is somehow messed up. You can look at the picture.

My code:
[code]

The token is: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNWQxYzFhMTA0YTBmOWUyZTc4NzVjODdiIn0sImlhdCI6LgjH2m5c8emE66pjdExmgep47BAdKTrCJ7k2fQ.FKGV9Jm2u7rmsCe65wKzPTw5jtS38n2tVEGifC50VyU`

Decoded :
![Screenshot_1](https://user-images.githubusercontent.com/25409

[2019-07-14 16:12] StevenACoffman commented on #115
@omsmith Edwards-curve cryptography was defined for JOSE in RFC 8037, the last specification to come out of the working group.  Is that not sufficient? https://tools.ietf.org/html/rfc8037

[2019-07-14 16:25] panva commented on #115
@StevenACoffman this wasn't possible with node's `crypto` until very recently. I expect @omsmith to add the support for Ed25519 and Ed448 JWA eventually, until then - you can use my [implementation](https://github.com/panva/jose), with the added benefit of supporting more various key formats such as JWK, JWE encryption and all the bells and whistles of the JOSE specifications.

[2019-07-15 21:04] fabltd opened #618 "JsonWebTokenError - Undocumented Error"
There is little in the documentation to support trouble shooting of the following error:

name: 'JsonWebTokenError',
message: 'invalid token

I have a token generated by a third-party. This verifies with JWT debugger.

Token:

`eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1NjMyMTk5MDQsImV4cCI6MTU2MzIyMzUwNCwiYXVkIjoiZ2Fwb3NhLXByb2QifQ==.CoUA1uaytoIGxJUjQwGMvQzJQwUj1jZqcX8hIFjHhnPS6PlTVZf7x4AQ8D

[2019-07-17 07:55] arnasledev opened #619 ""jwt expired" after the app reload"
Hey, so I'm using docker and my node APP's authenticate module uses JWT. I'm using the authentication logic which requires to have access and refresh tokens. And this is where I see the problem. After the app reload (nodemon) I see, that my access token, which lasts for 24 hours, expires, but my refresh token, which lasts for 1 month would still be valid. Both tokens are being set in the same way.

[2019-07-17 08:12] arnasledev commented on #619
ok so the problem was that I was passing "expiresIn" as string which converts my "seconds" to "miliseconds". After parsing it to Integer everything looks fine.

[2019-07-17 08:12] #619 closed

[2019-07-19 13:23] quentinpraz commented on #618
Hi, I guess your error comes from the fact that your JWT contains padding (==). Can you try to verify or decode your JWT without padding.
If you want more info, look at this closed issue: #162

[2019-07-29 10:02] madmox opened #620 "Use a better algorithm than UTF-8 to derive keys from string secrets."
Currently, when I use the following code to generate a JWT:
[code]
The actual binary key used for signing is derived from the secret using a simple UTF-8 string-to-byte.

I am surprised that the default sign method of the package uses no key derivation mechanism (like PBKDF2) to generate the signing key from given the secret. PBKDF2 does not solve the secret length issue, but it does mitigate the

[2019-07-30 09:35] khaledosman commented on #111
Why do `sign` and `verify` accept callbacks? if they're synchronous I'd expect the callbacks to be removed, but that didn't happen in https://github.com/auth0/node-jsonwebtoken/issues/246 since "they can be async"

And if they're async I'd expect them to return Promises since this is the standard way for doing async stuff nodejs nowadays, if you don't want to break the current sync API that it ret

[2019-07-30 09:53] panva commented on #111
What is the point of exposing either callback or Promise anyway i ask?

Node's `crypto` async (for the JWS relevant crypto ops) comes from being able to stream the signed / verified data, which isn't the case here. There's literally 0 benefit from using the callback and there would also be 0 benefit in exposing a Promise.

The only thing, that i'd see as a quirk rather than a feature is `getKey` b

[2019-07-30 13:15] panva commented on #620
@madmox Buffer is already an accepted secret argument type, you're not required to pass a string.

[code]

Should you want to use a KDF to derive the secret binary buffer you're free to do so after your token consumers do the same, we cannot however do this on a package level by default since we have stay interoperable with every other JWT/S module.

[2019-07-30 13:46] madmox commented on #620
Thanks for the quick reply. I already use a similar setup in my projects (`const key = Buffer.from(base64Key, "base64");`). I understand the retrocompatibility issue, I just find it strange that the library's default behavior (`jwt.sign({ "foo": "bar" }, "my-secret")`) is something that should never be done, for obvious security reasons :/

This library is used by thousands of projects, and 95% of

[2019-07-30 13:59] panva commented on #620
We could certainly update the examples and documentation, keeping in mind it's not always the developer who's choosing the secret values, such as in cases of OAuth 2.0 client authentication assertions with a shared client_secret or an OIDC AS signing ID Tokens with HMAC based JWAs. In all these instances the one who generates the random secret uses sufficient entropy to generate a hex or base64/ur

[2019-07-30 15:36] madmox commented on #620
You're right, this is OIDC spec, I'm a bit surprised :/ Perhaps they judged the loss of entropy is not that problematic.

Well it doesn't _have_ to, but it's a conveniance method to avoid letting developers getting the UTF-8 representation of the secret themselves (using `Buffer.from(secret, "utf8")`). Other libraries chose not to offer this conveniance, at the detriment of clarity I suppose. Now

[2019-07-30 15:38] johankayati opened #621 "403 forbidden error"
We are getting 403 forbidden error when we try to install this package. all other packages works fine. please help

error 403 forbidden: jsonwebtoken@latest

[2019-07-30 15:54] johankayati commented on #621
it used to work untill last week. started failing from yesterday.

[2019-07-30 15:59] panva commented on #620
Would you like to propose a change to the README.md file?

[2019-07-30 16:07] panva commented on #621
@johankayati we're not responsible for the runtime or availability of [npmjs.com](https://npmjs.com) package registry and we did not release any new version in the past ~4 months.

[status.npmjs.org](https://status.npmjs.org) looks okay and I can get a fresh installation through so you may be looking at a network or otherwise isolated local issue.

I'm going to close this as there's no TODO to be

[2019-07-30 16:07] #621 closed

[2019-08-03 13:37] mrtkprc opened #624 "JWT(jsonwebtoken) sign doesn't work with environment variables"
In Create-React-App, I create token with environment variable(using package env-cmd); however, I don't produce valid token.

I try to compose token with environment variable which is named after REACT_APP_API_KEY. If I write value of environment variable in method jwt.sign as a string, then valid token is produced. Although I log REACT_APP_API_KEY to console, valid token is not produced within jwt

[2019-08-03 21:13] mrtkprc commented on #624
I solved the issue. My API Secret key contains special characters like sign $. Therefore, I got message invalid authentication.

[2019-08-03 21:13] #624 closed

[2019-08-03 22:08] usamamashkoor opened #625 "jsonwebtoken is always returning me the same token."
Hi, I am generating the JSON web Token using the library but it is always returning me the same token for the same user each time...

Here is how I am generating the token.

`var token = jwt.sign(user._id.toHexString(),process.env.SECRET)`

it is generating the same token each time so anyone can get access to the token one time then can access the user using the token so is their a way for us to g

[2019-08-09 07:01] umar0107 opened #626 "Jwt not invalid on logout or blocking a user"
JWT Auth.0 should provide a function for invalidating the jwt on logout or blocking the user, token should be destroy by calling some function for the user

[2019-08-09 07:30] panva commented on #625
An HMAC signature will always be the same for a header + payload combination that is equal.

You are unfortunately passing a string as the payload which

1) isn't conform to JWT which says the payload must be a JSON object
2) robs you of timestamp claim based validation such as iat, exp, nbf

Change your payload to be an object, set an expiration, get `jti` and `iat` in the payload and your tokens

[2019-08-09 07:30] #625 closed

[2019-08-09 07:32] panva commented on #626
this is merely a JWT token validation function with no backend for invalidating issued tokens, as such it is agnostic to the actual JWT application and cannot deliver such functionality out of the box.

You may implement such wrapper around invalidation yourself, preferably based on blacklisting token's `jti` for the remainder of their TTL (based on `exp` claim) or look for an npm module already d

[2019-08-09 07:32] #626 closed

[2019-08-16 10:43] jetaimefrc commented on #111
[code]
It's my resolve :)

[2019-08-19 08:08] Cu7l4ss opened #627 "Feat: EdDSA Algorithm Support"
Hello!

Are there any plans to implement support EdDSA Algorithms?
If not, would you consider adding them?

Thanks

[2019-08-19 08:11] panva commented on #627
https://github.com/brianloveswords/node-jwa would need to support them

we will once `jwa` does.

[2019-08-19 08:42] Cu7l4ss commented on #627
Thanks for the prompt response, I will pursue and update here on any advancements.

[2019-08-20 06:37] TeijiW commented on #590
I'm using `err.name`, but he just returns "_Error_"

[2019-08-21 12:55] eugene-matvejev opened #628 "signature of method 'sign' mismatch with behaviour"
sign method signature:
[code]
if I am using it like: `jwt.sign('string', 'secret', { expiresIn: '1h' });` it will result in error "invalid expiresIn option for string payload"
but, if I am using it like `jwt.sign({ data: 'string'}, 'secret', { expiresIn: '1h' });` it will be okay

[2019-08-21 13:02] panva commented on #628
This is very much the expected behaviour, if you're signing a JSON object the `exp` claim can be put in. If you're signing an arbitrary payload (which btw means the result is not a JWT anymore - all JWT payloads MUST be JSON objects) there's no way to stuff an "exp" or other claims in.

[2019-08-21 13:36] eugene-matvejev commented on #628
nice test 💯 👍 , may be some note would be beneficial in 'string' ? as someone might get confused

as i just read definition of the method, options defenition

[2019-08-22 03:26] WangHansen opened #629 "Typing error with Typescript"
For `decode` function, if I do this:
[code]
I got the following error
```Property 'header' does not exist on type 'string | { [key: string]: any; } | null'.```

Another interesting design is when I call `sign` function, the second parameter has type `Secret`, but when I try to call `verify` with the same type, it complains:
```Argument of type 'Secret' is not assignable to parameter of type 'strin

[2019-08-22 16:02] EHadoux commented on #628
In the Readme is written near the beginning:

So I guess it's kind of documented even though I indeed missed it the first few times.

[2019-08-26 22:19] asinner opened #630 "Error: error:0D0680A8:asn1 encoding routines:asn1_check_tlen:wrong tag"
I'm using this package (`v8.5.1`) to verify a token. The token was signed using the RS256 algorithm. Using jwt.io I was able to verify the signature using the public key I was given.   (shareable link [here](https://jwt.io/#debugger-io?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOjE1NjY4NTU2MTksImlhdCI6MTU2Njg1MjAxOSwiaXNzIjoiaXBjdCIsInB1aWQiOiJhc2lubmVyIn0.xeaEan7DoDe-awTJVivGIF-8QBwVkBmOk

[2019-08-27 02:04] kekobin opened #631 "jwt.verify(token,secret) take too long, for one to three minutes"
Hi,there:
I use jwt.verify(token,secret) to decode token, but it is not stable.sometimes it takes just 100ms, but sometimes one more minutes.how is that ?

[2019-08-27 06:30] panva commented on #630
Hi @asinner,

asn.1 parsers come in different flavors, some more forgiving than others, the one used by jwt.io uses a rather lax one. `jsonwebtoken` does not bundle one but instead relies on node's `crypto` module to parse key material.

I've ran the key through three different asn.1 implementations and it fails to be parsed in each one.

asn1.js definitions from [`@panva/jose`](https://github.com

[2019-08-27 18:02] #630 closed, assigned to nobody

[2019-08-31 01:29] LuckyPigeon opened #632 "Add minify folder"
#### Description
Add minify folder for jsonwebtoken to be [cdnjs](https://github.com/cdnjs/cdnjs) new library.

[2019-09-03 05:08] ratulSharker commented on #616
Accepting **none** algorithm causes security vulnerabilities. Newer library implementation of `jwt.verify()` stopped implementing this **none** algorithm. Check details [here](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/).

[2019-09-03 11:37] quentinpraz commented on #616
Accepting the _none_ algorithm is not a security issue if the developer using the library did it on purpose. According to RFC 7519, the _none_ algorithm should be supported. Note that they call _Unsecured JWT_ when the _none_ algorithm is used which makes sense.
The security issue occurs when the _none_ algorithm is accepted by default by the library (which is not the case here). According to the

[2019-09-03 11:49] panva commented on #616
As far as i can see this is intended, accepting HS256 and none in one code path bears as much security as none on its own - 0.

Please use different code paths for secured and unsecured JWTs.

That being said docs could use updating to reflect that.

[2019-09-04 09:35] snowinmars commented on #331
I get it.
The error message tells us about wrong private key format. If you'll check the `fixProc.js` file that appears on the callstack you'll see that the regex validation fails.
So double check that your key is valid.

[2019-09-04 11:28] quentinpraz commented on #616
I agree, having _none_ in list means that any JWTs can be validated. My use case is not a production use case and I totally understand that this is not something you want to support.

[2019-09-04 11:28] #616 closed

[2019-09-04 11:46] barouchk commented on #572
@amirklick I had the same issue.

check that you putting the private key of the certificate.
It will be inside the .pem file

[2019-09-09 19:13] MarcusPianco commented on #629
I have the same problem but when I'm trying get the {id} decoded.

``any
Property 'id' does not exist on type 'unknown'.ts(2339)``

[2019-09-13 14:22] manicho commented on #400
Thank you, this is exactly what i needed.

[2019-09-19 07:41] bencmbrook opened #634 "Add option to suppress claims from `jwt.verify` return value."
`iat` and `exp` get pushed onto the returned object from `jwt.verify`. This can lead to unexpected problems, since the input is not equal to output.

[code]

Can we get an option to suppress these values from the return, so that input and output are the same? Note this also applies to `jwt.decode`.

[2019-09-19 07:44] panva commented on #634
🤔 is that really needed given that you can use destructuring?

[code]

[2019-09-19 07:46] bencmbrook commented on #634
There are certainly case-by-case workarounds, but it's more a question of API design. Pushing headers onto the returned payload requires knowledge of all headers that *might* get returned.

[2019-09-19 08:06] bencmbrook commented on #634
One possibility: The `complete: true` option could return a fourth object, like `payloadWithoutClaims`.

It's also weird to not know whether a key on my payload came from the client or was inserted by node-jsonwebtoken. Especially given the standard might change and a [new claim](https://www.iana.org/assignments/jwt/jwt.xhtml) might start appearing in the future.

[2019-09-19 13:04] jfromaniello commented on #634
There is no way to determine if the claim was or not part of the input object.

For example, assuming that we add the option `complete: false`, what would you expect in this case?

[code]

should the output object contains `iat` given that it was part of the original input object?

In other words, the `expiresIn` in the sign method is a convenient way to add an standard claim to the token but is d

[2019-09-20 00:39] bencmbrook commented on #634
Good point @jfromaniello - the claims are technically user inputs and I retract my "It's also weird to not know whether a key on my payload came from..." statement.

I'd say it should be excluded from the output object, given it's a registered claim and there's a reasonable expectation that `iat` is "issued at" for the purposes of JWT verification.

-----
BTW I was referring to the [existing `comp

[2019-09-23 05:27] AndreOneti opened #635 "Create a method to delete or invalidate the token"
## To delete or invalidate toke like

The method name is invalid or deleted.

[code]
or something like this.

[2019-09-23 11:05] Bessonov commented on #635
Most of developers doesn't understand that there is no way to invalidate the token in a stateless system. To do that you must introduce a... state. For example you can implement white- or blacklisting of tokens and check every request against this list. Or introduce a session. But well, this is never a part of an jwt library like this one. Look for example at [Single Sign Out](https://stackoverflo

[2019-09-24 10:43] panva commented on #635
https://github.com/auth0/node-jsonwebtoken/issues/626#issuecomment-519813568

[2019-09-25 14:27] yelichi opened #636 "Supposed private key with passphase"
I was trying to use the `jwt.sign(payload, {key, passphase})`. The contain of key is including `———BEGIN PGP PRIVATE KEY———- ..... ———END PGP PRIVATE KEY———`. But I still got `secret must be string or buffer`

[2019-09-25 14:29] panva commented on #636
Encrypted private keys are not supported by this package. You may use those with [`@panva/jose`](https://github.com/panva/jose) under node 12 runtime that supports [`KeyObject API`](https://nodejs.org/api/crypto.html#crypto_class_keyobject)

[2019-09-25 15:11] yelichi commented on #636
Thanks for your response. The readme said that `secretOrPrivateKey is a string, buffer, or object containing either the secret for HMAC algorithms or the PEM encoded private key for RSA and ECDSA. In case of a private key with passphrase an object { key, passphrase } can be used (based on crypto documentation), in this case be sure you pass the algorithm option.` Do you mean ` { key, passphrase }`

[2019-09-25 15:20] panva commented on #636
Ah nevermind, i thought this wasn't supported but turns out it should be.

[2019-09-25 15:24] panva commented on #636
You need to set a signing algorithm otherwise HS256 is used and this error is returned from the underlying HS signer.

[2019-09-25 15:24] #636 closed

[2019-09-25 15:30] yelichi commented on #636
Yes, I have tried to set an algorithm. It still doesn't work and throw the same error.

[2019-09-25 15:32] panva commented on #636
What algorithm are you setting?

[2019-09-25 15:33] yelichi commented on #636
I have tried HS, ES, RS, then throws the same error.

[2019-09-25 15:37] panva commented on #636
It works fine for me

given a key encrypted with the passphrase 'foo' and cipher 'aes256'

[code]

[code]

[2019-09-25 15:45] yelichi commented on #636
When I am using RS256, then I got `error:0906D066:PEM_read_bio:bad end line`. So does it mean that some of algorithms just work  for some certain key ?

[2019-09-25 16:06] yelichi commented on #636
Thanks for your providing your testing result. I have tried your private key. It works. But I was using my key which is including `-----BEGIN PGP PRIVATE KEY BLOCK----- .... -----END PGP PRIVATE KEY BLOCK-----` and try 4 types of algorithms then got below error.

ES: `error:0906D064:PEM routines:PEM_read_bio:bad base64 decode`
HS:`secret must be a string or buffer`
RS: `error:0906D064:PEM routines

[2019-09-25 17:03] panva commented on #636
I doubt this private key format is supported by node.

[2019-09-26 06:55] yelichi commented on #636
I was using a openPGP pair for this JWT generation. I’m not sure whether the package doesn’t support the openPGP or not. I was generating the openPGP key with command ‘gpg’.  Did you use this command for generating your key pair?

[2019-09-26 06:59] panva commented on #636
FWIW I used [`@panva/jose`](https://github.com/panva/jose) using Node 12 for everything starting with generating the new private key and then exporting it to PEM with a passphrase.

[2019-09-27 08:13] yelichi commented on #636
Do you know whether this package supports openPGP Kay to generate JWT or not?

[2019-09-27 08:16] panva commented on #636
it does not, if node doesn't support it - you won't find a package that will.

[2019-09-27 08:21] yelichi commented on #636
There is a module “openpgp” which supports encryption and signing with openPGP key. Want to know is there any chances that we can use it for JWT generation ?

[2019-09-27 08:23] panva commented on #636
There is not. You need a regular private key in either pkcs8, pkcs1 (RSA only) or sec1 (EC only) formats.

[2019-09-27 08:39] yelichi commented on #636
So it means node only supports these 3 formats of key for JWT generation?

[2019-09-27 08:40] panva commented on #636
it means node [crypto](https://nodejs.org/api/crypto.html) module can only process keys in these three formats

[2019-09-27 08:48] yelichi commented on #636
Is there any different between the signature in JWT and the one from normal signing ?

[2019-09-30 07:18] nimish-gupta commented on #275
Have you solved this issue? @iiitmahesh ?

[2019-10-02 12:37] grifotv commented on #221
@anders-g-hansen could you please let me know how you managed to make it work with `jwt-decode` https://github.com/auth0/node-jsonwebtoken/issues/221#issuecomment-283108676

[2019-10-04 15:35] lrecknagel opened #637 "TokenExpiredError instanceof JsonWebTokenError is true"
### Description

When dealing with `JsonWebTokenError` and `TokenExpiredError` it came out that the following snippet evaluates to `true`, where I think it should not: `TokenExpiredError instanceof JsonWebTokenError`

### Reproduction

[code]

### Environment

- **Version of this library used: 8.5.1**
- **Version of the platform or framework used, if applicable: -**
- **Other relevant versions (la

[2019-10-04 15:39] panva commented on #637
Absolutely expected,

https://github.com/auth0/node-jsonwebtoken/blob/v8.5.1/lib/JsonWebTokenError.js
https://github.com/auth0/node-jsonwebtoken/blob/v8.5.1/lib/TokenExpiredError.js

`JsonWebTokenError` is a generic error all custom errors from `jsonwebtoken` inherit their prototype from.

[2019-10-04 15:39] #637 closed

[2019-10-04 15:41] lrecknagel commented on #637
Thanks for the fast response and explanation. Sorry for the misunderstanding here.

[2019-10-04 19:54] borrey commented on #370
Still not sure if this is resolved

[code]

  iat: 1570218102,
  exp: 1570218103,
  aud: 'sampleaudience.com',
  iss: 'Sample issuer',
  sub: 'Sample Subject' } -3 null

node version: v11.4.0
"dependencies": {
    "jsonwebtoken": "^8.5.1"
 }

[2019-10-07 18:31] AndreOneti commented on #635
Tks for replying to me about this issue.
I didn't know jwt and didn't know its features completely.

[2019-10-07 18:31] #635 closed

[2019-10-09 11:53] mamof opened #638 "Implement SameSite option validation checks"
[SameSite](https://web.dev/samesite-cookies-explained) as defined in [RFC6265bis](https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site-00) allows you to specify how cookies should be handled and restricted in relation to first-party or third-party requests.
There are three settings possible to set this option to: Strict, Lax, or None
Strict: Cookies will only be sent in a first-party co

[2019-10-09 11:56] #638 closed

[2019-10-10 07:31] anuragpathak2608 commented on #316
@papaiatis
@ziluvatar
Requesting new token from client-side in your case Angularjs will cause swquirty issue.
If your token gets leaked your application may get compromised completely.
And if we provide the functionality to the client to request fresh token it will allow an attacker to use the token for an indefinite time. And this will make the exp value of 2hours in token useless.

From security

[2019-10-14 01:26] brianschardt commented on #187
same thing happening to me

[2019-10-14 11:01] ralphgabrielle commented on #208
This is deprecated, is there's an update here? Thanks

[2019-10-14 18:15] lhazlewood commented on #208
@ralphgabrielle assuming the latest stable JJWT version, which is 0.10.7 at the time of writing, you can do:

[code]

[2019-10-15 04:05] ralphgabrielle commented on #208
Thanks, big help.  That worked.

[2019-10-16 01:06] mortenanders commented on #91
Maybe I am overlooking something, but I don't think this is fixed.
After transpiling with browserify and trying to sign with "RS256" the following error is thrown:

`TypeError: Cannot read property 'split' of undefined
    at decrypt (C:\Users\moch\demo\bundle.js:17559:30)
    at parseKeys (C:\Users\moch\demo\bundle.js:17512:14)
    at sign (C:\Users\moch\demo\bundle.js:6994:14)
    at Sign.signMe

[2019-10-16 14:32] coooolers opened #640 "Ensure uniqueness of a token string for the same payload but for two different use cases"
I have two use cases: a. Verify Email Address b. Reset forgotten password

For JWT signing, I am just passing a user Id in the payload. Does JWT signing process make sure that two different (unique) JSON tokens be generated for these two use cases? If not, what do I need to do? Kindly help

Thanks

[2019-10-16 19:48] jiri-vyc commented on #111
+1 for removing the callback API altogether and bump major version OR* support Promises, even though they're just useless in this case, but at least consistent with

A) current "async" callback API (quotation marks important)

B) current way of writing and error handling in asynchronous Node code:

[code]

The current way is just neither here nor there and it's very confusing. Proof: this issue di

[2019-10-21 10:20] pkchoudhary1211 commented on #356
try  this one
module.exports={
    async isAuthetication(token){
        console.log('user data value',token)
        return await jwt.verify(token, 'token');
    }
}

[2019-10-22 11:51] ziluvatar commented on #631
First time I see that. Is still happening to you? Isn't another part of the system preventing the node process to execute it properly?

We don't have any benchmark about the library though.

[2019-10-22 15:39] ziluvatar commented on #617
Did you provide `iat` field in the payload? Is that token actually coming from the code above? Just asking because it should have `exp` claim too.

[2019-10-22 15:52] ziluvatar commented on #629
Currently the community is the one adding types for Typescript. I think this PR should fix the first issue (merged 7 days ago):
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39028/files

About the second, the library does not return any `id` field in the response for `decode()`.

If you find any improvement for the types be free to add them there (we don't own that repository).

[2019-10-22 15:52] #629 closed

[2019-10-22 16:15] ziluvatar commented on #640
Can you expand on the question? maybe giving examples for each use case

[2019-10-22 16:40] EHadoux commented on #640
If I am not mistaken two tokens with the same payload and the same ```exp``` and ```iat``` fields will be identical. However, even in the unlikely case of the same ```iat``` for your two use cases, if you just set a different duration for each, you are almost certain to get a different token.

[2019-10-22 17:58] panva commented on #640
Only when signed using a deterministic algorithm - RS and HS family, all other algorithms (ES, PS, EdDSA) are not deterministic and two tokens with the same header and payload will have different signatures.

[2019-10-23 15:46] coooolers commented on #640
@panva Thanks. I confirmed it by reading the difference between these two categories of algorithms and I will use the ES256 algorithm.

@ziluvatar When a user registers, we need to verify his email address. To fulfill this need, a JWT token needs to be generated and during the signing process, only the user id is there in the payload. Then the token is sent to the user's email. Similarly, when the

[2019-10-23 15:46] #640 closed

[2019-10-29 13:19] Redsandro commented on #636
I have been struggling with similar issues. With all the different keys out there, I wouldn't mind some documentation on this.

My key starts with:

[code]

It doesn't work either, although the crypto docs say RSA is supported. Crypto docs are notoriously confusing. Might be handy to have some examples in ` README.md` on how to generate them properly using bash utilities. I mean, if `jwt` wasn't m

[2019-10-30 13:46] ricardotfs commented on #417
it's very simple code below:
services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
                .AddJwtBearer(options =>
                {
                    options.TokenValidationParameters = new TokenValidationParameters
                    {
                        ValidateIssuer = true,
                        ValidateAudience = true,
                        ValidateLifetime

[2019-10-30 21:50] michaelh-mg commented on #238
The problem with this approach is that you are choosing the key to verify the token based on data in the token which has not yet been verified. A severe security vulnerability was previously introduced into the implementation (which has since been fixed) when it made decisions on how to validate the token based on data from the token before it was validated. Granted, it wasn't exactly the same as

[2019-10-31 08:05] NotBobTheBuilder commented on #238
Thanks for commenting this, @michaelh-mg. I actually forgot I filed this issue it was so long ago -- it's great to have a reasoned answer about why it's not a good idea. I'll close it out to keep the issue backlog tidy.

[2019-10-31 08:05] #238 closed

[2019-11-04 03:36] congthanh13dth06 opened #642 "Please tutorial how to fix "error:0909006C:PEM routines:get_name:no start line" with algorithm: "RS256""
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2019-11-08 05:51] raginisahu commented on #642
I have the same issue.
please give me solution if you have

[2019-11-13 16:33] markerberg commented on #587
I was also receiving a null value when trying to use `jwt.decode(token)`. Turns out I also needed to parse it `jwt.decode(JSON.parse(token))`

[2019-11-13 16:34] markerberg commented on #593
I was also receiving a null value when trying to use `jwt.decode(token)`. Turns out I also needed to parse it `jwt.decode(JSON.parse(token))`

[2019-11-18 12:29] BigFab commented on #220
Hi, any news on this one? Thank you!

[2019-11-19 19:29] PorterK commented on #111
@jiri-vyc That code will execute and work exactly as expected if you just remove `await` from before `jwt.verify`... and it would look clean/normal IMO

+1 to remove the callback API which serves to confuse people into thinking that the methods of this library are async.

I say wrapping any method here in a promise is not a great idea, it's just a waste of time just to conform to a pattern that is

[2019-11-20 03:41] babybabyboy opened #643 "Does the ES256 have a plan to support the S-256 curve?"
Does the ES256 have a plan to support the S-256 curve?

[2019-11-20 09:08] ibrahimsakar opened #644 "How can I verify the JWT token generated by bundle ssl certificate?"
There is an IdentityServer4 based Single Sign-On project and it generates a token from SSL certificate. After bundled the SSL certificate with CA and Root certificate I cannot verify the signature of the token. I'm getting a new public key from new bundled SSL with the OpenSSL tool but the new public key does not verify the signature of the token. I don't know how to solve this.

- I tried to get

[2019-11-21 06:22] CHANDRAMOHANnegi commented on #372
delete node_modules  and paackage.lock.json    and do   npm install    or  yarn add

[2019-12-04 07:45] w995928555 commented on #400
使用OpenSSL生成 RSA公钥与私钥可以解决

[2019-12-04 16:16] yuvigrg opened #649 "Is there a way to decrypt an encrypted token?"
Hi,

I am trying to decrypt a token which has been encrypted using the public key. I have access access to the private key before verifying the signature.

I cannot find any function available in this package. Can anyone guide me here?

[2019-12-04 16:20] panva commented on #649
`jsonwebtoken` does not implement JWE (JSON Web Token Encryption), you can give the [`jose`](https://github.com/panva/jose) package a try if you need both JWT/S and JWE.

[2019-12-05 10:46] yuvigrg commented on #649
@panva it was my next to go. I was checking if this package had it.

[2019-12-05 11:01] #649 closed

[2019-12-07 16:47] taylankarakas commented on #642
I have the same issue. you must use default algorithm for now.

[2019-12-07 16:59] panva commented on #642
@taylankarakas

I've hidden your suggestion. The point behind using an RS private key is so that noone but you can produce the signatures but everyone with the knowledge of your public key can verify it. HS256 is an HMAC based symmetric key (secret) algorithm and you'd be using the octets of malformed private key as the shared symmetric secret. DON'T DO THAT.

How to fix it? Provide a properly for

[2019-12-07 16:59] #642 closed

[2019-12-08 12:18] makville commented on #625
@panva  Even when a json is used, the library still returns the same token. My work around is to attach a timestamp field to the json and update it with Date.now() just before signing it. That way the json is technically different from the last one.

[2019-12-08 19:47] panva commented on #625
@makville I just want to make sure we're using the same terms here.

The token will be "the same" with the same payload, yes, simply because HS256 is a deterministic symmetric algorithm.

However, providing a JS object input (not JSON, that's just a string), an `iat` claim will be added automatically, and only if you happen to fall into the same second, it'll be the same signed JWT. It's basics.

[2019-12-11 19:56] heritiermwalila commented on #221
You can try this module react-native-pure-jwt

[2019-12-15 03:10] magic8baller opened #650 "jwt.sign not working with Node 13 ES modules?"
I am trying to use Node's latest stable version (13) Modules that require "type": "module" in package.json.
I haven't had any issues with other packages so far but trying to use jwt.sign() returns TYPE ERROR: jwt.sign is not a function
Using the same code with Common Modules, it works like it should.
I've just been importing them as import jwt from "jsonwebtoken"

Not sure if jsonwebtoken is incom

[2019-12-15 14:07] #650 closed

[2019-12-18 02:45] luisgurmendezMLabs commented on #483
I don't think that casting the decoded as any is a good solution. In any case the best thing will be to create an interface and cast it to that.

In the other hand I think that this library has a poor typing implementation. The verify function should be typed. So `verify` should be something like `verify<DecodedParams>(...): DecodedParams`

[2019-12-31 03:21] Shhuy commented on #590
是否是到了设置的过期时间以后进行解密，就会进入异常处理，我需要再时间过期以后拿到存入的信息，但是现在进入了异常。怎么解决呢？

[2019-12-31 12:36] sm2017 opened #652 "SyntaxError instead of JsonWebTokenError"
### Description

Sometime verify throws `SyntaxError` instread of `JsonWebTokenError`

### Reproduction

[code]

### Environment
**Version of this library used:** 8.5.1

[2020-01-01 17:02] PeichengLiu opened #653 "get "invalid signature" when try to verify"
### Description

sign and verify works fine in simple test, but not in simple Express APP with SECRET as String. While it work with SECRET as `Buffer`.

### Reproduction

1. clone this repository: [PeichengLiu/track-server](https://github.com/PeichengLiu/track-server.git).
2. install dependencies.
3. run simple test, `node src/test.js`, all fine.
4. run express app, `npm run dev`.
5. send post req

[2020-01-03 09:19] kavience opened #654 "How to disable token manually"
As title saying, how can I disable token manually instead of by expired time ? I did't find the any function and document about this ?
Thanks !

[2020-01-03 09:39] kavience commented on #654
I found a same issue [https://github.com/auth0/node-jsonwebtoken/issues/375 ](https://github.com/auth0/node-jsonwebtoken/issues/375 )，so close this issue)))

[2020-01-03 09:39] #654 closed

[2020-01-04 18:30] sm2017 commented on #652
@ziluvatar reply please

[2020-01-08 06:29] jaywcjlove commented on #631
@zamd

[code]

Generated token is too long

[code]

https://github.com/chill117/express-mysql-session/blob/c619e09e9395a42288e850b9e589103672cce789/schema.sql#L2

Due to the preset design limitation of the [express-mysql-session](https://github.com/chill117/express-mysql-session/blob/c619e09e9395a42288e850b9e589103672cce789/schema.sql#L2) table.

[2020-01-09 11:15] phikes commented on #111
In this discussion it seems to be missed that `verify` can absolutely and legitimately be asynchronous (see [here](https://github.com/auth0/node-jsonwebtoken/blob/eefb9d9c6eec54718fa6e41306bda84788df7bec/verify.js#L83)).

[2020-01-10 09:19] lillem4n opened #655 "Please add ES6 module/ESM support"
### Describe the problem you'd like to have solved

When working in a ES6 module project I would like to be able to `import` jsonwebtoken.

### Describe the ideal solution

A specific build for ESM/ES6 Module as other projects have, like this: https://github.com/vuejs/vue/blob/dev/dist/vue.runtime.esm.js . Or entirely switch to ESM/ES6 Modules in a new major release.

## Alternatives and current w

[2020-01-10 09:25] lillem4n commented on #655
Duplicate of #78 I see now when googling around. Hope an ESM build will be provided soon.

[2020-01-10 14:03] #584 closed

[2020-01-10 14:10] #618 closed

[2020-01-10 14:16] #628 closed

[2020-01-10 14:17] #632 closed

[2020-01-10 14:20] ziluvatar commented on #634
Closing, we are not considering adding support for this at the moment.

[2020-01-10 14:20] #634 closed

[2020-01-10 14:21] #617 closed

[2020-01-10 14:38] ziluvatar commented on #643
ES256 uses P-256 curve. I can't manage to find information about the `S-256` curve.

Closing, in any case [JWA specification](https://tools.ietf.org/html/rfc7518) and https://github.com/brianloveswords/node-jwa would need to defined and implement respectively support for any new curve/algorithm.

[2020-01-10 14:38] #643 closed

[2020-01-10 14:40] ziluvatar commented on #644
Not sure if I understand correctly the context, are you signing using a private key?

[2020-01-10 14:55] ziluvatar commented on #653
I run the verification using the token and secret you have in your code and it worked well.
https://runkit.com/embed/5okn9wbwg9ot

[2020-01-10 15:01] ziluvatar commented on #652
The payload of that token is not well built, if you try to base64 decode you'll find that it does not contain a JSON payload, you will see something like

[code]

[2020-01-10 15:07] ziluvatar commented on #631
@jaywcjlove I don't think your last message has relation with the initial topic.
Closing.

[2020-01-10 15:07] #631 closed

[2020-01-10 15:48] sm2017 commented on #652
@ziluvatar yes , I know, I just tild that throwing `SyntaxError`  is not good behavior, instead we must throw `JsonWebTokenError`

Do you have other idea?

[2020-01-10 17:17] weagle08 commented on #655
Seeing this as well in the browser I get: **ReferenceError: exports is not defined**, coming from this dependent module: ```node_modules\minimalistic-crypto-utils\lib\utils.js:3:1```

[2020-01-10 17:34] ziluvatar commented on #652
I tagged this and another similar one as `bug`. I mean, you are right we should raise one of our errors.

[2020-01-10 20:05] bencmbrook commented on #634
For the next person, here's the code we use to clean verified JWTs to get the pure payload.

[code]

`cleanJWT(jwt.verify(...))`

[2020-01-12 15:21] PeichengLiu commented on #653
Thanks! It does not work in Express APP.

[2020-01-12 19:19] Shub1427 commented on #642
Create JWT Token using the command shown [here](https://gist.github.com/ygotthilf/baa58da5c3dd1f69fae9)

[2020-01-12 19:29] Jalson1982 commented on #653
I tried 1000 options but always get the same error : JsonWebTokenError: invalid signature. Impossible to make it work even with @PeichengLiu  solution.

[2020-01-14 04:27] DevashishSuthar opened #656 "Token Destroy Method"
I want to know about that why jsonwebtoken package does not provide destroy method to kill the token. I am getting stuck to find out the solution How to set expire time to 0 or current time while logout in NodeJSapp?
Please give me the proper solution for that.

[2020-01-15 07:02] SineMathur opened #657 "Incorrect expire time"
If i use a time string like `1h`, the iat and the exp attributes of the generated JWT deliver a difference of 3600 ms, which is the value in seconds added to the iat value.
The Problem might be in Line 11 of https://github.com/auth0/node-jsonwebtoken/blob/master/lib/timespan.js:
`return Math.floor(timestamp + milliseconds / 1000);`

[2020-01-15 07:12] SineMathur commented on #657
My bad iat needs to be time in seconds.

[2020-01-15 07:12] #657 closed

[2020-01-16 17:48] lucbas opened #661 "Error in Docker: Type 'string' is not assignable to type 'Algorithm[]'"
### Description

Hi all 👋🏼

We are running into the following error when we trying to deploy and run our code inside a docker container. We have no issues at all when trying to run the code directly from the IDE, but have been trying to debug this error for the entire day:

[code]

### Reproduction

Build the image on the GitLab runner - dnd.
I also then tried to directly log in to the docker cont

[2020-01-16 17:59] panva commented on #661
Hi @lucbas the `algorithms` verify method option is meant to be an array of strings, not a string.

<img width="791" alt="Screenshot 2020-01-16 18 59 17" src="https://user-images.githubusercontent.com/241506/72550116-4efff780-3892-11ea-844f-288be29c692d.png">

[2020-01-16 17:59] #661 closed

[2020-01-17 00:44] talesluna opened #662 "Invalid header algorithm when verify JWT generated with .NET/C# (W3c URL?)"
### Description

Alg should be HS256, but ...

[code]

### Reproduction

[code]

[code]

$ invalid algorithm

### Environment

- **Version of this library used: 8.5.1**
- **Other relevant versions (language, server software, OS, browser): NodeJS on MacOs**

How to verify this JWT without change the .NET application ?

[2020-01-17 12:44] gabrielmmontenegro opened #663 "Include ignoreExpiration option to jwt.decode()"
Hi,

Including ignoreExpire option to jwt.decode(), as available on jwt.verify(), would increase the flexibility of jsonwebtoken lib. Sometimes we just need to use jwt.decode() to quickly access the payload, letting verify() do all the verification job.

Regards,
Gab

[2020-01-17 12:49] panva commented on #663
Hi @gabrielmmontenegro, `#decode()` does not need a `ignoreExpire` option because it does not do any verification of the claims.

[2020-01-17 19:46] gabrielmmontenegro commented on #663
Hey @panva, I must have made a mistake with some unofficial documentation. I did the verification directly in the source code, and it really doesn't happen. I appreciate your quick reply and attention. Regards, Gab

[2020-01-17 19:46] #663 closed

[2020-01-20 14:51] rockebee opened #665 "Add option to ignore signature validation (e. g. for dev/test purposes)"
### Describe the problem you'd like to have solved

### Describe the ideal solution

## Alternatives and current work-arounds

### Additional context

[2020-01-20 14:56] rockebee commented on #665
One more note: From looking into source code it should be easy to get implemented by modifying ```verify.js``` somewhere around here: https://github.com/auth0/node-jsonwebtoken/blob/a6235fa561b5c30884c97ea0b30c3db3b546ae2c/verify.js#L126-L134

[2020-01-21 23:28] chase-moskal commented on #655
hello friends

awhile ago i actually created my own esm version of this library, i did something like this:

1. create a commonjs entrypoint which exports only the functionality that you need
2. run browserify on that entrypoint to generate a bundle
3. edit that bundle and add an esm export for that functionality you need

the horrendous downside is that the resulting es module weighed like 500 KB

[2020-01-22 07:49] lillem4n commented on #655
ES6 modules will probably be standard in the back-end world pretty soon as well. No need to have commonjs around if both browsers and node supports the same module systems. :)

[2020-01-24 11:31] ziluvatar commented on #665
I think it is too risky to add that option to the `verify()` function, without signature the rest of checks do not make sense, you can not trust the information you got. Also I think they key point is here:

I'd say to try to solve that special edge case by fixing the interoperability between both.

Other possible workarounds:
* You could mock the Token Provider depending on your tests.
* You can

[2020-01-24 11:31] #665 closed

[2020-01-24 11:35] ziluvatar commented on #662
Unfortunately that value for `alg` is not in the spec. You will need to modify the application.
Allowed algorithm values for `alg` header: https://tools.ietf.org/html/rfc7518#section-3.1

[2020-01-24 11:35] #662 closed

[2020-01-24 11:44] ziluvatar commented on #656
In short: keeping a blacklist of tokens.

You can read these to get a better idea about the problem space and possible solutions:
https://github.com/auth0/node-jsonwebtoken/issues/375
https://github.com/auth0/node-jsonwebtoken/issues/626
https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2020-01-24 11:44] #656 closed

[2020-01-27 10:57] Divine1 opened #666 "what is the metric for expiresIn attribute in the JWT token ?"
![image](https://user-images.githubusercontent.com/10482177/73169160-820f7a00-4121-11ea-813a-cdcce30e91be.png)

the detail present in the documentation is confusing for me. Should i assign the `value` for `expiresIn` attribute in seconds or milliseconds?

[2020-01-28 10:31] theshashiverma opened #667 "How do we set a refresh token and set expiry time for a jwt?"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-01-29 00:18] jensysantana commented on #626
hi, please i would like to know how to add jti to my tokens, because this librery only have
iat and exp.

[2020-01-29 15:22] scrimmie opened #668 "jwt.verify RS256 "TypeError: Cannot read property '2' of nul""
### Description

I am attempting to verify a JWT token that is encoded with RS256 algorithm. When using the function jwt.verify I have handed the function both the private secret and the public key and no matter the variation I use I keep receiving this error.

`jwt.verify(token, PublicKey, {algorithms : ['RS256']})`

`index.js:1 TypeError: Cannot read property '2' of null
    at push../node_modul

[2020-01-30 13:42] scrimmie commented on #331
Hey, for anyone that solved this issue can you please explain what format you used for the cert (key) in jwt.verify() . Did you use the private or public key and then did you create a PEM file and use that as the key in jwt.verify()?
@snowinmars @adjavaherian

[2020-02-02 16:30] snowinmars commented on #331
@scrimmie
I used private key.
I push my solution, so check this out: https://github.com/snowinmars/jwt-helper
My code is a pile of shit, but it works.

[2020-02-03 13:09] amjedomar opened #669 "Can I remove all break lines except the first and last one from jwt key"
I generated jwt key (RSA Key: private and public) using the following commands
[code]
After that, I created a file called `private2.key`, I gave it the same `private.key` content (the only difference is that I removed all break lines except the first and last one)

Also, I created a file called `public2.key`, I gave it the same `public.key` content (the only difference is that I removed all break

[2020-02-03 13:12] panva commented on #669
@amjedomar

Yes, it's perfectly fine, newlines are added to the PEM key purely for readability. The only important ones are the ones that part of the PEM envelope's start and end line.

[2020-02-03 13:12] #669 closed

[2020-02-04 17:59] ankur2311 opened #670 "Invalid Signature when running jwt.verify with the token and local pem file."
Hi Team,

We faced an issue in our azure application where we are trying to verify the JWT token received from login.microsoftonline.com/* api, against a locally stored pem file.
Following is the code we use to verify:

`const authToken = req.headers.authorization;`
`const token = authToken.split(" ")[1];`
`var cert = fs.readFileSync('./appointments-fed.pem');`
`let decoded = await jwt.verify(toke

[2020-02-04 18:19] panva commented on #670
@ankur2311 are you aware that microsoft is rotating their signing keys regularly?

[2020-02-08 10:07] PedroRuiz commented on #417
Never... is too much time. But, I think that 9999 years is a reasonable meaning of 'never':
`
const token = jwt().sign({
    uuid:data,
    apikey
  },
  '9999 years'
  )
`
produces my verified token:
`
{
  uuid: 'fcaf0b39-0cf6-4814-ba54-634f5061b352',
  apikey: 'TAAR8M9-32CMACE-K0V48EV-3Z7ASJB',
  iat: 1581155672,
  exp: 317125598072
}
`
Since: 2020-02-08T10:54:32+01:00
Expire: 12019-04-24T05:54:

[2020-02-12 12:02] derN3rd commented on #642
For us we had this issue while loading a private key from ENV instead of files (because of automated deployment in aws).

We fixed it by replacing \n in the env var with real line breaks
```process.env.JWT_PRIVATE_KEY?.replace(/\\n/gm, '\n')```

Hope this helps someone

[2020-02-17 11:43] akdnfbf opened #671 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

~redacted~

[2020-02-17 11:48] #671 closed

[2020-02-17 17:16] helen773 opened #672 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 19:06] heken375 opened #673 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 22:40] ankur2311 commented on #670
Thanks @panva for the pointer.
We raised a ticket with MS and found out it was indeed the cause of the problem.
Thanks much.

[2020-02-17 22:40] #670 closed

[2020-02-18 09:43] helen225 opened #674 "100$ for registration for everyone! 💰💰💰"
Register on this site and get $ 100! It's free!
👇👇👇

~link redacted~

[2020-02-18 10:13] helen225 opened #675 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

[redacted]

[2020-02-18 10:48] helen225 opened #676 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

[redacted]

[2020-02-18 11:06] #676 closed

[2020-02-18 11:08] #675 closed

[2020-02-18 11:46] #674 closed

[2020-02-18 12:13] helen225 opened #677 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-19 09:37] helena8823 opened #680 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

~redacted~

[2020-02-19 09:48] #680 closed

[2020-02-19 10:25] helena2299 opened #681 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:25] #681 closed

[2020-02-19 17:16] kate5586 opened #685 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 07:53] nika7732 opened #691 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://tinyurl.com/srmjb2y

[2020-02-24 11:05] GaddMaster opened #694 "Enourmous Bundle Size ! 340 KiB"
Can we make the bundle size smaller?

[2020-02-24 11:08] panva commented on #694
That doesn't sound right... https://bundlephobia.com/result?p=jsonwebtoken@8.5.1

[2020-02-24 11:10] GaddMaster commented on #694
All I know is when I remove it from webpack build, it goes to 390 Kib, when I uncomment it and use it, it jumps to 740 KiB

[2020-02-24 11:15] panva commented on #694
That's because `jsonwebtoken` is not built to be transpiled, under its hood it uses node's `crypto` module that your webpack bundle has a registered polyfill for. We can't control that, nor do we actually support browser environment as a runtime for this module. Although you might be able to use jsonwebtoken in a browser through this transpiled code using webpack, this library's focus is the node.

[2020-02-24 11:15] #694 closed

[2020-02-24 11:15] GaddMaster commented on #694
semver.js alone is 14 KiB
bn.js is 40
elliptic is 68
and their are many more new things added due to this package

[2020-02-24 11:17] GaddMaster commented on #694
OK, I understand. Thanks very much for the tip. I suppose we can close this silly thread I opened :)

[2020-02-25 02:27] zachgoll commented on #642
Continuing with @derN3rd 's answer, I had to approach this slightly differently.

For me, I was storing my private rsa key in a Gitlab CI/CD environment variable, which I was then reading into a file (this file was then read by the code I was testing).

[code]

Where I was going wrong was in the `echo` statement.  As you see above, **I am surrounding the environment variable with double-quotes.**

[2020-02-26 03:19] rramk commented on #630
Hi @panva , i'm encountering the same error. Can you shed some light on how to verify the public key directly with asn1 ? Some example code would be of great help!

[2020-02-26 07:39] panva commented on #630
I'm using https://lapo.it/asn1js to view the PEM structure.

E.g.
- valid public pkcs1 key [link](https://lapo.it/asn1js/#MIGJAoGBAOHPF4yUXW3lOSZwYSXF8wSq6ZwhSTHnysP_ds1nTzpoxwvPUWVDdxbVN6D7HGfhkg4dVchS7wJ3QTn-fFmW88zYtpdnRS9550Ywi1hr0l0Xz3A1mm44mWOyJ-moAug9Sw2zxJA2WY8zudZjIMmbD-KII5SNuM7SAtdE7__0raWfAgMBAAE)
- the one from the comment above [link](https://lapo.it/asn1js/#MIGfMA0GCSqGSIb3DQEBAQUAA

[2020-02-27 19:57] gromovadarya90 opened #695 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 17:12] acberk commented on #111
If you're using an async `getKey` method to retrieve your public key externally, you can do so before calling `verify` as Panva said: https://github.com/auth0/node-jsonwebtoken/issues/111#issuecomment-516350938

I didn't see a good example, so here's what I ended up with.

_pseudocode-only_
[code]

[2020-02-29 13:44] TAnas0 commented on #668
I have high suspicions that your are running into a typing error. Could please share the related remaining code, especially the `PublicKey`

[2020-03-02 08:25] LoicVerrall commented on #414
@ankush38u did you ever figure out the culprit here, by any chance?

[2020-03-02 08:37] aymericbouzy opened #699 "Feature request : jwt.isExpired(token)"
### Describe the problem you'd like to have solved

When interacting with an external API, I might get an access token to use to authenticate to that API. That access token might have an expiration date. If I'm going to reuse that token to make a few API calls, at some point, the access token might be expired, and I would need to renew it.

Knowing if the token is expired helps a lot to know when

[2020-03-10 16:53] ankush38u commented on #414
Hi Guys

I see every now and then people landing on this thread and reaching out to me for a solution. Instead of reverting individually, I decided to share the workaround here.

The solution is pretty simple, instead of req object, add the decoded doc or any user information to the res.locals
for example instead of
req.doc = decoded;

use
res.locals.doc = decoded;

The request object sometimes be

[2020-03-11 10:44] ddxl123 opened #700 "About expiresIn,how to prevent clients from tampering with system time?"
Is the expiration time based on the client system time or the server system time? If it is a client, how to prevent the client system time from being tampered with? If it is a server, how to prevent the server system time from being tampered with?
And, what is the difference between expiresIn and notBefore?

[2020-03-11 11:41] panva commented on #700
- `exp` is the timestamp **after** which you don't accept a token **anymore**
- `nbf` is the timestamp **before** which you don't accept a token **yet**

Timestamps are always evaluated by whomever is consuming the token. In general it is best practice to allow a reasonable clock skew when it comes to evalution, but JWT as a format does not deal with local time setting tampering. At some point the

[2020-03-11 12:08] artoryas opened #701 "TypeError: e is not an object or null"
### Description

 I was embedding metabase dashboard in my angular app thus I needed to use jsonwebtoken. I have used jwt.sign method to encrypt my data in token. By starting project on localhost with 'ng serve' everything works fine, but if I will build project I keep getting an error in console **TypeError: e is not an object or null**
### Reproduction

    let METABASE_SITE_URL = 'MYURL';
    l

[2020-03-11 12:13] panva commented on #701
That's because `jsonwebtoken` is not built to be transpiled, under its hood it uses node's `crypto` module that your webpack bundle has a registered polyfill for. We can't control that, **nor do we actually support browser environment as a runtime for this module**.

We are not providing `jsonwebtoken` for the browser platform and would recommend use of JWT modules that utilize the browser built-i

[2020-03-11 12:13] #701 closed

[2020-03-17 23:04] saalihou commented on #111
I was confused by this as well. I almost blindly just promisified the callback thinking "if there's a callback version, there must be some benefit such as offloading the signing/verification to another thread".
Any reason to not clarify this in the README ?
I'm happy to do a PR.

[2020-03-19 15:21] alex-jitbit opened #702 "If a token is both invalid AND expired - which exception will be thrown? [security flaw]"
I need to know for sure. Otherwise this uncertainity opens a vector for an attack.

I can provide an example attack scenario if you really need it.

UPDATE: just ran a debug session. Yes, it throws me "expired" even if the signature is not valid.

This is a flaw since a developer might assume "if JsonWebTokenError hasn't been thrown - mean the signature is valid".

PS. Also this component forces m

[2020-03-19 21:56] cdhowie opened #703 "Cannot pass undefined for optional options"
### Description

When signing/verifying with options, a present attribute is not allowed to be undefined, which results in some unexpected an obnoxious code gymnastics when passing optional configured values through to the library.

There is a very strong precedent in JavaScript libraries that an explicitly-provided `undefined` value is acceptable for an optional value, but this library does not a

[2020-03-20 00:55] cdhowie commented on #702
This is not a security flaw.

An invalid token is an invalid token. It does not matter for what reason an exception is thrown -- if `verify()` throws then __you should not trust anything in the token, period.__  I would assume that the expiration is checked first because it is substantially cheaper to compare two integers than to validate a signature, so the failure is faster.

To be frank, the se

[2020-03-20 09:51] alex-jitbit commented on #702
@cdhowie thanks for pointing me at `ignoreExpiration`

[2020-03-20 09:51] #702 closed

[2020-03-20 14:11] mendoncaj commented on #642
Very useful, tks.

[2020-03-20 18:46] cdhowie commented on #702
Usually this would happen in the frontend, however, and you still would not trust anything in the token. You'd usually kick someone back to the login screen, for example. In this case, expiration detection can happen entirely in the frontend without relying on the backend server's response. (Is `exp < (Date.now() / 1000)`?)

If you're talking about renewing an almost-expired token, in that case yo

[2020-03-23 08:59] svnty opened #705 "util.promisify(jwt.sign) doesn't accept options object"
By submitting an Issue to this repository, you agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Description

### Reproduction

CODE

[code]

ERROR

[code]

### Environment

Package.json

[code]

Mac OS X Catalina

Visual Studio Code

TypeScript 3.8

jsonwebtoken 8.5

node v12.14.0

## Update

### Fix for anyon

[2020-03-24 14:32] #581 closed

[2020-03-24 15:05] jhiner commented on #705
I was able to reproduce. The issue seems to be the overloading of the `sign` method and `promisify` basically picking the "first" instance of the overloaded `sign` method that appears in the definition https://github.com/DefinitelyTyped/DefinitelyTyped/blob/da534110efb3088d245ed9894cd28ef71191f6f2/types/jsonwebtoken/index.d.ts#L140.

Beside the workaround you've suggested, you could also try this:

[2020-03-25 10:52] ssatyamchauhan opened #706 "Less Secure (jwt token decodes without any secret)"
Team JWT,  I have created a token using jwt.sign where I have passed my own secret and then I copied the token pasted it on jwt.io website and I was amazed it decodes my token without any secret
 and showing usernames and passwords.

Here Is the toke for Demo purpose: ```eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2Vybm1hZSI6InNzYXR5YW1jaGF1aGFuIiwicGFzc3dvcmQiOiJ3aHlpdGlzbWUiLCJpYXQiOjE1ODUxMzM0ODM

[2020-03-25 14:22] yacineMTB commented on #706
`jwt.sign` is for signing a token, not encrypting it. With signing, you use a private key to sign a message so that a consumer of the message can use a public key (or the private key, depending if you chose a symmetric algorithm to sign the payload) to verify its authenticity. You probably shouldn't be putting passwords or sensitive data into tokens.

For more information; check out [this document

[2020-03-25 14:43] jhiner commented on #706
To add to @yacineMTB 's response, you can decode a token without verifying its signature. This is why you see this behavior with jwt.io. This distinction is referenced in the readme here: https://github.com/auth0/node-jsonwebtoken#jwtdecodetoken--options

[2020-03-25 14:44] #705 closed

[2020-03-25 14:50] ssatyamchauhan commented on #706
If it is Then why there is a private key or secret key is passed during signing a jwt token?

[2020-03-25 14:52] yacineMTB commented on #700
Closing, feel free to reopen if you need any further clarifications

[2020-03-25 14:52] #700 closed

[2020-03-25 14:59] panva commented on #706
@ssatyamchauhan to sign its payload. So that when you receive the token you can verify it was not tampered with. This uses JWS (JSON Web Signatures) to provide integrity protection, NOT CONFIDENTIALITY.

For confidentiality various JWE (JSON Web Encryption) schemes are available, not in this package tho.

[2020-03-25 15:00] jhiner commented on #706
Also, in jwt.io, if you provide your secret under the `VERIFY SIGNATURE` section, you will see `Signature Verified`. Without that, you will see `Invalid Signature`.

[2020-03-25 15:05] ssatyamchauhan commented on #706
@panva It means there is no way to encrypt the payload? Only the signature is used to verify that the sender of the JWT is who it says it is and to ensure that the message wasn't changed along the way.

[2020-03-25 15:09] panva commented on #706
`jsonwebtoken` does not provide encryption, only signatures.

https://github.com/panva/jose can be used for both signing and encryption, but please consider reading up on the topic and specifications first before jumping in and choosing a cipher suite poorly for your use case.

[2020-03-25 15:09] #706 closed

[2020-03-27 17:01] bploetz commented on #699
@aymericbouzy https://github.com/auth0/node-jsonwebtoken#tokenexpirederror

[2020-03-29 11:51] aymericbouzy commented on #699
Thanks for pointing out that error type.

This doesn't seem to fit my use case though: I'm trying to know if a JWT is expired _without_ knowing the secret: I am not the issuer of the access token. This access token is provided by an external API. I want to know if it is expired as the _client_ (to save me from doing a request that will be rejected).

Maybe I shouldn't? Maybe I should send my reque

[2020-04-02 20:44] chriskeyser opened #707 "breaking change in 8.3.8 - typescript"
### Description

#### Expected
A patch update should not break a compilation.

#### Result
In 8.3.8 the value in options for Algorithm was changed to an enum. This causes typescript to break on compile if you are passing in a string for the algorithm. Since algorithm is now typed, it doesn't match `SignOptions` type, and the signature for sign using a callback method is instead matched.

### Repro

[2020-04-03 07:02] elszczepano opened #708 "clockTolerance allows passing string"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-04-03 07:49] elszczepano commented on #708
I'm closing it - duplicate of https://github.com/auth0/node-jsonwebtoken/issues/606

[2020-04-03 07:49] #708 closed

[2020-04-03 14:13] kimfucious commented on #642
Just to add a bit of clarification to @derN3rd 's solution, which is great btw, adding `\n`s to the env variable is a necessary step, prior to replacing them on the client side.

I also did **not** use quotes to surround the value.

Something like this:

[code]

[2020-04-03 15:20] yacineMTB commented on #601
Closing this issue as the community has addressed this issue in another repository. Note; we don't maintain the types in the DefinitelyTyped repository so issues with typing should go there.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/46cb9e443891ccfb931ad823f9b6175aaa14e201/types/jsonwebtoken/index.d.ts#L71

[2020-04-03 15:20] #601 closed

[2020-04-03 15:22] yacineMTB commented on #644
Going to close this issue due to inactivity. Feel free to reopen if you want to follow up 🙂

[2020-04-03 15:22] #644 closed

[2020-04-03 15:35] yacineMTB commented on #655
Right now, the latest node.js release line [has ECMAScript modules labeled as experimental](https://nodejs.org/api/esm.html#esm_ecmascript_modules). We plan to support dual publish in the future once this matures (i.e. its stability rating reaches a satisfactory value)

Browser runtime remains out of scope for the jsonwebtoken library.

[2020-04-03 15:43] yacineMTB commented on #666
If it's a numerical value, it will be interpreted as seconds.

if `expiresIn` is 1, as in `typeof 1` returns `'number'`; it will be interpreted as expiring in 1 second.

If it is a string value, it will be interpreted as milliseconds. If expiresIn is `"100"`, it will be interpreted as expiring in 100 milliseconds.

Hope that helps!

[2020-04-03 15:43] #666 closed

[2020-04-03 15:44] yacineMTB commented on #667
You can add it using the expiresIn option on the sign function. You can read more about the function signature [here](https://github.com/auth0/node-jsonwebtoken/blob/master/README.md#jwtsignpayload-secretorprivatekey-options-callback).

This library doesn't have logic for refreshing tokens. You'll have to add the logic yourself. [You can find some additional information/hints here](https://github.

[2020-04-03 15:44] #667 closed

[2020-04-03 23:22] chase-moskal commented on #655
in the meantime i'll share how i solved my [use-case](https://github.com/chase-moskal/metalshop) by creating a helper package called [`redcrypto`](https://github.com/chase-moskal/redcrypto/tree/master/source)
- it exposes es-modules
- it has functions to [sign](https://github.com/chase-moskal/redcrypto/blob/master/source/token-sign.ts)/[verify](https://github.com/chase-moskal/redcrypto/blob/master

[2020-04-06 20:56] Nguyenkhanh98 opened #709 "object is not valid for secretOrPublicKey"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-04-13 01:34] sever1an commented on #111
Using promisify is **not** a solution. It adds another dependency for something absurdly trivial and adds to the cognitive load for developers, requiring them to verify promisify works correctly.

To the point that callbacks are pointless, they are not. Verify accepts an asynchronous (not async) function, apparently for convenient usage of JWKS.

As noted above the key can be decoded once to extra

[2020-04-13 17:46] mirajehossain commented on #587
token already string, but when I parse it using JSON.parse() it throw parse error.

[2020-04-13 20:49] acberk commented on #111
@sever1an - To clarify, my solution isn't using `promisify` with the `jsonwebtoken` package. I'm using it to get my key with cleaner syntax using a separate library (`jwks-rsa`) to make the network call.

Agreed, the callback function signature of `verify` should be deprecated.

`promisify` is included with Node.js. I think saying it adds another dependency can be misleading.

[2020-04-13 22:17] sever1an commented on #111
@acberk - My deception was from a place of ignorance. How did I never know? Thank you for the free node.js lesson. 👍

The solution of wrapping `jwks-rsa` is what I finally did, per your suggestion. Aesthetically I liked the idea of never handling an unverified token decode using the callback style api, but it is not worth it to include more confusion with the `jsonwebtoken` library.

[2020-04-14 13:41] coderblower commented on #298
When someone issued jwt a token with a certain time to expire. But suddenly Admin wants unAthorize him before expire. How can An admin to expaire token and refresh cliant page??

[2020-04-15 07:21] avillarubia opened #710 "Token in Url"
Good day guys,

This is a question.

Is using the token in URL a good practice?
Because currently, I did like

http://domainname.org/account-verification/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1ODY5MzUwODAsImV4cCI6MTYxODQ3MTA4MCwiYXVkIjoid3d3LmV4YW1wbGUuY29tIiwic3ViIjoianJvY2tldEBleGFtcGxlLmNvbSIsIkdpdmVuTmFtZSI6IkpvaG5ueSIsIlN1cm5hbWUiOiJSb2NrZXQiLCJFb

[2020-04-15 11:29] GiacomoVoss commented on #668
I have the same problem, any info on that?

[2020-04-16 06:33] GiacomoVoss commented on #668
I found a solution: The problem is that the public key must be in PEM format. If you need to generate a key pair with both public and private key in PEM format, I suggest to use openssl:

`openssl genrsa -out private.pem 2048`
`openssl rsa -in private.pem -pubout -out public.pem`

[2020-04-16 18:54] mgligoric commented on #400
To generate private and public key use:

ssh-keygen -t rsa -b 4096 -m PEM -f jwtRS256.key
openssl rsa -in jwtRS256.key -pubout -outform PEM -out jwtRS256.key.pub

Then to read  jwtRS256.key file :
const privateKey = fs.readFileSync('jwtRS256.key') :)

[2020-04-20 05:10] frankli0324 opened #711 "RFC confrontation on "none" algo"
### Description

According to https://tools.ietf.org/html/rfc7518#section-3.6, jws s "MUST NOT accept such objects as valid unless the application specifies that it is acceptable for a specific object to not be integrity protected"

### Reproduction

[code]

maybe we should add some kind of switch options?

### Expected output:

[code]

[2020-04-20 05:23] frankli0324 commented on #711
### Expected output:

[code]

[2020-04-20 05:41] frankli0324 commented on #711
https://github.com/auth0/node-jsonwebtoken/blob/5f10bf9957a2541828501cfecab0310908b2f62f/verify.js#L109-L111

so it's intentional?

[2020-04-20 08:40] panva commented on #711
@frankli0324 `none` won't be automatically accepted unless the developer provided no `keyOrSecret`. The three lines in isolation aren't the whole story.

https://github.com/auth0/node-jsonwebtoken/blob/5f10bf9957a2541828501cfecab0310908b2f62f/verify.js#L101-L118

[2020-04-20 08:50] frankli0324 commented on #711
from my point of view, providing no secret doesn't mean that one explicitly "specifies that it is acceptable for a specific object to not be integrity protected", more like a mistake one could jump into

[2020-04-20 09:28] panva commented on #711
We'll consider making the `algorithms` option required when accepting unsigned JWTs for the next major.

[2020-04-21 06:19] avillarubia commented on #710
I found the answer

**Issue**
Every directory/subdirectory has character length limit.
The problem is, the current implementation above has token in url that acts as directory.
The token is beyond the character length limit which makes the entire url invalid

**Solution**
make token as query for example, /account-verification**?token=token** will not be detected as directory/subdirectory and thus,

[2020-04-21 06:19] #710 closed

[2020-04-22 21:17] lutfiqaraman opened #712 "Invalid Signature"
I write the following code

[code]

The token is generated, but when I test it using 'JWT Debugger' gives "Invalid Signature", please what should I do to get a valid signature?

[2020-04-22 22:11] #712 closed

[2020-04-23 13:10] radekcz83 opened #713 "get "invalid token" when white space in token"
Problem: An "Invalid token" error occurs when there is a space in the jwt token when calling the VERIFY function.
`eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJnZHByIjpbeyJsaW5rIjoid3d3LnByb2RvbWlhLmN6JTJGb3NvYm5pLXVkYWplIiwibmFtZSI6IlBST0RPTUlBJTJDJTIwcy5yLm8uIn1dLCJlbWFpbCI6ImxAbWFpbGluYXRvci5jb20iLCJzY29wZSI6WyJSRUdJU1RFUiJdLCJpYXQiOjE1ODc2NDMxMDYsImV4cCI6MTU4NzY4NjMwNiwiYXVkIjoiaHR0cDovL2hzZmcuY3oi

[2020-04-23 13:50] panva commented on #713
Hi @radekcz83, I don't see why it would be expected that this results in anything but an invalid token error :) the charset of a JWT is very well defined to be base64url, a space (or urlencoded `%20`) in the token clearly means its malformed - invalid.

[2020-04-23 13:50] #713 closed

[2020-04-24 07:24] Misioka commented on #713
Well then maybe it's a bug in `sign` function. I experiencing the same error. Sign generates a token with whitespace. Any solution?

[2020-04-24 09:05] panva commented on #713
@Misioka steps to reproduce please.

[2020-04-24 19:12] ORESoftware commented on #642
i mean if we validate the file's contents with `openssl` then there must be some other problem going on?

[2020-04-27 18:10] weslenng opened #714 "Header option should be used without any modification"
### Describe the problem you'd like to have solved

I'm trying sign a JWT token with the header:
[code]

But inside the `jsonwebtoken`, the header option is assigned with the default header values:
[code]

This behavior invert the typ and alg position and add a kid property to header:
[code]

### Describe the ideal solution
I think when `options.header` is provided, it should be used without any m

[2020-04-27 23:38] eliakorkmaz commented on #166
I was using `JSON.stringify()` then it breaks the options.
[code]

When I use `JSON.stringify`, even options are OK as @ddcech described good ones, it breaks. So I change it to.
[code]

[2020-04-28 01:52] lpillon opened #715 "'Duplicated' expiration fields result undefined token"
### Description

### Reproduction

### Environment

- **Version of this library used:8.5.1**

### Expected result

[2020-04-28 02:03] lpillon commented on #715
![image](https://user-images.githubusercontent.com/13802399/80438621-fdc4c280-88da-11ea-9edd-cf6c27b2b50e.png)

Found that, but don't know why passed by

[2020-04-28 02:06] #715 closed

[2020-04-28 12:04] force-push-master opened #716 "Generated access token is invalid on verifying"
Have a problem with access token verifying.
Environment:
- ubuntu 18.04
- npm 6.9.0
- node.js v10.16.3
- "jsonwebtoken": "^8.5.1"

Access and Refresh tokens generating works fine, here the code:
`generateAccessToken(userId) {
    const payload = {
      userId,
      type: tokens.access.type,
    };
    const options = {
      expiresIn: tokens.access.expiresIn,
    };

    return jwt.sign(payload

[2020-04-28 12:23] panva commented on #716
My educated guess is that this is your problem. Your header's format is likely

[code]

So your code should be

[code]

Or, just this change
[code]

[2020-04-28 12:23] #716 closed

[2020-04-28 13:21] force-push-master commented on #716
Oh God, you absolutely right about space after "Bearer", so stupid mistake))
Spent couple hours to fix it)) Thank you very much for this great catch!

P.S. Closing this ticket.

[2020-05-01 13:53] ktiniatros opened #718 "[Question] minimum key size for HS256 signing"
I used https://github.com/auth0/java-jwt for java and i noticed that they impose there a minimum key of 256 bits to sign with HS256.

There is no such limitation with this nodejs library.

I saw that you did not implement the same rfc document but still shouldn't there be a minimum size of 256 bits for the key used signing a jwt with HS256? Or do I miss something?

[2020-05-07 06:50] 124um commented on #166
Thank you ddcech! This work -
`jwt.sign( { userId: user.id }, config.secret , { expiresIn: "2h" });`

[2020-05-08 00:59] civility-bot opened #719 "More explicit error about the audience"
### Describe the problem you'd like to have solved

We're trying to figure out a very common authorization flow: React app legs the user log in, fetches the idToken, and sends it along to a server API in an `Authorization: Bearer ...` header. Started with the [GraphQL tutorial](https://auth0.com/blog/build-and-secure-a-graphql-server-with-node-js) but we're using Gatsby with the [gatsby-theme-auth

[2020-05-08 13:12] jhiner commented on #714
Hello, I'm curious why the order of `typ` and `alg` matters here? The meaning is the same regardless if of which "order" the properties appear.

Also, in my testing, I don't see a `kid` property added to the header. Can you elaborate on how you produced that result? E.g. which node version, etc?

Regarding the PR, I will comment there. But generally, I don't think this is a change we want to make

[2020-05-09 01:35] jodav11 opened #721 ""message": "caused by TypeError: Cannot read property 'toJSON' of null""

[2020-05-11 16:58] robframpton commented on #709
Also running into this. Typescript type `Secret` is incompatible with the runtime validation found in `jwa` dependency.

[code]

[2020-05-13 16:43] SuliacLEGUILLOU commented on #709
I ran into this issue today, traced it to JWA doing some weird check on the key when it's an object.

I dug a bit into the two lib with the debugger and kinda addressed the issue in JWA [here](https://github.com/brianloveswords/node-jwa/pull/41) but it may also be an issue with node-jsonwebtoken not populating the key object properly.

[2020-05-13 17:33] SuliacLEGUILLOU commented on #709
Update from JWA: We are using the key wrong, check the link for details

[2020-05-14 17:20] Fimbelowski commented on #668
Hello,

I'm getting this error while attempting to use `jwt.sign()` with ES256 encoding.

Here is where I am calling `jwt.sign()`
[code]

where
[code]

[2020-05-18 12:47] jhiner commented on #714
Closing. If you want to discuss more, feel free to reopen.

[2020-05-18 12:47] #714 closed

[2020-05-18 20:55] OmaritoAtPoly commented on #634
this a perfect solution.!

[2020-05-20 17:29] #721 closed

[2020-05-22 12:16] bakgaard commented on #642
For Windows users with PowerShell and OpenSSL.Light installed who needs to extract everything between ``----BEGIN CERTIFICATE-----`` and ``----END CERTIFICATE-----``:

[code]

[2020-05-25 05:08] pavittarx opened #723 "Error while providing algorith option to jwt.sign()"
### Description
The library produces error when an algorithm option is passed to jwt.sign() method.

### Reproduction

[code]

![image](https://user-images.githubusercontent.com/29155477/82780063-9404ed80-9e73-11ea-9b7b-74cf36c5603f.png)

### Environment
OS: Windows 10 Ver. 1809
Editor: VS Code 1.45.1

- **Version of this library used:** 8.5.1
- **Version of the platform or framework used, if appl

[2020-05-25 06:13] talaikis commented on #713
+1, happens unexpectedly. Probably will add replace and see will it work.

[2020-05-25 08:13] panva commented on #723
`shhhhh` is not a valid RSA key to be used with [RSASSA-PKCS1-v1_5](https://tools.ietf.org/html/rfc7518#section-3.3) algorithms.

You will get similar results in other libraries.

[code]

[2020-05-25 08:13] #723 closed

[2020-05-27 05:31] sm2017 commented on #652
@ziluvatar The issue a about stale , Do you have plan to fix it? and the issue tagged as a `bug`

[2020-06-01 23:35] xtianus79 opened #724 "Isn't the decode just a generic base64 decoder? Is there a way to use it for a facebook token?"
### Description
I get null when I try and decode a base64 encoded string

I expected it to decode it.

[2020-06-02 06:54] panva commented on #724
It's not a generic base64 decoder and it's not applicable to facebook tokens because those are not JWTs.

JWT is composed of three base64**url** encoded parts, first two need to decode to  a `JSON.parse`able string, the third one is the signature.

[2020-06-02 06:54] #724 closed

[2020-06-24 06:15] farisT opened #726 "jwt.verify does not throw an error if token expired"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-06-26 11:08] viztastic opened #727 "Make jsonwebtoken compatable with Deno?"
Deno has hit version 1.0 and it's great that it seems to be supported on https://www.pika.dev/npm/jsonwebtoken

But when I import jsonwebtoken into my Deno project using
[code]

I get this compile error in Deno:

[code]

It seems like stream is somewhere in the module's dependency chain. Whilst I appreciate it's not possible to influence the dependency author, is there any way to side-step or ensu

[2020-06-26 11:36] panva commented on #727
We cannot make `jsonwebtoken` compatible with Deno at the moment because Deno lacks any crypto stdlib.

[2020-06-26 11:36] #727 closed

[2020-06-28 09:36] panva commented on #726
It does, and rest assured we have extensive tests around this core functionality.

What's most certainly at play here is either

1) the token's `exp` claim is in milliseconds, instead of seconds as it should be. e.g. `Date.now()` is `1593336930596`, then the exp claim representing such time is supposed to be `1593336930`
2) token doesn't have `exp` at all

[2020-06-28 09:36] #726 closed

[2020-06-29 02:02] switz commented on #694
I just ran into this. I shaved a huge amount off my bundle by switching to jwt-decode on the client.

Obviously, this is **not** this module's fault. In no way, at all. _But_ it would be really cool if this module threw an error or a warning if it's run in the browser with a helpful link to https://github.com/auth0/jwt-decode. I went from a 450kb bundle to 250kb bundle by swapping out this module

[2020-06-29 12:49] daniel-j-h opened #728 "Use a default of `["HS256"]` for `verify` to be in sync with default for `sign`"
By default `sign` uses `options.algorithm: "HS256"`.

In contrast `verify` does not use `options.algorithms: ["HS256"]` by default - but instead accepts all algorithms.

This means by default we sign with HS256 but we verify and accept all algorithms - for example also the `none` algorithm.

If we're setting a default in sign we should set the same default in verify - and keep them in sync.

Thoug

[2020-06-29 12:55] panva commented on #728
source: https://github.com/auth0/node-jsonwebtoken/blob/v8.5.1/verify.js#L99-L118

That is a false statement.

Verify's `algorithm` option default value is derived from the `secretOrPublicKey` argument value and it never defaults to accepting **all algorithms**. The accidental acceptance of `none` tokens is **also prevented**.

What lead you this expectation of accepting everything?

[2020-06-29 13:30] daniel-j-h commented on #728
Here is an example of what I mean. Create a token with algorithm none

[code]

The key is not needed - I set it to undefined.

By default now we can verify that token without having to explicitly allow none as an algorithm

[code]

and also works in this scenario when we accidentally pass undefined (or anything else false-y as an argument)

[code]

It would be best if we could make this explicit -

[2020-06-29 13:38] panva commented on #728
so, this is not true.

For the `none` being explicitly required as algorithms option we already have #711 as duplicate.

For the rest, accepting HS512 when you, by default, sign with HS256 isn't that big of a deal. However, we think that in general defaulting to use HS256 even when a private key value is passed in is a problem in itself and will be changing that for next major too, so that the alg

[2020-06-29 13:38] #728 closed

[2020-07-02 13:16] amirh715 commented on #705
Hello there @svnty  :) yet another solution is to do:
`  const signToken =
    promisify<object, Secret, SignOptions>(sign);
  signToken(payload, 'secret', jwtOptions);`

[2020-07-02 13:18] amirh715 commented on #705
Hello there @svnty :). Yet another solution is to do:
`  const signToken =
    promisify<object, Secret, SignOptions>(sign);

  signToken(payload, 'secret', jwtOptions);`

[2020-07-02 13:18] amirh715 commented on #705
Hello there @svnty :). Yet another solution is to do:
`  const signToken =
    promisify<object, Secret, SignOptions>(sign);
  signToken(payload, 'secret', jwtOptions);`

[2020-07-06 10:49] farisT commented on #726
@panva I appreciate the comment, the exp is indeed in miliseconds. However this was because I used the built in `expiresIn` (with the ms library). e.g.

[code]
returns a token with an exp of 13 numbers (aka in miliseconds instead of seconds).

I have even tried with:

[code]

No errors are thrown from jwt.verify.

[2020-07-06 10:56] farisT commented on #726
@panva I solved the issue, I was setting the IAT with Date.now(). Thanks again for the help.

[2020-07-07 08:39] varun-av opened #730 "Uncaught ReferenceError: global is not defined"
I am trying to use jsonwebtoken in angular with socketio
`const token = jwt.sign({ foo: "bar" }, "shhhhh");`

but it gives the following error:
`Uncaught ReferenceError: global is not defined`

node: 12.16.1
angular: 9.1.11
socket.io: 2.3.0

[2020-07-07 08:44] panva commented on #730
**We do not actually support browser environment as a runtime for this module**.

We are not providing `jsonwebtoken` for the browser platform and would recommend use of JWT modules that utilize the browser built-in [`Web Cryptography API`](https://www.w3.org/TR/WebCryptoAPI/) instead.

[2020-07-07 08:44] #730 closed

[2020-07-13 05:54] sm2017 commented on #652
@ziluvatar 😓

[2020-07-14 18:24] mxthevs opened #731 ""TokenExpiredError: jwt expired" right after being generated."
I'm using Typescript.

I use configuration to generate the token

[code]

And I have an Express middleware to decode the token

[code]

But everytime I try to decode a token I get the "TokenExpiredError: jwt expired" error, altough I generated the token in less than 3 minutes before trying to decode. Am I missing something or is this intended behaviour?

[code]

[2020-07-14 19:22] panva commented on #731
When i'm running the latest version:

[code]

Yields this [token](https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1OTQ3NTQzNjgsImV4cCI6MTU5NDg0MDc2OH0.4O3nEaCBxW6RjqeEaNORvoAryDVQbvZrnfeMnnarJYU).

[code]

[code]

So either you're not running the latest or there's something wonky going on with your machine/server's clock.

[2020-07-16 07:51] ronyeh3 opened #732 "misused of algorithm"
i have created ECDSA key pair with openSSL, and accidentally instead of defining in jsonwebtoken options
algorithm: 'ES256' ,  i set it to sign and verify with RS256.
no error came up.
the token created with RS256 header and sign with ES256, i believe behavior shouldn't be permitted.

[2020-07-17 16:42] #731 closed

[2020-07-21 00:07] jmholzinger commented on #111
I personally would not remove the "asynchronous" version of `verify` with haste.

The RFC is not completely implemented, which is incidentally how I came across this issue. I'm looking to perform X.509 certificate chain validation, which unfortunately is [not supported by this library yet](https://github.com/auth0/node-jsonwebtoken#todo). I plan to use the ["x5c"](https://tools.ietf.org/html/rfc75

[2020-07-22 07:27] TheOnlyArtz opened #733 "Can't use sign function at all, library crashes"
Hey I'm using Node v14.6.0
Trying to use the example represented in the README:
`let accessToken = jwt.sign({foo: 'buffer'}, 'shhhh');`

Getting this error:
[code]

There was another file where I've changed the default encoding of crypto to HEX, that's why the error occurred.

[2020-07-22 07:35] #733 closed

[2020-07-27 23:15] Slyke commented on #43
Is this still going to be implemented? I'm currently using https://github.com/Brightspace/node-jwk-to-pem for the meantime.

[2020-07-28 12:50] komanton commented on #630
You just need to remove the word 'RSA' from the header and footer.

[2020-07-28 22:18] solderjs commented on #43
[@root/keypairs](http://git.rootprojects.org/root/keypairs.js) is a more optimal solution, but requires node v10.12+.

@panva: this version does not have telemetry.

# Usage

A brief introduction to the APIs:

[code]

[code]

[code]

[code]

[code]

By default ECDSA keys will be used since they've had native support in node
_much_ longer than RSA has, and they're smaller, and faster to generate.

[2020-07-28 23:03] jasonterando opened #734 "Caching Public Keys?"
### Describe the problem you'd like to have solved

I'm writing a micro-service in which I'm trying to squeeze every bit of performance that I can.  I am using `verify` to validate a JWT token against a public key file that I've read in as a string (`-----BEGIN PUBLIC KEY-----` etc.) .  It work fine.

What I'm wondering is if there is a way I can "cache" the public key after it's decrypted so that

[2020-07-30 10:41] asvsfs commented on #652
I've changed a single line returning default error to JsonWebTokenError type , see if this solves the problem #735

[2020-08-05 14:31] mattnguyengit opened #736 "Support promise, async/await for some important actions like sign, verify jwt."
### Describe the problem you'd like to have solved

[2020-08-05 15:28] panva commented on #736
Duplicate of #111

[2020-08-05 15:28] #736 closed

[2020-08-06 08:15] karocksjoelee commented on #471
I am able to solve this project by adding
`"browser": {
    "crypto": false,
    "stream": false
  }
`
at the end of package.json

[2020-08-14 14:52] Dallas62 commented on #560
Hi @ziluvatar
I faced exactly the same issue as @Masterxilo, using `algorithm` instead of `algorithms`.
What about implement a fallback in the library ? This would be helpful.

[2020-08-16 02:24] tgiardina commented on #483
This is the first thing that pops up when you Google "jsonwebtoken verify typescript," so I think it deserves a clearer conclusion.

Casting like @ghost suggested works, e.g.

[code]

But I think @luisgurmendezMLabs has a point: It would be much more intuitive if the previous code could be rewritten:

[code]

It looks like @zRelux never had time to complete his pull request, so as of now, the firs

[2020-08-18 16:31] RevealedFrom opened #739 "error:04075070:rsa routines:RSA_sign:digest too big for rsa key"
### Description

I can get HS512 to work, but when I switch to RS512, I get `error:04075070:rsa routines:RSA_sign:digest too big for rsa key`. I get the same error whether using RS256 or RS512.

### Reproduction

My code is this:

[code]

### Environment

- **Version of this library used:** 8.5.1
- **Version of the platform or framework used, if applicable:**
- **Other relevant versions (language,

[2020-08-18 20:59] luneo7 commented on #734
You can actually do like this if you are using NodeJS >= v11.6.0:
[code]
With that `KeyObject` you can call `verify` as much as you want

[2020-08-19 08:29] panva commented on #739
Your RSA key is of insufficient bit length. 2048 bits is minimum required by the JWA specification.

Furthermore, don't sign with HS* using an RSA key :)

[2020-08-19 08:29] #739 closed

[2020-08-31 16:19] CodeWithOz opened #740 "Strange interference with Mongoose"
### Description

I'm using this library in a node server that uses mongoose, and I have a model that has a nested property which is also another model. Like this:

[code]
[code]

Until I installed this library, mongoose was handling my nested model correctly (i.e. the object printed in `[first log]` was identical to the object printed in `[second log]`). However, after installing this library, I s

[2020-08-31 17:02] panva commented on #740
Can you post your package-lock.json (or yarn.lock) before and after installing `jsonwebtoken`?

[2020-09-03 16:54] CodeWithOz commented on #740
The server is run in Docker, any ideas on how to get the package-lock file from inside the container? It seems I should be using Docker volumes to do that but I'm not able to get a working volume when I run the server locally.

[2020-09-03 17:04] panva commented on #740
That's not really a question you can get assistance for here.

[2020-09-05 08:16] chainhead opened #744 "TokenExpiredError reports error as a Timestamp instead of epoch."
### Description

Documentation for `TokenExpiredError` shows that the `error.expiredAt` is an Unix epoch whereas it is actually a `Date` object. See this [line](https://github.com/auth0/node-jsonwebtoken/blob/5f10bf9957a2541828501cfecab0310908b2f62f/verify.js#L152).

The default way of reporting the time stamp should be the Unix epoch so that, the value can be used further e.g. with the `moment` p

[2020-09-05 13:33] CodeWithOz commented on #740
@panva please have a look at the files:
- before installing jsonwebtoken: [this file](https://gist.github.com/CodeWithOz/f0a3d53f273857b92deb364c72774758)
- after installing jsonwebtoken: [this file](https://gist.github.com/CodeWithOz/d71565cdd9895ae816fde9dd803c5579)

Thank you.

[2020-09-05 13:43] panva commented on #740
`jsonwebtoken` is in both locks, and the exact same version. From diffing this i don't see you actually installed jsonwebtoken, i can see that plenty of other libs got updated so it's more likely this isn't related to jsonwebtoken at all.

[2020-09-05 14:16] CodeWithOz commented on #740
Yes I installed jsonwebtoken to use it directly, but previously it was a dependency of Twilio. Yeah I'm taking a look at the other changes.

[2020-09-05 15:22] CodeWithOz commented on #740
Turns out the problem was mongoose itself, didn't catch it because of cache issues. Thanks.

[2020-09-05 15:22] #740 closed

[2020-09-16 05:20] patriciali commented on #642
I got this because I was accidentally signing with my public key 🤦‍♀️

[2020-09-23 16:23] borfig opened #746 "Distinguish errors from secret or public key callback"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-09-24 13:39] Maligosus opened #747 "Property 'expiredAt' does not exist on type 'VerifyErrors'."
Property 'expiredAt' does not exist on type 'VerifyErrors'.
Property 'expiredAt' does not exist on type 'NotBeforeError'.
err.expiredAt

`
jwt.verify(token,this.signature,(err:TokenExpiredError|
                                                       NotBeforeError|
                                                       JsonWebTokenError|null,

[2020-09-25 09:46] panva commented on #747
Hi @Maligosus,

the [types you're using](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/jsonwebtoken) are community provided and maintained, we as Auth0 do not maintain those. You can see the list of owners of those types in the [DT repo](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jsonwebtoken/index.d.ts).

[2020-09-25 09:46] #747 closed

[2020-09-25 11:21] omidiu opened #748 "Set token invalid"
I know "jwt" authentication process is stateless and for logout we should use something like "Redis" for "blacklist".
But if we'll have some functionality that can invalid token it would be too great.
So if it could be possible it would be our pleasure.
thanks

[2020-09-30 13:19] veronica-souza opened #749 ""invalid signature" when try to verify token created with java"
### Description
We have a system that generate a token using java:

[code]
I'm trying to verify this token in a ExpressJS App but everytime it run give us an **invalid signature**. I've already trying use the secret with base64 or only string but nothing works.
The thing is if the java code is change to **secret.getBytes("UTF-8")** the validation works, but this is not something I can do, because

[2020-10-05 11:17] jgehrcke opened #750 "Support NodeJS crypto.KeyObject for signing (when passed as `secretOrPrivateKey`)"
Consider an object of type `crypto.KeyObject` (from NodeJS' crypto module) which represents an RSA private key.

I was expecting to be able to pass it as the second argument to `jwt.sign()` (as `secretOrPrivateKey`). Instead, I seemingly first have to PEM-serialize it into text.

tsc error message:
[code]

I see that this is basically documented:

(no mention of `crypto.KeyObject`, explicit mentio

[2020-10-05 11:26] panva commented on #750
[code]

This works just fine, so i'm assuming your issue is with types. The [types you're using](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/jsonwebtoken) are community provided and maintained, we as Auth0 do not maintain those. You can see the list of owners of those types in the [DT repo](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jsonwebtoken/i

[2020-10-05 11:39] j1r9o8k42nd commented on #750
How do I find my old emails? jrok1984@gmail.com and I believe
jrok1984@outlook.com, and jericho@protonmail.com

Joel Albert

On Mon, Oct 5, 2020, 6:18 AM Dr. Jan-Philip Gehrcke <
notifications@github.com> wrote:

[2020-10-08 14:40] hochmanjoel commented on #642
I selected every reaction. This helped me so so so much. THANK YOU

[2020-10-13 15:52] melitus commented on #705
This works for me
``
    promisify(sign)({ ...payload }, cert, { algorithm: config.jwt.algorithm });
``

[2020-10-24 10:29] dostuffthatmatters commented on #668
The public key should just be a string and not be dependent on the file format ...

**Dear, maintainers. Please look into this!**

[2020-10-28 23:01] felixgiftinfo commented on #560
Thanks, this was really helpful.

[2020-10-30 07:38] MeRahulAhire commented on #153
Out of nowhere I'm facing exact same issue. First it was working fine and now its giving me this error
**invalid expiresIn option for string payload**
[code]

[2020-10-30 15:49] mastermatt opened #753 "[Question] Open to bundling Typescript type declaration file?"
### Describe the problem you'd like to have solved

Currently, Typescript users of this lib are required to add two NPM dependencies as the type definitions live in [`@types/jsonwebtoken`](https://www.npmjs.com/package/@types/jsonwebtoken).

Would the maintainers of this repo be open to adding/bundling the types directly in this repo?

It would essentially boil down to copying [this file](https://

[2020-11-12 04:57] yashtibrewal commented on #591
I would like to give a suggestion
jwt.verifty(data,key)
For this function, could be return false if data which is of type string is not of the jwt token format, i.e. jwt format regex.
This way if a user passes anything but a jwt token, he will receive a false

[2020-11-13 16:34] codedbrain opened #755 "`JsonWebTokenError: invalid algorithm` error occurs in certain cases when the value of alg obtained from decoded token is checked based on the content of secretOrPublicKey"
### Description

- `BEGIN CERTIFICATE`
- `BEGIN PUBLIC KEY`
- `BEGIN RSA PUBLIC KEY`

The highlighted source code checks the value of `secretOrPublicKey`  [https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L113-L118](https://github.com/auth0/node-jsonwebtoken/blob/master/verify.js#L113-L118)

[code]
and assigns either of the following arrays to `options.algorithms`

[https://github.

[2020-11-20 02:59] japanoronha opened #756 "verify method return type"
I'm trying to use the **verify()** function and it returns a object with this:

![unknown](https://user-images.githubusercontent.com/37963184/99752149-7f23b280-2ac2-11eb-801a-dfc69d09a742.png)

But in other projects the same function (with the same parameters) returns an object with the following properties: `{iat, exp, sub}`
The parameters are these: `verify(token, authConfig.jwt.secret); `

If a

[2020-11-24 05:35] Afzal95 commented on #650
May be you have'nt required it correctly, I was also facing same issues.

[2020-12-22 08:00] webrsb commented on #590
https://github.com/auth0/node-jsonwebtoken#jwtdecodetoken--options

[2020-12-26 17:39] Sir-hennihau commented on #756
@japanoronha It depends on how you encrypted the data in the first place. Check your `jwt.sign( ...` call.

[2020-12-26 17:59] Sir-hennihau opened #757 "TypeScript:"
### Description

### Environment

"@types/jsonwebtoken": "^8.5.0",
 "jsonwebtoken": "^8.5.1",

This is the current typings for `VerifyCallback`

[code]

Maybe a generic could be added to extend `decoded`.

Or someone else has a better idea how to improve TypeScript behaviour here?

[2020-12-26 18:04] Sir-hennihau commented on #757
My suggestion would be something like

[code]

[code]

[2021-01-06 04:20] alex-drocks commented on #642
For me it did not work in Google Cloud Platform Cloud Functions. Deploy works but function crashes with the error code.
I got tired of the error so I use a javascript string litteral and copy pasted my private key there instead of the process.env variable

[2021-01-12 10:55] AustEcon commented on #642
Try this:

`iconv -c -f UTF8 -t ASCII  myprivate.key >> myprivate.key`

Converting from utf-8 to ASCII made it work for me 😄

ref: https://stackoverflow.com/questions/43729770/nginx-godaddy-ssl

[2021-01-17 04:31] eserenna opened #761 "Remove token"
is there a way to remove the token? like jwt.unsign() or something

[2021-01-18 19:01] NPellet commented on #739
Actually I'm getting the exact same issue (Node 15, Ubuntu)

Here's an example with a random private key:

[code]
at Sign.sign (node:internal/crypto/sig:124:29)
aebc7411959c_web |     at Object.sign (/srv/www/node_modules/jwa/index.js:152:45)
aebc7411959c_web |     at Object.jwsSign [as sign] (/srv/www/node_modules/jws/lib/sign-stream.js:32:24)
aebc7411959c_web |     at Object.module.exports [as s

[2021-01-18 19:27] panva commented on #739
What makes you assume that? Your random private key's modulus length is 512 bits. JWA specification mandates a minimum of 2048.

[2021-01-18 19:45] NPellet commented on #739
Hmmm so I can make sure I understand (as I don't know anything about cryptography), what is the relation (if any) between the algorithm (RS512, RS256) and the modulus length ?

I can sign my token with, say, the RS256 algorithm and a modulus of 2048, if I wanted ?

[2021-01-18 19:53] panva commented on #739
modulus is one of the components of your private key, its length must be 2048 to be universally usable with JOSE. Your key's bit length is 512, generate a key of size 2048 and you'll be able to use all RSA based signing algorithms (it doesn't matter what the algorithm's "number" is since that only dictates the hash algorithm).

<details>
<summary>Example random 2048 bit RSA private key (click to e

[2021-01-18 19:56] NPellet commented on #739
Okaaay that certainly explains a lot. Thank you very much !

On Mon, 18 Jan 2021, 20:54 Filip Skokan, <notifications@github.com> wrote:

[2021-01-19 11:38] ppicom commented on #270
Hi! This issue is rather old, but I have stumbled upon the same error. I'm trying to generate a JWT encoded with RS256, but I can't get to make it work.

This logs a JWT correctly to the console:

[code]
[code]
<hr>
But when I try to encode it using RS256 I can't get to log the token. Even when debugging, `_token` is always undefined. I've tried several approaches, I'll list them all.

# Synchrono

[2021-01-19 11:56] panva commented on #270
RS256 is an [RSA-based algorithm](https://tools.ietf.org/html/rfc7518#section-3.3) identifier. You cannot sign using RS256 with a symmetric secret such as 'secretkey' that your code shows. You need a private RSA key representation instead of a symmetric secret. Symmetric secrets can only be used for [HMAC-based algorithms](https://tools.ietf.org/html/rfc7518#section-3.2), such as HS256.

[2021-01-19 12:05] ppicom commented on #270
Thanks for this super quick response @panva. So, that is going to be the error returned when the secret is invalid?

[2021-01-19 12:15] panva commented on #270
If you want to work with *secrets* you gotta use HMAC based algorithms. The moment you wish to use RSA-based algorithms, you gotta work with *keys*, private or public, depending on the operation.

In your case you're passing a secret where you should be passing a private key representation.

From the docs:

What algorithms falls into what category is either in the [JWA specification](https://tools

[2021-01-26 15:36] tunexlevel commented on #642
I was placing the key and crt interchangeably. So placing it rightly solve mine.

[2021-01-27 00:51] looselytiedshoelaces opened #762 "Deno Compatibility"
Hi!

So I have started using deno couple of days ago and I am really loving it since I can use typescript without any tweaking or any installation of modules and the directory is pretty much cleaner since there is no node_modules, etc and there's really more to it compare to nodejs, but nodejs is pretty good, too. I just thought of switching to a more modern syntax and I guess I am just curios wha

[2021-01-27 17:02] raijinsetsu opened #763 "Feature: function to return list of supported algorithms"
### Describe the problem you'd like to have solved
While implementing some configuration validation logic, which accepts a array of `Algorithm` values to be used with jsonwebtoken, I found that the library does not expose the values in a way that can be used at run-time.

In Typescript, we have the `Algorithms` type, but there is no actual array against which to validate data received from outside

[2021-01-27 17:03] raijinsetsu commented on #763
PS - I am willing to code and submit a PR for this, assuming the maintainers agree that this feature is useful.

[2021-01-28 04:57] #762 closed

[2021-01-28 04:58] looselytiedshoelaces commented on #762
Sorry. This was supposed to be on the QA or feature request section.

[2021-01-29 08:09] calumk commented on #655
A little googling let me to this....

[code]

It seems to work in my .mjs setup....

Can someone confirm that this is an appropriate use?

[2021-01-29 08:41] pemakhov commented on #625
Recently I've encountered the same problem.
I got payload from a refresh token and I didn't notice that "iat" property was added there. Thus, the next time I signed the object with an existing "iat" property, and jsonwebtoken didn't update it. So, I was getting absolutely equal tokens all the time.

[2021-02-02 14:47] ransomedesign commented on #533
@MitMaro Thanks, this old comment of yours helped me out today, I thought my signature was OK when testing with JWT.io - terrible design which really threw me off the scent!

[2021-02-15 12:30] TKlie opened #764 "Decimal timestamps cause JsonWebTokenError on signature verification"
### Description

The token verification fails, even though the token is a valid JWT.

### Reproduction

To reproduce, provide any token with decimal timestamps. This will be decoded to something like:

[code]

Trying to verify this same token's signature against the public key causes following error:

[code]

After some initial debugging, this error seems to be caused by this package type-checking

[2021-02-15 12:57] panva commented on #764
Hello @TKlie the type check for a number is correct.

[code]

These are IANA registered claims with a type defined by the specification.

[2021-02-15 13:26] TKlie commented on #764
Thanks for the quick reply @panva .

So, you're saying that - rather than this package doing something like `parseFloat` to catch this - the encoding process is a fault here, correct?

[2021-02-15 13:30] panva commented on #764
Yes. Whomever produces that JWT produces it incorrectly. It's meant to be a JSON number type rather than a string.

[2021-02-15 13:30] #764 closed

[2021-02-16 15:29] Sahar3dsig opened #765 "jsonwebtoken doesn't supported in webpack 5"
when building react with webpack5, I receive the error:

<img width="775" alt="Screen Shot 2021-02-16 at 17 26 00" src="https://user-images.githubusercontent.com/56968178/108084128-85530c00-707c-11eb-9907-7ee660136165.png">

[2021-02-16 15:50] hiagodotme opened #766 "Problem encoding UTF-8 data"
### Description

### Reproduction
[code]

### Environment

- **Version of this library used:** 8.3.0
- **Other relevant versions (language, server software, OS, browser):** Ubuntu 20.04 LTS

[2021-02-16 15:54] panva commented on #765
That's because `jsonwebtoken` is not built to be transpiled for the web browser runtime, under its hood it uses node's `crypto` module. We actually support browser environment as a runtime for this module.

We are not providing `jsonwebtoken` for the browser platform and would recommend use of JWT modules that utilize the browser built-in [`Web Cryptography API`](https://www.w3.org/TR/WebCryptoAPI

[2021-02-16 15:54] #765 closed

[2021-02-16 16:02] panva commented on #766
The data is getting encoded correctly. It's the way you decode it that [doesn't handle utf-8](https://stackoverflow.com/questions/30106476/using-javascripts-atob-to-decode-base64-doesnt-properly-decode-utf-8-strings).

[code]

[2021-02-16 16:02] #766 closed

[2021-02-17 20:15] jedwards1211 opened #767 "verify throws undocumented TypeError for invalid input with algorithm: 'ES512'"
### Description

If I pass a ES512-signed token missing one character from the end to `verifyToken`, it should throw a `JsonWebTokenError` with message "invalid signature", not a `TypeError`.

I need to be able to return sane error codes from an API I'm making for verifying license tokens encoded as JWTs.  I guess I can grep for this error message, but I feel less confident that I'll be able to re

[2021-02-17 20:22] jedwards1211 opened #768 "verify error message is sometimes "invalid token" instead of documented "jwt malformed""
### Description

I expected `verify` to throw "jwt malformed" errors when it can't describe the problem more specifically.  Instead, it's throwing "invalid token" in the following example:

### Reproduction

[code]
### Environment

- **Version of this library used:** 8.5.1
- **Version of the platform or framework used, if applicable:** Node 12.16.0

[2021-02-17 21:39] panva commented on #768
`invalid token` might just need to be documented.

- `invalid token` - when the decoded header cannot be parsed as JSON
- `jwt malformed` - the token does not have three components (delimited by a ".")

Ultimately I don't see a problem here. They could be merged into one, sure - in the next major.

Feel free to open a PR adding the `invalid token` message to the list in the JsonWebTokenError secti

[2021-02-17 23:24] jedwards1211 commented on #768
ah I see.  "invalid header" would be more correct since the entire string is referred to as a token

[2021-02-18 16:47] #768 closed

[2021-02-26 02:40] EirikFA commented on #483
Is there any reason this was closed? It still seems relevant.

[2021-03-04 04:05] sapinder-pal opened #771 "Token Does Not Expire At All"
### Description
I'm trying to implement my own jwt authentication with access-refresh tokens. But the access_token doesn't seem to expire at all. I'm setting the `expiresIn` property to 5 seconds when signing the token for experimental purposes.

### Reproduction

- How I'm signing the token
[code]
- How I'm verifying the token
[code]
According to the docs, the callback function is supposed to det

[2021-03-09 14:07] Jolg42 commented on #111
It looks to me like jose is a good alternative here and is already quite popular.
https://www.npmjs.com/package/jose
https://github.com/panva/jose

[code]

[2021-03-16 04:55] rajesh-smartwebtech opened #772 "Is this possible to JavaScript library feature using without node js"
Hello team ,
This is very popular library but unfortunately need to use in JavaScript with jQuery  in browser so
Is this possible to use this as JavaScript library without using node js direct use library

Thank you

[2021-03-17 13:56] Romick2005 opened #773 "Please update docs example with using jwks-rsa as it's not longer supports callbacks from version 2.0.0"
Expected code usage should look like:

[code]

instead of:

[code]

[2021-03-17 14:01] panva commented on #773
jwks-rsa [v2.0.1](https://github.com/auth0/node-jwks-rsa/compare/v2.0.0...329cec5) added the support for callbacks again.

[2021-03-17 17:50] Romick2005 commented on #773
Ok great! Thank you!

[2021-03-17 17:52] #773 closed

[2021-03-19 09:18] book12085 commented on #771
add exp to sign:
eg:
`
jwt = sign(userName: 'Aaron', exp: (Date.now() / 1000 + 5), .........)
`

it works

[2021-03-19 10:27] sapinder-pal commented on #771
Well I'm able to make it work by adding `exp` to the payload instead since the day I opened this issue. It's just that `expiresIn` property doesn't seem to work.

[2021-03-23 14:38] send2harishsharma commented on #208
Hi,

I have 2 rest API in springboot project

1. /test - GET
2. /authenticate - POST

I am able to generate token using /authenticate POST API but when I validate the token on https://jwt.io/  it says Invalid Signature

Generated Token: eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJmb28iLCJpYXQiOjE2MTY1MDk3NzIsImV4cCI6MTYxNjU0NTc3Mn0.DFSrZv9mDVnxWGBLP8KOQa0i8lBDJN2SHNZpGmYSsNL1-EhUXj3X1Jx0YrPuxGxwEfpBvNzs01AYKQ

[2021-03-28 16:03] Root-Control commented on #417
I'm from the future, man, your token just expired, and we can't use the API, the world is in chaos

[2021-03-29 19:18] angelinama commented on #668
In order to use RS256 algorithm, the second argument has to be a real encoded primary key. You cannot pass a random secret string like in the default algorithm

[2021-03-30 00:54] lukaswilkeer commented on #653
Experiencing the same issue, with the express doesn't work, and with the node script/environment or/and the jwt.io debugger works well.

On the script I've attempted to verify if is asynchronicity by doing a composition, decode(encode(payload, secret_key))
On the express works the same way, but nothing works. The tests are passing, but when you try to get the token from the headers, I get the inva

[2021-03-30 20:51] c316 opened #774 "Unknown application error occurred"
### Description

I have been working with Vercel support to resolve an issue where the jsonwebtoken package is encountering an error, "Unknown application error occurred". Vercel has directed me to open an issue here.

### Reproduction
https://github.com/vercel-support/issue-reproduction

Here are my steps.

1. Clone the repo https://github.com/vercel-support/issue-reproduction
2. run, "yarn"
3. r

[2021-04-01 04:12] alexd-shuttle commented on #668
Hopefully it helps someone else: In my case, the problem was that the PEM file contained multiple keys, and I just passed the whole PEM file into jwt.verify.

Roughly my solution:

[code]

[2021-04-05 20:40] DrewDaPilot commented on #655
Any progress on this? I tend to always use `import` nowadays in my application so its weird to have this library as the only dependency that still uses const.

[2021-04-06 13:51] lillem4n commented on #655
node.js now lists ESM as stable: https://nodejs.org/api/esm.html#esm_ecmascript_modules - so I see no reason not to go full blown ESM. :)

[2021-04-12 07:52] ManuC84 commented on #771
Yeah it doesn't work for me either

[2021-04-13 18:28] ivenuss commented on #642
I accidentally exchanged private key and certificate.

[2021-04-14 11:04] rkaw92 commented on #774
1. I'm not sure exactly how Vercel runs the application, but my guess is it never finds `package.json` because it's in a subdirectory, so it never installs dependencies.
2. RSA requires private and public key files in a particular format (PEM) - you can't just pass some strings and expect them to work. Generate test keys using OpenSSL.

[2021-04-25 13:11] RakshithVP commented on #208
@send2harishsharma ,
You should click on the checkbox and it works fine. I know this is a too late reply.
![image](https://user-images.githubusercontent.com/69451781/115994710-fa672400-a58c-11eb-9d80-455d76c0b948.png)

[2021-04-27 13:55] erdzan12 commented on #757
Any suggestions on this?

[2021-05-01 02:24] ThisIsMissEm commented on #757
You can't actually type the decoded value, as it comes from an untrusted source; typing it as anything other than `Record<string, unknown>` would be giving you a false sense of security in your typesafety.

Even if you think the decoded token will include a given property, it may not actually, JWTs don't validate properties beyond a limit set (those you can validate using the `options` argument).

[2021-05-01 02:38] ThisIsMissEm commented on #757
To clarify with working code:

[code]

[2021-05-07 23:32] josoroma opened #776 "Aafe password resets with json web tokens - Invalid token when decoding"
### Description

I am trying to put in place `safe password resets with json web tokens`, so the first step pf the forgot password flow is:

![image](https://user-images.githubusercontent.com/69951/117517347-040f6500-af59-11eb-9ea5-94d44fb7e111.png)

where the user is receiving an email with the reset link, the URL contains two query string parameters:

![image](https://user-images.githubuserconte

[2021-05-11 03:13] anasyarn commented on #761
please add some method to remove/destroy the token on server.

[2021-05-20 16:10] sashiksu commented on #221
didn't see passing the key to decrypt in this package. Wonder how it decodes.

[2021-05-21 04:32] n1rjal opened #777 "Expire a JWT"
Suppose a user of my system, clicks **logout of all devices**

Then I would want to expire / invalid all the access/refresh tokens which was signed before that time.

Do we have some feature for doing so

How can I implement it.

[2021-05-23 04:12] alikamrani commented on #777
hi . It is my question  too . could anyone help ?

[2021-05-26 10:12] dhensby commented on #777
There is no "standard" way to revoke a JWT. JWTs are intended to be de-centralised and self-verifiable; this means there's no need to contact a central authentication service to verify a JWT, an application consuming a JWT can verify the token and trust it.

JWTs are useful for authentication services that need to authenticate a large number of users or users in a distributed wat where it's either

[2021-05-26 10:33] dhensby commented on #761
see https://github.com/auth0/node-jsonwebtoken/issues/777

[2021-05-30 20:06] 13thThief commented on #771
Can confirm this.

[2021-05-30 20:21] 13thThief opened #778 "Contradictory unit for expiresIn value"
### Description

In the documentation / README for this section:

Consider expiration as 60, which is a pure numeric value. First it says "A numeric value is interpreted as a 'seconds' count." but later in the section it says "(if not string) otherwise 'milliseconds' unit is used by default ("120" is equal to "120ms")"

So is it 60 seconds or milliseconds?

### Reproduction

Refer to the above sec

[2021-06-01 00:53] hanchiang commented on #777
You can implement this feature by storing the tokens in a blacklist, say in redis, which will expire on the expiration time `exp`.

As noted, such a feature will incur a performance penalty as every service that a request flows through will have to verify whether the token is revoked.

On the positive side, the storage requirement should not be large, since the tokens in the blacklist will be remo

[2021-06-01 05:31] gabs086 commented on #668
@scrimmie Hi. Did you fix your issue about this? I'm having the same issue. Maybe you can what's your workaround if you fix it. Thanks

[2021-06-01 11:08] dhensby commented on #777
You can't blacklist tokens without knowing they were issued on the first place and to which subject (if you wanted to expire all tokens for a user on logout). So there is more storage required than just the blacklist. Making the use of JWTs unnecessary.

[2021-06-01 12:39] hanchiang commented on #777
Blacklisting requires the storage of state in a data store. It seems like the same is true for server-side sessions.
Is there anything that I missed here?

Also, the impact of the performance penalty would be largely dependent on the scale of the traffic that the system is serving. In security-critical applications, the performance hit might be a worthy tradeoff.

[2021-06-03 11:12] #777 closed

[2021-06-07 08:14] hgl opened #779 "Is it intentional that maxAge is flagged as deprecated in @types/jsonwebtoken"
### Description

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/73b90cedc748d3da3cb203d7dd6e7a6f806fdc17/types/jsonwebtoken/index.d.ts#L86-L90

I don't see any deprecation warning in code or readme in this repo, is it intentional? From git blame, it seems it was added by @samuelhorwitz 5 years ago.

Should I send a PR to DefinitelyTyped to remove it and change the type to `number | string

[2021-06-07 13:57] samuelhorwitz commented on #779
I added this in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/8296 and haven’t thought about it in a long time, but I remember dealing with a lot of missing types regarding web crypto at the time and just getting things working locally and then committing upstream. Which is to say I haven’t kept any of these things up to date since and I’m sure if the blame is tracing back to my work 5 y

[2021-06-08 06:58] frankli0324 commented on #711
seems that this issue is forgotten?

[2021-06-09 13:24] idevelop opened #780 "maxAge not checked if the token has no expiration"
Is it expected that a JWT with no defined expiration is verified as correct by the library when using the `maxAge` option?

[code]

[2021-06-09 13:29] idevelop commented on #780
I misunderstood the intent of `maxAge`: I thought it enforces that the token doesn't have an expiration larger than a specific time interval, whereas it's actually an expiration enforcement on the verification side (the verifier can enforce the expiration even if the issuer did not set it).

[2021-06-09 13:29] #780 closed

[2021-06-09 18:23] Guriqbal-Singh-Alida commented on #111
Given verify return decoded data, There might be small overhead that we are decoding same token twice.

[2021-06-11 18:38] 3FanYu commented on #771
does not work for me too
my setup:
[code]

and my token never expires

[2021-06-12 05:47] 3FanYu commented on #771
i think i've found my problem!
i was manually setting the "iat" as Date.now() in the payload
but apparently the token will generate iat property itself
I commented that out and it works fine.

[2021-06-13 11:11] sapinder-pal commented on #771
yes it worked! 😃

[2021-06-13 11:11] #771 closed

[2021-06-16 21:58] skibaalex commented on #153
@MeRahulAhire
any solutions? I am facing the same issue

[2021-06-17 08:20] MeRahulAhire commented on #153
@skibaalex it's easy https://github.com/MeRahulAhire/React-Node-Passwordless-Auth/blob/a251fcc21b76d4136ad62ac8430077240c5b3b7f/server.js#L68

[2021-06-24 19:51] InfoLorenzo commented on #68
That was the solution for me signing the JWT using RS256. After that conversion it was successfully signed

[2021-06-28 08:32] logicchemie commented on #749
same issue +1

[2021-06-30 02:33] revjtanton opened #783 "Malformed token error with base64 encoded secret"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2021-07-01 09:28] cbmgit commented on #772
I am also looking for this solution.

[2021-07-02 05:59] Usman-Qasim commented on #642
This is the complete solution of the problem.
First to generate SSL certificates, then create a HTTPS server via these certificates, after that implement Secure Web Sockets.
1st:
Generate SSL certificates via OPENSSL.
These are the 3 commands

openssl genrsa -out abels-key.pem 2048
openssl req -new -sha256 -key abels-key.pem -out abels-csr.pem
openssl x509 -req -in abels-csr.pem -signkey abels-key

[2021-07-06 16:48] trallnag commented on #514
Just ran into the same issue...

[2021-07-19 09:43] 0x0a0d commented on #778
60 in `number` => 60 seconds
"60" in `string` => 60 miliseconds

[2021-07-21 22:02] ppedro1 opened #784 "verifying an invalid token crashes the expressjs application"
## verifying an invalid token crashes the expressjs application
#### Description

jwt.verify() causes express application to crash regardless of try...catch and working error handler middleware.

#### Reproduction

- Using Node.js 16.4.1 and jsonwebtoken 8.5.1
- Create a function to verify a given jsonwebtoken with either (any) of the approaches:
[code]
- Try to verify() an invalid token

#### An

[2021-07-22 00:40] chase-moskal opened #785 "can't import jsonwebtoken in modern typescript esm app"
we can't properly import this library in a modern typescript project. here's the problem:
- `import * as jwt from "jsonwebtoken"`
    - export `default` contains what i need, sign, verify, etc
    - however, the types won't let me have it
- `@types/jsonwebtoken`
    - does not have any definition for a default export

as you can see there's an incompatibility between what can actually be imported

[2021-07-22 09:39] #784 closed

[2021-07-22 11:39] Zajozor commented on #627
Hi!
Any plans to support this :) ? Anything one could help with?

The comment from 2019 is out of date - node-jwa is actually deprecated/unmaintained - https://github.com/auth0/node-jwa/issues/40

And @panva you actually seem to provide a better alternative in jose https://www.npmjs.com/package/jose

[2021-07-28 17:41] vishwakarmad1999 commented on #103
After going through the thread, I'd go to use minimal expiration time to avoid all the complexities.

[2021-07-29 21:42] revjtanton commented on #783
I guess nobody else is having this issue? I have been unable to find any workaround.

[2021-08-02 17:52] Davi-zzz commented on #771
ohh guy, ty soo much!

[2021-08-06 15:40] KowalewskiPawel opened #787 "Updating the Documentation to ES6+"
### Adding ES6+ Syntax to the Examples

Currently, examples in the documentation use the old version of JavaScript, namely the pre ES6 version with some practices already abandoned in most of the projects, such as using `const & let` instead of `var`, or Promises instead of callbacks.

### Possible Changes

* Variables initiated with `var` can be changed to `const` or `let` depending on the contex

[2021-08-09 10:16] Jeff-Tian commented on #783
Met the same issue with HS256, without **'base64'**. But it only occurs sometimes, not always. :-(

[2021-08-13 02:38] kitsune7 commented on #772
I did some digging on this. From what I've found, there are some key dependencies that prevent this from running in the browser.

The main issue I ran into with my testing is that one of this library's dependencies, `jws`, uses `stream` (in `lib/data-stream.js`) which is a Node.js module that's undefined in the browser.

[2021-08-13 14:12] acecconato commented on #748
I agree, It could be great to implement at least a blacklist natively

[2021-08-15 10:46] KevsRepos commented on #783
Got the same issue. This is driving me crazy.

[2021-08-24 11:30] Tilogorn commented on #111
Whats the state of this? The docs still say `If a callback is supplied, function acts asynchronously`. Can I, as package consumer, be sure that a call to `verify(token, key, function() {})` is non-blocking?

Because that is what I assumed until I saw this issue here.

[2021-08-25 08:32] iambumblehead opened #788 "consider responding to the JWT criticism here"
criticisms are found here https://fly.io/blog/api-tokens-a-tedious-survey/

a ycombinator discussion here: https://news.ycombinator.com/item?id=28295348

what are the recommended ways to use and not use JWT tokens? how does this package improve or guide the user toward following recommended approaches?

[2021-09-01 15:06] ViniciusFXavier commented on #744
Same problem here :(

Sometimes it works and sometimes it doesn't.

[2021-09-12 17:10] Shriever opened #789 "Discrepancy between README and function description in VS Code"
### Description

When hovering over the `sign` function in VS Code, the description includes the following phrase: **could be an literal**. I thought that was a little weird so I checked the README and it seems that the intended message is **could be an object literal** on line 30.

### Reproduction

Hover over sign function imported from `jsonwebtoken`.

![sign](https://user-images.githubusercont

[2021-09-14 03:21] scolobey opened #790 "jwt.sign error bad decrypt"
### Description

For authentication against my API
I create private/public key pairs using the following script...

[code]
And then, when signing tokens, I use the following code...

[code]

This has worked for a couple of years. Recently, it started throwing this error...

[code]

### Environment
jsonwebtoken version: "8.5.1"

[2021-09-14 13:38] #790 closed

[2021-09-15 23:03] scolobey opened #791 "jwt.verify Error: PEM_read_bio_PUBKEY failed"
### Description

I recently started getting errors on jwt.verify

[code]

But if I take the token and the publicKey and plug it in [here](https://jwt.io/) the token validates.

Here's the error:

[code]

### Repro

Here's the public key I'm using for testing:

[code]

And here's a generated token that results in an error:

`eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsInVzZXIiOiI2MTQwY

[2021-09-17 00:52] scolobey commented on #791
I did resolve this after refreshing all of my keys.
Definitely my own mistake somewhere, but I have no idea where.

[2021-09-17 00:52] #791 closed

[2021-09-19 12:58] vadimshadrin opened #792 "token uncomatable with python jwt library"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly