[2014-01-25 18:25] tciuro opened #1 "Add license to project"
Hello Matias,

Even though the license is included in the README.md file, it would better to also include it in its own file. This way license crawlers will be able to easily access it.

Saludos,

-- Tito

[2014-02-17 14:57] #1 closed, assigned to nobody

[2014-03-17 17:10] jpadilla opened #2 "Accessing payload even without verifying"
It is some times useful to be able to access the payload even though the verification fails. On PyJWT we do it like this:

[code]

I could always directly use `jws` to decode the jwtString first and the do verification. What do you guys think about this?

[2014-03-20 12:14] #2 closed, assigned to nobody

[2014-03-26 21:59] stefanhenze opened #4 "verify should accept an array of audiences"
The verify-method should accept an array of audiences. This is particularly useful to accept requests from multiple auth0-applications with the same endpoint. See http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#audDef

[2014-04-12 23:58] dbrabera opened #6 "Audience, issuer, expiration, etc are lost when using a string as payload."
When using a string as payload, the issuer, expiration, audience and subject are lost. It is not possible to attach properties to a primitive and also they do not get serialized anyway, as it get serialized as a string. A possible solution is to put the string in a object literal and attach this data to the literal too.

At the moment, using a string as payload also causes a parsing exception when

[2014-04-23 01:38] dschenkelman opened #7 "Issuer and Audience are verified only if provided"
[These lines](https://github.com/dschenkelman/node-jsonwebtoken/blob/master/index.js#L55) of code are the cause:

[code]

Repro tests:

[code]

[2014-04-23 02:13] #7 closed, assigned to nobody

[2014-06-10 07:53] mdenti opened #12 "Misplaced parenthesis when checking for payload expiration"
https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L51
Date.now() is rounded before being divided by 1000, so the rounding seems to be doing nothing. I'm thinking it should be:

[code]

[2014-07-14 19:27] woloski opened #13 "SECURITY BUG: when using alg none and secret is passed the library wasn't throwing an error"
Repro:

[code]

fixed here dfddaa4bf520f40051732b2a0dc8d525bd946763

[2014-07-14 19:28] #13 closed, assigned to nobody

[2014-07-15 15:32] asafyish opened #14 "An exception is thrown when payload is a string"
When using jwt.verify or jwt.decode with a payload that was created from a string, there is an exception.

[code]

According to the docs for sign() - "payload could be an literal, buffer or string".

[2014-07-21 22:03] viz opened #15 "TypeError: Cannot read property 'payload' of null"
Looking for some help here - I have a simple Node/Express app which is validating a token:

  exports.validate = function(req, res) {
          jwt.verify(req.body.token, token_secret, function (err, decoded) {
              if (err) {
                  res.json({user: null})
              } else {
                  if (token_is_valid(req.body.token)) {
                      res.json({user: decode

[2014-08-05 14:01] mtomy opened #17 "iat field calculation at sign method"
Hello!

At sign method I see line
payload.iat = Math.round(Date.now() / 1000);

If Date.now() / 1000 returns 1407247380.576 we get token that will become valid after 1 second from the time it was exactly issued. I think it's better to use Math.floor instead of Math.round.

Thank you!

[2014-08-23 22:48] #15 closed, assigned to nobody

[2014-08-23 22:48] #17 closed, assigned to nobody

[2014-08-23 23:11] #14 closed, assigned to nobody

[2014-08-23 23:14] #6 closed, assigned to nobody

[2014-08-23 23:15] #4 closed, assigned to nobody

[2014-08-23 23:15] #12 closed, assigned to nobody

[2014-09-02 21:45] Kikobeats opened #23 "SyntaxError when payload is a string"
[sailor-0 (err)]   at Object.parse (native)
[sailor-0 (err)]   at Object.jwsDecode [as decode](/Users/josefranciscoverdugambin/Downloads/appToken/node_modules/jsonwebtoken/node_modules/jws/index.js:113:20)
[sailor-0 (err)]   at Object.module.exports.decode (/Users/josefranciscoverdugambin/Downloads/appToken/node_modules/jsonwebtoken/index.js:4:21)
[sailor-0 (err)]   at Object.module.exports.verify

[2014-09-19 12:10] Kuzmin opened #26 ".verify is synchronous, why does it need a callback?"
Shouldn't there be an option to use .verify without the callback since it doesn't use any async code?

If you want, I could get a pull request up that allows for optional callback to the verify method? I understand that a callback can be preferred for error handling etc.

tl;dr; I can get a pull request up that allows sync use of .verify without breaking existing API. Should I?

[2014-11-26 01:02] joshperry opened #33 "Audience in token should support arrays"
Per the spec:

[code]

[2014-11-26 02:13] #33 closed, assigned to nobody

[2014-12-02 04:53] teknosains opened #35 "How to check more than one Issuer ?"
I want to check if issuer1 or issuer2 is issued then its Valid

[code]

and is there `iat` (issued at) option ?

[2014-12-03 23:32] hybrisCole opened #36 "Prevention against replay attacks"
Hello,

So this is the workflow I have at this moment for using JWT:
- User logs in, sends usr/pwd.
- Node validates it against an old .NET DB, if the usr/pwd matches, I issue a JWT with 5min expiration and send it back to client.
- I store the token using mozilla's localforage.
- Everytime I do a new request, I invalidate the current token (adding it to a blacklist), and add issue a new token in

[2014-12-04 20:23] #36 closed, assigned to nobody

[2014-12-11 22:20] rahatm1 opened #37 "Tokens don't expire"
Hi,
I am creating the token like so:
`var token = jwt.sign(user, secret, {expiresInMinutes: 1});`
and verifying using:

`jwt.verify(token, secret, function(err, decoded) {
      if (err) {
          console.log(err);
      }
      else { console.log(decoded);
      }`
But, I don't see any errors after one minute and the token is successfully decoded every time. Am I doing anything wrong?

My jsonw

[2014-12-12 01:44] #37 closed, assigned to nobody

[2014-12-18 12:38] frantello opened #39 "Update node-jws dependency"
Hi!

We made some fix with node-jws and released a new mayor version.

It's fix browsers window.atob compatibility when claims contains latin1 characters.

Would be nice if you update node-jws dependency to ~1.0.0

Thanks!

[2014-12-21 10:03] arathael opened #41 "Charset encoding"
Hi there, I'm currently using JWT for encoding some basic session data to be persisted over auths, within that data there goes a user.name into the token. Everything works wonderfully, i mean it, like really thank you and all that. But I noticed when encoding my own name over QA phases that utf8 chars get encoded in a weird way.

![screen shot 2014-12-21 at 4 01 09](https://cloud.githubusercontent

[2014-12-24 21:31] nschwertner opened #43 "Support for JWK"
I am wondering, if there are any plans to support signature validation with JSON Web Key:
https://tools.ietf.org/html/draft-ietf-jose-json-web-key-38

Here is an example JWK:
https://authorize.smartplatforms.org/jwk

[2014-12-29 16:13] #41 closed, assigned to nobody

[2014-12-29 16:14] #39 closed, assigned to nobody

[2014-12-29 16:14] #26 closed, assigned to nobody

[2014-12-29 16:33] knownasilya opened #45 "versions in github's Releases"
Would be nice if versions were tagged as releases here in github.

[2014-12-29 16:46] #23 closed, assigned to nobody

[2014-12-29 16:47] #45 closed, assigned to nobody

[2015-01-03 19:55] shSina opened #46 "encrypting payload"
I expected when using a privatekey it will encrypt the payload too!
I think I misunderstood with some usage of algorithms available for jwt.
why we should use encryption and its performance drop in comparison to hashing ?

as a feature I think it could be useful to encrypt the payload , I expect the pros of encryption is when we encrypt the payload.

[2015-01-05 11:38] shSina commented on #46
Is it useful adding possibility of encrypting payload using AES to the api?
I implemented such feature for my project and I think it can be useful in cases when payload data should be kept hidden from the client side.
I don't know whether I should release it on a different module or it can be merge to this project via pull request.

[2015-01-05 11:47] jfromaniello commented on #46
The standard JWT describe two things signing (JWS: JSON Web Signature) and encryption (JWE: json web encription).

With JWE you don't encrypt the payload but the signed JWT.

There are some implementations of JWE for node.js and I will definitely consider a pull request including support for JWE tokens.

[2015-01-08 10:34] bebraw opened #47 "NPM 2.0> gives a warning when installing package"
When installing the library using a recent NPM, it gives an error like

[code]

Maybe tweak `package.json` engines to get rid of this?

[2015-01-08 11:56] jfromaniello commented on #47
Yes, sorry about that, fixed in version `3.2.1` commit 41cc7b7d8767322b39597172814349fbf88df6c2.

[2015-01-08 11:56] #47 closed

[2015-01-08 11:58] bebraw commented on #47
Awesome, thanks.

[2015-01-09 11:18] #35 closed, assigned to nobody

[2015-01-20 22:52] MichielDeMey opened #48 "Error on insufficient key length"
Might I suggest we throw an error when the user tries to sign a token with a key of a length with an insufficient length?

I believe a length > 8 should be sufficient against brute-force attacks.

Let me know what you guys think.

[2015-01-21 17:44] mhingston opened #49 "Signing, object vs string"
Shouldn't these result in the same output or am I missing something?

[code]

[2015-01-21 22:22] MichielDeMey commented on #49
If it's an object, the library will add the "typ" header as well.
https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L16

In addition it'll generate and add an iat to the token's payload in case of an object.

This doesn't happen in case of a string.

[2015-01-22 18:29] #49 closed

[2015-01-26 00:26] dan-silva opened #51 "Improve expirationInMinutes precision"
Currently this library only allows the token to be signed with a expiration in minutes. Shoudn't it be able to handle in a more granular way — maybe using a Date object?

At this moment, it's possible to use float values (e.g. 1.5 minutes) but I'm not sure if the current output ("exp": 1422230816.994) is valid based on JWT specs. If not, maybe a simple rounding would probably suffice too.

[2015-01-30 07:33] MilosStanic opened #52 "UTF8 encoding problem"
I have implemented into my project the code from your example at https://github.com/auth0/angular-token-auth/

However, if the payload contains an UTF8 character, in my case 'ć' the payload is badly encoded, and I get an error when doing a JSON.parse of the payload, like I described here https://github.com/auth0/angular-token-auth/issues/9

[2015-01-31 14:58] brianloveswords commented on #52
This was an issue in `node-jws`, I was using `binary` as the default encoding with no option to override. I just released [v2.0.0] which changes the default to `utf8` and gives the option to override the encoding.

[v2.0.0]: https://github.com/brianloveswords/node-jws/blob/master/CHANGELOG.md#200---2015-01-30

[2015-02-04 09:32] codetrash opened #53 "Error Audience check"
Always got this error

{ name: 'JsonWebTokenError',
  message: 'jwt audience invalid. expected: undefined' }

I've correctly specified
[code]

You should try check your index.js line 103
console.log(payload);

the output still

{ audience: ff
  issuer:ff
  subject: fff
  email: ggg
  iat: 1423041815 }

and you check below it like

payload.aud  , this would be 'undefine'

Also , I have this token g

[2015-02-06 04:39] ntotten opened #54 "Text input does not work in iOS"
There are a few issues I found:

1. When clicking on the textbox and holding the delete key only one character is deleted and the delete key is released. The expected iOS behavior is that you can click and hold to continually delete.
2. You cannot click and hold to select the text thus making it difficult to clear the textbook.
3. You cannot click and hold to copy or paste. Paste is most problemat

[2015-02-09 07:16] #46 closed

[2015-02-14 01:44] abalmos commented on #43
brianloveswords/node-jws does the actual signing. @awlayton made a node module that injects jwk support into node-jws (and therefore) node-jsonwebtoken.

https://github.com/OADA/node-jws-jwk

Maybe node-jws should incorporate @awlayton's work upstream.

[2015-03-02 03:17] narendrasoni1989 opened #58 "Exception thrown when used with node v0.10.32 whereas working fine with node v0.10.18"
This is how i am using it:
var token = require("jsonwebtoken").sign({name:"some name",email:"some email"}, 'hello-private-key', { algorithm: 'RS256'});

Same implementation is working in v0.10.18 whereas in my other machine where i am running v0.10.32, it is not working.

Below is the stack trace:
140735299650320:error:0906D06C:PEM routines:PEM_read_bio:no start line:../deps/openssl/openssl/crypto

[2015-03-02 03:22] woloski commented on #58
you have to send a PEM encoded certificate as the private key if you use rs256

On Sun, Mar 1, 2015 at 7:17 PM -0800, "Narendra Kumar Soni" <notifications@github.com> wrote:

This is how i am using it:

var token = require("jsonwebtoken").sign({name:"some name",email:"some email"}, 'hello-private-key', { algorithm: 'RS256'});

Same implementation is working in v0.10.18 whereas in my other machine

[2015-03-02 05:47] demisx commented on #51
Would like to be able to set it in seconds too to be consistent with other implementations.

[2015-03-02 08:12] RoberMac commented on #52
Same problem with @MilosStanic , see below code:
[code]
then when:
[code]
with error Unexpected token at JSON.parse.

[2015-03-02 09:54] RoberMac commented on #52
@brianloveswords Awesome! 👍

[2015-03-03 10:02] selenwall opened #60 "Can't install jsonwebtoken due to 3rd party issue"
I receive the following error message when attempting to install jsonwebtoken, npm-version: 1.1.65.

npm http 304 https://registry.npmjs.org/buffer-equal-constant-time
npm ERR! Error: No compatible version found: buffer-equal-constant-time@'^1.0.1'
npm ERR! Valid install targets:
npm ERR! ["1.0.0","1.0.1"]
npm ERR!     at installTargetsError (/usr/local/lib/node_modules/npm/lib/cache.js:563:10)
np

[2015-03-03 11:30] jfromaniello commented on #60
Your version of npm is too old.
Try `npm i - g npm` before installing.

El mar, mar 3, 2015 07:06, Andreas Selenwall <notifications@github.com>
escribió:

[2015-03-06 10:04] Kikobeats opened #61 "update jws?"
at this moment the lastest version of jws is 2.x... time to update?

[2015-03-06 11:43] jfromaniello commented on #61
Why we should update?

[2015-03-06 11:45] jfromaniello commented on #54
@ntotten this is the repository for the jwt library for node.js, I think you meant to create the issue in

https://github.com/jsonwebtoken/jsonwebtoken.github.io

BTW I've the same problem on Android, the editor is a crap on mobile, it will be nice to use a normal textarea on mobile.

[2015-03-06 11:45] #54 closed

[2015-03-06 11:50] jfromaniello commented on #53
The problem is that your JWT has `audience` but the standard claim is `aud`.

Check this:
https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L118

and this:
https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3

[2015-03-06 11:50] #53 closed

[2015-03-06 14:17] Kikobeats commented on #61
Really is not necessary. I wrote this when I detect the bug with the string!

[2015-03-06 15:04] jfromaniello commented on #61
Updated on v4. Thanks!

[2015-03-06 15:04] #61 closed

[2015-03-06 15:04] jfromaniello commented on #52
It will be fixed on v4. Thank you guys!

[2015-03-06 15:04] #52 closed

[2015-03-06 15:08] #51 closed

[2015-03-06 15:09] jfromaniello commented on #51
Thank you guys , I added `expiresInSeconds` to sign. This will be released today as v4

[2015-03-06 15:09] jfromaniello commented on #48
Maybe `console.warn` instead? I'm not sure

[2015-03-06 16:52] demisx commented on #51
:+1:

[2015-03-06 16:58] ntotten commented on #54
Ah, yeah. wrong repo. thanks!

[2015-03-06 17:23] MichielDeMey commented on #48
That definitely sounds more reasonable, throwing an error would be too aggressive.

[2015-03-10 03:05] aiguofer opened #64 "Options ignored when payload isn't an object"
According to the docs, the payload can be a string, buffer, or object. However, the `sign` function blindly tries to add the `exp`, `iss`, `aud`, and `sub` properties to the payload, so when it's a primitive those properties get lost.

I'm submitting a pull request for a possible fix, although there might be a need for better type checking/handling.

[2015-03-12 15:01] Sk1Zy opened #66 "Exception when using RS256 with certificate"
Hi

Im using https://github.com/substack/rsa-json to create public and private pem encoded keys.

However when i try to use them to encode a jwt using RS256 this error is thrown:

    Error: error:0906D06C:PEM routines:PEM_read_bio:no start line\ at Error (native)\ at Sign.sign (crypto.js:327:26)\ at Object.sign
    (/Project/node_modules/jsonwebtoken/node_modules/jws/node_modules/jwa/index.js:52:

[2015-03-13 09:18] codetrash commented on #53
The problem is

when I verify this token

[code]

using jwt.io (demo page), its valid signature....(SECRET : $kiMhduejNj0uTu1N914)

but, when i use this, its Invalid

[code]

@jfromaniello

Thanks

[2015-03-13 10:57] jfromaniello commented on #53
@codetrash this is not a valid json despite what jwt.io says. First because it has invalid characters.

I think the main problem is that whoever generated this token used Base64, but the standard says it should be "base64url encoded" which is not exactly the same:

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32

here is an example in javascript:

https://github.com/brianloveswords/

[2015-03-16 08:16] albertorestifo opened #67 "Consider changelog"
Please consider the implementation of a changelog.

I spent 30 minutes trying to figure out what was the breaking change in the `v4.0.0` release.  At least major releases should be well documented.

[2015-03-16 11:39] #67 closed

[2015-03-16 11:47] jfromaniello commented on #67
Thanks, I've started using this format http://keepachangelog.com/

[2015-03-16 11:48] jfromaniello commented on #64
what would you expect in this case?

[2015-03-16 16:41] paulxtiseo opened #68 "Error in Verify(): PEM_read_bio_PUBKEY"
On OSX 10.10.2, Node v0.12.0 and jsonwebtoken v4.1.0

Using jsonwebtoken to create my own RS256-signed tokens in the ActionHero framework. Loaded the public key with `api.auth.publicKey  = fs.readFileSync(path.join(__dirname, '../', api.config.auth.publicKey));`.

I am able encode, but not decode. When calling `require('jsonwebtoken').verify(token,, api.auth.publicKey)` I get a `PEM_read_bio_PUBKE

[2015-03-16 20:25] aiguofer commented on #64
I would expect that setting options would have the same effect for any *allowed* payload and throw some sort of error or warning otherwise.

The JWT draft isn't very clear about this, although from reading it I get the impression that the payload should only be allowed to be an object (or a Claims set as they call it). If that's the case, then it should fail when you try to pass a string as the pa

[2015-03-16 20:51] jfromaniello commented on #64
I think throwing is a the way to go. If you are `jwt.sign('foo', {audience: 'bar'}` it should throw because the payload can't have audience

[2015-03-17 03:42] aiguofer commented on #64
Yeah... I think based on the current definition that would make the most sense.

However, it feels like options should be separate from content within the payload (or just separate entities altogether), but that seems like conversation for the authors of the standard and not any specific implementation.

[2015-03-17 14:31] graovic opened #70 "RS256 problem 4.2.x"
Hi,

this package have a problem with decoding RS256 signed messages

var jwt = require('jsonwebtoken');
var fs = require('fs');
var cert_pub = fs.readFileSync('app.rsa.pub');
var cert_priv = fs.readFileSync('app.rsa');

var token = jwt.sign({ foo: 'bar' }, cert_priv, { algorithm: 'RS256'});
jwt.verify(token, cert_pub, function(err, decoded) {
    console.log("Decoded: " + JSON.stringify(decoded))

[2015-03-17 15:06] jfromaniello commented on #70
What's the error you get? It seems to be working fine for me. Check the test I added on the branch issue_70.

[2015-03-17 15:13] graovic commented on #70
~/ cat package.json| grep json
    "jsonwebtoken": "4.1.0",
~/ node testtoken.js
Decoded: {"foo":"bar","iat":1426605073}
Error: null

 ~/ cat package.json| grep json
    "jsonwebtoken": "^4.2.0",
~/ node testtoken.js
Decoded: undefined
Error: JsonWebTokenError: invalid signature

[2015-03-17 15:58] jfromaniello commented on #70
can you give me the first line of your app.rsa.pub file? thanks

[2015-03-17 16:03] graovic commented on #70
-----BEGIN PUBLIC KEY-----

[2015-03-17 16:17] #70 closed

[2015-03-17 16:17] jfromaniello commented on #70
got it! Thanks, it should be fixed on 4.2.1

[2015-03-24 16:46] khowarizmi commented on #37
It seems to appear again. when I change the expiresInSeconds, the token generated does not change, and never expire.

[2015-03-31 21:55] Rafailong opened #73 "Sign token, generate different token"
Hi there, I am using this module with a express.js application and also using express-jwt.

Well,  in the login process each time a post to the /login url a new token is generated and saved to redis. I have a validation that if a token exists it wont be set to redis. but each time a token is signed/generated it is different even when I use the same secret string and the same payload.

The code is

[2015-04-01 12:48] Sk1Zy commented on #66
Was fixed by updating to 4.2.2

[2015-04-01 12:48] #66 closed

[2015-04-01 19:35] kumar303 opened #74 "options.algorithms for verify() is not documented"
It looks like you can pass in a whitelist of [algorithms](https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L110) into the [verify()](https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback) function but this is not documented.

[2015-04-08 16:01] gitawego opened #76 "update to node-jws 3.0.0"
jws is updated to 3.0.0 to mitigate a critical security flaw, hope you can update jws asap.

https://github.com/brianloveswords/node-jws/blob/master/CHANGELOG.md

thx a lot

[2015-04-08 16:12] jfromaniello commented on #76
If you look at the link in that changelog you will see that it is our own blog post.

We fixed this library (and many others) before we even published the blog post.

We are validating the `alg` in the `verify` method in this library already here:
https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L140-L142

If you don't specify `algorithms` to the verify method, we do some heuristic

[2015-04-08 17:37] gitawego commented on #76
wow, nice. thx a lot :)

[2015-04-08 17:37] #76 closed

[2015-04-09 02:27] MarkHerhold opened #77 "[security] Update node-jws to 3.0.0"
[node-jws](https://github.com/brianloveswords/node-jws) is now at version 3.0.0. due to a security fix. The [change log for 3.0.0 is here](https://github.com/brianloveswords/node-jws/blob/master/CHANGELOG.md).

  `jws.createVerify` requires an `algorithm` option. The `"alg"` field
  signature headers is ignored. This mitigates a critical security flaw
  in the library which would allow an attacker

[2015-04-09 02:31] dschenkelman commented on #77
Closing as duplicate of https://github.com/auth0/node-jsonwebtoken/issues/76

[2015-04-09 02:31] #77 closed

[2015-04-09 02:32] dschenkelman commented on #77
Thanks for taking the time to report :smile:

[2015-04-09 02:32] dschenkelman commented on #76
Thanks for taking the time to report :smile:

[2015-04-10 16:52] pose commented on #74
Hi @kumar303,

This has been fixed and you can find it in the repository README.md file.

Thanks in advance,

[2015-04-10 16:52] #74 closed

[2015-04-10 19:41] designfrontier opened #79 "JWS 2.0.0 security deprecation"
`npm WARN deprecated jws@2.0.0: Security update: Versions below 3.0.0 are deprecated.`

[2015-04-10 19:42] dschenkelman commented on #79
We have just merged: https://github.com/auth0/node-jsonwebtoken/commit/634b8ed0ff5267dc25da5c808634208af109824e

We will release a new major version shortly.

[2015-04-11 00:29] pose commented on #79
@designfrontier It should be fixed on `jsonwebtoken@5.0.0`. Feel free to re-open if you are getting the same error. Thanks!

[2015-04-11 00:29] #79 closed

[2015-04-11 01:46] paambaati commented on #67
Guys, would you mind updating the changelog for 5.0.0?

[2015-04-11 01:53] paambaati opened #80 "Can't create npm shrinkwrap with express-jwt in package.json"
I have a project where I use both node-jsonwebtoken and express-jwt. After the upgrade to node-jsonwebtoken `5.0.0`, I can't create a npm shrinkwrap, as express-jwt, I believe, depends on `4.x`. Here's the npm debug log.

[code]

[2015-04-11 17:20] pose commented on #67
@paambaati Done, sorry for the delay.

[2015-04-11 18:02] pose commented on #80
@paambaati We have released `express-jwt@3.0.0` that fixes this issue by updating dependency to `jsonwebtoken@5.0.0`. Feel free to reopen if you still experiencing this issue. Thanks!

[2015-04-11 18:02] #80 closed

[2015-04-15 03:44] brandwe commented on #68
Did you ever figure this out?

[2015-04-15 14:01] paulxtiseo commented on #68
@brandwe: Unfortunately, no. Switched down to HS256. Would love to have resolution on it. We have a ticket to circle back at some point and see what we can do.

[2015-04-22 01:24] jtwebman opened #82 "Sign method should return object instead of string"
It would be nice if the sign method actually returned an object with the token string as a property and the expire date time and other values. I need to add it to a database so I can verify it is a valid token so I now end up having to verify the token right after signing it so I can load them into a database.

I know this is a requirement but it is for our security to still verify the key when it

[2015-04-24 21:48] flyingsky commented on #82
it doesn't make sense. You can use jwt.verify first, if it's correct, then you can query you db to find if this token exists in your db. All the properties generated by jwt in token are not necessary for you.

[2015-04-24 22:24] jtwebman commented on #82
We are doing it to make sure nothing funny happens. We don't have to query for everything but we still store a token id and expire in the DB that gets cleaned up once it expires. This also allows use to invalidate the token if the users permissions change.

[2015-04-25 13:36] flyingsky commented on #73
sure it's different, obviously the token contains timestamp. Your logic is not correct. Your client request should contains token all the time. So on server side just check if the request has token, if not, then create one and save it; if yes verify it.

[2015-04-25 14:15] jfromaniello commented on #73
Moreover you dont need to store it on redis. It is digital signed, so
instead of checking if its on redis you can validate its signature. Search
for HMAC

El sáb, abr 25, 2015 10:36, ramon liu <notifications@github.com> escribió:

[2015-04-26 01:28] shea256 opened #83 "error in jwt.verify"
Hi there,

I'm working with jwt.verify and I'm getting an "invalid algorithm" error.

`Uncaught JsonWebTokenError {name: "JsonWebTokenError", message: "invalid algorithm"}`

*Note: I tried switching up my PEM encoding from PKCS8 to traditional OpenSSL, but then I get an "invalid signature" error instead, which leads me to believe that PKCS8 is required.*

Here is my code:

[code]

Is RS256 properl

[2015-04-26 01:33] jfromaniello commented on #83
You are doing it wrong, on the sign part. It is `algorithm`singular

Please check the documentation.

[2015-04-26 01:33] #83 closed

[2015-04-26 02:03] shea256 commented on #83
OK thank you. It now works for RSA PEMs with PKCS8 encoding, but I still get "invalid signature" when I use traditional OpenSSL encoding.

[2015-05-04 10:36] davidnknight commented on #64
I just got caught out by this myself. I am fetching a user object from the database and passing that user object back as the payload, to which options were completely ignored and it wasn't clear why until I came across this issue, and realised that it was trying to append options as attributes to the payload object.

To throw some sort of exception, or even just a console logged warning that your

[2015-05-05 01:36] antonioreyna opened #84 "Problems with utf8 payload"
hello im sending an utf8 payload for example containing the letter ```é```but when angular decodes it i get ```Ã©``` why is that? just with the token all the other responses done directly from nodejs i get the correct chars

[2015-05-06 20:40] samholmes opened #85 "Documentation uses payload when it should be claim"
The JWT spec calls this _payload_ a _claim_. You're documentation should use this convention to not confuse the subject.

[2015-05-06 21:32] samholmes opened #86 "Misplaced documentation line in README.md"
"Setting ignoreExpiration to true will prevent expired tokens from generating an error." in the README.md file is placed under https://github.com/auth0/node-jsonwebtoken#jwtsignpayload-secretorprivatekey-options when it should be under https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback

[2015-05-06 21:33] samholmes opened #87 "Missing documentation for expiresInMinutes and expiresInSeconds"
Documentation should explain what possible values are valid for these options. Should the expiresInMinutes be the number of minutes from unix time or number of minutes from token generation?

[2015-05-07 18:41] Zertz commented on #87
The name implies it is from token generation: [token] expires in x minutes

[2015-05-13 20:20] mkozjak commented on #68
I can confirm this with the latest io.js on the latest yosemite, too. HS256 works and RS256 doesn't.

[2015-05-16 10:30] nkt opened #90 "Right way for private token generation"
I mean is there some command, like `ssh-keygen -t rsa` for ssh keys, but for `jwt`?

[2015-05-19 11:37] bnolan commented on #83
I had this problem using `node-rsa` and the default `exportKey('private')`. You should note that the PEMs must be in PKCS8 encoding, otherwise you will get intermittent errors with randomly generated keys.

[2015-05-19 11:43] bnolan opened #91 "Intermittent failures verifying using rs256 in browserify"
This key fails to sign and verify using RS256 in browserify, but passes in node.js.

[code]

[2015-05-19 11:55] bnolan commented on #91
This replicates every time in chrome for me:

[code]

[2015-05-19 12:00] bnolan commented on #91
I get the same result using the `keypair` module, which makes me think its a JWT via browserify bug.

I'm using `zuul` to browserify and run my tests if you want to replicate.

[2015-05-19 13:35] jfromaniello commented on #83
@shea256 please open another issue with an example and I will have a look

[2015-05-19 13:41] jfromaniello commented on #90
You mean a CLI for JWTs? I don't know if there is a one yet but I'd expect a syntax like this:

[code]

[2015-05-19 13:43] jfromaniello commented on #87
Yes, it is from token generation and I don't like these parameters.

[2015-05-19 13:45] #86 closed

[2015-05-19 13:45] jfromaniello commented on #86
Good catch, thanks a bunch!

[2015-05-19 13:46] jfromaniello commented on #84
what are you using to decode in the client-side?

Try latest version of:
https://github.com/auth0/jwt-decode

[2015-05-19 14:01] antonioreyna commented on #84
hello, i just figured out, i installed another package to decode utf8 base64 and now everything is ok thanks

[2015-05-19 14:01] #84 closed

[2015-05-19 14:02] antonioreyna commented on #84
ill try the latest anyway thank you

[2015-05-29 16:46] troystauffer opened #92 "base64 encoded tokens (with padding) rejected"
I have tokens that appear to have been generated using base64 encoding instead of base64url encoding (3rd party auth system) and line 8 of verify-stream.js defines the pattern which the token must match. That doesn't currently include '=' padding, which is causing these tokens to be rejected as invalid.

I'm reading through the spec, and while it's pretty clear that token issuers should not includ

[2015-05-29 17:21] jonrh commented on #85
Although I find *payload* to be a more descriptive word I agree that *claim* should be used for consistency with the spec. Two possible ways to address this:

* Refactor *payload* to *claim* in code and documentation.
* Add to the top of repository README.md:
	* *payload is used interchangeabliy with claim*

[2015-05-29 20:00] troystauffer commented on #92
Just realized this is coming from the underlying jws library.

[2015-05-29 20:00] #92 closed

[2015-06-02 17:27] tehsenaus opened #93 "Support PEM passphrase"
I would expect the following to work with Node 0.12 (https://nodejs.org/api/crypto.html#crypto_sign_sign_private_key_output_format):

[code]

However, I get an exception:

[code]

[2015-06-05 19:40] Signus commented on #93
I would like similar support for supporting the PEM passphrase as I know of no current methods for providing the passphrase as of the current version 5.0.1+.

I get the following:

[code]

[2015-06-08 13:51] smof opened #94 "Support for RSA payload decryption"
If a JWT is encrypted and not just signed, would be nice to have ability to decrypt the verified contents.  If this is an RFE?  If so could I patch

[2015-06-10 10:00] rupamkhaitan opened #95 "payload.exp is not getting added"
jwt.sign returns object with token & iat only

But when i see the code

if (expiresInSeconds) {
    payload.exp = timestamp + expiresInSeconds;
  }

It should add exp also inside the object

[2015-06-10 10:57] jfromaniello commented on #95
Can you show your code?

[2015-06-10 10:59] rupamkhaitan commented on #95
sorry there was issue in my code and because of that it was not adding up exp

[2015-06-10 10:59] #95 closed

[2015-06-11 14:32] miguelramos commented on #68
I got the same error and problem was a sign error. I've used [node-rsa](https://github.com/rzcoder/node-rsa) to generate the keys like this:

    var key = new NodeRSA({b: 512, e: 5});

        key.setOptions({
            encryptionScheme: {
            scheme: 'pkcs1',
            label: 'Optimization-Service'
        },
        signingScheme: {
            saltLength: 25
        }
      });

[2015-06-13 04:44] wilsonbalderrama opened #96 "iat and exp properties of decoded object are undefined"
var token = jwt.sign('hello', secret, expiration);
    var decoded = jwt.decode(token);

    console.log(decoded.iat); // undefined
    console.log(decoded.exp); // undefined

Not sure if iat and exp should display anything but undefined when a string payload is sent instead of an object.

[2015-06-13 14:32] jfromaniello commented on #96
The signed token in this case will not have exp/iat because it is an string. Try signing a JSON instead

[2015-06-15 21:10] shea256 opened #97 "examples & tests for ES256"
Hi, are there any examples and/or tests for ES256?

I'm trying to sign a message with jwt.sign() and I would like to be able to pass in a plain hex private key, but in the example with RS256, a PEM is required.

Could you please advise? Thanks!

[2015-06-16 14:53] calvinmetcalf commented on #91
this should be fixed

[2015-06-23 00:57] RCanine commented on #43
[Brightspace/node-jwk-to-pem](https://github.com/Brightspace/node-jwk-to-pem) looks like a nice solution for JWK support.

[2015-06-23 02:11] awlayton commented on #43
I ended up using [dannycoates/pem-jwk](https://github.com/dannycoates/pem-jwk) to do JWK with jsonwebtoken.

[2015-06-23 13:42] fahimbabarpatel opened #99 "How to forcefully expire any token ?"
Hello,

I am building api for phone devices. I am using token to authenticate and accessing  other resources successfully. Once user click on logout I want to expire this token.

Note -  I am not saving token in database.

Waiting for input.

Thanks!

[2015-06-23 16:34] breaklee opened #100 "token expiration is not work."
=== this is sign code

user.token = jwt.sign({name : "hi"}, 'helloworld', { expiresInSeconds : 10 });

=== and below is verify code
jwt.verify(req.token, "helloworld", function(err, decoded) {  });

jwt.verify is always ok after 10 seconds.
how can i check expire option?

[2015-06-23 21:14] osuushi opened #101 "expiresIn* doesn't work on string payloads"
The problem appears to be that the expiration is getting attached to the payload, but if the payload is a string, the expiration is lost during encoding.

The workaround I found is instead of doing

[code]

 to do

[code]

[2015-06-24 05:00] breaklee commented on #101
did u have used latest version?

[2015-06-24 05:00] breaklee commented on #100
i've solved by update version

[2015-06-24 05:01] #100 closed

[2015-06-24 12:51] MariusRumpf commented on #101
This was reported in #64. You must provide an object as first parameter to `jwt.sign()`. Had the same issue a while back http://stackoverflow.com/questions/23626823/json-web-token-does-not-expire/29778750#29778750

[2015-06-27 18:21] omsmith commented on #97
ES* also requires a PEM key (like RS*, it is calling into `crypto`/openssl).

ES* interoperability is currently broken thoug - see https://github.com/brianloveswords/node-jwa/issues/3 and https://github.com/brianloveswords/node-jws/issues/20

[2015-06-27 18:26] omsmith commented on #99
One option in this case would be to add a "jti" (uuid) claim, and then maintain a list of blacklisted ids (they can be removed from the blacklist when the token would naturally expire). At this point, you lose much of the benefit of the offline verifiable tokens, as you'd need to do a lookup against your blacklist on each request.

Alternatively, using relatively short-lived tokens means you might

[2015-06-27 23:44] jfromaniello commented on #99
@dschenkelman wrote about this:
https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2015-06-30 00:32] omsmith commented on #43
@RCanine Yep, using it exactly for this use-case, as suggested by the example. Might also check out https://github.com/Brightspace/node-jwk-allowed-algorithms for a better solution than the `toString` checks jsonwebtoken has to do since the context a JWK provides isn't available.

[2015-07-01 23:25] lovedota opened #103 "how to sign out with jsonwebtoken"
Hi guys
Does jwt support sign out ? Thanks !

[2015-07-03 17:22] alexandrebodin commented on #93
I made a PR on brianloveswords/node-jwa that should fix the issue [here](https://github.com/brianloveswords/node-jwa/pull/7) for this lib

[2015-07-06 16:44] omsmith commented on #97
The interop issue I mention is fixed at this point, btdubs

[2015-07-06 21:00] shea256 commented on #97
OK great thanks @omsmith. Recent commit / PR? And will the example be identical to RS256?

[2015-07-06 23:40] omsmith commented on #97
https://github.com/brianloveswords/node-jwa/pull/5 released in _node-jwa@1.0.1_ which is a indirect dependency of _jsonwebtoken_.

It works identically to RS256 yep, just pass in a PEM for EC instead. secp256r1 for ES256, secp384r1 for ES384, and secp521r1 for ES512.

[2015-07-06 23:42] shea256 commented on #97
Oh wait, secp256k1 is not supported?

[2015-07-06 23:46] omsmith commented on #97
The [JWA spec](https://tools.ietf.org/html/rfc7518#section-3.4) defines _ES256_ as _ECDSA using P-256 and SHA-256_ where _P-256_ is another name for _secp256r1_

[2015-07-07 00:02] shea256 commented on #97
Oh that's a pain. I actually think I've been using JWT libraries with SECP256K1. Not sure if there's something wrong there or they are actually going to both work. I'll experiment with it.

[2015-07-07 00:10] omsmith commented on #97
_jsonwebtoken_ and it's dependencies don't decode the keys and verify the correct one is being used, which means you could use a different curve, but it would be incorrect to call it "ES256" at that point. There's also the trouble that other libraries may not be so lenient, and this set of libraries may not be so lenient in the future, which means you're risking interop issues.

The set of specs t

[2015-07-07 01:14] tylerFowler opened #104 "JTI Support"
I'd like to see the JTI ([JWT ID](http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#rfc.section.4.1.7)) claim implemented so that I could, say, keep track of 'active' tokens out in the wild. And like the spec says it could be used to help prevent any replay attacks.

Are there any plans for this?

[2015-07-07 02:36] omsmith commented on #104
You can add any claim you like in the payload. Is there something more you would want than that?

[2015-07-07 15:33] tylerFowler commented on #104
I meant native support within the library. I can do it myself (and likely will for this project), I was just wondering if there were plans to have it in the library itself for ID generation.

[2015-07-07 16:15] AscaL opened #105 "Support for 'Bearer' in the Authentication header"
Hello, sorry to bother, I'm having some problems because my application is using [angular-jwt](https://github.com/auth0/angular-jwt) for the frontend and [node-jsonwebtoken](https://github.com/auth0/node-jsonwebtoken) for the backend.
The problem is that when I use the interceptor in angular, the [`authPrefix`](https://github.com/auth0/angular-jwt/blob/0222e8347f541f7d09de965348227fd5c0586158/dist

[2015-07-08 11:57] kikar opened #106 "Question: sign Async method"
How come there is no Async method for sign or decode?

[2015-07-09 09:44] AscaL commented on #105
I think the answer is https://github.com/auth0/angular-jwt/issues/49.
I'll try as soon as possible.

[2015-07-09 09:44] #105 closed

[2015-07-14 15:27] knownasilya commented on #87
Please make only one, it's a big pain if exposing the config to users because it's confusing which one will have effect.. One option should be enough.

[2015-07-14 16:51] programming-kid opened #108 "How to generate private key and public key"
How to generate private and public key to be used in here
 https://github.com/auth0/node-jsonwebtoken#jwtsignpayload-secretorprivatekey-options

[2015-07-14 18:17] eugeniop commented on #108
You can use `openssl` to create them (or any other method): https://www.openssl.org/docs/HOWTO/keys.txt

[2015-07-14 22:42] #90 closed

[2015-07-16 08:00] xpepermint opened #111 "Return a Promise"
Methods should return a Promise.

[2015-07-16 12:22] akohout commented on #111
+1

[2015-07-16 17:24] omsmith commented on #93
Thanks to @alexandrebodin you should be able to pass `{ key: '...', passphrase: '...' }` for the `sign` call if you update your dependencies. Available in _jwa 1.1.0_ / _jws 3.1.0_ for node _0.11+_.

[2015-07-17 18:32] omsmith opened #112 "Update repository description link from draft to rfc"
https://tools.ietf.org/html/rfc7519

[2015-07-17 18:35] omsmith commented on #111
Everything that occurs during signing/verifying/decoding is completely synchronous. What benefit would a promise provide?

[2015-07-17 21:55] jden commented on #111
Verify currently offers a synchronous operation or an optional callback (which simply defers evaluation to a future turn of the event loop). It's unclear to me why the callback version exists. I also think it's an antipattern to overload the same method to behave both synchronously and asynchronously depending on the arguments.

[2015-07-19 19:04] xpepermint commented on #111
What I wanted to say is that `verify` should return a Promise :).

[2015-07-19 21:29] omsmith commented on #111
Sure, though as @jden pointed out the callback version of `verify` is essentially useless. The whole operation is synchronous. The callback, or a Promise, seem to be strictly detrimental in this case.

[2015-07-19 21:51] xpepermint commented on #111
Well... as I can see the sync version of `verify` will throw an error which means you have to put it inside the try/catch block. I prefer using promises instead of try/catch block because ~70% of my code is async (promises). If I could do verify.then(()=>something) it would look more elegant.

@omsmith I agree that the callback is useless and I would be more pleased if the sync version would just

[2015-07-20 04:45] akohout commented on #111
As already pointed by @xpepermint, using promises would be more consistent with the rest of the code.

[2015-07-20 16:10] jden commented on #111
Could any of the maintainers comment about whether the intention is to refactor the implementation of `.verify` to use async versions of crypto functions?

I'm still +1 to separating async/sync into separate functions (as node core does, e.g. in `fs`), and +0 on callbacks vs promises

[2015-07-20 16:14] omsmith commented on #111
While streaming would be possible, there is no async sign/verify in crypto

[2015-07-20 16:19] jden commented on #111
@omsmith good point, and at the size that JWTs are, streaming is unnecessary overhead. My vote would be to remove the async function signature then.

[2015-07-20 16:23] dschenkelman commented on #111
Hey everyone,

There are different things here.

* Returning a promise - I don't think we would want to do that. If we accept callbacks anyone can wrap that in a promise, either using `new Promise(function(...){}` or something like bluebird's `promisifyAll`. We like promises (and use them a lot internally) but we don't think it is a good idea to expose them in APIs when they can be so easily wrapp

[2015-07-20 23:31] OriginalEXE commented on #103
Hi,

what do you mean exactly? If you want to sign out user, just make it forget the token (for example by removing the cookie that stores it if that's how you keep track of it).

[2015-07-22 14:44] RCanine commented on #111
I'd like to point out that there's a difference between async and not throwing. The Node pattern of using a callback like `(err, value) => {}` is nice for anything that can throw because libraries like async.js can handle it, and libraries like Bluebird can promisify it.

So while I'm -1 on returning a promise, I'm also -1 on throwing.

[2015-07-23 13:26] furyscript opened #113 "Destroy token"
I need to destroy or set expiry to now to token when it's be used, so I invalidate it manually.
How can I make it?

[2015-07-28 17:17] jedd-ahyoung opened #115 "Feature Request: Support for Ed25519?"
Would it be possible to support this algorithm? I don't know whether the library doesn't support it or whether it's simply not part of the JWT spec. It would be nice to be able to use Ed25519 keys, though.

[2015-07-29 22:29] omsmith commented on #115
Ed25519 isn't part of JWA (unfortunately). The specs allow use non-standard algs, you just can't expect interoperability, and this library doesn't support such a set up (as is).

[2015-07-31 15:06] kareha commented on #104
Would like to see this too. Would like to set this in options.
Otherwise I would set everything in payload. Makes the options thing obsolete.
http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#rfc.section.4.1.7

[2015-08-01 16:56] nickdbush commented on #68
Are any steps being taken to fix this issue?

[2015-08-03 17:24] jden commented on #104
-1. the JWT spec intentionally only describes JTI by characteristics and not a specific identifier algorithm or format. I don't think a JWT library should make that decision for you. It might make more sense to expose it as a hook to provide an ID generator function, but in JavaScript there's not much benefit to adding api surface vs just specifying the claim via an object literal.

[2015-08-05 17:05] wyattjoh commented on #68
Experiencing the same issue here. Private key was encoded into a PEM file via PKCS1 while the public key was encoded via PKIX. As far as I can see, there is no way to encode my public key using PKCS1 as well, resulting in the same error:

[code]

[2015-08-05 19:14] wyattjoh commented on #68
Seems using the following openssl command:

[code]

I was able to use the private key to output the public key in the correct PEM format, and was able to get the verify step to work.

[2015-08-11 08:05] MariusRumpf commented on #64
I wanted to bring back attention back to this issue. This should be rather easy to fix, by throwing an exception for strings or checking the type of argument passed and converting it to object I would think.
This issue seems to gain lot of popularity lately and is somewhat a little security problem if one assumes the tokens are expiring but they aren't. Same for other possible options.
 Is their a

[2015-08-11 13:47] jedd-ahyoung commented on #104
@jden Although I agree with what you're saying, I do think it would be nice to expose `jti` as a property in the options object. Currently, to add a JTI, one must assign it as a property on their payload object - and while that works, it doesn't really fit with the rest of the claims interface. I think it could be more streamlined.

I'd like to do the following:

	var token = jwt.sign(user, proces

[2015-08-11 13:56] jedd-ahyoung commented on #68
I guess this is a bit old, but there actually is a fix for this. I ran into this myself on Mavericks. The issue is the version of OpenSSL installed with Mavericks (and older versions of OSX); the man pages would have you believe that everything is dandy, but it isn't. You either need to update OpenSSL using Homebrew (`brew install openssl`, I believe) or if you don't use Homebrew, you need to upgr

[2015-08-19 06:56] jaredpetersen commented on #104
@jedd-ahyoung I agree with your suggestion and I would really like to see this implemented.

[2015-08-19 09:18] abhinav76 commented on #96
@jfromaniello
<code>
var token=jwt.sign(members,app.get('superSecret'),{
					expiresInMinutes:40
				});
</code>
I am using this code to generate a token. members is the data from the database. and the token does not have iat and exp. what is wrong?

[2015-08-19 09:27] abhinav76 opened #119 "iat and exp not present in token"
@jfromaniello I generate a token from the data retrieved form database and it does not have exp and iat fields, due to this it is not checking expiration time and always verify token. and also when i decoded the token on jwt.io it says invalid token.
can you tell me the way to solve this? Here's my code
<code>
var token=jwt.sign(members,app.get('superSecret'),{
					expiresInMinutes:40
				});
</c

[2015-08-19 12:52] jfromaniello commented on #96
@abhinav76 please send me an example token

[2015-08-19 12:53] jfromaniello commented on #113
This library support expiration:
https://github.com/auth0/node-jsonwebtoken#jwtsignpayload-secretorprivatekey-options
You can also blacklist tokens:
https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2015-08-19 12:53] #113 closed

[2015-08-19 12:55] #108 closed

[2015-08-19 12:58] #112 closed

[2015-08-19 12:59] jfromaniello commented on #101
@osuushi there is no way to have expiration if the payload is an string, @MariusRumpf is right.

[2015-08-19 12:59] #101 closed

[2015-08-19 13:00] #99 closed

[2015-08-19 13:03] jfromaniello commented on #96
I added a note.

[2015-08-19 13:03] #96 closed

[2015-08-19 13:07] jfromaniello commented on #94
Do you mean [JWE](https://tools.ietf.org/html/draft-ietf-jose-json-web-encryption)? If so, I think agree and your pull-req will be welcome.

Sorry for the delay

[2015-08-19 13:39] jfromaniello commented on #119
@abhinav76 As I mention in the comments of another issue, you should provide me a token.

It is impossible to me to know from that line of code what's the content of the `members` variable.

Please paste here a generated token or provide a failing use case

[2015-08-19 23:05] andresmatasuarez commented on #68
Public key needs to be in PKCS8 (OpenSSL default) format.

You can export it by running the following command:
`ssh-keygen -e -m PKCS8 -f /path/to/key.pub /path/to/converted_key.pub`

Don't know if this is the scope of this project, but maybe, it would be great to add support for different key formats, so we have out-of-the-box conversion when verifying, say:

`jwt.verify(token, PEM_PUBLIC, { form

[2015-08-21 05:58] abhinav76 commented on #119
this is the token
<code>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InJhY2hpdDlAZ21haWwuY29tIiwidXNlcm5hbWUiOiJSYWNoaXQ5IiwicGFzc3dvcmQiOiI3YzRhOGQwOWNhMzc2MmFmNjFlNTk1MjA5NDNkYzI2NDk0Zjg5NDFiIiwiZ2VuZGVyIjoiTWFsZSIsImZfbmFtZSI6IlJhY2hpdCIsImxfbmFtZSI6IkdpcmRoYXIiLCJzdGF0dXMiOiIiLCJkb2IiOjAsImNvdW50cnkiOiJpbmQiLCJpYXQiOjE0NDAxMzY2MTEsImV4cCI6MTQ0MDE0MDIxMX0.RiAWIax7fvGhKIjKiJkt7LYQn633GM0_kAs

[2015-08-21 15:11] jfromaniello commented on #119
This token has iat.

JWT.io says invalid because it is not valid with the secret there, you can put your secret to check if is valid.

![](https://dl.dropbox.com/s/yrzn4nrs1weogu8/ss-2015-08-21T12-10-23.png?dl=0)

[2015-08-24 09:09] matiux opened #120 "RS256"
How can I generate public and private key in Linux?
I tried with:
openssl genrsa -out private.key 2048
to generate private key

and
openssl rsa -in private.key -out public.key -pubout
to generate public key

then
[code]
I think that I'm wrong to generate public and private key because authentication fails

[2015-08-24 09:39] matiux commented on #120
OK I solved...
This was my mistake:

jwt.sign(user, cert, req.app.get('superSecret') .....

cert and app secret key.

This is correct code:

[code]

[2015-08-24 14:03] #120 closed

[2015-08-26 07:02] lajpatshah opened #121 "Is express-jwt built on node-jsonwebtoken?"
What is the difference between 2 packages?

[2015-08-26 07:17] lajpatshah commented on #121
sorry my bad

[2015-08-26 07:17] #121 closed

[2015-08-26 09:56] matiux opened #122 "Refresh token"
Any ideas of how to implement the refresh token?

Seems nobody has written nothing...

[2015-08-26 10:06] jfromaniello commented on #122
http://stackoverflow.com/questions/26739167/jwt-json-web-token-automatic-prolongation-of-expiration

[2015-08-26 10:39] matiux commented on #122
OK thanks.

But some example of how to implement with node-jsonwebtoken?

[2015-08-26 14:43] solshark opened #123 "Invalid token error"
Hi,

Having issues verifying token
`eyJ0eXBlIjoiSldUIiwiYWxnIjoiSFM1MTIifQ==.eyJtb2JpbGUiOnRydWUsIm9zIjoiaU9TIiwibGFuZyI6InN2X1NFIiwiYnJvd3Nlck5hbWUiOiJBcHBsaWNhdGlvbiIsImJyb3dzZXJWZXJzaW9uIjoiNDAiLCJjZGF0ZSI6MTQ0MDM5ODE1OS45OTg5NTgsInNvdXJjZUlkOiI6InVzYWdlU2Vzc2lvbjQ2MjA5MDk1OTYyNDAwMCIsInNjcmVlblJlc29sdXRpb24iOiIyMDQ4eDE1MzYifQ==.UHRwOSf31KKhgByiJlMhfjib9qUKKU8Ic3VXES6OFc+ck9iX75Qr3/wEC/z8ldyOYk

[2015-08-26 14:45] Sean-Wang commented on #122
+1

[2015-08-26 15:32] OJcode14 commented on #103
I also want to know if you can revoke/expire a token server side? If for example you have a protected route accessed via the token in the URL as a parameter it will be stored in the browser history allowing logged in access to that view after a "log out" if it is not revoked server side right?

[2015-08-26 16:13] OriginalEXE commented on #103
The only practical way I see to invalidate tokens server-side is to have a table with expired tokens where you would store tokens once users log out, and then purge the old expired tokens via cron job.

Another option would be to have a 'logged_in' flag on the user model which you would update upon login/logout and use only to check if token should be accepted or not, but that would logout your us

[2015-08-27 11:42] abhinav76 commented on #119
yeah i found that,thanks

[2015-08-27 11:42] #119 closed

[2015-08-28 03:13] davidwillianx commented on #73
I'm sorry to introduce another question about same topic:  So @flyingsky  said, is It not possible to compare same user because it's generated differents tokens for each request (as you said about timestamp). How am I suppose to do this feature (on my API ) test? Do you Guys have an adivice?

[2015-08-30 20:25] solshark commented on #123
https://github.com/brianloveswords/node-jws/issues/22 - isn't that related?

[2015-09-01 00:10] osuushi commented on #101
That makes sense. Weird that the spec allows for string payloads at all, but having it explained in the docs helps.

[2015-09-06 18:45] flore2003 commented on #106
I think this is a valid issue. [node-jws](https://github.com/brianloveswords/node-jws) has a `createSign` method that provides async signing. It should be just a matter of using this, if the `sign` method is passed a callback.

[2015-09-17 16:27] olivier-squid opened #126 "ASN1_CHECK_TLEN error when using jwt.sign with nodejs v4.1.0"
The error :
[code]

If I switch to node v0.12.7 it works fine.

[2015-10-03 19:54] joepie91 commented on #111
That's not really true, though - the Promises/A+ spec exists exactly to make this not the case. You can simply return the promise from a handler provided by whichever promises library you're using, and then handle it as normal in your implementation of choice. The only way it would be "tied to" an implementation, is in that it is a dependency.

The argument that "it can be promisified" normally mi

[2015-10-05 07:04] abhinav76 commented on #113
Hey @jfromaniello I am using jsonwebtokens in my node project. So what I want is when the user logs-out of the system I need the token to be invalidated. I don't want to use exp because that would forcefully expire my session. Is there any way?

[2015-10-14 00:23] nnur commented on #122
+1

[2015-10-14 00:25] nnur commented on #122
is there a way to reissue the same token but just change the expiry date?

[2015-10-16 19:59] todbookless opened #130 "Install instructions are incorrect"
The instructions say to install using this command:

$ npm install jsonwebtoken

Observed:

Using that command generates this error:

tbookles667151:TAGScript tbookles$ npm install jsonwebtokn
npm ERR! Darwin 14.3.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "jsonwebtokn"
npm ERR! node v4.2.1
npm ERR! npm  v2.14.7
npm ERR! code E404

npm ERR! 404 Registry returned 404 for G

[2015-10-16 20:32] jfromaniello commented on #130
The readme looks okay but from the command output I see a typo, you are missing the e from token. Did you type this manually?

[2015-10-23 12:31] tanelih commented on #103
One solution would be to use Redis (or something similar) as a blacklist for tokens that have not yet expired but need to be "invalidated".
[code]
Then you'd just check if the there is an entry for the token in the blacklist when verifying them.

[2015-10-29 20:35] harriha opened #131 "Providing registered claims via payload versus options in sign()"
If I interpret the `options` for `sign()` correctly, they offer mostly a convenient way for defining the registered claims and the user doesn't have to know the official claim names (e.g., one can define `audience` instead of more cryptic `aud`). However, one *can* define these claims straight via `payload` as well.

I assume this is by design and everything user passes in via `payload` is meant t

[2015-10-30 18:06] ChristopherA commented on #97
Any progress on the question of a new alg=???? for keys using bitcoin's secp256k1?

[2015-11-04 10:04] thanhthang20 opened #133 "change expired date of one token"
When user updating their information, I create a new token and I want to set invalid for previous token. What should I do?

[2015-11-04 11:30] Sean-Wang commented on #133
+1

[2015-11-05 03:10] adambuczynski opened #134 "Fails when empty string provided as secret"
Not sure if intentional, but it caused me some headaches that the jwt.sign() call fails when the string I pass it is empty. It fails by throwing an error which says that the secret must be a string or a buffer, rather than returning a rejected promise.

Is it possible to reject the promise with the error rather than throwing, so that it can be handled gracefully in the app elsewhere without having

[2015-11-05 15:11] MichielDeMey commented on #93
@omsmith Yup, that worked for me.
I believe we can we close this issue?

[2015-11-05 15:14] MichielDeMey commented on #115
You can check out all support algorithms in the JWS spec:
https://tools.ietf.org/html/rfc7518#section-3.1

[2015-11-05 19:29] Signus commented on #93
I have also verified this. I second the motion to close this issue.

[2015-11-06 17:54] kentmw opened #135 "Authentication header required?"
I have been reading about jwt and a few times there has been mention of using the http header ```Authentication``` to pass the jwt token to the server. This is especially true when reading about angular and jwt. Yet, I've been using a custom header: ```x-access-token```.

I'm wondering if there is a reason to switch to this header. The documentation about the Authentication header http://tools.iet

[2015-11-10 05:37] omsmith commented on #123
@solshark Yes, likely related. Your token is not url-safe base64, and thus against -spec/invalid.

[2015-11-11 10:19] roxeteer opened #136 "Changelog is outdated"
The most recent version in the changelog is 5.0.0, but npm is already offering 5.4.1. Can you please document what has changed since 5.0.0?

Since this is a security-related component, I would like to see changes being documented properly.

[2015-11-11 21:21] jdvs1 opened #137 "Max Length of Token"
Is there a maximum string size for tokens generated with jsonwebtoken?

I've been checking for it myself in case the string size is ludicrously large, but I'm not sure if this appropriate. Will the verify method error if the token size is, say, one million characters long?

[2015-11-11 23:39] mikebjx opened #138 "token won't expire"
I tried to verify my token using jwt.verify with callback function, and everything works fine except the token will not expire. Does any one have the same problem?

**Update:
Find the issue, my user object is passed in as a mongoose model instance instead of a plain object, so it cannot be modified, which means the exp property cannot be added to the payload. That's why it won't expire.

[2015-11-12 00:40] #138 closed

[2015-11-14 15:48] rightaway commented on #111
+1

[2015-11-15 22:19] rightaway opened #139 "How to use when private key was created with a password?"
Is it recommended to create private keys with a password, for added security? If the private key was created with a password, how can it be used with `jwt.sign`? I can't get it to work.

Also, in the README in the section for `jwt.verify(token, secretOrPublicKey, [options, callback])`, it should be documented that the secret or public *or private* key can be used to verify. The private key can be

[2015-11-16 19:24] Neta-Alon opened #140 "Adding "token check" function for client side usage"
Hey guys,

A lot of the people using `node-jsonwebtoken` use a JavaScript framework of some sort for client side. Using JavaScript for both server side and client side has many benefits, one of the most substantial in my eyes is the ability to use the same packages for both sides.

As of now, the server side part in `node-jsonwebtoken` is well taken care of - `verify` and `sign` are very useful an

[2015-11-16 21:42] jacopofar opened #141 "Add clock drift tolerance to the verify method"
I use JWT to implement a single sign-on, but recently one of the applications which validates the token was on a different machine than the signing one, with a system clock 6 seconds behind.

It would be nice to have the possibility to backdate the iat field a few seconds to tolerate clock skew, without having to remove the iat as some implementations (e.g. Oracle Fusion OAuth) do.

I've implement

[2015-11-20 20:25] morgondag commented on #122
kinda same as #133 but is there any official support to refresh a token?
Right now I validate the token and user data and then sends a new one to the client if it has expired,
but would rather just update the existing token.

[code]

[2015-11-23 03:50] mateeyow commented on #122
@morgondag I think your implementation is very dangerous since you are not assigning any expiration time to the token. It means that if some hacker gets the token, he/she can access your API indefinitely.

[2015-11-23 12:22] morgondag commented on #122
@mateeyow sounds good, so what we are asking for is a way to update a token.
nothing is saying that we are nit doing any form of validation on it beforehand.

So there is no real way to update a token or change it expiry date without generating a new key.

I guess the best way is simply to force to user to login again and again and again :-/

[2015-11-23 17:01] paulxtiseo opened #142 "Use the provided `iat` parameter to calculate the `exp` value"
So, seems like if `payload` has an `iat` property, that gets used instead of an internal timestamp value in `sign()`.

[code]
However, later on, `expiresIn` is added to `timestamp` and not to `payload.iat` to determine `exp`. Seems to me that that is wrong, although will not matter in the majority of cases?

[2015-11-24 03:02] ide commented on #111
Chiming in here -- the most compelling reason to return Promises is for interoperability with async functions. They are the lingua franca of asynchrony in JS.

[code]

But if `verify` is internally synchronous, then returning a Promise is mostly extra overhead and asynchrony.

[2015-11-24 08:12] igor-yamshchykov opened #143 "Is it possible to set tokens invalid ?"
For instance someone steals user token (no matter how) and user requests to set those invalid.

the tokens are always created with users id, is it possible to set the tokens created previously invalid according to specific user id ?

[2015-11-27 11:16] bhanuV commented on #93
Hello, I am using jsonwebtoken version 5.4.1 and trying the support for pem passphrase.

For the given script,
[code]
The error is thrown as below.

buffer.js:167
  throw new TypeError('must start with number, buffer, array or string');
  ^

TypeError: must start with number, buffer, array or string
    at fromObject (buffer.js:167:9)
    at Buffer (buffer.js:58:10)
    at new DataStream (/home/ba

[2015-11-27 15:59] MichielDeMey commented on #93
As far as I'm aware, your key can just be the buffer.

Try using `{key:data}` instead of `{key:data.toString()}` as I believe a `toString()` of `key` will result in `[Object object]`.

I don't believe this has anything to do with the passphrase support though.

[2015-11-27 16:12] omsmith commented on #93
@bhanuV You're using the callback signature of `jsonwebtoken#sign`, which as of https://github.com/auth0/node-jsonwebtoken/commit/9414fbcb15a1f9cf4fe147d070e9424c547dabba, apparently uses a different codepath in _jws_ that does alternate transformations on the inputs.

I'll try to get to it in the next day or two to make it work through any method of using _jws_

If you use the `sign` signature wi

[2015-11-30 05:02] bhanuV commented on #93
I am back to work after the weekend. Thanks for the reply guys.
@MichielDeMey I changed {key:data.toString()} to {key:data}, but the error remained unchanged.
@omsmith I will try to do as you suggested without a callback.

Cheers.

[2015-11-30 05:50] bhanuV commented on #93
The jwt.sign() method works fine without the callback for me. Thanks.

[2015-12-01 18:49] willfarrell commented on #143
a) If you're using a different private key for each user, then yes. Just create a new key.
b) If you're using one key for the server then you would have to have a check in your code to compare the user and exp in the token to a table where you store the user and expire timestamp. You'll need to use your expiresInSeconds config if you'd prefer to store the create timestamp.

[2015-12-01 19:00] willfarrell commented on #135
The `Authorization` header is part of the standard so it makes it easier for others to consume your API with prebuilt plugins. On my current project I allow either headers. I'm using the format `Authorization`: `Bearer TOKEN`. The only encryption is done when you use TLS, which should be requires when using JWT on your server.

[2015-12-01 19:10] willfarrell commented on #133
I had some ideas, see #143.

[2015-12-04 16:39] alexbooker commented on #122
I am also having trouble finding good information on:

- How to implement refresh tokens server-side
- A sensible strategy to refresh tokens on the client-side

[2015-12-05 15:39] drasko opened #145 "Question about expiration period"
What happends if `expiresIn` options is ommitted in `jwt.sign()` function? Is there some default expiration period that is set?

I need to create a token that never expires.

[2015-12-05 20:44] jacopofar commented on #145
No, if no `expiresIn`is specified the token has no expiration date, so it will never expire. It still has the `iat` field to mark the issue time.

[2015-12-06 14:06] drasko commented on #145
Thanks! Closing the issue...

[2015-12-06 14:06] #145 closed

[2015-12-07 13:49] eskatos commented on #141
:+1:  a configurable `clock-skew` would be nice!

[2015-12-07 13:52] jacopofar commented on #141
Made a PR for that, the parameter is called `clockTolerance`

[2015-12-09 05:47] peek4y commented on #139
[code]

[2015-12-09 20:47] gugol2 opened #147 ""expiresIn" option not working with sequelize object"
The token is created but never expires. I am getting the object from a query to a relational db with the sequelize package. Code example:
[code]

[2015-12-10 16:41] kimmobrunfeldt opened #148 "Order of JSON key, value pairs"
I'm not sure if this is a flaw in JWT specification or if I don't understand something. In JWT, the order of JSON key, value pairs matters when encoding and decoding tokens. Having `{"alg": "HS256", "typ": "JWT"}`  headers produces different token compared to `{"typ": "JWT", "alg": "HS256"}`.

This seems weird to me because JSON specification states that the key, value pairs do not have an order:

[2015-12-10 17:16] kimmobrunfeldt commented on #148
Ok, I just figured out why this doesn't matter. As long as the secret is same, the token will work even though it looks different. The receiving part will use the secret to decode the token and even though the headers or payload are in different order, the end result is the same.

[2015-12-10 17:16] #148 closed

[2015-12-15 11:51] pavankumarkatakam opened #149 "Couldn't verify token generated by php library"
Hi, im using laravel framework and creating tokens based on this package https://github.com/namshi/jose, but for websockets i want to verify the token  in nodejs, the token generated by php (namshi/jose adapter) is correct since im checking it in jwt.io, but this package giving the error
{ [JsonWebTokenError: invalid token] name: 'JsonWebTokenError', message: 'invalid token' }

Please help me.

[2015-12-15 11:51] pavankumarkatakam commented on #149
Decoding also not working...

[2015-12-16 09:53] MariusRumpf commented on #147
I am using a similar method, except that I only use only the username as token:
[code]

What infos does decoding your token give on http://jwt.io/ ?

[2015-12-17 20:47] eXtreaL commented on #147
I'm using a similar way to sign the token and am occurring the same problem at the moment. Everything works fine, however the token doesn't seem to expire. I'm storing the token in the localstorage of the browser, but if I'm correct the token needs to expire server side right?

[2015-12-17 21:00] MariusRumpf commented on #147
Didn't update for some time, will try it in the next weeks again

[2015-12-19 15:09] pavankumarkatakam commented on #149
is there any one here?

[2015-12-19 15:41] jfromaniello commented on #149
Can you provide a token with the secret generated by that library?

[2015-12-20 04:57] pavankumarkatakam commented on #149
Token is

    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMDAvbG9naW4iLCJpYXQiOjE0NTA1ODcyNjksImV4cCI6MTQ1MDU5MDg2OSwibmJmIjoxNDUwNTg3MjY5LCJqdGkiOiI1MGIxNGQ4MTU3N2U5ZDYwZTMyNmY3NTIzMDQxM2YwMiIsInN1YiI6NSwicmVsYXRpb24iOiJ1c2VyIiwiYWNjZXNzIjpudWxsfQ.qxO8rXFNLW5lwoqCcHPFODPeqjenoJJIYZG1z_ww880

secrete `veryverysecret`

Here you go...

[2015-12-21 05:29] pavankumarkatakam commented on #149
Hi @jfromaniello , Did you find why it is not verified.

[2015-12-21 07:36] gugol2 commented on #147
@MariusRumpf I got "Invalid signature" although I am using HS256.
In the details I get "Decoded edit the payload and secret (only HS256 supported)"

I must be doing something wrong because even with dummy data it does not pass the validation of jwt.io:

[code]

[2015-12-21 11:23] pjanfred commented on #147
I think, i have the same problem.

But i have a workaround:
`jwt.sign({user: user}, app.get('superSecret')...`

[2015-12-21 11:25] pjanfred commented on #147
@gugol2 I think, i have the same problem.

But i have a workaround:
`jwt.sign({user: user}, app.get('superSecret')...`

[2015-12-21 13:53] jfromaniello commented on #149
@pavankumarkatakam besides being expired it worked for me:

[code]

shows this:

[code]

[2015-12-21 14:24] pavankumarkatakam commented on #149
ok, i will check it.

[2015-12-22 04:33] pavankumarkatakam commented on #149
Hi , I figured it out it not the problem with `ignoreExpiration`, from web page the token is returning like "blahblahblah..."  instead of 'blahblahblah...' , problem solved.

[2015-12-22 05:28] Casy opened #150 "Invalid directory /node_modules/stream"
Hi, i am tryng JWT in a react-native app, but i have this error:

![captura-de-pantalla-2015-12-22-a-las-2 27 32-a m](https://cloud.githubusercontent.com/assets/1847940/11948622/84903126-a854-11e5-9711-2869491f3a28.png)

i install via NPM:

```npm install jsonwebtoken```

and just try the example:
[code]

[2015-12-23 10:21] anvar opened #151 "Could not verify token generated by Auth0"
I am trying to verify a token created by Auth0, but am unable to do so using this library.

I am using the following token:

    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI0N2RlYWE1Ny00YzFjLTRlYjktOTdjZS1hNDMwMjUzNTE3OTUiLCJlbWFpbCI6ImFudmFyQGthcmltc29uLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJ1c2VyX2lkIjoiYXV0aDB8NTY0Nzg4YjYwNzc2NWMzMjFlMWU3MmM5IiwibmFtZSI6ImFudmFyQGthcmltc29uLmNvbSIsImlzcyI6Im

[2015-12-23 11:28] gugol2 commented on #147
@pjanfred that did not solve anything in my case.

Here is the result I get from (jwt.io)[https://drive.google.com/file/d/0B0H0yoU_S0tvb0dLSjRmaHplcGs/view?usp=sharing]

[2015-12-23 14:26] pjanfred commented on #147
@gugol2 Can you tell me what debugger you use? I will test it with my secrect key.

[2015-12-23 14:33] jfromaniello commented on #147
@pjanfred thats https://jwt.io

@gugol2 In your screenshot I can see that the token doesn't have expiration. what version of jsonwebtoken are you using? You might be using an older version that doesn't support the `expiresIn` parameter, it used to be called `expiresInSecond`

[2015-12-23 22:36] pjanfred commented on #147
@jfromaniello Thank you :)

@gugol2 At the moment i don´t have further ideas. Can you show us the part of your sourcecode?

[2015-12-23 22:56] MariusRumpf commented on #147
@gugol2 Tested my posted example again, it works correct for me. The tokens decode as expected on https://jwt.io

[2015-12-25 13:20] igor-yamshchykov commented on #143
Thanks, but tracking is not a problem actually, is there a function or something to set the token expired ?
Something like jwt.setExpired(token, secretOrPublicKey) ?

[2015-12-25 16:30] willfarrell commented on #143
Not possible doing it how you envision it working. The token has the expiry date encrypted inside of it. Since you can't force the client to replace their token, using something like ` jwt.setExpired(token, secretOrPublicKey) ` will not work. That is why tracking when users has expired tokens or replacing their secret key are the two main options you have for expiring a token early.

[2015-12-26 13:20] quintenvk commented on #147
I, too, ran into this issue upon getting back an object from MongoDB's model I created. I passed the object itself directly on to jwt.sign() as a payload.

Debugging within the jwt.sign() function pointed out that it did call `payload.exp = ...` setting. However, this did *not* affect the object.

The solution for me was to create  a new object and pass it on as payload. This might be due to ES201

[2015-12-26 23:49] pscanf commented on #151
Hey @anvar, looks like an encoding issue:
[code]

Weird that "stringifying" the buffer doesn't work though:
[code]

[2015-12-27 16:10] lucastschmidt commented on #147
I had this problem as well, it is because Mongoose and other libraries extend the stringify/toJSON methods of those model objects. (I dont remember how)

In case of mongoose, its enough for you to call `modelObject.toJSON()` and it solves the issue. Just tested here.

[2015-12-29 09:09] anvar commented on #151
That fixed it, @pscanf, thank you! How peculiar! I guess it might be expecting a buffer, not a string perhaps. I even tried base64 encoding the string manually and using that, but to no avail.

[2015-12-29 09:09] #151 closed

[2015-12-29 11:00] igor-yamshchykov commented on #143
Thanks, I think I'll use the approach with user secret keys for token.

[2015-12-29 11:32] mediamonks-arjan opened #152 "nbf check is incorrectly implemented"
I'm getting this error:

    1451384603 '>=' 1451384603
    NotBeforeError: jwt not active

From this line:
https://github.com/auth0/node-jsonwebtoken/blob/f1fb176a1599a6fed82c9ffcf7517c295c5c0541/index.js#L213

The spec states:
https://tools.ietf.org/html/rfc7519#section-4.1.5

    The processing of the "nbf"
    claim requires that the current date/time MUST be after or equal to
    the not-befo

[2015-12-31 03:33] #149 closed

[2016-01-01 23:24] salali opened #153 ""expiresIn" doesn't work with string or number"
Getting the error

```"expiresIn" should be a number of seconds or string representing a timespan eg: "1d", "20h", 60```

I looked at where the error was being thrown in index.js line 86:

```payload.exp = timespan(options.expiresIn);```

I stepped through the timespan function and everything looks good there if I pass in either string or number. However the function always returns undefined?

[2016-01-02 01:45] salali commented on #153
I should have read the documentation better:

```payload could be an object literal, buffer or string. Please note that exp is only set if the payload is an object literal.```

I was sending in a string.

Closing as non-issue.

[2016-01-02 12:47] akshath4u commented on #143
Hi, I have to logout the session while user click 'logout' link. In this case i need to expire the token so what would be the solution for this?

[2016-01-03 18:07] jgentes commented on #153
After updating to 5.5, I started seeing this error, whereas I wasn't seeing it before.

I am also passing a string in rather than an object literal, so I went ahead and removed the expiration since it's not being used and it cleared the error up.

However, this error message is incorrect - the format of "expiresIn" was correct, so this is an open bug in my opinion.

[2016-01-03 18:07] jgentes commented on #153
Please re-open

[2016-01-03 19:54] gugol2 commented on #147
@jfromaniello from my packaje.json: "jsonwebtoken": "~5.4.1"

[2016-01-03 20:15] ekoome commented on #147
Using version "jsonwebtoken": "^5.5.0" and getting error:

Unhandled rejection Error: "expiresIn" should be a number of seconds or string representing a timespan eg: "1d", "20h", 60

regardless of option use.

var token = jwt.sign(user.email, 'superSecret', { expiresIn: '1d' }); // Expire in 24 nours

[2016-01-04 11:53] #152 closed

[2016-01-04 11:54] jfromaniello commented on #152
Thanks, fixed in v5.5.1

[2016-01-04 12:06] #147 closed

[2016-01-04 12:09] jfromaniello commented on #147
I think I found the cause of the problems reported here. This library was trying to modify the input payload directly which was a bad design, this might broke when the payload has been sealed with `Object.seal` or `Object.freeze`.

Please try with version: `5.5.2` and let me know.

[2016-01-04 12:52] jfromaniello commented on #143
The solution is to keep a blacklist where the key is either the full token or the JTI (json webtoken id).

The blacklist can have a TTL (time-to-live) based on the exp field. (Once the token is expired it can be removed from the blacklist.)

More details in this blogpost:

https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2016-01-04 12:52] #143 closed

[2016-01-04 12:54] mediamonks-arjan commented on #152
Awesome, thanks!

[2016-01-04 13:00] jfromaniello commented on #104
You can use `payload.jti` or `options.jwtid` now.

[2016-01-04 13:00] #104 closed

[2016-01-04 13:32] gergelyke opened #154 "5.5.3 adds extra stuff?"
hey,

it seems that after encoding / decoding the object gets two extra properties -`iat` and `exp`, it that intentional?

cc @jfromaniello

[2016-01-04 13:35] jfromaniello commented on #154
Can you show me an example?

[2016-01-04 14:05] gergelyke commented on #154
Sorry my bad - there is no issue :)

[2016-01-04 14:05] #154 closed

[2016-01-05 00:09] vrcca commented on #111
+1

[2016-01-05 09:33] boyney123 opened #155 "Failing tests - payload.nbf"
I recently had some things breaking in my node app, and I think its due to the recent changes around payload.nbf checks?

Also looks like the build is failing due to the same issue. If I get time Il take a look.

Just wanted to let you know.

[2016-01-05 14:48] arindam89 opened #156 "Payload has lot more data after jwt.sign in version 5.5.4, works fine in 5.5.0"
Hello Team,

Recently our app broke due the mismatch in the decoded object for jwt.verify(), this is my payload for signing the token,

[code]

In 5.5.4, the payload I got back after decoding is,

[code]

This should be fixed.

[2016-01-05 14:56] jfromaniello commented on #156
Thanks for reporting this issue and I am sorry to have broken your use case.

These extra properties are definitely not from us, the payload you send to the sign method might have these properties and must be doing some weird things with serialization.  Is this a mongoose object or something like that? I am asking this because of the `_id` and because some users have reported problems with this li

[2016-01-05 15:04] arindam89 commented on #156
Yes it's a user object I get from mongoose after saving the user. But, 5.5.0 it's works as expected bec, I get the same payload back after decoding.

Thanks for looking into this.

[2016-01-05 15:30] jfromaniello commented on #156
Let me explain what's going on.

mongoose documents is an objet that overrides the [toJSON](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON()_behavior) method as explained here: http://mongoosejs.com/docs/api.html#document_Document-toJSON

In 5.5.0 we where adding exp and iat to the object you pass and then calling JSON.stringify of that thing

[2016-01-05 18:42] arindam89 commented on #156
Thanks a lot for the explanation. I learned something new today :) It makes perfect sense.  I will give it a shot tomorrow and update this issue. If everything checks out we can close this one.

[2016-01-05 21:16] ggviana commented on #147
I had this problem too. Switching back to 5.4.1 corrected it.

[2016-01-06 14:14] ayurkows opened #157 "Expires in 0 behavior changed"
Expires in 0 seconds now seems to create a token that expires immediately in 5.5.4 whereas it used to create a never expiring token in 5.4.0.

[2016-01-06 19:29] gugol2 commented on #147
After all the help provided here I kind of found the issue. I apologize for my delayed answers and my lack of thoroughness along the procedure.

* @MariusRumpf first example worked ok but I didn't know why nor how to use http://jwt.io properly at that moment.

* The workaround  of @pjanfred was also correct, just like @MariusRumpf passing an object straight away to jwt.

* @lucastschmidt hit the n

[2016-01-06 19:39] jfromaniello commented on #147
@gugol2 for mongoose objects you should use `jwt.sign(doc.toObject(), {..})`;

notice the toObject() call.

[2016-01-06 20:12] lucastschmidt commented on #147
Correct @gugol2 , you shouldnt pass the plain mongoose object, since that object may contain properties like `hashed password` or some other private stuff that shouldnt be available on a token (that can be freely read by anyone).

[2016-01-08 08:45] varunvairavan commented on #122
+1

[2016-01-08 17:01] cvillerm commented on #141
+1

[2016-01-08 17:40] cvillerm commented on #142
+1
Agreeing with the comment.
This would apply to:
`payload.exp = timestamp + expiresInSeconds;`
that should be updated to
`payload.exp = (payload.iat || timestamp) + expiresInSeconds;`
even if this is part of deprecated code.

What concerns me more is that there seems to be a confusion with the non-deprecated option `expiresIn` and the corresponding JWT field `exp` (actual expiration time). `expi

[2016-01-09 12:13] ngminhduong opened #158 "How to revoke exited token"
Any ideas of how to implement revoke token?

Seems nobody has written nothing

[2016-01-09 13:53] jfromaniello commented on #158
we did write about this:

https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2016-01-09 13:53] #158 closed

[2016-01-09 14:45] ngminhduong commented on #158
Yes. Thanks for your help

[2016-01-09 14:56] morgondag commented on #122
any progress?

[2016-01-11 15:47] AlexGustafsson opened #159 "Why is the signature of the token so big?"
Using ``` jwt.sign(); ``` I get an abnormaly (?) long signature where as [jwt.io](http://jwt.io/) depicts the signature being much smaller. The signature I get is about 5 times as long as the one over at the aforementioned site.

###### Token:
[code]

###### Signature (683 characters):
[code]

##### Signature from [jwt.io](http://jwt.io/) example (171 characters):
[code]
Why is this?

### **Edit**

[2016-01-12 14:19] umair321 commented on #122
you can verify user using previous token, then generate a new one for that user. Like:
 jsonwebtoken.verify(token, mySecret, function (err, user) {
            if (err) {
                return res.json(err);
            }
            if (user.id)
              res.json({
newToken: jwToken.issue({
                        id: user.id
                    })
});

        });

[2016-01-12 23:29] jbarabander commented on #156
Had this exact same issue and toObject seems to the trick for me.  Thanks for the explanation @jfromaniello!

[2016-01-13 05:14] aguerere opened #160 "Reorder readme file"
The issue report, author and license sections should be together at the bottom of the readme file.

[2016-01-13 13:23] arindam89 commented on #156
For me .toObject() also didn't work, here is my code,

[code]

After decoding this I am getting this,

[code]

[2016-01-13 13:31] jfromaniello commented on #156
@arindam89 put a `console.dir(user.toObject())` before signing the token and show me the output

[2016-01-13 14:10] arindam89 commented on #156
This is how the ```user.toObject()``` looks like,

[code]

[2016-01-13 14:13] arindam89 commented on #156
My bad, it works perfectly fine. Thanks @jfromaniello , I am closing this now.

[2016-01-13 14:13] #156 closed

[2016-01-13 14:13] jfromaniello commented on #156
@arindam89 no problem, I am really glad to help!

Sorry to all you guys for the inconveniences we caused.

[2016-01-14 02:22] bobziroll commented on #159
@AlexGustafsson: I've run into the same issue in my code. Traced it back to version 5.5.2. Until it gets fixed, I'm using version 5.5.1 which seems to be working normally.

[2016-01-14 03:31] bobziroll commented on #159
@AlexGustafsson I believe it has to do with the addition of the `xtend` package. It's taking the full data that comes back from a mongoose (in my case) search, including meta data about the object from the database, and adding those meta properties onto the payload. The property that actually contains the data is now in the `._doc` property of the payload.

Lines 56-59 of `index.js` adds the follo

[2016-01-14 03:39] bobziroll commented on #156
@jfromaniello I posted to a newly-opened issue that covers this same thing. The addition of this problem came from adding the `xtend` package. In lines 56-59 of `index.js` you use `xtend(payload)`, which seems to be adding all of the meta properties that mongoose is adding. I changed it to `xtend(payload._doc)` and that made it work again.

Out of curiosity, what is the reason behind the addition

[2016-01-14 12:08] #160 closed

[2016-01-14 12:29] sohailalam2 opened #162 "Matching jwt token against a regex"
Hey Guys,

We are facing some issues with the jsonwebtoken library when we create our own token following the JWT standards (using C language). Unfortunately the official C library doesnt compile well in our Windows environment.

After debugging for days we came to the conclusion that the regex used in the **jws** library **verify-stream.js** file does not allow for equals sign (=), hence the rege

[2016-01-14 12:42] jfromaniello commented on #162
It can't have a `=` because the JWT should be base64 *url encoded*. If it has an `=` it might be bas64 but is not properly url encoded.

Is on the spec: https://tools.ietf.org/html/rfc7519

Maybe there is an issue in the c library that you are using

[2016-01-14 13:54] omsmith commented on #162
https://github.com/brianloveswords/node-jws/issues/38

[2016-01-14 14:12] omsmith commented on #150
_stream_ is a core node.js module. If your build environment isn't providing it, not much to be done.

In browsers, this would usually be provided by the bundler, (for example, browserify provides https://github.com/substack/stream-browserify)

[2016-01-14 16:04] bobziroll commented on #159
Also, there are a couple of closed issues about this same thing. This one got a response: https://github.com/auth0/node-jsonwebtoken/issues/156, and mentions running the mongoose `.toObject()` method on the document when setting it as the payload of the JWT.

[2016-01-14 16:07] jfromaniello commented on #159
Yes, you should use `.toObject()` with mongoose objects.

@AlexGustafsson what version of node-jsonwebtoken are you using right now?

[2016-01-14 16:19] sohailalam2 commented on #162
@jfromaniello, @omsmith Thank you for the quick response. We will make the required chanes as suggested.

[2016-01-14 16:19] #162 closed

[2016-01-14 16:27] AlexGustafsson commented on #159
@bobziroll:  I don't use any data from Mongoose in the token, so there shouldn't be any unnecessary bloat. Otherwise that could've very well been the problem. Furthermore when I read the decoded token I can't see any keys that shouldn't be there.

@jfromaniello: I'm at `5.5.4`.

Can the key's size have an impact? I'm using a 4096 bit key.

[2016-01-14 18:39] omsmith commented on #159
@AlexGustafsson

Yes, RSA signatures are quite long.

Here's an example of sizes at different key lengths:

[code]
[code]

If you're looking for small signatures, you'll want to look at ECDSA instead of RSA.

[2016-01-14 19:07] AlexGustafsson commented on #159
@omsmith: then everything seems to be in order. Thank you for the example.

[2016-01-14 19:07] #159 closed

[2016-01-14 19:16] jfromaniello commented on #159
@omsmith Thank you very much for your example!

[2016-01-15 20:02] umareddy opened #163 "Multiple valid values for issuer(iss)"
First, thank you for providing the module, saved me a lot of time.

According to https://developers.google.com/identity/protocols/OpenIDConnect?hl=en#prompt

Google allows for two possible values. In the verify method the code can only check for one possible value:
[code]
Is this a problem? or am I missing something.
The fix would be to treat iss similar to aud in the verify method. Should iss be

[2016-01-17 12:56] blueror815 commented on #113
Hi @jfromaniello
I am using jsonwebtoken for my node project, and I have one problem for using it.
So, when user log out and his token should be destroyed.
How can I solve this problem?
I am waiting for your reply.
Cheers

[2016-01-17 19:43] jhyland87 opened #164 "Destroy/Delete active/valid token"
I was wondering if there was a way to destroy/delete/deactivate/whatever a JWT thats been validated and currently in use.

Im moving my application over from CodeIgniter, which allows you to keep the sessions in a database, which makes it easy to terminate account sessions if needed. I was trying to get the same effect here, by destroying the users JWT token

[2016-01-18 11:35] az8321550 commented on #164
I want ask too!!!

[2016-01-18 11:46] jfromaniello commented on #164
It is not possible with JWT. You can blacklist tokens, please read these two blogposts:

https://auth0.com/blog/2014/12/02/using-json-web-tokens-as-api-keys/
https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/

[2016-01-18 11:46] #164 closed

[2016-01-18 19:47] joehenry087 opened #166 "Expiration doesn't work"
[code]
Am I doing something wrong?

[2016-01-18 19:50] jfromaniello commented on #166
`expiresInMinutes` was deprecated, you should use `expiresIn: '5m'` for instance.

Where did you saw that so we can update?

[2016-01-18 20:02] rjVapes commented on #166
I was getting a deprecation for expiresInMinutes so changed to expireIn, and am still getting similar.
`var token = jwt.sign(escaped, config.secret, { expiresIn: '5h' });`
and
`var token = jwt.sign(escaped, config.secret, { expiresIn: 60*60*5 });`
both resulted in the error
[code]

[2016-01-18 20:23] rjVapes commented on #166
It looks like the issue is exactly what the warning is.  You can't put an expiration on a string payload.  It throws a warning about it then continues to fall through and attempt to set payload.exp (but payload is a string), then sees that payload.exp is undefined so assumed you passed something poorly instead of ignoring the invalid option.

[2016-01-18 20:40] jfromaniello commented on #166
yes, I am planning to fail that explicitly instead of warning on the next major version

[2016-01-18 20:47] joehenry087 commented on #166
@rjVapes, ah, I see. If I pass in an object it works. Only for strings does the exp not work. Thanks for pointing that out.

[2016-01-19 14:10] leokrlewis commented on #147
so solve this myself, I just did the following when your data is a string such as encrypting your payload before jwt tokenizing.
var options = {
    'expiresIn': '1h'
};
var payload = { encTokenData: encStringTokenData };
var token = jwt.sign(payload, 'yoursecret', options);

[2016-01-19 15:55] mitom opened #167 "payload not modified, ever"
Since 5.5.2 (?) that introduced using `extend` the payload is never modified, at least not if it's an object. Couldn't it be an option? Or introduce a JWT object that would `toString` to the token itself and have getters for the headers of the token, like expiration date and such.

My application relied on the `iat` for some functionality that broke with this update (which IMO should have been a m

[2016-01-19 16:44] MtDalPizzol opened #168 "TypeError: Converting circular structure to JSON upgrading from 5.5.0 to 5.5.4"
Getting a ```TypeError: Converting circular structure to JSON``` after upgraded from 5.5.0 to 5.5.4.

Aprently it ocours when using the ```.sign()``` method, which internally uses ```JSON.stringify()``` and should use a custom replacer.

[2016-01-21 09:43] jeanadrien opened #169 "Sign callback function is called with successful result as a first argument"
But, as a node.js developer I would conventionally expect an error as a first argument, and a success as a second argument.

[2016-01-21 12:55] dwelle opened #170 "support verifying against multiple PEM certs"
Google OAuth 2.0 uses two certs. Would be awesome if we could supply a concatenated string of all of them, and node-jsonwebtoken checked each in turn.

EDIT: I need to check them all because the PEM doesn't include the `kid`. If you guys supported `JWK`, the problem wouldn't exist.

EDIT2: I realized google supplies `kid`s even for their PEM certs. But I guess the issue might be helpful to others.

[2016-01-26 15:21] michaeloryl commented on #166
So instead of using this in my code:

    return done(err, status, jwt.sign(JSON.stringify(jsonToken), config.secret, {expiresIn: '10h'}));

I instead have to use this?

    return done(err, status, jwt.sign(jsonToken, config.secret, {expiresIn: '10h'}));

Is that what we're looking at here?  This has been driving me crazy because no matter what I did with the expires message, it failed.  And it d

[2016-01-26 15:36] jfromaniello commented on #166
@michaeloryl yes, if you use an string payload expiresIn is ignored. You should use an object instead.

[2016-01-26 15:36] #166 closed

[2016-01-27 15:01] shauns commented on #150
@Casy You might have more luck using something that's pure JS like https://www.npmjs.com/package/jsrsasign

[2016-01-27 15:52] jfromaniello commented on #150
Closing this issue, @omsmith answer is spot on.

[2016-01-27 15:52] #150 closed

[2016-02-01 14:49] jppellerin commented on #122
This is what I ended up doing on my end.  My token is already verified by the time I hit my refresh function.

[code]

I don't refresh the token if it still has enough time to live.  This may or may not be necessary, but saving a bit of calculation when not necessary.

Written in TypeScript, but the logic is the same.  Should be generic enough to be used in many different circumstances.

[2016-02-02 06:02] morgondag commented on #122
@jppellerin nice! would be nice to have that in the jwt api with a pull request <3

[2016-02-02 12:55] jppellerin commented on #122
There's an idea... started working on it...

[2016-02-02 14:32] jppellerin commented on #122
https://github.com/jppellerin/node-jsonwebtoken/tree/refresh-token

Refresh will work for a token that is decoded without the `{complete: true}` flag.  Going to get that done eventually.  Also only synchronous for the time being.

[2016-02-03 07:27] alexislg2 commented on #166
Thanks @michaeloryl I think the error message should be more explicit... I lost a couple of hours here also

[2016-02-03 10:05] gut4 opened #171 "Consider use node-jose instead of node-jws"
https://github.com/cisco/node-jose library implements all algorithms, formats, and options in JWS, JWE, JWK, and JWA.
Maybe it makes sense to switch jsonwebtoken to node-jose?

[2016-02-04 17:22] Kiura commented on #122
@jppellerin, Hi, any news on the PR?

[2016-02-04 17:31] jppellerin commented on #122
@Kiura Nothing yet.  It's under pull request #172 waiting for review.  You could comment on the pull request to help with getting it through in a timely manner.

[2016-02-04 17:34] Kiura commented on #122
@jppellerin, thx for quick reply )

[2016-02-04 17:34] Kiura commented on #122
And how about refresh token that never expires? Any idea how to implement and how it differs security wise?
Basically what I am trying to understand is whether to use refresh token that never expires, or use token and refresh the token every `n` minutes, and how it they should be refreshed?

here [stackoverflow](http://stackoverflow.com/questions/26739167/jwt-json-web-token-automatic-prolongation-

[2016-02-04 17:43] jppellerin commented on #122
A token that never expires doesn't need to be refreshed.  From the docs :

This means that if no `expiresIn` option is provided, your token will not expire.

As to the strategy that you use - that's a bit up to the design of your application.  For example, we are building a web app and we don't want the token to live forever, nor do we want the user to be logged out mid-action when the token reach

[2016-02-04 17:46] Kiura commented on #122
Thx again for your help, spent two days trying to figure out the best way. now I got something to start from.

[2016-02-05 14:49] jppellerin commented on #122
@Kiura My pleasure.  Good luck!

[2016-02-08 18:50] darkyen commented on #170
^ Maybe this should be added as a remark in docs ?

[2016-02-12 23:39] charandas commented on #171
All algorithms really? What about the HMAC family algorithms such as HS512 and the rest. `node-jws` implements them, while `node-jose` linked above does not.

[2016-02-14 17:42] sibeliusseraphini commented on #111
:+1:

[2016-02-15 08:50] BigAB opened #173 "Subject claim is not verified"
Hi all,

I am totally new to the JWT world, so this may be my misunderstanding, but if you add the subject option when you sign a JWT, shouldn't the sub be verified?

This gist runs successfully, but should it not error?
https://gist.github.com/BigAB/3854cd17a3b6072e7c5b

Is this a bug, or my misunderstanding of how it works?

[2016-02-15 12:17] jfromaniello commented on #173
We have a test for this:

https://github.com/auth0/node-jsonwebtoken/blob/e403a66bee5f1aaabe974a7862cc6eaf0b926d57/test/jwt.rs.tests.js#L302-L309

I am not sure why it doesn't work for you

[2016-02-15 15:21] itamarwe opened #174 "Nested JWT"
Are nested JWT supported? (to allow sending the content securely)
As in this example:
https://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#NestedJWTExample

[2016-02-15 17:51] BigAB commented on #173
Looks like that test tests issuer not subject

[2016-02-15 21:49] BigAB commented on #173
In fact, it appears to me, many of those tests were not running properly and giving false positives.
Here is a PR with async fixes, and the issue with subject
#175

[2016-02-16 11:49] jfromaniello commented on #173
You were right! :(

Fixed in v5.6.0

[2016-02-16 11:49] #173 closed

[2016-02-16 11:50] jfromaniello commented on #173
Thanks a lot for taking care of the tests.

[2016-02-16 11:54] jfromaniello commented on #167
decoding the JWT should be cheap:

[code]

I am very sorry for breaking your application, it was never the expected behaviour. I agree, it should have been a major version.

[2016-02-16 11:59] #153 closed

[2016-02-16 12:00] jfromaniello commented on #153
Notice that it will be silently ignored now when the payload doesn't support expiration. I plan to fail explicitly in the next major version.

[2016-02-16 12:16] jfromaniello commented on #168
I just tried this on 5.5.0 (git checkout v5.5.0) and it doesn't work either with circular references.

It was never supported and I am not planning to support this.

[2016-02-16 12:16] #168 closed

[2016-02-16 12:17] jfromaniello commented on #169
I plan to address this on next major version

[2016-02-16 12:23] #163 closed

[2016-02-16 12:24] jfromaniello commented on #163
I added support for this, you can pass a list of valid issuers now:

[code]

[2016-02-16 12:26] jfromaniello commented on #170
Here is how I solved this back then:

https://github.com/auth0/connect-google-jwt/blob/master/index.js

I haven't use this code in a while, it might be outdated.

[2016-02-16 12:27] jfromaniello commented on #167
it should be done like this:

- get the kid (using jwt.decode)
- validate with the proper validator

[2016-02-16 12:28] #167 closed

[2016-02-16 12:28] jfromaniello commented on #167
Just let me know if this works for you or not and I will reopen and look an alternative solution. Thanks

[2016-02-16 12:33] jfromaniello commented on #157
I am sure this was reported on another issue but I can't find it. Nevertheless this is the expected behavior now, you should pass null or undefined.

It should be changed in the next major version, sorry for that.

[2016-02-16 12:33] #157 closed

[2016-02-16 12:35] jfromaniello commented on #155
Is still failing? All tests are working for me

Thakns and sorry for the delay

[2016-02-16 12:36] #139 closed

[2016-02-16 12:38] jfromaniello commented on #137
There isn't a limit on this library per se and I am not aware of a limit like this on JWS.

But I will encourage against it, JWT is not intended for such things.

[2016-02-16 12:38] #137 closed

[2016-02-16 12:38] jfromaniello commented on #136
Yes, we will handle this.

[2016-02-16 12:38] #135 closed

[2016-02-16 12:39] #123 closed

[2016-02-16 12:39] #115 closed

[2016-02-16 12:46] mitom commented on #167
Your workaround works, but I'll just keep it version locked to a previous version instead.

[2016-02-16 13:49] #136 closed

[2016-02-16 13:50] #106 closed

[2016-02-16 13:52] jfromaniello commented on #73
You have to validate the token with the same secret you used when you signed it. If is valid it will give you the claims inside it, one of them is the `_id`. You can thrust at this point that the request is authenticated and that the user with that id did the request.

[2016-02-16 13:52] #73 closed

[2016-02-16 14:07] jfromaniello commented on #170
So, for the case of google, you should first get the kid by using `jwt.decode` and then use the correct PEM to validate the token.

[2016-02-16 14:07] #170 closed

[2016-02-16 14:07] #155 closed

[2016-02-16 14:12] jfromaniello commented on #134
I think this is related to #169

[2016-02-16 14:12] jfromaniello commented on #134
I will handle this on next major version

[2016-02-16 14:12] #133 closed

[2016-02-16 14:13] #103 closed

[2016-02-16 14:13] jfromaniello commented on #87
These parameters are deprecated and will be removed on next major version.

[2016-02-16 14:13] #87 closed

[2016-02-16 14:16] #58 closed

[2016-02-16 14:18] jfromaniello commented on #64
@MariusRumpf yes, I will thrown an error if the user provides `expiresIn`, `issuer`, `audience` etc and the payload is not an object in the next major version

[2016-02-16 14:20] #68 closed

[2016-02-16 14:22] jfromaniello commented on #126
This is probably a new validation or some change in openssl on node 4.

Verify this:
https://www.ssl247.com/kb/ssl-certificates/troubleshooting/apache/errors-asn1-encoding-routine-apache

[2016-02-16 14:43] jfromaniello commented on #140
We have [jwt-decode](https://github.com/auth0/jwt-decode) which can be used in the browser side to decode the token and then you can validate the expiration with `decode.exp < new Date().getTime()` or something like that.

There is no way to verify a token if you use a symmetric algorhitm HS* family in the browser because you can't put the secret in the browser.

However it might be possible to ve

[2016-02-16 14:43] #140 closed

[2016-02-16 14:53] jfromaniello commented on #131
Sorry for the big delay!

I agree with everything you said. I will think this a little bit, we should change it for the next major version

[2016-02-16 18:07] adambuczynski commented on #134
@jfromaniello thank you

[2016-02-16 19:47] umareddy commented on #163
Thank you.

[2016-02-19 07:10] dukedougal opened #176 "No luck making this work with google json file"
I am using a Google Service Account, and when I use Python it returns the access token fine.
https://developers.google.com/identity/protocols/OAuth2ServiceAccount#makingrequest

[code]

However after spending about 12 hours on it I can't get this library to generate a token that Google will accept.

Has anyone managed to make this this library get an access token from Google?

If yes any examples

[2016-02-23 19:51] rogovdm opened #178 "Put error in callback in node style"
Current state:

[code]

Why not?

[code]

Will it be _too_ breaking change to implement?

[2016-02-23 20:16] jfromaniello commented on #178
yes, this is a duplicated of #169 .

I will fix this on the next major release.

[2016-02-23 20:16] #178 closed

[2016-02-29 23:38] simon-p-r opened #180 "Throw or return errors via callback"
Error on this [line](https://github.com/auth0/node-jsonwebtoken/blob/master/index.js#L65) should be returned via callback or thrown if called sync.  Will you accept a PR to fix this?

[2016-02-29 23:42] jfromaniello commented on #180
I am planning to change the interface a little bit in the next major version

[2016-03-08 15:31] victusfate opened #181 "expiresIn with a duration 1 second results in an exp 3.6 seconds after the iat"
let jwt = require('jsonwebtoken');
let sToken = jwt.sign({foo: 'bar'}, 'secret', { expiresIn: 1 });
let oToken = tokenToObject(sToken);
console.log(oToken.claims);

   { foo: 'bar',
     iat: 1457450740,
     exp: 1457454340 } }

// the token to object code

    var tokenToObject = (sToken) => {
      if (util.exists(sToken)) {
        var oOutput = {};
        var aParts = sToken.split('.');

[2016-03-08 15:35] victusfate opened #182 "error in units.. nvm"
never mind tracked it down to a default 1 hour expiration time I set.

[2016-03-08 15:35] #182 closed

[2016-03-08 22:05] Deadarius commented on #169
:+1: this one, I am using promisify-node library to make it return promise and it actually took me awhile to realise what is going on :laughing:

[2016-03-10 03:19] kwcto commented on #151
Thanks @pscanf!

[2016-03-11 02:50] pioneerroad commented on #169
+1 I'm also using a promise library and took me ages to work out why the promise was resolving as an error.

[2016-03-14 04:18] ahrobinson opened #183 "Expiresin gives Date of January 17, 1970"
`  var token = jwt.sign(user, config.secret, {
            expiresIn: 86400000
          });`

I have done this with combinations of strings and numbers and all results in the same date. Upon looking in the code, it seems you divide the timestamp by 1000. Doing so gives an exp of 1458015410, which gives a date of Jan 17 1970.

[2016-03-14 04:32] #183 closed

[2016-03-14 14:54] tiblu opened #184 "FEATURE: "options" to support property names as described in the JWT standard"
Please support property names as they are defined in standard (https://tools.ietf.org/html/rfc7519#section-4.1.1) in the ``options`` object.

For example ``options.iss`` (currently ``options.issuer``), ``options.sub`` (currently ``options.subject``) and so on.

What is the benefit of using non-standard naming and converting between non-standard and standard names?

For backward compatibility, the

[2016-03-16 22:45] jonekdahl opened #185 "Not possible to verify unsigned token (signed with alg none)"
Is it possible to verify (as in `jwt.verify()`) a token that was signed with algorithm `none`?

[code]

I expected the first version to do what I want, which is to realize that the token does not have a signature and therefore doesn't require a signature validation and hence not a key either.

[2016-03-17 01:11] jfromaniello commented on #185
The verify method options support algorithms which is an array of supported algs

[2016-03-17 06:12] jonekdahl commented on #185
Thanks for the suggestion. Unfortunately, using `options.algorithms` didn't help:

[code]

[2016-03-17 21:16] jonekdahl commented on #185
I had a look at the jwt.verify() implementation and it does not seem to handle unsigned JWTs correctly. This is the snippet of code where the problem occurs:

[code]

If the token does not have a signature, the method will always return with an error. One way to fix this would be to add an additional condition to the second if statement:

[code]

This change allows `jwt.verify()` to successfully v

[2016-03-17 23:03] jfromaniello commented on #185
Yes! Sounds like a good plan
El El jue, mar 17, 2016 a las 6:16 PM, Jon Ekdahl <notifications@github.com>
escribió:

[2016-03-18 14:45] jonekdahl commented on #185
Okay, great. I updated the title to reflect that this is more of a defect than a question.

[2016-03-20 13:54] Kaijun opened #186 "size of session?"
I'm considering how big is the size of session which stores the token and related content.

I stored the user json and was calculating how many users can be stored at the same time?

Or it will consume all my memory if there is enough amount of users?

[2016-03-22 06:50] chazwoza opened #187 ""invalid token""
Hi all,
I am trying to verify a token using this code:

[code]
The err message i get is below:
`{ [JsonWebTokenError: invalid token] name: 'JsonWebTokenError', message: 'invalid token' }`

How can I trace what is wrong here? BTW, the token itself does verify using http://jwt.io website so I think the token is valid/correct.

[2016-03-22 07:18] #187 closed

[2016-03-22 07:18] chazwoza commented on #187
Issuee was the user :)

[2016-03-23 15:13] jppellerin commented on #186
The size of the token is really dependent on what information you are storing in it.  It can be very small or very large.  Your workflow and how you use the token will determine the usefulness of a larger vs smaller token.

The beauty of a token is that it's stateless.  You don't really need to save the token in session.  If you want to revoke a token, there is a lot of talk about it on the web.
H

[2016-03-24 16:07] lmillott commented on #141
+1

[2016-03-26 13:29] Kaijun commented on #186
@jppellerin
thanks, i thought i was misunderstanding the mechanism of jwt, i thought jwt works with session when i posted this question, but actually it doesn't right?

so where does jwt store the payload? inside the global jwt object? if that is the case, what's the max size of the payload storage? or there's rather no limit.

[2016-03-27 15:05] danieldms commented on #156
Hi guys, i had this problem and now it's work perfectly.. Thank you @jfromaniello.

[2016-03-28 13:11] jppellerin commented on #186
@Kaijun That is correct.  JWT has nothing to do with a session.  Which, in one part, is why it's gaining so much popularity as of late with stateless back-ends.

Also correct.  The JWT itself doesn't quite encode the payload.  It is not a secret.  It is signed using your secret or private key - used to validate the payload.  If the payload absolutely needs to be hidden you might need JWE or saving

[2016-03-30 17:00] alexilyaev commented on #87
For those who stumble upon this, we should use `expiresIn` from this point on.

[2016-04-02 00:08] free-Runner commented on #142
Should add that the same issue exists for `nbf` value.

In index.js:
`payload.nbf = timespan(options.notBefore);`

In timespan.js:
`var timestamp = Math.floor(Date.now() / 1000);`
`return Math.floor(timestamp + milliseconds / 1000);`

[2016-04-05 20:30] csaroff commented on #176
Presumably you don't have google's private key and cannot sign tokens.  You probably need to make a request to google's authentication server using some client credentials and google will issue you an oauth token.

From the [documentation](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#overview):

I think this issue can be closed.

[2016-04-06 07:51] jchapelle opened #190 "Client side verification (public key) without decoding"
Hello, I'm using your library but I cannot find a way to verify if a user is still logged in client side.
Isn't it possible to encode a token with a public and a private key and to be able to verify the validity of a token without decoding it with the public key ?

[2016-04-12 13:42] jppellerin commented on #190
Same would be true :

[code]

I'm not sure why verifying client side would be any different from verifying server side.  The beauty with JavaScript... it's the same process client or server side.

Hope this helps!

[2016-04-14 08:03] LinusU commented on #180
@jfromaniello Since nothing really is asynchronously at all, why is there callbacks at all? Is you plan to remove them?

[2016-04-15 18:31] PlasmaDischarge opened #191 "Signing JWT with RSA private key loaded from .env file"
Hello,

I'd like to store my RSA private key in a .env file, and have it loaded into my node process via node-foreman, per best practice. The trouble is, the key format (PEM) spans multiple lines, which the .env file format doesn't allow. Based on workarounds posted by other folks, I've tried surrounding the key in double quotes and replacing line breaks with the line feed character ('\r'), but th

[2016-04-20 20:03] kamilbrzezinski commented on #166
@jfromaniello jfromaniello
Just out of curiosity... why is expiresIn ignored when I pass a string instead of an object? What's the reason for such an implementation?

[2016-04-20 20:27] jfromaniello commented on #166
@kamilbrzezinski JWT is JSON Web Token, the `exp` field is an standard claim and is part of the json.

an string is a valid json:

[code]

but a string can't have a property... it will be the equivalent to something like this:

[code]

Besides the fact that you can't add a property to an string in javascript, there is not a representation in JSON of an string with a property.

[2016-04-20 20:42] kamilbrzezinski commented on #166
@jfromaniello Thanks for the answer, now it's clear!

[2016-04-26 07:49] PlasmaDischarge commented on #191
The solution was to format my `.env` file as json using '\n' as a linebreak, like so:

[code]

Node-foreman will load the variables into the process, where they can be used seamlessly with the jsonwebtoken library as expected.

[2016-04-26 07:49] #191 closed

[2016-04-26 14:27] ssboisen commented on #190
My guess is that OP have mistaken signing for encryption. With JWT the content is not encrypted, only signed. So as @jppellerin mentioned you can very easily verify it using the public key, and since the content is not encrypted you can get the decoded content. Check out www.jwt.io for exxamples.

[2016-04-27 15:52] #169 closed

[2016-04-27 15:52] jfromaniello commented on #169
fixed in v6

[2016-04-27 15:52] jfromaniello commented on #142
fixed in v6.

[2016-04-27 15:52] #142 closed

[2016-04-27 15:53] #134 closed

[2016-04-27 15:53] jfromaniello commented on #134
fixed in v6.

[2016-04-27 15:53] jfromaniello commented on #131
Fixed in v6. Have a look to changelog/readme

[2016-04-27 15:53] #131 closed

[2016-04-27 15:53] jfromaniello commented on #64
fixed in v6.
thanks

[2016-04-27 15:53] #64 closed

[2016-04-27 15:56] jfromaniello commented on #184
Since v6 you can do this:

[code]

or

[code]

*and it throws if you provide both* example:  `payload.aud` and `payload.audience`

[2016-04-27 15:56] #184 closed

[2016-04-27 16:02] tiblu commented on #184
Super! Thanks a lot!

[2016-04-27 16:18] jfromaniello commented on #181
I can't reproduce this neither with 5.7.0 nor the just released v6.

This is from repl:

[code]

[2016-04-27 16:18] #181 closed

[2016-04-27 16:20] jfromaniello commented on #181
BTW, iat and exp are in seconds since UNIX epoch.. so If you get 3600, that means somehow you end up with  **1 hour** expiration

[2016-04-27 16:23] #185 closed

[2016-04-27 17:00] harriha commented on #131
Hey, thanks, looks great!

[2016-04-27 19:25] btknorr opened #193 "Upgrading to 6.x throws SyntaxError"
[code]

We are using node 0.12.9

Thanks,

Brian

[2016-04-27 20:22] shakty commented on #193
Plus 1. Having the same issue.

[2016-04-27 22:09] mdebruijne opened #194 "async .sign throws instead of callback with an error object"
In version 6.0.0 .sign is changed to an async callback with an error argument. This is really appreciated so many thanks for this. However, instead of using an error object in the callback, errors are thrown.

**Two examples;**

[code]

[code]

**Expected result;**
Return an error object in the callback and don't throw

**Actual result;**
Errors are thrown and callback isn't called

Tested with ve

[2016-04-28 07:48] carlnordenfelt commented on #193
Same problem here, we downgraded to 5.7.0.

[2016-04-28 07:51] amrendraw3 commented on #193
This is actually an issue with the package dependencies. I have removed the folder (_**sudo rm -R jsonwebtoken**_) from my node_modules and installed the previous stable version of this package - (_**sudo npm install jsonwebtoken@5.6.0**_).

This works for me !!

Also change the same version in your _**package.json**_ file, if you used '*' for _`jsonwebtoken`_ module.

[2016-04-28 11:51] carlnordenfelt commented on #193
@amrendraw3 Going back to a previous version is a workaround, not a solution to the issue. You are right in that, for most, the issue is caused by having jsonwebtoken: '*' in package.json (as in our case) but the actual issue lies in version 6.1.0. It might be intentional but in that case the issue has to be resolved as such.

PS. 5.7.0 was the last stable version prior to 6.*

[2016-04-28 11:57] jfromaniello commented on #193
Thanks for pointing this out, we can try to find out a solution. This is not something in my code but in a dependency that I added: **Joi**.

However I don't know how long should I keep maintaining modules for node.js versions prior to v4, since v4 is the LTS and current stable version. In this case I don't see any other solution than implementing what I did with Joi in this package.

[2016-04-28 12:25] carlnordenfelt commented on #193
@jfromaniello I think it's fine if version 6.* breaks compatibility with earlier node versions. It's a major update so there is no requirement to be backwards compatible.
It would be good to point this out in the documentation though.

[2016-04-28 15:16] btknorr commented on #193
Ya I agree...just document the compatibility and provide some sort of support for 5.7.  Or see if there is an older version of Joi that works with node 0.12.x and above :)

[2016-04-28 17:10] rynbyjn opened #195 "Updating to 6.x.x throws errors in joi when building with webpack."
Running `NODE_ENV=production node node_modules/webpack/bin/webpack.js -p --config=webpack.prod.config.js` through webpack throws these errors in `joi`.

[code]

Adding:
[code]
to the webpack config kills off the first two errors, but not the second two and fails to build our client js.

[2016-04-28 18:04] jfromaniello commented on #195
why would you bundle this library with webpack/uglify/etc?

This library is not supposed to be used on browsers

[2016-04-28 18:42] rynbyjn commented on #195
We make auth token requests client side through an api, so we need to parse the token purely on the client..

[2016-04-28 20:21] jonekdahl opened #196 "Signed token no longer includes payload.iss"
When providing an issuer through an object payload to `jwt.sign` (via `payload.iss`) it is no longer included in the signed token. Neither is `aud`, `sub` or `jti`.

Test case (breaks with 6.1.0, works with 5.7.0):
[code]

Result (with 6.1.0):
[code]

[2016-04-28 22:13] holm commented on #196
Also ran into problem after upgrading to the latest version

[2016-04-28 22:55] #196 closed

[2016-04-28 22:55] jfromaniello commented on #196
Thanks for reporting this and for the test case. I have fixed it on `v6.1.1`.

[2016-04-28 23:09] justinffs commented on #193
@jfromaniello at a minimum you should include the node version dependancy in your package.json like joi does.
[code]

[2016-04-29 11:36] jfromaniello commented on #195
If you need just to *decode tokens* in the client-side please use: https://github.com/auth0/jwt-decode

If you need to validate tokens in the client-side you can try: https://github.com/kjur/jsrsasign

This library is not meant to be used in the browser, it was designed to be used in node.js.

[2016-04-29 11:45] jfromaniello commented on #194
I have followed node.js core practices to validate arguments.

This is an example of async function that throws an error on an invalid parameter:

[code]

here is another example with the crypto module:

[code]

[2016-04-29 11:57] #193 closed

[2016-04-29 11:57] jfromaniello commented on #193
Fixed in `v6.1.2` (I am using an older version of joi now).

[2016-04-29 11:58] #190 closed

[2016-04-29 11:59] #186 closed

[2016-04-29 11:59] #180 closed

[2016-04-29 11:59] #176 closed

[2016-04-29 12:00] #130 closed

[2016-04-29 12:01] #60 closed

[2016-04-29 12:01] #126 closed

[2016-04-29 12:02] jfromaniello commented on #174
no

[2016-04-29 12:03] #195 closed

[2016-04-29 12:03] simon-p-r commented on #194
Yes as per issue #180 it would be more useful to return error rather than throw, only throw if there is no callback provided.

[2016-04-29 13:49] mdebruijne commented on #194
@jfromaniello

Thank you for your explanation. Unfortunately there is a lot of inconsistency regarding error handling in the Node.js ecosystem, but I fully agree with your reasoning.

I hope you don't mind asking me one more question before closing this issue; do you have an example where jsonwebtoken utilizes the new async callback with an error argument?

[2016-04-29 14:11] jfromaniello commented on #194
Let's vote with 👍  and 👎  reactions in this comment (I will wait 24hs). I am not entirely convinced of my reasoning either to be honest.

[2016-04-29 16:12] justinffs commented on #193
Awesome thank you!

[2016-04-29 23:12] mdebruijne commented on #194
Personally I prefer to keep the Node.js Core practice if it is documented correctly, but at this moment the documentation isn't correct and complete.

In the documentation are examples that mention it will use the error callback, but they actually throw. Also the other way around, where examples that mention it throws are actually returned with an error callback.

Some things are not documented at

[2016-05-02 21:53] ohomer opened #197 "Migrating from 5.7"
I'm trying to use smooch.io
http://docs.smooch.io/javascript/#authenticating-users-optional

which does not work in the current version of jwt, what would the latest jwt expect instead of the old options of:

`
    {
        headers: {
            alg: 'HS256',
            typ: 'JWT',
            kid: KEY_ID
        }
    }
`

be?

[2016-05-02 21:59] jfromaniello commented on #197
Headers (plural) was renamed to header (singular) in 6.

El lun., may. 2, 2016 6:53 PM, OHomer Rilak <notifications@github.com>
escribió:

[2016-05-03 00:28] ohomer commented on #197
Thanks, I thought so. Were there any other changes? Changing it to `header` doesn't give an error, but gives a result that is not accepted by smooch. While with 5.7 it works

[2016-05-03 00:42] jfromaniello commented on #197
You are not required to upgrade to the very latest version, if 5.7 works
okay for you, you might want to pin to `^5.7.0`. There isn't any security
patch vulnerability in those versions.

The v6 has few changes to make the life easier for newcomers. here is the
change log:

https://github.com/auth0/node-jsonwebtoken/blob/master/CHANGELOG.md

El lun., may. 2, 2016 9:28 PM, OHomer Rilak <notification

[2016-05-03 08:08] brainsiq opened #198 "Changelog out of date"
Just wondering if it's intentional or an oversight that the changelog hasn't been updated for the last few versions?

It's great that you have one and have been using it for previous versions, makes it a lot easier to understand what's changed when using something like greenkeeper.io!

[2016-05-03 12:10] tanepiper opened #199 "Broken Joi dependency"
Upgraded dependencies of a project, now getting errors with the version of joi included in the project:

[code]

Joi isn't a dependency in this project, this is the only module that has this dependency.

Have run `npm cache clean` and done a fresh install, still having this issue.  Dropped back to 5.7.0 and it works fine.

[2016-05-03 12:46] jfromaniello commented on #199
`net` and `dns` are node.js native modules almost since its conception.

This module is supposed to be used only in node.js, not in the browser or any other javascript environment.

can you give me more details of where are you trying to use it?

[2016-05-03 12:50] #198 closed

[2016-05-03 12:50] jfromaniello commented on #198
It was an oversight on the last push, thanks for the heads up.. I will try to figure a better way.

[2016-05-03 13:02] tanepiper commented on #199
@jfromaniello Ahh ok, might explain it.

It's being used in the browser as part of an ES6 React/Redux app being built with webpack.  Environment is node v4.4.1 when building.

So this module is node only (now)? Up to 5.7.0 it was working fine in the browser - so I assume I'll have to switch to jwt-decode then?

[2016-05-05 14:43] victusfate commented on #181
@jfromaniello that's exactly what happened, I had overwritten that expiresIn in the func I was calling

right those units are seconds not ms

1457454340  - 1457450740  = 3600

thanks for the sanity check @jfromaniello

[2016-05-05 21:12] colllin opened #200 "jwt.sign(...) doesn't rename audience, issuer to aud, iss, as jwt.verify expects."

[2016-05-06 00:24] mpmeyer commented on #199
On the browser use jwt-decode.  https://github.com/auth0/jwt-decode

[2016-05-09 13:42] lludol opened #201 "jwtString.split is not a function"
Hello,

When I send a number to the verify method, there is an error:

[code]

[code]

**I know the verify method need a String to work.**

If we use the sync method, we have to put try/catch to catch the error and it's ok, it works.

But when we use the aync method, the err parameter is not set and an error is thrown ("TypeError: jwtString.split is not a function").

Is it normal?

I use node.js

[2016-05-17 03:25] MarkHerhold commented on #108
Just for the record, I was wondering if this library required the
[code]
and
[code]

bits and it appears that these are required parts of the key file for this module.

[2016-05-19 12:18] jfromaniello commented on #200
Is explained in the readme, you can either do:

[code]

or

[code]

both will generate a JWT with an `aud` claim.

[2016-05-19 12:18] #200 closed

[2016-05-19 12:19] jfromaniello commented on #201
Let's keep discussing this on #191

[2016-05-19 12:19] #201 closed

[2016-05-19 15:34] smulube commented on #194
Hi, is this still a live issue? I entirely agree with the last comment by @mdebruijne - I think the most important thing is that the documentation shouldn't say one thing will happen but then do another, i just spent a few headscratching minutes wondering what I'd done wrong.

I don't know how official this is, but I think this is a good reference on error handling in Node: https://www.joyent.com/

[2016-05-19 15:50] jfromaniello commented on #194
Fixed in `v7.0.0`. Thanks for all the feedback

[2016-05-19 15:50] #194 closed

[2016-05-19 16:10] mdebruijne commented on #194
Thanks @jfromaniello !

[2016-05-19 16:14] jfromaniello commented on #194
@mdebruijne no problem, sorry for the delay

[2016-05-19 16:28] smulube commented on #194
thanks, that's great!

[2016-05-21 13:36] scniro opened #204 "Support for enc? (encryption)"
Is there a native way to encrypt these? According to the [spec](https://tools.ietf.org/html/rfc7519#page-26), native encryption is a possibility. Am I doing something wrong here?

[code]

throws the following error...

[2016-05-21 16:11] felixfbecker commented on #111
this.

[2016-05-24 09:50] migara commented on #68
The problem is the way you format the public certificate.

The function is very strict on the formatting. Require begin and end lines, and line breaks at every 64 characters.

Something like this:
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDdlatRjRjogo3WojgGHFHYLugd
UWAY9iR3fy4arWNA1KoS8kVw33cJibXr8bvwUAUparCwlvdbH6dvEOfou0/gCFQs
HUfQrSDv+MuSUMAe8jzKE4qW+jK+xQU9a03GUnKHkkle+Q

[2016-05-25 08:34] Pempti opened #205 "Sign headers in option not working"
set_headers.tests.js is failing for me. decoded.header.foo is printed as "undefined" instead of "bar". alg seems to work though.

[2016-05-26 01:24] #205 closed

[2016-05-29 22:02] jtlapp opened #206 "deleted"
Sending to auth0 in case it's considered a vulnerability...

[2016-05-29 22:19] #206 closed

[2016-05-30 13:20] cybercoder opened #207 "This is not issue, just ask some questions"
1. Is possible to store tokens into a database? like pgsql table where users are stored?
2. Is possible the token never expire? ( e.g. mobile APP telegram.me )

[2016-05-30 13:26] jfromaniello commented on #207
JWT is a signed token, like a piece of information digitally signed.

The fact that is digitally signed means that you can validate the signature, if the signature is valid you can trust the information it contains.

You could store it anywhere, but generally you don't need to.

Yes, don't specify `exp`.

[2016-05-30 13:26] #207 closed

[2016-05-30 13:27] jfromaniello commented on #207
more info here https://jwt.io/introduction/

[2016-05-30 19:10] cybercoder commented on #207
@jfromaniello gratitude for light explain

Warm Regards

[2016-05-31 07:29] nodje opened #208 ""JsonWebTokenError: invalid signature" when verifying JWT signed with Java JWT"
I use https://github.com/jwtk/jjwt to encode and sign a token as follow:

[code]

then decode in node.js as follow:

[code]

and get the error:

[code]

Using `jwt.decode` I get the token content without problem.

Am I doing something wrong?

[2016-05-31 09:09] raghavendranvenkateswaran opened #209 "All tokens with exp in payload permanently expired"
Tokens generated with "exp" in the payload are permanently expired since creation.
 e.g:
var token = jwt.sign(req.body,cert); for signing with below input
{
    "sub": "admin@admin.com",
    "iss": "https://apevolve.tcs.com",
    "permissions": "Admin",
    "exp":60
}

are always returning
{
  "name": "TokenExpiredError",
  "message": "jwt expired",
  "expiredAt": "1970-01-01T00:01:00.000Z"
}
on t

[2016-05-31 19:40] tcd156 commented on #204
'enc' isn't passed through in this library. This is using an implementation of JWS which does not support encryption.

[2016-05-31 22:00] trendsetter37 commented on #209
@raghavendranvenkateswaran

Try

[code]

Note that javascripts `Date` class operates with milliseconds so you need to convert to seconds; then add the 60 seconds you were using before. This will produce the current date in seconds since Jan 1970 plus your additional 60 seconds which will give you your future expiration date.

This tripped me up today because the usage explanation in the README mak

[2016-06-01 04:35] raghavendranvenkateswaran commented on #209
I think that should be done in the backend.If needed a present Date can be added to options..
@trendsetter37 as for the solution you provided... I am presently calling the JWT token node js service from a Java Client and would wish for the client to set the expiry on time span (so that dont face system time discrepancies and format issues).
Also , if I am trying with the example you provided above

[2016-06-01 05:13] raghavendranvenkateswaran commented on #209
I tried making some changes to let it reflect timestamp in expiry check calculations...

if we change line 147 in index.js from if (Math.floor(Date.now() / 1000) >= payload.exp + (options.clockTolerance || 0))
to
if (Math.floor(Date.now() / 1000) >= payload.exp + (options.clockTolerance || 0) + payload.iat)
then it works fine...
Also if anyone wants to give their own timestamp... they can use "iat

[2016-06-02 03:42] MarkHerhold commented on #141
Why not just fix the machine with the skewed clock?

[2016-06-02 05:03] cvillerm commented on #141
If the token is issued by a server you don't fully control, this isn't possible. Think also that even a 1 or 2s clock drfit can impact the `nbf` claim as a token just issued and consumed on another server with a clock 1 or 2s behind could have its validation fail.
Anyway, there is now a `clockTolerance` option that can be used and I think that this issue should be considered as resolved.

[2016-06-03 10:29] antony opened #210 "PromisifyAll causes optional attributes to become mandatory"
Hi,

I am aware that recently the library was changed so that bluebird's PromisifyAll would work to make everything thenable.

However I have noticed that it is not a straight swap as you would expect, as formerly optional attributes have become mandatory.

The one in question that I have run into is 'sign', but there might be more.

Synchronous version:

[code]

Asynchronous version:

[code]

Not

[2016-06-03 13:46] cope opened #211 "Invalid signature on the key/pem pait"
I've created a private/public key pair using
[code]
When I try to sign/verify, it only works if I use the private key to both sign and verify.

If I use the public key to verify, I get the `JsonWebTokenError: invalid algorithm` error, no matter which key I used to sign.

And if I try to do it properly: sign with the public key and verify with the private key, I get the ` JsonWebTokenError: invalid

[2016-06-04 23:43] Flaise commented on #111
I had to go digging through the source code and issue tracker in order to make sure there were no blocking operations that make the non-callback version unsuitable for production use.

[2016-06-05 01:06] omsmith commented on #211
You need to specify an algorithm when signing. The `#sign` method defaults to HS256, so it's just treating your key as a passphrase for the HMAC.

The reason you were getting "Invalid Algorithm" is because `#verify` _does_ look at the key, decides it must be for one of the public key algorithms (ES or RS), but sees that doesn't match up with the token's HS256.

The correct way would be to sign wit

[2016-06-05 01:12] omsmith commented on #209
The _exp_ field is defined, by spec, as the timestamp so the change you're asking for isn't possible.

This library provides `options.expiresIn` to provide "relative to now", which is what you're looking for.

[2016-06-05 03:11] Ry7n commented on #111
**tl;dr** Promises are good, but jsonwebtoken doesn't need them.

So I previously commented that I'm -1 on returning a Promise, but I've come around on promises as the ideal method of flow control for things that have potential error states. Compare the following code:

[code]

Personally, I prefer the Promise interface. Also, [the standard try/catch interface is an optimization killer](https://gi

[2016-06-05 03:34] joepie91 commented on #111
@Ry7n To address your points:

1. Yes, Bluebird will let you more easily catch specific types of errors, and this is a good thing. However, the library doesn't need to return Promises for this - it can simply throw synchronously, and that throw will be caught by Bluebird and repropagated as a rejection (and thus catchable using error filters/predicates).
2. Yes, it is now relatively simple to prom

[2016-06-05 06:55] cope commented on #211
I understand your first part, about the default HS256 algorithm being the wrong one, that makes sense. I will try specifying RSA tomorrow at work for noth _#sign_ and _#verify_, and play with that.

However, the second part is a little confusing. Granted, I am not a network security expert, but if the private key is _private_, and the public key is open _publicly_, then when I sign with the _priva

[2016-06-05 07:16] Ry7n commented on #111
@joepie91I don't think we're disagreeing; neither of us think JSONWebToken should return a promise.

[2016-06-05 07:53] joepie91 commented on #111
@Ry7n Right, but it seems to be for a different reason. Hence attempting to clarify, since the callback API should probably be deprecated as well :)

[2016-06-05 12:59] omsmith commented on #211
You are signing the message, not encrypting it. You are there only one that has the private key, and so it can be verified with the public key with confidence that the token has not been tampered with.

Given we are not encrypting, anyone can read the token whether they have keys or not.

[2016-06-05 14:32] jtlapp opened #212 "Not guarding against giant-JSON DoS attacks?"
I posted this to whitehat@auth0.com 7 days ago but never got anything but an automated response. I figure that because DoS attacks are intractable anyway, there's no harm in posting here.

Scanning through the code and glancing through the dependent module "jws", it appears to me that clients could sent monster-sized JSON objects inside JWTs, and the module will always decode the JSON, eating up b

[2016-06-05 17:10] omsmith commented on #208
I'd love to give you a hand with this. Would you be able to provide an example token and the secret you used to sign it so I can take a look. With what you've provided, hard to say - from looking at _jjwt_ your example should be throwing since `"my-secret-token-to-change-in-production"` is not base64.

[2016-06-06 03:26] nodje commented on #208
hum, the base64 issue sounds like a good lead, but I couldn't verify the signature with the secret encoded in base64 like this:
``
var decoded = jwt.verify(req.get('Authorization'), new Buffer('my-secret-token-to-change-in-production').toString('base64'), { algorithms: ['HS512'] });
``
Here's a token generated by `jjwt` with my favorite secret `my-secret-token-to-change-in-production`:
`eyJhbGciOi

[2016-06-06 04:17] raghavendranvenkateswaran commented on #209
@omsmith my bad. I will give it a try with options.expiresIn for my requirement.Thanks

[2016-06-06 04:17] #209 closed

[2016-06-06 09:51] cope commented on #211
Darn it. I finally understand now! Thanks!

I had the wrong impression of JWT. I was under the impression that the secret was used to encrypt and decrypt the header.

Now I understand that the header and the payload is just encoded, and that the signature itself is the part used to verify the sender.

My bad.

[2016-06-06 12:22] #211 closed

[2016-06-09 09:14] Jokero opened #213 "ValidationError: "alg" is not allowed"
jsonwebtoken - 7.0.0

From documentation to **jwt.sign**:

`options`:
* `algorithm` or `alg` (default: `HS256`)

Ok, I want to use `alg` because this is the name of the field with algorithm in the standard.

Let's try:
[code]

Output:
[code]

You can play with it here https://tonicdev.com/5751877c455d971300805e52/575930ec7123801300cdade1

[2016-06-09 15:21] DiegoZoracKy opened #214 "Follow JWT spec Claim names on jwt.verify options"
`jwt.verify` expects as options:

[code]

Which is good for the clarity of the code, but i think that it should also accept the original claim names defined on JWT spec, as:

[code]

Suggestion, at index.js:

**From:**

[code]

**To:**

[code]

Are you open do Pull requests?

[2016-06-13 10:58] sandersaares opened #216 "Buffer signing incorrectly serializes payload"
The documentation states that *payload could be an object literal, buffer or string* but this does not appear to match the implementation. The following code incorrectly transforms the buffer into a JSON object, instead of serializing it as-is.

[code]

Expected behavior: payload is the 16-byte buffer provided.
Actual behavior: payload is `{"0":78,"1":66,"2":114,"3":162,"4":214,"5":94,"6":240,"7":

[2016-06-14 17:40] FdezRomero commented on #213
I had the same issue. Either fix the code or at least remove it from the docs.

[2016-06-14 17:44] #213 closed

[2016-06-14 17:44] jfromaniello commented on #213
Sorry about that and thank you for reporting it.

[2016-06-14 22:47] FdezRomero commented on #213
Thanks @jfromaniello! :+1:

[2016-06-15 16:24] zelein opened #217 "exp time not being properly calculated if setting iat"
The expected behavior as per the documentation is that if you "iat" flag is populated, it will calculate the "exp" time off of that, instead of the current time. This is not the case.

`payload.exp = timespan(options.expiresIn);`

The timestamp function does not take into account for modified issued at time.

The function should be modified somehow in this manner:

[code]

This would allow for pas

[2016-06-20 09:19] Pempti commented on #217
I tested this separately and can confirm this is the case. payload.exp is calculated as (currentTime + options.expiresIn). This is more obvious when you set payload.iat 20 minutes in the future (currentTime + 1200) and options.expiresIn to 15 minutes in the future (900). **payload.exp will be less than payload.iat**

[2016-06-20 15:29] ddennis opened #218 "sign asynchronously - has no err in callback only token"
Sign asynchronously - from the readme

      jwt.sign({ foo: 'bar' }, cert, { algorithm: 'RS256' }, function(err, token) {
        console.log(token);
      });

The generated token is in the **err** - the function should be like so?

      jwt.sign({ foo: 'bar' }, cert, { algorithm: 'RS256' }, function(token) {
        console.log(token);
      });

[2016-06-22 04:54] yitomok commented on #218
Didn't got error when I tested, can you give version and full code example, thanks

[2016-06-22 07:29] ddennis commented on #218
i apologize,  forgot to validate my package.json, i was on version 5.5.0.  Updating to 7.0.1 , everything works as described in the readme.

[2016-06-22 07:29] #218 closed

[2016-06-23 10:30] frogcjn commented on #111
+1, any progress?

[2016-06-23 14:04] felixfbecker commented on #111
This issue should be renamed to "deprecate callback API"

[2016-06-23 16:46] jden commented on #111
or "remove async API and bump major version"

[2016-06-28 18:39] andyedwardsdfdl opened #220 "can't check that a JWT has an expiry defined in the verify function"
On the verify function, I can set the verification options to check the issuer, audience etc.  These trigger a verification failure if the field is either wrong or completely missing.  But there is no way to insist that there is an expiry in the claims.

I thought that I could set `ignoreExpiration` to `false` and force the verification to check, but it seems that the `ignoreExpiration` option onl

[2016-06-29 03:12] calclavia opened #221 "Unable to resolve jws/lib/sign-stream.js"
Just installed jsonwebtoken@7.0.1 and required the module, then immediately got the error "Cannot find node_modules/jws/lib/sign-stream.js"

Context: Running this on React Native

[2016-06-29 09:52] DamonGant opened #222 "JWT returned as first argument on OS X"
During debugging we noticed the JWT is returned as the first argument (`err`) on OSX.

OpenSSL 0.9.8zh 14 Jan 2016
OSX El Capitan 10.11.5

Here's a part of our code:

      return new Promise((resolve, reject) => {
        jwt.sign({userid: userid}, new Buffer(config.get("jwt:ec_priv"), "base64"), {issuer: "flot.to.master", expiresIn: "30d", algorithm: "ES512"}, function(err, jwt) {
          if (

[2016-06-29 12:03] jfromaniello commented on #222
You might be using jsonwebtoken v5. This was changed in v6 as stated in the changelog:

https://github.com/auth0/node-jsonwebtoken/blob/master/CHANGELOG.md#600---2016-04-27

[2016-06-29 12:04] #222 closed

[2016-06-29 14:50] DamonGant commented on #222
Ha, now I feel silly, the dependency wasn't installed locally on the machine. Thanks for spotting it so fast.

[2016-06-29 14:52] jfromaniello commented on #222
@DamonGant no problem.. and sorry for the confusion, this breaking change was tough given we know there are lot of articles/examples using the previous version.

[2016-06-29 20:51] felixfbecker commented on #214
They are not the same though. `expiresIn` accepts a string like `1 day` that gets converted to a timestamp, but I would always expect `exp` to be the raw `exp` value.

[2016-06-29 20:58] DiegoZoracKy commented on #214
Good @felixfbecker. So the claims passed on using the same key as the spec (e.g. `exp`) would be treated as is, `raw`. Leaving the others that can act with some sort of helper with their "associative" names, like `expiresIn`.

[2016-06-29 21:11] felixfbecker commented on #214
Imo this is would make the API very confusing

[2016-06-29 21:12] DiegoZoracKy commented on #214
@felixfbecker But do you agree that the original spec keys should be accepted?

[2016-06-29 22:11] felixfbecker commented on #214
no, I think it's fine as-is

[2016-06-30 15:20] EvanBurbidge opened #223 "Generates the same token string each time"
I've been working with this for a login system and have found its generating the same string each time. Makes storing it in a db for verification a bit of a pain.

[2016-06-30 16:53] l0oky commented on #223
I have the exact same issue.

[code]

[2016-06-30 17:06] jfromaniello commented on #223
You can add a `jti` claim with something random and you will get a different token every time.

You don't need to store the token in the db in order to verify it. Just use `jwt.verify`.

[2016-06-30 17:06] #223 closed

[2016-06-30 17:12] l0oky commented on #223
Hi @jfromaniello, I tried your advice:

[code]

[2016-06-30 17:16] jfromaniello commented on #223
@l0oky the second argument is the secret

[code]

[2016-06-30 17:21] l0oky commented on #223
Yes, sorry about that.

[2016-07-01 20:51] shady-gabal opened #224 "When callback is passed to sign(), if typeof payload is a String, incorrectly stringifies payoad, resulting in extra "" marks"
When a callback is passed to sign(), if a string is passed in as the payload, it stringifies the String anyway, resulting in extra quotation marks.

in sign.js, around line 126:
[code]

should be something like:

[code]

Haven't spent too much time looking at the implementation, but you might also not need to even stringify since in the corresponding else block, you don't bother with stringifying

[2016-07-01 20:53] shady-gabal commented on #224
To anyone wondering how to avoid this issue: just run it synchronously instead (without a callback) and you should be good.

[2016-07-05 07:14] wilsonmar opened #225 "Author in README bad link"
Near the bottom of the README page at
https://github.com/auth0/node-jsonwebtoken/blob/master/README.md
under the Author section, the link "Auth0" goes to
https://github.com/auth0/node-jsonwebtoken/blob/master/auth0.com
which yields a 404 page.

[2016-07-05 12:52] DaleWebb commented on #208
I'm having the same problem with these libraries.

I used the debugger at jwt.io to decode it, which gave the option to provide the secret as base64 - which worked on the debugger, but not in my program.

However, I couldn't get the debugger to work with your values, @nodje

[2016-07-06 02:17] jedwards1211 commented on #70
uhhh...my `id_rsa.pub` looks different:

[code]

Should this format be supported by jsonwebtoken?

[2016-07-06 14:24] michaelcbarr commented on #208
Did anyone get a solution to this yet?  I am signing the JWT in Java (io.jsonwebtoken) and trying to "unsign" using this npm library in a separate node.js app. As already mentioned by others, the token decodes fine, so obviously the data has not been corrupted - it just seems that the sign/unsign procedures do not match up.

[2016-07-06 14:29] omsmith commented on #208
@DaleWebb @michaelcbarr would either of you be able to provide some actual code you're trying to do this with?

[2016-07-06 14:44] michaelcbarr commented on #208
no problem - this was borrowed form a tutorial - can't find the link but will credit if I find it :D

`var jwt = require('jsonwebtoken');
jwt.verify(token, superSecret, function(err, decoded) {
                if (err) {
                    return res.json({ success: false, message: 'Failed to authenticate token.' });
                } else {
                    // if everything is good, save to r

[2016-07-06 14:46] omsmith commented on #208
@michaelcbarr Might you be able to provide the java code where you're signing?

[2016-07-06 14:46] michaelcbarr commented on #208
added above!

[2016-07-06 14:46] michaelcbarr commented on #208
NB: I have tried SignatureAlgorithm.HS256 but makes no difference

[2016-07-06 14:50] DaleWebb commented on #208
@michaelcbarr No, I haven't found a solution to this

[2016-07-06 14:51] michaelcbarr commented on #208
@omsmith Can you send me a test token which works for you? I tried the one above with that secret but no luck!

Me neither @DaleWebb - have you tried any other workarounds?  I had thought about manually encrypting the token and use the decode function rather than verify but it seems hacky :(

[2016-07-06 14:53] DaleWebb commented on #208
[code]

[2016-07-06 14:54] DaleWebb commented on #208
@michaelcbarr If I cannot get a solution before we have to ship the feature, I'm going to create a route on the gateway that creates the token to give the information back.

[2016-07-07 04:28] michaelcbarr commented on #208
@DaleWebb @omsmith

AWESOME WORK!

I can confirm that this works perfectly for me - just need to remember to convert the SECRET string to bytes on Java verify method.

[code]

Think I would still be scratching my head next month without your help - thanks again @omsmith !

Mb

[2016-07-07 11:27] DaleWebb commented on #208
Great! I can confirm that this solution works too.

[2016-07-08 19:05] r3wt opened #226 "err == JWT, token == undefined in async sign?"
[code]

the call to `log.debug()` outputs:

[code]

I'm having trouble understanding if your documentation is incorrect and the signature to the callback is actually `function(token,error)` or if some type of error occured during signing. the `req.user` object does contain a base64 encoded JWT already that comes from stormpath, so if the error is correct it could be a result of that.

[2016-07-08 19:18] jfromaniello commented on #226
You are using an older version. Rule of thumb with node modules, if you have this kind of doubts on an API always read the readme from your node_modules folder not from github.

[2016-07-08 19:18] #226 closed

[2016-07-08 19:27] r3wt commented on #226
thanks for the hasty reply.

[2016-07-08 20:36] jfromaniello commented on #226
No problem, glad to help. I really sorry to cause this trouble , is the second time in a week someone has this issue. I think it will be better to explain this change directly on this readme

[2016-07-08 20:40] r3wt commented on #226
@jfromaniello no worries man, it happens to us all on occasion. I think an explanation in the Readme would do the trick. Appreciate your humility and hasty response which helped me to fix it quickly. I would rather see wrong documentation. Than someone who takes weeks to reply to new issues. Have a good day man, and BTW thanks for the awesome libraries

[2016-07-09 10:38] abhishekscript commented on #166
if I set  the expiry as { expiresIn : '365d' } , so should i be assured it will last for 1 year

[2016-07-11 09:00] rokoroku opened #227 "JWT.verify() mutates options parameter."
I define and use a same options variable as argument for JWT.verify() and JWT.sign(), to reduce duplicated codes.
In this case, JWT.verify() method mutates options object, which causes validation error from JWT.sign().

So I'd like to suggest cloning options parameter rather than mutating by something like Object.assign() .

[2016-07-11 20:52] lhazlewood commented on #208
An author of JJWT here...

FWIW, cryptographic signatures are *always* computed with byte array keys - never strings.  You can get the UTF-8 bytes of a String as demonstrated above, but that only masks what could be a very problematic cryptographic weakness (I'm not saying those in this thread are experiencing that weakness - I'm just raising that this could happen to anyone that might not underst

[2016-07-12 12:39] #217 closed

[2016-07-12 12:59] #227 closed

[2016-07-12 12:59] jfromaniello commented on #227
thanks for reporting this and sorry for the delay, fixed in `v7.1.1`

[2016-07-12 12:59] jfromaniello commented on #225
Thanks, fixed

[2016-07-12 12:59] #225 closed

[2016-07-12 13:00] jfromaniello commented on #224
You are right, I am going to fix this now.

[2016-07-12 13:08] #224 closed

[2016-07-12 13:09] jfromaniello commented on #224
published as `v7.1.3`.  Thank you for reporting this

[2016-07-13 04:01] cevatkerim opened #228 "JWT returns error during mocha tests"
When testing jwt included project, if I run mocha tests it fails with a valid token whereas it the test itself will pass if it's run individually. I get a "[JsonWebTokenError: invalid signature]" error even though the token is valid.

[2016-07-14 19:17] zbjornson commented on #224
This fix seems to have broken signing of objects.

test.js:

[code]

with 7.1.1

[code]

with 7.1.3 (7.1.2 does not exist):
[code]

[2016-07-14 20:34] jfromaniello commented on #224
I can't reproduce this behaviour on master...I think you might be using a different version of JWS than the one pointed by this module.  I notice in your stack trace that you have `jsonwebtoken` and `jws` at the same level.

[2016-07-14 20:58] zbjornson commented on #224
@jfromaniello (They're at the same level because we're using npm 3.) Ah, this is an incompatibility between jsonwebtoken@7.1.3 and jws@<3.1.1.

| jsonwebtoken | jws | status? |
|-----|-----|-----|
| 7.1.1 | 3.0.0 | pass |
| 7.1.1 | 3.1.3 | pass |
| 7.1.3 | 3.0.0 | fail |
| 7.1.3 | 3.1.0 | fail |
| 7.1.3 | 3.1.1 | pass |
| 7.1.3 | 3.1.2 | pass |
| 7.1.3 | 3.1.3 | pass |

This commit fixed 7.1.3+3.1

[2016-07-15 12:12] jfromaniello commented on #224
@zbjornson done! Thanks for testing this. I just fixed at `v7.1.5`

[2016-07-15 12:13] jfromaniello commented on #228
can you show me the test? thanks

[2016-07-15 12:14] jfromaniello commented on #221
I am not familiar with React Native, but the file is there. Try `rm -rf node_modules && npm i`

[2016-07-15 12:16] jfromaniello commented on #220
indeed, this could be a good opt-in feature and maybe the default on the next major release.

[2016-07-15 12:32] #216 closed

[2016-07-15 12:33] jfromaniello commented on #216
Thank you very much for reporting this. I found the issue and solved in `v7.1.6`

[2016-07-15 12:43] jfromaniello commented on #212
Thanks for sharing this concern here and sorry we didn't respond on the whitehat address (I will check what happen).

I will think more about this:

This will be a great fit for this library. We can put a `maxLength` option on the `verify` function, what would be a good default for this option?

I am going to check this but I was under the impression that this was the case. We decode the header fi

[2016-07-15 12:46] jtlapp commented on #212
Quick note: You have to be **_able_** to decode first, because in some applications the key may be a function of the user identified in the payload.

[2016-07-15 12:47] davidtt80 opened #229 "RS and ES algorithms doesn't work in nodejs"
Only HS256, HS348 and HS512 works in node js.(i'm using node js 6.x)
and RS256, RS348, RS512, ES256, ES348 and ES512 doesn't work.

**the following code is right:**

return jwt.sign({ foo : "bar"}, "MY_SECRET", { algorithm: 'HS512'}, function(err, token) {
    console.log(token);
  });

**but this code logs "undefined" and  return an empty object (for all RS and ES algorithms):**

return jwt.sign(

[2016-07-15 12:52] jfromaniello commented on #212
You are right.. generally not on the "user identifier" but on the "issuer".

This library doesn't take care of that as it expects payload and the secret in the form of an string.. but there is plenty of examples doing what you suggest.

An alternative for this could be changing this api to have `options.secret` as function and validating the length here before calling the secret function.

[2016-07-15 13:06] jtlapp commented on #212
Probably the most robust thing to do would be to validate the JSON, putting limits on the number of unquoted, unescaped colons and braces. It's really hard to come up with a single regex that is mindful of both quotes and character escapes, though. It can't be done for CSV, for example. So this sort of validation would come at more than ideal expense in clock cycles.

I think the correct solution

[2016-07-15 13:21] jfromaniello commented on #229
It does work but `MY_SECRET` is not a valid certificate.

The callback is returning an error and not a token.

[2016-07-15 13:21] #229 closed

[2016-07-15 13:28] jtlapp commented on #212
If you use a streaming JSON parser, you could count objects or otherwise verify object during the parse and abort an excessive parse.

[2016-07-15 14:05] jfromaniello commented on #212
`JSON.parse` is quite limited, but it has an optional `reviver` function. Example:

[code]

[2016-07-15 15:41] zbjornson commented on #224
Thanks for the prompt fix!

(I didn't realize ^ matches "*at least* this patch level" :-p)

[2016-07-15 15:59] jfromaniello commented on #224
`^3.1.3` matches starting from `3.1.3` all minor/patches of 3

[2016-07-15 17:46] davidtt80 commented on #229
@jfromaniello

MY_SECRET is an example, i will change it with a variable from database later.

according to docs The callback returning an error and a token
// sign asynchronously
jwt.sign({ foo: 'bar' }, cert, { algorithm: 'RS256' }, function(err, token) {
  console.log(token);
});

but this isn't my problem. please see the picture...
![jwtproblem](https://cloud.githubusercontent.com/assets/20221

[2016-07-16 07:43] davidtt80 commented on #229
@jfromaniello
this error is returning:

error:0906D06C:PEM routines:PEM_read_bio:no start line
    at Error (native)
    at Sign.sign (crypto.js:276:26)
    at Object.sign (C:\Apps\node_modules\jwa\index.js:54:45)
    at jwsSign (C:\Apps\node_modules\jws\lib\sign-stream.js:23:24)
    at SignStream.sign (C:\Apps\node_modules\jws\lib\sign-stream.js:49:21)
    at SignStream.<anonymous> (C:\Apps\node_

[2016-07-16 16:05] jfromaniello commented on #229
Thats expected. It will not work with an opaque secret. For asymmetric
signatures you need a valid certificate, the secret is a cert.

You can check the test folder for more examples.
El El sáb, 16 de jul de 2016 a las 4:43 a.m., davidtt80 <
notifications@github.com> escribió:

[2016-07-19 00:29] leggetter commented on #126
I had this problem and it was down to there being something wrong with the private key. I ran the following to fix the key:

[code]

Where `key.txt` was my private key.

[2016-07-20 01:15] pmd30011991 opened #230 "Can we using jsonwebtoken for authentication with load balancing ?"
As title, I need to implement a notification system as well as the authentication, I using NodeJS 0.10.44, Redis & socket-jwt

Regards

[2016-07-20 20:01] crbrasfield commented on #221
Having the same issue as @calclavia. I tried reinstalling the node module but still no luck. It seems like several dependencies are missing. I manually stream, only to see that more modules were missing.

[2016-07-20 21:40] calclavia commented on #221
@jfromaniello Tried that as well. Did not fix it.

[2016-07-24 01:08] mitchellporter commented on #122
Is there a reason that the PR hasn't been merged yet?

[2016-07-27 13:13] gillesdemey commented on #97
The following works fine for me:

[code]

[code]

[2016-07-27 13:20] omsmith commented on #97
@gillesdemey if that's what you choose to do, great. Keep it mind that you're out-of-spec at that point. _ES256_ is for _secp256r1_ and nothing else. It may, today, work for this set of libraries, but it may not for others, or for this one in the future. Definitely _not_ supported.

[2016-07-27 13:25] gillesdemey commented on #97
@omsmith  Understood, would it make sense to clarify in the README that Koblitz curves aren't supported?

Or some other way to be more specific on what openssl curves are supported? Maybe as a third column in the table?

[2016-07-27 13:27] omsmith commented on #97
@gillesdemey Very clearly listed in the spec: [3.4.  Digital Signature with ECDSA](https://tools.ietf.org/html/rfc7518#section-3.4)

[2016-08-01 04:18] askingquestion opened #233 "Umbrella header 'JSONWebToken-umbrella.h' not found"
When I run JWT, I got Umbrella header 'JSONWebToken-umbrella.h' not found.

I used cocoapods, already reinstall and still got Umbrella header 'JSONWebToken-umbrella.h' not found error.

How to correct this?
![screen shot 2016-08-01 at 11 18 22 am](https://cloud.githubusercontent.com/assets/20764452/17283360/af5a3c1e-57d9-11e6-8727-251291afd269.png)

[2016-08-03 20:29] eddievagabond opened #234 "expiresIn Does not set expiration correctly"
I am having a really difficult time getting node-jsonwebtoken to set expiration correctly. It seems to set time from epoch start instead of from Now. Perhaps I am doing something incorrectly. Below is my code. Any clarification would be greatly appreciated.

[code]

results in: January 17th 1970, 6:27:08 pm

Am I just not understanding the documentation? Any help would be greatly appreciated.

[2016-08-04 04:19] eddievagabond commented on #234
I stupidly forgot to add iat: Date.now() to payload .
I can set expiration in milliseconds, but something like expiresIn: '2h' does not work still.

[2016-08-04 04:19] #234 closed

[2016-08-04 12:51] jfromaniello commented on #234
That's weird... the default for iat is `Date.now()`:

https://github.com/auth0/node-jsonwebtoken/blob/master/sign.js#L97
https://github.com/auth0/node-jsonwebtoken/blob/master/sign.js#L113

[2016-08-04 13:09] eddievagabond commented on #234
I am using it in conjunction with node-oauth2-server to generate my tokens for a password and refresh grant. It is implemented in the generateToken (type, req, callback) function. I don't know how that could affect it, but I have never had this problem until now. Thanks for taking a look. If I have some spare time I will try to debug it to find out exactly why this is occurring

[2016-08-07 00:23] calclavia commented on #221
Any update on this issue? Still having this problem...

[2016-08-10 12:57] jfromaniello commented on #233
Wrong repository. This is a javascript library.

@hzalaz What is the repository @askingquestion should be looking for?

[2016-08-10 13:20] hzalaz commented on #233
@askingquestion the repo is https://github.com/auth0/JWTDecode.swift

[2016-08-10 13:20] #233 closed

[2016-08-10 16:40] jdiprizio opened #237 "7.1.8 is a breaking change"
In previous versions of this package, `jwt.verify` returns a plain JS object whereas 7.1.8 returns a stringified version of the object.

I'm perfectly fine with having to run `JSON.parse` myself though could you confirm this is intended behavior? If that's the case, I'd suggest you bump the major version number as this could lead to issues in other packages/projects that are assuming that it retur

[2016-08-11 13:07] NotBobTheBuilder opened #238 "Support validating with different public keys based on issuer name"
It would be useful to be able to give each issuer it's own public and private key pair, and when validating, use the issuer field to determine which key to attempt validation with.

For example, if I have two issuers, `foo` and `bar`, an additional config option like this:

[code]

Where verify validated against the public key for the issuer specified in `token`.

[2016-08-11 15:25] RickDT commented on #237
`jwt.verify` (async version) also started incorrectly returning an invalid issuer warning, but switching back to 7.1.7 (with no other changes) fixes the problem.

[2016-08-11 16:26] jfromaniello commented on #237
Sorry for the big inconvenience.

I just reverted the merge and release a 7.1.9.

I will look deeper in this change.

@jdiprizio does your token has a `"typ":"JWT"` in the header?

@RickDT sorry again

[2016-08-11 16:26] #237 closed

[2016-08-11 16:33] RickDT commented on #237
Thanks!

[2016-08-14 20:16] tomaspinho commented on #230
You probably already have the answer for this question, but yes, JWT is ideal for load balancing scenarios. You just have to keep in mind to deploy the same secret to all of your webservers.

[2016-08-15 23:58] demisx opened #239 "Running npm install shows unmet peer dependency warning (request@^2.34)"
Running npm install on Mac OS X El Captain gives me the following warning:

[code]

[2016-08-17 08:15] magwo opened #240 "Current time should be passable"
I suggest allowing options objects to contain current time when verifying and signing.

It's pretty hard to test implementations/integrations involving exp, nbf and timestamps when the library is doing `Date.now()` in various places.

This is even evident in the own tests of this library, with the presence of `fakeDate.js`, which is a hacky global monkey-patching solution to a classic testability

[2016-08-19 00:02] calebmer commented on #111
Could this please be clarified in the `README` or updated as a breaking change? As I understand it you should really only ever use the synchronous version so having an asynchronous API is not only an anti-pattern, but also frustrating to all new developers trying to use promises.

As `fs` in Node.js core has taught the community, if an asynchronous version is available *always use the asynchronous

[2016-08-22 11:24] poliha opened #241 "Setting expiresIn option in payload"
Hello,

I think it should be explicitly stated that if you are setting the "exp" value in the payload, it should be in a unix timestamp format. and not in   rauchg/ms  Eg: 60, "2 days", "10h", "7d".
Would have saved me some time this morning

[2016-08-23 14:38] e-nouri commented on #103
@tanelih but how do you keep track of the issued tokens, the point of using JWTs is to not use database for session management.

[2016-08-23 15:11] tanelih commented on #103
@e-nouri that's quite an interesting question. I'm not really sure on the matter, but you could always have some sort of data in the token which could contain for example the device it was issued to, and then work from there...

However I suppose if you'd need per "session / token" tracking, you might need to have some sort of a "whitelist" approach, which in a sense goes against the point of JWTs

[2016-08-24 13:24] ensonik commented on #220
+1

This is actually pretty dangerous; If I explicitly state that expiration should be validated, I don't expect a token to be valid if no expiration is passed.

[2016-08-24 23:22] ashishtilara commented on #103
+1, I am actually working on the project and have similar situation... is there a auth0 recommended way to revoke/disable tokens?

[2016-08-25 00:06] tylerwgoza opened #242 "ES256 and ES384 throwing length error. ES512 works."
I didn't notice another issue on this so I thought I'd mention it. Could be that I've mucked something up, could be coming from a lib you're using, or could be coming from you guys. Not sure so I thought I'd start here.

I'm currently working on a prototype for work using node-jsonwebtoken and everything works fine if I generate a token using ES512 everything is fine, but if I try to use ES256 or

[2016-08-25 09:36] e-nouri commented on #103
@tanelih @ashishtilara this is the solution I built and it uses Redis to take advantages of the TTL http://e-nouri.com/blacklist-revocation-jwt-without-cron-job/.

[2016-08-25 15:22] tylerwgoza commented on #242
Well someone from work pointed out that I was using a 512 key. So that makes sense. I'll close this issue for you. Thanks again!

[2016-08-25 15:22] #242 closed

[2016-08-25 17:28] yvele opened #244 "Unnecessary installed files with NPM : Need NPM whitelisting"
Nice package, very useful :bowtie:

But unnecessary files are installed during `npm install` :
 - bin/changelog
 - test/...
 - .jshintrc
 - .travis.yml

I see that you have an .npmignore file with this inside :
[code]

That's pretty useless as those files are ignored by default by NPM

I suggest **whitelisting** instead of blacklisting files to be installed by adding [files](https://docs.npmjs.com

[2016-08-25 17:39] yvele commented on #244
Okay here is the PR https://github.com/auth0/node-jsonwebtoken/pull/245

[2016-08-26 18:17] felixfbecker opened #246 "Deprecate callback API"
The discussion has been made on #111

As said in the [iconic blog post by isaac](http://blog.izs.me/post/59142742143/designing-apis-for-asynchrony):

You are providing an async API that is not actually async and is therefor misleading. I therefor think it should be deprecated and removed from the docs.

[2016-08-26 18:20] jfromaniello commented on #246
You are talking about the verify api right?

[2016-08-26 18:21] felixfbecker commented on #246
Yes.

[2016-08-26 18:22] felixfbecker commented on #246
Citing from https://github.com/auth0/node-jsonwebtoken/issues/111#issuecomment-122938229

[2016-08-27 18:56] serganus opened #247 "Invalidate token and reuse tokens"
I am using JWT as the secondary authentication method. The workflow is simple :
- user logs in using some authentication
- User generates a private link using jwt

The issue :
- I can set the expiry of jwt to be 1 hour but cannot invalidate the jwt if the user is logout
- Dynamix expiry in case the one hour is expired but the user is already authenticated.

I can take care of the logic just cannot

[2016-08-30 09:47] vladjerca opened #248 "'Verify' method incorrect call"
So I found the following error, when the library was spitting out the following error.

[code]

index.js 50:5
[code]

verify-stream.js 44:28
[code]

As you can see, the parameters are incorrectly supplied. Which leads to the secret being used as the algorithm and the secret itself stays undefined.

I can either make a pull request to fix this, or it can be solved by someone else. Just let me know.

[2016-08-30 09:51] vladjerca commented on #248
I'm very sorry for the false issue. I just looked at the package config and was using and older version. (got the versions from the authorization repo, I think it should be updated to avoid these kinds of situations though).

[2016-08-30 09:51] #248 closed

[2016-09-02 15:10] pjerem commented on #240
From what I understand, you can :)

[2016-09-02 17:57] magwo commented on #240
Hmm yeah actually, the sign functionality supports it.

But the verify stuff still has testability problems regarding current time. Things would be simpler if current time could be passed into verify.

[2016-09-04 20:49] calebmer commented on #246
Agreed, this would clear up much confusion :+1:

[2016-09-06 04:56] cvett opened #250 "require is not a function"
Hello,

I get when using the following codes
[code]
this error message **_"require is not a function"_**

I hope you can help me.

Regards Christian

[2016-09-07 14:17] wstam88 commented on #250
You are using it in nodejs right? Can you require other libraries such as require('os')??

[2016-09-07 15:10] grimurd commented on #174
Any info on if/when this might be implemented?

[2016-09-11 14:40] NikosEfthias opened #251 "exp header is not set on version 5.4.0"
on `jsonwebtoken@5.4.0` neither of the configs a wrote below adds the `exp`  field into the header
[code]

[2016-09-19 19:44] leebenson commented on #111
@felixfbecker, good to see you here :-)

I totally agree with @calebmer that this should be made clear in the README. As a new `jsonwebtoken` user, the  'not really async' thing threw me off. Having a callback suggests there's _some_ kind of IO penalty for synchronous execution. If it's all the same, a callback a moot -  and only serves to confuse new users.

[2016-09-19 19:46] DiegoZoracKy commented on #122
+1

[2016-09-21 07:13] krvikash35 commented on #68
@migara thanks a lot ..it really helped...just wasted 2 hour on this.

[2016-09-21 12:30] andresmatasuarez commented on #68
@migara @krvikash35 Check the command I posted above

[2016-09-21 12:56] feyyazakkus opened #252 "Token is too long"
Here is my token:

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyIkX18iOnsic3RyaWN0TW9kZSI6dHJ1ZSwiZ2V0dGVycyI6e30sIndhc1BvcHVsYXRlZCI6ZmFsc2UsImFjdGl2ZVBhdGhzIjp7InBhdGhzIjp7InVzZXJfaWQiOiJpbml0IiwiX192IjoiaW5pdCIsImVtYWlsIjoiaW5pdCIsInBhc3N3b3JkIjoiaW5pdCIsInVzZXJuYW1lIjoiaW5pdCIsIl9pZCI6ImluaXQifSwic3RhdGVzIjp7Imlnbm9yZSI6e30sImRlZmF1bHQiOnt9LCJpbml0Ijp7Il9fdiI6dHJ1ZSwidXNlcl9pZCI6dHJ1ZSwiZW1haWwiOnRy

[2016-09-21 14:31] krvikash35 commented on #68
@andresmatasuarez  yeah i checked that, that was useful. thanks

[2016-09-21 14:49] feyyazakkus commented on #252
I found the problem my payload object is hold all user data. Because of this token is too long.

[2016-09-21 14:49] #252 closed

[2016-10-03 13:18] overflowz opened #253 "How to identify reconnect?"
Hi, I'm using handshake authentication at the moment. Problem is that, I get token (which expires in 30 seconds), it works fine, it's authenticated and I'm talking to user. But when the user disconnects (due to high ping) and reconnects, I would like to resume that session, but in that time token might be invalid. Generating new token does not resume session too. May I ask how to implement such th

[2016-10-07 05:03] Masterchoc commented on #166
I'm sorry but i didnt understand nothing.... i'm using JSON.stringify('7d') and it's not working at all... and the error is caming from the verify :
"Illegal argument undefined"

I have no words

[2016-10-07 06:56] wzup opened #254 "Verify (or sign, or both) do not work. "TokenExpiredError: jwt expired" error is thrown for no reason."
Why do I get this error?

[code]

Now let's create and then verify a token:
[code]

Why does it happen? How to fix?
"version": "7.1.9"

[2016-10-07 07:45] wzup commented on #254
Here is the answer.
https://developer.atlassian.com/static/connect/docs/latest/concepts/understanding-jwt.html

[code]

Their documentation is 👍
Yours is miserable 👎

[2016-10-07 07:45] #254 closed

[2016-10-07 14:42] jfromaniello commented on #253
I think this question belongs to https://github.com/auth0/socketio-jwt

[2016-10-07 14:42] #253 closed

[2016-10-07 14:43] overflowz commented on #253
ouch, I'm really sorry! I was over-exhausted when I wrote that.

[2016-10-07 14:44] #250 closed

[2016-10-07 14:52] jfromaniello commented on #251
It actually does
[code]

Unless your `user` variable is an string, in that case there is no way to properly encode the `exp` field because there is no way to represent a property inside an string in json.

[code]

We acknowledge that this was confusing because we got a lot of people asking this, so newer versions of this library just throw an error if you try to do that, eg:

[code]

[2016-10-07 14:52] #251 closed

[2016-10-07 15:06] alvaro-paco opened #255 "Permit forever token"
I need my token never expires. If  it is possible today, i can i do that?

[2016-10-07 15:08] jfromaniello commented on #244
I accept your opinion but I am against this kind of optimization in the repositories that I maintain.

The short answer is that I happen to use the things I maintain and this kind of optimization doesn't worth and it makes developers life harder.

Long answer:

These files sum a total of 120k and gzipped is 11k. This is nothing in term of band witch and storage nowadays.

Removing this mean that I

[2016-10-07 15:08] #244 closed

[2016-10-07 15:20] jfromaniello commented on #254
I am very sorry to hear that. I just did a new section in the README:

https://github.com/auth0/node-jsonwebtoken#token-expiration-exp-claim

Do you think this could have helped to figure out?

[2016-10-07 15:57] jfromaniello commented on #166
@Masterchoc can you explain what you are trying to do? Thanks

[2016-10-07 16:13] denneulin commented on #255
Hi, you just do not have to set `expiresIn` option.

[2016-10-07 16:26] jfromaniello commented on #255
yes, @denneulin is right. Don't set `expiresIn` or `exp`.

[2016-10-07 16:26] #255 closed

[2016-10-07 17:50] yvele commented on #244
@jfromaniello  This is not an optimisation, this is first of all about semantics :

`source code !== distribution`

Please have a look at some packages like :
  -  babel-cli with its [.npmignore](https://github.com/babel/babel/blob/master/packages/babel-cli/.npmignore)
  - expressjs with its [package.json file](https://github.com/expressjs/express/blob/master/package.json#L79)
  - bluebird with it

[2016-10-07 17:54] yvele commented on #244
You can also look at your friend auth0/lock with its [.npmignore file](https://github.com/auth0/lock/blob/master/.npmignore)

[2016-10-07 18:56] alvaro-paco commented on #255
But it is expiring!

[2016-10-11 04:40] rw3iss opened #256 "This package should define a peer dependency for crypto-browserify to latest version"
The version shipped with this package is 3.2.x, which doesn't have the 'createVerify' and other methods implemented, which are required to run this package in the browser. The newest package of 'crypto-browserify (3.11.0) has them implemented.

[2016-10-11 04:43] rw3iss commented on #256
I noticed upon defining the peer dependency this package says:
npm WARN peerDependencies The peer dependency crypto-browserify included from jsonwebtoken will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.

[2016-10-13 19:39] oliverdunk commented on #230
As far as I can tell, this issue can be closed.

[2016-10-13 19:41] jfromaniello commented on #256
This package doesn't ship with "crypto-browserify", maybe you are using some fork?

https://github.com/auth0/node-jsonwebtoken/blob/master/package.json#L21-L34

crypto is part of nodejs and this project wasn't meant to be used in the browser.

- if you only need to decode JWTs in the browser you can use http://github.com/auth0/jwt-decode
- if you need to verify you can use http://kjur.github.io/js

[2016-10-13 19:48] rw3iss commented on #256
Ah! Cool, thank you for the links, will definitely put them to use.
Cheers!

[2016-10-13 19:48] #256 closed

[2016-10-13 19:50] jfromaniello commented on #256
glad to help

[2016-10-13 19:57] #230 closed

[2016-10-26 22:50] a-covar opened #263 "Question?JWT with ACL"
Is there any guide or best practices on how to connect JWT with ACL in Node.js .

The are just a couple of libraries out there but not too much documentation on this.

[2016-11-01 17:25] gerges-beshay commented on #240
What about adding a flag to use UTC for these checks? I was actually planning on working on that. Currently I'm disabling the time checks and doing it manually using UTC after it passes the other checks.

[2016-11-02 09:43] samsontr opened #265 "Security - Token can be decoded, information can be extracted without Secret or private.key"
Hi, I would be wrong or there's a major security issue I found out with this module. You can decode my signed token and get all information from it without knowing my `Secret`: `SkyFall`

Implemented on: NodeJS v6.7, [jsonwebtoken](https://www.npmjs.com/package/jsonwebtoken)
Decode service: [jwt.io](https://jwt.io/)

Token: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyIkX18iOnsic3RyaWN0TW9kZSI6dHJ1ZSwi

[2016-11-02 10:06] ja-bravo opened #266 "Process times out when signing"
Hi

I'm trying to use this package to sign and verify tokens used in my application.
I want to return a token for the user when he logs in, for that, I'm using the following code:

[code]

This will output the first console.log message, but won't output the second one and after a couple of minutes the server will time out with a 504 error.

What could be happening?

I'm using Debian Wheezy, Expres

[2016-11-02 12:34] jfromaniello commented on #266
How big is the profile and the secret?

Also, I think you are using an old version since `expiresInMinutes` was deprecated long ago..

[2016-11-02 12:39] #266 closed

[2016-11-02 14:48] LucidityDesign opened #267 "[JsonWebTokenError: invalid token] when using a authentication type"
I have the following header:

    authorization: 'JWT kjf838.token.8383bfjefjh'

When I try to verify the token I get a `invalid token` error:

    var token = req.headers['authorization'];
    jwt.verify(token, config.secret, function (err, decoded) {...}

Do I have to remove the JWT-prefix on my own?

[2016-11-02 15:26] jfromaniello commented on #267
That's correct. Try with this:

[code]

[2016-11-02 15:26] #267 closed

[2016-11-02 19:36] nickschot commented on #265
JWT (at least by default, I think it is possible to encrypt the contents) does not encrypt the contents of your token, it just adds a signature so you can verify (with the secret) that the contents are not edited by some third party.

[2016-11-02 20:36] mitchellporter commented on #265
I was under the same impression as @nickschot. I only store permissions and the user's unique ID inside of the token, so even if it's decrypted the info is pretty much useless as they can't verify the signature without knowing the secret key it was originally signed with. I do know that some people choose to encrypt the payload, I've just never had the need to.

[2016-11-03 00:54] carusology commented on #151
The base64-decoded version of the client secret may not be able to be represented as a printable string in javascript.

[2016-11-03 03:31] samsontr commented on #265
@nickschot , @mitchellporter: thank you for your message. I think that's the way jwt is.
@jfromaniello : I can see quite a lot traction from Google on this issue that developers want to have payload encrypted. Could you please consider to add this as a new feature?
And awesome job on [jwt](https://www.npmjs.com/package/jsonwebtoken) implementation by the way, super easy to use, nicely get the thin

[2016-11-03 07:11] fiddur commented on #265
@samsontr If you need it encrypted (not just signed and encoded), you want a JWE, JSON Web Encryption.  It's not supported in this package but available in e.g. https://github.com/square/js-jose
Normally though, I'd say that's unnecessary…

[2016-11-03 08:45] santanu-biswas opened #268 "DeprecationWarning: Using Buffer without `new` will soon stop working."
With Node v7.0.0, following deprecation warning is generated:
[code]
It seems the warning is emitted by the package [jwa](https://github.com/brianloveswords/node-jwa) (dependency of [jws](https://github.com/brianloveswords/node-jws)).

[2016-11-03 15:54] mgkeen commented on #208
I'm having a similar issue. I'm generating a key elswhere, and trying to validate it using this library. It validates fine in other services using libraries from different languages.
Looking at this issue and the answers to it, am i right in assuming that the node library generates a byte array for validating by UTF-8 decoding the supplied secret string? Is there any way to get it to base64url-dec

[2016-11-04 02:41] samsontr commented on #265
@fiddur thank you for your suggestion. It is helpful.

[2016-11-04 11:06] sheerun commented on #199
same issue..

[2016-11-04 11:31] jfromaniello commented on #199
It has been always a node.js module only.

If you need to decode in the browser please use jwt-decode.

[2016-11-04 11:31] #199 closed

[2016-11-04 18:11] pito-svk commented on #268
Have same problem.

[2016-11-07 11:23] ZephD commented on #122
+1

[2016-11-08 14:04] samikarak commented on #268
same for me

[2016-11-09 19:11] chekkan commented on #68
For me and anyone else who has this same issue, I found this function which seems to have done the necessary conversion.
[code]

[2016-11-09 23:13] safebyte commented on #268
same

[2016-11-10 02:01] toymachiner62 commented on #208
The solution @mgkeen provided in his edit worked for me.

If this is the appropriate thing to do can someone update the documentation? i.e.

[code]

[2016-11-12 12:45] rosspi commented on #241
good to know

[2016-11-13 18:32] DyuldinKS commented on #268
+1

[2016-11-14 07:40] ralphtheninja commented on #268
Should be fixed by https://github.com/brianloveswords/node-jwa/pull/18 and https://github.com/brianloveswords/node-jws/pull/61

[2016-11-15 10:08] Keramet opened #269 "Audience checking"
Hi!  Is anybody  can advise, how to check that "Audience"-field not exists in current token, and validate token only if no "Audience"-field?  thanks!

[2016-11-15 12:40] pangz1 opened #270 "can't sign with RS256 algorithm"
I can't sign with RS256 algorithm, it cause
`Error: error:0D07207B:asn1 encoding routines:ASN1_get_object:header too long`.
Here is my code

[code]

[2016-11-16 15:55] larryboymi opened #271 "Arbitrary Data Verification"
I could do this in a PR... but is there any desire for a simple EQUALS literal check for certain keys in `verify`'s `options` parameter. In my case I have a `scope` key in my JWT that I'd like evaluated, but I could envision others with arbitrary data where a simple literal check would suffice.

Maybe the need isn't that great, but seems like something that might be good to have.

[2016-11-24 11:44] mborst opened #273 "options.maxAge shouldn't use milli seconds"
`options.maxAge` shouldn't allow milliseconds because it compares against the `iat` claim from the token, which is in seconds.

[2016-11-24 15:48] thanhquang2608 commented on #122
+1

[2016-11-25 11:01] iiitmahesh opened #275 "How to reduce token length"
The token which is generated by
` var token = jwt.sign(user, app.get('superSecret'), {
                    expiresIn: 86400 // expires in 24 hours
                });`
 is too big for me.

**How can I reduce length of the token????**

[2016-11-26 14:34] #275 closed

[2016-12-01 01:40] tmcgannon commented on #268
Can you bump jws to 3.1.4 to make this message go away?

[2016-12-01 09:43] ralphtheninja commented on #268
@tmcgannon It says `^3.1.3` in package.json so should work now

See https://github.com/auth0/node-jsonwebtoken/blob/cc0f4d67b649110a035db3df9265f05db269a15a/package.json#L23

[2016-12-01 18:15] tmcgannon commented on #268
Yes, that works fine if I install jws into my project's package.json (which I'd rather not do but will since this module does not seem to be actively updated).

[2016-12-04 09:17] ronag opened #278 "Deprecation warning in Node v6"
Some of the dependencies (e.g. `jws` and `base64url`) cause deprecation warnings in node:

[2016-12-04 13:21] #278 closed

[2016-12-05 10:09] graingert commented on #246
@jfromaniello is this project alive?

[2016-12-05 22:04] emorling commented on #239
no solution?

[2016-12-06 00:01] computersarecool opened #279 "Async signature does not return the error as documented"
In the documents the asynchronous version of the code is given as follows:

[code]

However, in my own code it seems like token is the first argument provided to the callback:

[code]

Am I misunderstanding something here?

[2016-12-06 02:57] elbuo8 commented on #279
Why are you `const token = jwt.sign({..` if you are passing a callback?

I wasn't able to reproduce your error. Can you give us a more concrete way to reproduce it?

[2016-12-06 03:08] elbuo8 commented on #270
In your `generateAccessToken` you are signing with `RS256` and in your second snippet you are using `HS256`. You must use both on `RS256`. Also, make sure that your `process.env.PRIVATE_KEY` is valid.

Sorry if I misunderstood but the comments show one thing while the code shows another. It's confusing.

[2016-12-06 03:10] elbuo8 commented on #269
You would have to do it in your end. The library doesn't enforce `aud` in the tokens.

[2016-12-06 03:10] #265 closed

[2016-12-06 03:18] computersarecool commented on #279
Yes. Sorry `const token = ...` was a typo. That should just not be there. But, here is another way to test the behavior:

[code]
For me, this logs:

[code]

What does it log for your?

[2016-12-06 04:02] elbuo8 commented on #279
Had to modify your script a bit since a few things are variables on your end.

[code]

Outcome:
[code]

[2016-12-06 04:15] computersarecool commented on #279
I updated to `7.1.9` and it fixed this issue.  Thank you.

[2016-12-06 04:15] #279 closed

[2016-12-07 00:46] failpunk opened #280 "Version 7.2.0 Will not minify properly."
My builds started failing today and I have traced it all the way back to node-jsonwebtoken: v7.2.0
Pinning my project to v7.1.10 minifies just fine.

Using:

- gulp-uglify: 2.0.0

[2016-12-07 10:51] hbaqai opened #281 "Upgrading to 7.2.0 throws SyntaxError (up to node v3.3.1)"
#193 seems to have shown up again starting in 7.2.0. Using node v0.12.17 gives the following error:

[code]

various other errors show up if I upgrade to a node version up to and including v3.3.1. Upgrading to node v4.0.0 and above seems to make the errors go away.

[2016-12-07 10:59] hbaqai commented on #281
For now, I've worked around the problem by using:

`"jsonwebtoken": "~7.1.x"
`
instead of

`"jsonwebtoken": "^7.x.x"
`

in my package.json

[2016-12-13 16:17] TarekDeeb opened #282 "Getting "TypeError: this is not a typed array." on jwt.verify()"
Hey guys.
I'm migrating my dev environment to prod. I created everything the same way I did on my production, except that the prod has https instead of http.

`jwt.sign(obj, 'secretekey', {expiresIn: '365d'})` returns a token, but when I want to use it, I'm getting `TypeError: this is not a typed array.` when doing `jwt.verify(token, 'secretekey')` .

I validated that it was from this function cal

[2016-12-20 16:44] jpinkster opened #283 "[Question] Caching the user object"
I am using JWT for my SSO solution and it is working out really well. The problem I am trying to figure out now is how to use JWT with ACL without having to lookup the users access in the database on every request. I am considering caching the user object in Redis but am not sure of the recommended approach and if I am overlooking something that already streamlines this process.

_What I am thinki

[2016-12-20 17:22] cdhowie commented on #247
When implementing JWT, I wanted to do something similar -- invalidate all previous tokens when a user's password was changed.  The way we implemented this was to have an "authentication serial number" field stored both on the user's DB record and the issued JWT.  A token is only valid if the contained serial number matched the one on the user's record.

So all we have to do to invalidate all exist

[2016-12-21 07:07] ramthakur1991 opened #284 "Token size increase each and every time when I call jwt.sign() method"
Hello ,

I'm using JsonWebToken as following manner
`var token = jwt.sign(user, config.apiSecret, { notBefore: "365 days" });`

I used that token in Login Api . When I hit the Login Api each and every time the token size get increased.
I just check my all configuration but still getting the same issue
I'm currently using the following version for JsonWebToken
`"jsonwebtoken": "^7.2.1"`

Waiting fo

[2016-12-21 11:03] jfromaniello commented on #284
Can you show us an example token?

[2016-12-22 21:49] robertrossmann opened #286 "Signing with undefined secret never gets resolved"
Currently there is a [bug in node-jws](https://github.com/brianloveswords/node-jws/issues/62) where supplying `undefined` or other falsy value to `secret` results in the signing process never running to completion.

The solution for the problem is known and should probably be fixed upstream, but since this directly affects this library as well and given its popularity I thought I'd let you know. P

[2016-12-31 16:47] rockchalkwushock opened #288 "[Question]: Testing for the case of an expired JWT"
Hello, I am writing my test for the auth side of my application and have run into a bit of pickle on how to handle testing the following case in which the user's JWT is expired:

_generateToken()_
[code]
_checkToken()_
[code]

I am using `supertest`, `mocha`, & `chai` as my testing packages and I just work from the first test with the same user's data (clearing the database `after` all testing has

[2017-01-02 06:30] ovaiskhan11 opened #289 "How to generate Personal Access Token in JWT?"
I am using JWT in my sails.js project and I want to generate Personal Access Token like in Laravel Passport Authentication. And user can also re-generate their Personal Access Token.

Waiting for positive response.

[2017-01-02 15:25] cancerberoSgx opened #290 "Cannot have a user named 'iat'"
It seems that user's cannot be named 'iat' because the 'decoded' object uses this property for validation. If this is a fact of life, then as an enhancement I would suggest to use a less common name, like '__iat'. Example:

[code]

[2017-01-02 15:33] cancerberoSgx opened #291 "decoded value is not a valid json string"
the 'decoded' result of calling jwt.verify(token...  is not a valid JSON string, although is a javascript object representation. I want to use JSON.parse and not eval() to parse it.

[2017-01-02 15:42] jfromaniello commented on #290
`iat` (issued-at)  is an standard claim of the JWT specification:

https://tools.ietf.org/html/rfc7519#section-4.1.6

[2017-01-02 15:42] #290 closed

[2017-01-02 15:43] cancerberoSgx commented on #290
ok sorry for my ignorance :(

[2017-01-02 15:44] jfromaniello commented on #291
I don't understand what you are trying to do, can you explain more?

You don't need to do `eval()` nor `JSON.parse` to the result, it is already an object.

[2017-01-02 15:47] jfromaniello commented on #290
@cancerberoSgx hey, no problem at all!

Your suggestion is valid, just that we want to follow the spec in this library.

What do you mean by that? Typically the name of the user will be on a "name" property, let's say you have a user named `iat` then the payload for the JWT will looks like this:

[code]

[2017-01-02 15:57] cancerberoSgx commented on #291
You are right sorry, I got confused my bad, sorry again :(

[2017-01-02 15:57] cancerberoSgx commented on #290
I'm using:

 jwt.verify(token, 'superSecret', (err, decoded)=>

and the decoded object returned has the following format:

{ sgurin: 'test123', iat: 1483371249 }

(no 'name' property). In my case I'm using this decoded object to then get the request's user and check for permissions.
Also I just updated to latest jwt version and this is still the behavior.
Should I configure the library or am I mis

[2017-01-07 03:21] #247 closed

[2017-01-10 11:36] scippio opened #293 "JsonWebTokenError: 'invalid exp value'"
I'm get this error: ` name: 'JsonWebTokenError', message: 'invalid exp value'`
but I think my token is ok (decoded): `{ exp: '1484048026', password: 'aaaaaaaa', iat: 1484047996 }`
What's wrong? Please help.

[2017-01-12 18:58] ziluvatar commented on #293
Hi @scippio! the claims `exp`, `nbf` and `iat` must be numbers. In your `exp` claim you can see how the number is inside a string.

ok => `exp: 1484048026`
invalid => `exp: '1484048026'`

[2017-01-12 18:59] #291 closed

[2017-01-12 19:24] ziluvatar commented on #288
Hi @rockchalkwushock ! Happy New Year! I can think in two options:

a) Extract your '1h' to a configuration variable, then you can modify it in that test to some shorter value and use setTimeout to run your asserts.
b) If you can use sinon, it has `useFakeTimers()`. You can check [some examples](https://github.com/auth0/node-jsonwebtoken/blob/master/test/verify.tests.js#L81) in our repo.

[2017-01-12 22:56] scippio commented on #293
Thanks, I thought it :)

[2017-01-12 23:30] #293 closed

[2017-01-12 23:39] ziluvatar commented on #289
Can you elaborate the question? Is it about to add support in the library for some aspect of it? Is it a design question by using this library?

[2017-01-13 00:32] ziluvatar commented on #282
Just a matter of curiosity, what version did you have in prod before and after the fix?

[2017-01-13 00:43] ziluvatar commented on #280
Have you tried v7.2.1? https://github.com/auth0/node-jsonwebtoken/blob/master/CHANGELOG.md#721---2016-12-07
There was a ES5 compatibility break in v7.2.0

[2017-01-13 00:59] failpunk commented on #280
@ziluvatar `7.2.1` seems to minify correctly. Thanks.

[2017-01-13 01:00] ziluvatar commented on #271
Hi @larryboymi, after verifying the token you get back the payload, you could apply the checks there. Be free to submit a PR to show how you see it anyway and we can discuss over code.

I could see this more as an extension point where you could configure the check module and then provide certain options for it on verify instant. 🤔

[2017-01-13 07:54] rockchalkwushock commented on #288
@ziluvatar thanks hope you had a great New Years as well!

I never would have considered setting up and env var for the time. That is a very nice trick 👍
I have never worked with `sinon` yet and I'm almost finished with this project so switching up testing suites at the moment is not on my radar of things to-do.

I set up an env var for the production _expiration time_ value and then just ran a si

[2017-01-13 08:33] ziluvatar commented on #288
The use of the fake timers of `sinon` is pretty straightfoward, you can check this repo, it is only used for that.

Anyway for the other option you are having problems with: In you `it` part you already have the token which was generated, let's say 1ms ago. You need to test if your server verify correctly when the token has expired, so you need to send an expired token.

[code]
With this basically

[2017-01-13 08:51] #280 closed

[2017-01-13 18:26] rockchalkwushock commented on #288
Worked out perfectly thanks @ziluvatar

[2017-01-13 18:26] #288 closed

[2017-01-13 22:43] BarukhOr opened #295 "Unable to verify JWT"
Attempts to verify a jwt (that was created using the same package result in a strange error that i cant decipher. Any help/insight into the matter would be much appreciated.

[code]
The error in question:
[code]

[2017-01-14 16:31] kenduigraha commented on #295
Hello sir, let's try console.log in your jwt.verify'scallback

[code]

[2017-01-14 20:20] paulddrix opened #296 "jwt sign with private key"
Helo, I was wondering why jwt signs a token with a private key and not a public one the way other libraries to encrypt do, like openpgpjs. Thank you for your time.

[2017-01-17 19:56] clozr opened #297 "Extra Padding"
I am trying to use jsonwebtoken with react-native. In debug version, everything is fine. However when I create a release bundle, I am getting extra padding which is failing the verification at the server side.
Here is the difference in debug version and release version signatures:
9qKUuvNSO_VU3B7g2H-lHrt18HRZV4TQN2ZLbdkpVbQ ( debug)
9qKUuvNSO_VU3B7g2H-lHrt18HRZV4TQN2ZLbdkpVbQ**VbQAAAAA** (release)